- if @shop.present? && (social_profiles = @shop.social_profiles).present?
  %table{:style => "width:100%;max-width:600px;margin:auto;clear:both;text-align:center;height:60px;" + message_footer_background_color(@message)}
    %tr
      %td
      %td
        %div{:style => "vertical-align: middle; text-align: center; margin:0 auto 0 auto;display:block; padding: 20px;"}
          %p{:style => "font-size: 18px; font-weight: bold; line-height: 22px; margin: 0 20px 0 0; margin-bottom: 10px;"}
            Connect with us
          %p{:style => "font-size: 14px; font-weight: bold; margin: 0px;"}
            - social_profiles.each do |profile|
              - name = SocialProfile::SOCIAL_PROFILES[profile.sp_type]
              = link_to(image_tag("#{SiteConfig.email_app_base_url}/assets/icon-#{name}.png", style: 'height: 40px; margin-right: 20px;'), "#{profile.sp_link}", :target => "_blank")
      %td
