- if @message.present? && @partner.eatstreet?
  %table{:style => 'width:100%;max-width:600px;margin:auto;color:#ccc;color:rgba(255,255,255,0.8);' + message_footer_background_color(@message)}
    %tr
      %td{:style => "padding-left: 20px; padding-right: 20px; max-height: 40px; padding-top: 15px; padding-bottom: 15px; width: 100%; margin: 0px auto; text-align: center;"}
        %p{:style => "font-weight: bold; margin: 0px; font-size:11px;text-align: right;"}
          Powered By
          %a{:href => "http://eatstreet.com", :target => "_blank"}
            = image_tag "#{SiteConfig.app_base_url}/assets/eat-street-logo.png", {:style => 'max-width: 300px'}
    %tr      