.getstartedbanner.row
  .span7.getstartedbannertext
    Optyn offers marketing software that is super fast and easy to use. Try it for free today.
  .span5.text-center
    %a.learnmorebutton{ :href => marketing_path } Learn More
    %a.getstartedbutton{ href: new_merchants_manager_registration_path } Get Started
