.getstartedbanner
  = image_tag( 'banner_icon.png', alt: 'Get Started and Learn More', class: 'pull-left', style: 'padding-right: 20px;' )
  %div{ style: 'float: right;vertical-align:middle;text-align:center;padding-top:20px;'}
    %a.learnmorebutton{ :href => marketing_path } Learn More
    %a.getstartedbutton{ href: new_merchants_manager_registration_path } Get Started
  .getstartedbannertext
    Optyn offers marketing software that is super fast and easy to use. Try it for free today.