.op-navbar
  %h6 Marketing Products and Services
  %ul.sidebar-nav
    %li
      %a{ :href => email_marketing_path } E-Mail Marketing
      %ul.bullet-circle
        %li
          %a{ :href => mobile_responsive_path } Mobile Responsive E-Mails
        %li
          %a{ :href => capturing_data_path } Capturing Customer E-Mails
        %li
          %a{ :href => email_deliverability_path } E-Mail Deliverability
    %li 
      %a{ :href => marketing_promotions_path } Marketing Promotions
      %ul.bullet-circle
        %li
          %a{ :href => coupons_path } Coupons
        %li
          %a{ :href => contests_path } Contests
        %li
          %a{ :href => surveys_path } Surveys
        %li
          %a{ :href => specials_path } Specials and Sales
    %li
      %a{ :href => social_media_marketing_path } Social Media Marketing
    %li
      %a{ :href => marketing_automation_path } Marketing Automation
    %li
      %a{ :href => marketing_syndication_path } Marketing Syndication
    %li
      %a{ :href => marketing_ideas_path } Marketing Ideas
    %li
      %a{ :href => online_marketing_path } Online Marketing
    %li
      %a{ :href => automated_marketing_path } Automated Marketing
    %li
      %a{ :href => loyalty_marketing_path } Loyalty Marketing
    %li
      %a{ :href => customer_retention_path } Customer Retention
    %li
      %a{ :href => marketing_analytics_path } Marketing Analytics 
    %li
      %a{ :href => digital_marketing_path } Digital Marketing
    %li 
      %a{ :href => marketing_collaboration_path } Marketing Collaboration
    %li
      %a{ :href => multi_channel_marketing_path } Multi-channel Marketing
    %li
      %a{ :href => integrated_marketing_path} Integrated Marketing
.blank-space