
%h6 Marketing Products and Services
%ul.sidebar-nav

%h6 Small Business Resources
%ul.sidebar-nav
  %li
    %a{ href: '#' } Marketing Automation
  %li
    Email Marketing
    %ul
      %li
        %a{ href: '#' } Automated Email Campaigns
      %li
        %a{ href: '#' } Email Analysis
      %li
        %a{ href: '#' } Email Deliverability
  %li
    %a{ href: '#' } Social Marketing
  %li
    %a{ href: '#' } Marketing Management
  %li
    %a{ href: '#' } Analytics
  %li
    %a{ href: '#' } Sales Insight

%h6 Digital Marketing Platform

%h6 Solutions

