.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a.current( href = marketing_path )
      Marketing Software
      %span
    %a( href = email_marketing_path )
      Email Marketing
      %span
    %a( href = mobile_responsive_path)
      Mobile Responsive Emails
      %span