.op-navbar
  %h6 Marketing Products and Services
  %ul.sidebar-nav
    %li
      %a{ :href => email_marketing_path, :alt => "Email Marketing", :title => "Email Marketing" } E-Mail Marketing
      %ul.bullet-circle
        %li
          %a{ :href => mobile_responsive_path, :alt => "Mobile Responsive Emails", :title => "Mobile Responsive Emails" } Mobile Responsive E-Mails
        %li
          %a{ :href => capturing_data_path, :alt => "Capturing Customer Emails", :title => "Capturing customer emails" } Capturing Customer E-Mails
        %li
          %a{ :href => email_deliverability_path, :alt => "Email Deliverability", :title => "Email Deliverability" } E-Mail Deliverability
    %li 
      %a{ :href => marketing_promotions_path, :alt => "Marketing Promotions", :title => "Marketing Promotions" } Marketing Promotions
      %ul.bullet-circle
        %li
          %a{ :href => coupons_path, :alt => "Coupon Marketing", :title => "Coupon Marketing" } Coupons
        %li
          %a{ :href => contests_path, :alt => "Contest Marketing", :title => "Contest Marketing" } Contests
        %li
          %a{ :href => surveys_path, :alt => "Survey Marketing", :title => "Survey Marketing" } Surveys
        %li
          %a{ :href => specials_path, :alt => "Specials and Sales", :title => "Specials and Sales" } Specials and Sales
    %li
      %a{ :href => social_media_marketing_path, :alt => "Social Media marketing", :title => "Social Media Marketing" } Social Media Marketing
    %li
      %a{ :href => marketing_automation_path, :alt => "Marketing Automation", :title => "Marketing Automation" } Marketing Automation
    %li
      %a{ :href => marketing_syndication_path, :alt => "Marketing Syndication", :title => "Marketing Syndication" } Marketing Syndication
    %li
      %a{ :href => marketing_ideas_path, :alt => "Marketing Ideas", :title => "Marketing Ideas" } Marketing Ideas
    %li
      %a{ :href => online_marketing_path, :alt => "Online Marketing for Small Business", :title => "Online Marketing for Small Business" } Online Marketing
    %li
      %a{ :href => automated_marketing_path, :alt => "Automated Marketing", :title => "Automated Marketing" } Automated Marketing
    %li
      %a{ :href => loyalty_marketing_path, :alt => "Loyalty Marketing", :title => "Loyalty Marketing" } Loyalty Marketing
    %li
      %a{ :href => customer_retention_path, :alt => "Customer Retention", :title => "Customer Retention" } Customer Retention
    %li
      %a{ :href => marketing_analytics_path, :alt => "Marketing Analytics", :title => "Marketing Analytics" } Marketing Analytics 
    %li
      %a{ :href => digital_marketing_path, :alt => "Digital Marketing", :title => "Digital Marketing" } Digital Marketing
    %li 
      %a{ :href => marketing_collaboration_path, :alt => "Marketing Collaboration", :title => "Marketing Collaboration" } Marketing Collaboration
    %li
      %a{ :href => multi_channel_marketing_path, :alt => "Multi Channel Marketing", :title => "Multi Channel Marketing" } Multi-channel Marketing
    %li
      %a{ :href => integrated_marketing_path, :alt => "Integrated Marketing", :title => "Integrated Marketing" } Integrated Marketing
.blank-space