.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a.current( href='#' )
      Marketing Software
      %span
    %a( href='#' )
      Email Marketing
      %span
    %a( href='#' )
      Mobile Responsive Emails
      %span

.blank-space
