.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
    %i.icon-angle-right
    %a( href='#' )
      Marketing Software
    %i.icon-angle-right
    %a( href='#' )
      Email Marketing
    %i.icon-angle-right
    %a( href='#' )
      Mobile Responsive Emails
.blank-space
