%h6 Marketing Products and Services
%ul.sidebar-nav.bullet-disc
  %li
    %a{ href: '#' } Marketing Automation
  %li
    Email Marketing
    %ul.bullet-circle
      %li
      %a{ :href => '/marketing/email-marketing' } E-Mail Marketing
      %ul
        %li
          %a{ :href => '/marketing/email-marketing/mobile-responsive-emails' } Mobile Responsive E-Mails
        %li
          %a{ :href => '/marketing/email-marketing/capturing-customer-emails' } Capturing Customer E-Mails
        %li
          %a{ :href => '/marketing/email-marketing/email-deliverability' } E-Mail Deliverability
  %li 
    %a{ :href => '/marketing/marketing-promotions'} Marketing Promotions
    %ul
      %li
        %a{ :href => '/marketing/coupons'} Coupons
      %li
        %a{ :href => '/marketing/contests' } Contests
      %li
        %a{ :href => '/marketing/surveys'} Surveys
      %li
        %a{ :href => '/marketing/specials-and-sales'} Specials and Sales
  %li
    %a{ :href => '/marketing/social-media-marketing'} Social Media Marketing
  %li
    %a{ :href => '/marketing/marketing-automation' } Marketing Automation
  %li
    %a{ :href => '/marketing/marketing-syndication'} Marketing Syndication
  %li
    %a{ :href => '/marketing/marketing-recommendation'} Marketing Recommendation
  %li
    %a{ :href => '/marketing/online-marketing'} Online Marketing
  %li
    %a{ :href => '/marketing/automated-marketing'} Automated Marketing
  %li
    %a{ :href => '/marketing/loyalty-marketing'} Loyalty Marketing
  %li
    %a{ :href => '/marketing/customer-retention'} Customer Retention
  %li
    %a{ :href => '/marketing/marketing-analytics'} Marketing Analytics 
  %li
    %a{ :href => '/marketing/digital-marketing'} Digital Marketing
  %li
    %a{ :href => '/marketing/marketing-collaboration'} Marketing Collaboration
  %li
    %a{ :href => '/marketing/multi-channel-marketing'} Multi-channel Marketing


%h6 Small Business Marketing Resources
%ul.sidebar-nav.bullet-disc
  %li
    %a{ :href => '/resources/email-marketing' } E-Mail Marketing
    %ul
      %li
        %a{ :href => '/resources/email-marketing/mobile-responsive-emails' } Mobile Responsive E-Mails
      %li
        %a{ :href => '/resources/email-marketing/capturing-customer-emails' } Capturing Customer E-Mails
      %li
        %a{ :href => '#/resources/email-marketing/capturing-customer-data' } Capturing Customer Data
      %li
        %a{ :href => '/resources/email-marketing/evolution-of-email-marketing' } Evolution of E-Mail Marketing
  %li 
    Running Marketing Promotions
    %ul
      %li
        %a{ :href => '/resources/contests' } Contests
      %li
        %a{ :href => '/resources/coupons'} Coupons
      %li
        %a{ :href => '/resources/surveys'} Surveys 
  %li
    %a{ :href => '/resources/social-media-marketing'} Social Media Marketing
  %li
    %a{ :href => '/resources/digital-marketing'} Digital Marketing
  %li
    %a{ :href => '/resources/online-marketing'} Online Marketing
  %li
    %a{ :href => '/resources/customer-retention' } Customer Retention
  %li
    %a{ :href => '/resources/loyalty-marketing'} Loyalty Marketing
  %li
    %a{ :href => '/resources/marketing-analytics'} Marketing Analytics
