.op-navbar
  %h6 Small Business Marketing Resources
  %ul.sidebar-nav
    %li
      %a{ :href => resources_email_marketing_path } E-Mail Marketing
      %ul.bullet-circle
        %li
          %a{ :href => resources_mobile_responsive_emails_path } Mobile Responsive E-Mails
        %li
          %a{ :href => resources_capturing_customer_emails_path } Capturing Customer E-Mails
        %li
          %a{ :href => resources_capturing_customer_data_path } Capturing Customer Data
        %li
          %a{ :href => resources_evolution_email_path } Evolution of E-Mail Marketing
        %li
          %a{ :href => resources_email_marketing_tips_path } Email Marketing Tips
        %li
          %a{ :href => resources_best_practices_path } E-Mail Marketing Best Practices
        %li
          %a{ :href => resources_measuring_success_path } Measuring Success of Email Marketing
        %li
          %a{ :href => resources_getting_started_path } Getting Started with Email Marketing
        %li
          %a{ :href => resources_email_marketing_types_path } Different E-Mail Types
    %li
      %a{ :href => resources_marketing_promotions_path } Running Marketing Promotions
      %ul.bullet-circle
        %li
          %a{ :href => resources_contests_path } Contests
        %li
          %a{ :href => resources_coupons_path } Coupons
        %li
          %a{ :href => resources_surveys_path } Surveys 
        %li
          %a{ :href => resources_specials_sales_path } Specials and Sales
    %li
      %a{ :href => resources_social_media_path } Social Media Marketing
    %li
      %a{ :href => resources_digital_marketing_path } Digital Marketing
    %li
      %a{ :href => resources_online_marketing_path } Online Marketing
    %li
      %a{ :href => resources_marketing_automation_path } Marketing Automation
    %li
      %a{ :href => resources_marketing_syndication_path } Marketing Syndication
    %li
      %a{ :href => resources_customer_retention_path } Customer Retention
    %li
      %a{ :href => resources_loyalty_marketing_path } Loyalty Marketing
    %li
      %a{ :href => resources_marketing_analytics_path } Marketing Analytics
    %li
      %a{ :href => resources_marketing_ideas_path } Marketing Ideas
    %li
      %a{ :href => resources_integrated_marketing_path } Integrated Marketing
    %li
      %a{ :href => resources_reachable_audience_path } Reachable Audience

.blank-space