.op-navbar
  %h6 Small Business Marketing Resources
  %ul.sidebar-nav
    %li
      %a{ :href => resources_email_marketing_path, :alt => "Learn about Email Marketing", :title => "learn about Email Marketing" } E-Mail Marketing
      %ul.bullet-circle
        %li
          %a{ :href => resources_mobile_responsive_emails_path, :alt => "Mobile Responsive Email Design", :title => "Mobile Responsive Email Design" } Mobile Responsive E-Mails
        %li
          %a{ :href => resources_capturing_customer_emails_path, :alt => "How to capture customer emails", :title => "How to capture customer emails" } Capturing Customer E-Mails
        %li
          %a{ :href => resources_capturing_customer_data_path, :alt => "How to capture customer data", :title => "How to capture customer data" } Capturing Customer Data
        %li
          %a{ :href => resources_evolution_email_path, :alt => "Evolution of Email Marketing", :title => "Evolution of Email Marketing" } Evolution of E-Mail Marketing
        %li
          %a{ :href => resources_email_marketing_tips_path, :alt => "Email Marketing Tips", :title => "Email Marketing Tips" } Email Marketing Tips
        %li
          %a{ :href => resources_best_practices_path, :alt => "Email marketing Best Practices", :title => "Email Marketing Best Practices" } E-Mail Marketing Best Practices
        %li
          %a{ :href => resources_measuring_success_path, :alt => "Measuring Success of Email Marketing", :title => "Measuring Success of Email Marketing" } Measuring Success of Email Marketing
        %li
          %a{ :href => resources_getting_started_path, :alt => "Getting started with Email Marketing", :title => "Getting started with email marketing" } Getting Started with Email Marketing
        %li
          %a{ :href => resources_email_marketing_types_path, :alt => "Different Email Types", :title => "Different Email Types" } Different E-Mail Types
    %li
      %a{ :href => resources_marketing_promotions_path, :alt => "How to Run Marketing Promotions", :title => "How to Run Marketing Promotions" } Running Marketing Promotions
      %ul.bullet-circle
        %li
          %a{ :href => resources_contests_path, :alt => "How to run a Contest", :title => "How to Run a Contest" } Contests
        %li
          %a{ :href => resources_coupons_path, :alt => "Learn about Coupon Marketing", :title => "Learn About Coupon Marketing" } Coupons
        %li
          %a{ :href => resources_surveys_path, :alt => "Surveys", :title => "Surveys" } Surveys 
        %li
          %a{ :href => resources_specials_sales_path, :alt => "Specials and Sales", :title => "Specials and Sales" } Specials and Sales
    %li
      %a{ :href => resources_social_media_path, :alt => "Social Media Marketing for Small Business", :title => "Social Media Marketing for Small Business" } Social Media Marketing
    %li
      %a{ :href => resources_digital_marketing_path, :alt => "Digital Marketing", :title => "Digital Marketing" } Digital Marketing
    %li
      %a{ :href => resources_online_marketing_path, :alt => "Online Marketing", :title => "Online Marketing" } Online Marketing
    %li
      %a{ :href => resources_marketing_automation_path, :alt => "Marketing Automation", :title => "Marketing Automation" } Marketing Automation
    %li
      %a{ :href => resources_marketing_syndication_path, :alt => "Marketing Syndication", :title => "Marketing Syndication" } Marketing Syndication
    %li
      %a{ :href => resources_customer_retention_path, :alt => "Customer Retention", :title => "Customer Retention" } Customer Retention
    %li
      %a{ :href => resources_loyalty_marketing_path, :alt => "Loyalty Marketing", :title => "Loyalty Marketing" } Loyalty Marketing
    %li
      %a{ :href => resources_marketing_analytics_path, :alt => "Marketing Analytics", :title => "Marketing Analytics" } Marketing Analytics
    %li
      %a{ :href => resources_marketing_ideas_path, :alt => "Marketing Ideas", :title => "Marketing Ideas" } Marketing Ideas
    %li
      %a{ :href => resources_integrated_marketing_path, :alt => "Integrated Marketing", :title => "Integrated Marketing" } Integrated Marketing
    %li
      %a{ :href => resources_reachable_audience_path, :alt => "Reachable Audience", :title => "Reachable Audience" } Reachable Audience

.blank-space