= display_title "Affiliates - Join our affiliate program today!"
= display_meta_description "We give businesses an easy way to acquire customers online and offline", "local marketing tools, email marketing, email marketing for smbs, small businesses, small business marketing, customer engagement, customer acquisition"

.row-fluid
  .span12{:align => "center"}
    %h1 Introducing the Super Affiliate Program with Residual Income

.row-fluid
  .span6
    %h3 Join our Affiliate program and start earning residual income on every account for life.
    %p We are excited to launch our affiliate program and help you make more money on every single referral. We are introducing a residual based referral program that will help you make money and help us drive more leads.

    %h4 For every new sale, you get:
    %ul
      %li
        %strong 50% of the first month sale price.
        The average is $18 per new account signed up.
      %li
        %strong 25% for every month there after.
        This can be an additional $100/year in extra earnings per new account.

    %p Ready to start making some serious dough? Get in touch with us today and we'll get you started.

    %h4 Existing Affiliates include:
    .text-center.row-fluid
      .span6
        = image_tag 'logo-launchrock.jpg', alt: 'Launchrock logo'
      .span6
        = image_tag 'logo-eatstreet.png', alt: 'Eatstreet logo'
  .span6.pa-gray-bg
    %h4{:align => "center"} Affiliate Portal
    .blank-space{:align => "center"}
      %a.btn.btn-large.btn-primary{ href: 'http://optyn.salesgust.com/affiliate/signup', :target => "_blank" } Affiliate Signup
      %a.btn.btn-large.btn-primary{ href: 'http://optyn.salesgust.com/user/login', :target => "_blank" } Affiliate Login
.blank-space
