= display_title "Automated Marketing Engine for Small Businesses - Try and see how easy it is!"
= display_meta_description "Optyn's automated marketing allows you to grow your business through our auto-pilot marketing software.", "automated marketing, automated marketing software, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = marketing_path )
      Marketing Software
      %span
    %a.current( href = automated_marketing_path)
      Automated Marketing
      %span

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Automated Marketing
    %h2 Automating your marketing on pure intuition and real-time data.
    = image_tag( 'automated-marketing-engine.jpg', alt: 'automated marketing', class: 'pull-right  img-polaroid' )
    %p 
      Marketing is a great way to grow your business. But we know that your busy and that you have a lot on your plate. Optyn’s core mission is to help small business owners grow their business by providing them with marketing software that is easy and works for them.
    %p
      Our Automated Marketing Engine is a great way for you to setup your marketing initiatives and goals and then put it on auto-pilot. Our automated marketing software allows you to:
      %ul.bullet-disc
        %li Set it and forget it - You set the details of what you want to do and we execute your monthly marketing plan and generate results for you.
        %li Automated Triggers - Welcome incentives, birthday thank you’s, survey incentives and more can be truly automated so that it looks like your hard at work. Your customers will appreciate it.
        %li Automated posting to other channels like social media and web channels.
    %p
      Our Marketing engine engages your customers like never before. It allows you to focus on your business while our product does the rest. Give it a try for free and sign up for optyn today!
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space

