= display_title "Bulk Email Software"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s BULK EMAIL SOFTWARE
    %h2 The only bulk email software that is built for you.
    /= image_tag( 'email-marketing.jpg', alt: 'free email marketing', class: 'pull-right img-polaroid' )
    %p 
      Optyn's new generation bulk email marketing software is built for small businesses and internet marketers. We know that your time is precious and we help you streamline your marketing efforts with our bulk email sender software.
    %p
      Our bulk email sending software allows you to create email marketing campaigns in less than 2 minutes and also syndicate your content through other channels including social media. Our focus is simplicity but we don't sacrifice quality or performance.
    %p
      Here are some key features of our email bulk software:
      %ul.bullet-disc
        %li Our bulk emailing software lets you reach any amount of customers. Whether you are looking to send an email to 1000 subscribers or 1 million, our bulk emailer software can help.
        %li Our online email marketing software is accessible anywhere and there is no download of software necessary. 
        %li Customize your entire bulk email software. We help you customize your software and your campaigns based on what type of business or marketer you are.
    %p
      This software bulk email is free to try. If you like it, you can contact us as we can help you beat the pricing from other providers. Get started today.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space