= display_title "Optyn Consumer Features"
= display_meta_description "We give consumers easy to use tools to opt-in anywhere, online and offline, and a marketing inbox that let's them control and easily manage their marketing communications.", "marketing inbox, easy subscribe, universal opt in, universal opt-in, optin, opt-in, email management"

.wrapper
  .row-fluid
    .span12
      %h1 Life just got a little easier and cooler for mankind.

  .row-fluid
    .span6
      %div.ico.ctrl.offset5
      %h3 Finally, YOU are in control
      %p
        Guess what? Optyn puts you in control of how you are being marketed to. We make the marketing process easier and better for all, including you and merchants.
    .span6
      %div.ico.globe.offset5
      %h3 Opt in. Any business. Anywhere.
      %p
        Optyn is the easiest way to opt into any business, anywhere. Whether it's a website, a local store, an event, or tradeshow, now you can opt into receiving marketing messages anywhere, anytime, and any business or organization. One Optyn, to rule them all.

  .row-fluid
    .span12
      %h2 Features

  .row-fluid.features
    .span4
      %div.ico.dashb.offset5
      .copy.cd-ctrl
        %h3 Control how you connect
        %p
          You connect with businesses using one way to do it. You choose what information you share and how YOU want to connect.
    .span4.blue-bg-2
      %div.ico.mail.offset5
      .copy.cf_manage
        %h3 Manage Your Relationships
        %p
          Manage each relationship with a business or organization the way you want. Choose what personal information you share and what emails you want to receive and when.
    .span4
      %div.ico.place.offset5
      .copy.cf_allinone
        %h3 All Marketing Messages in 1 Place
        %p
          All of your marketing messages + connections are in one place. You will LOVE it.

  .row-fluid.features
    .span4.blue-bg-2
      %div.ico.secure.offset5
      .copy.cd_free
        %h3 Worry, Hassle & Spam Free
        %p
          Yes, we mean it. No more worries about being spammed and handing out your personal information to untrusted parties.
    .span4
      %div.ico.chat.offset5
      .copy.cf_easy
        %h3 Easiest way to Opt In. Yes!
        %p
          Did we mention how easy it is? We got your back all the way but most importantly we make it easy, and fun.
    .span4.blue-bg-2
      %div.ico.lens.offset5
      .copy.cf_explore
        %h3 Explore with Confidence
        %p
          Explore the world around you. Get access to awesome new products, coupons, businesses, websites, and much more...if you want.

  .row-fluid.sign-up
    .span12
      So, what are you waiting for? Get started now.
      /%a.link.blue{:href => new_user_registration_path} Get Started
      %form
        %input{ :type => 'text', :placeholder => 'Enter your e-mail address' }
        %input{ :type => 'submit', :value => 'Sign up as a customer' }
      %p Or
      .btn-orange.icon_chrome
        %a{ :href => '#' } Download Chrome plugin
