#consumer_features
  .container
    .row
      .span6.main.left
        Main Left
      .span6.main.right
        Main Right
    .row
      .span4
        Left
      .span4
        middle
      .span4
        Right
    .row
      .span4
        Left
      .span4
        middle
      .span4
        Right
    .row
      .span6
        Left
      .span6
        Right
/ features
#features.features_page
  .container
    .features1
      / header
      %h2.section_header
      %hr.left.visible-desktop/
      %span Features
      %hr.right.visible-desktop/
      .row
        .span12
          %h3.intro
            Whether you need to create a brand from scratch, including marketing materials
            and a beautiful and functional website or whether you are looking for a design
            refresh pleased with the results.
      / feature list
      .row
        .span4.feature
          = image_tag "front_end_static_page/feature1.jpg", class: "thumb", alt: "feature1"
          %h3
            %i.i_cloud
            Responsive clean theme
          %p.description
            There are many variations of passages of Lorem Ipsum available, but the
            majority have suffered alteration in some form, by injected humour, or randomised
            words which don't look even slightly believable.
        .span4.feature
          = image_tag "front_end_static_page/feature2.jpg", class: "thumb", alt: "feature2"
          %h3
            %i.i_chart
            Responsive clean theme
          %p.description
            There are many variations of passages of Lorem Ipsum available, but the
            majority have suffered alteration in some form, by injected humour, or randomised
            words which don't look even slightly believable.
        .span4.feature
          = image_tag "front_end_static_page/feature3.jpg", class: "thumb", alt: "feature3"
          %h3
            %i.i_movil
            Responsive clean theme
          %p.description
            There are many variations of passages of Lorem Ipsum available, but the
            majority have suffered alteration in some form, by injected humour, or randomised
            words which don't look even slightly believable.
    .features2
      / features 2
      %h2.section_header
      %hr.left.visible-desktop/
      %span Features 2
      %hr.right.visible-desktop/
      .row
        .span12
          %h3.intro
            Whether you need to create a brand from scratch, including marketing materials
            and a beautiful and functional website or whether you are looking for a design
            refresh pleased with the results.
      .row
        .span4.feature2
          .icon
            %i.cloud
          %h4 Many desktop publishing editor these available
          %p
            You can't do better design with a computer, but you can speed up your work
            enormously.
        .span4.feature2
          .icon
            %i.tools
          %h4 Many desktop publishing editor these available
          %p
            You can't do better design with a computer, but you can speed up your work
            enormously.
        .span4.feature2
          .icon
            %i.graph
          %h4 Many desktop publishing editor these available
          %p
            You can't do better design with a computer, but you can speed up your work
            enormously.
      .row
        .span4.feature2
          .icon
            %i.mobile
          %h4 Many desktop publishing editor these available
          %p
            You can't do better design with a computer, but you can speed up your work
            enormously.
        .span4.feature2
          .icon
            %i.lab
          %h4 Many desktop publishing editor these available
          %p
            You can't do better design with a computer, but you can speed up your work
            enormously.
        .span4.feature2
          .icon
            %i.secure
          %h4 Many desktop publishing editor these available
          %p
            You can't do better design with a computer, but you can speed up your work
            enormously.
