#header1
  .container
    .row
      %h3.intro
        Life just got a little easier...and cooler :)
#consumer_features
  .container
    .row
      .span6.main
        .image
          %img{:src => "/assets/cd_control.png", :alt => "Spam Free. Worry Free."}
        .copy
          %h3
            Finally, YOU are in Control
          %p
            Guess what? Optyn puts you in control of how you are being marketed to. We make the marketing process easier and better for all, including you and merchants.
      .span6.main
        .image
          %img{:src => "/assets/cf_optin.png", :alt => "Opt in. Any Business. Anywhere."}
        .copy
          %h3
            Opt In. Any Business. Anywhere.
          %p
            Optyn is the easiest way to opt into any business, anywhere. Whether it's a website, a local store, an event, or tradeshow, now you can opt into receiving marketing messages anywhere, anytime, and any business or organization. One Optyn, to rule them all.
    .features
      .row
        .span4.feature
          .image
            %img{:src => "/assets/cd_ctrl.png", :alt => "Control how you connect."}
          .copy
            %h3
              Control how you connect
            %p
              You connect with businesses using one way to do it. You choose what information you share and how YOU want to connect.
        .span4.feature
          .image
            %img{:src => "/assets/cf_manage.png", :alt => "Manage Your Relationships"}
          .copy
            %h3
              Manage Your Relationships
            %p
              Manage each relationship with a business or organization the way you want. Choose what personal information you share and what emails you want to receive and when.
        .span4.feature
          .image
            %img{:src => "/assets/cf_allinone.png", :alt => "All in One"}
          .copy
            %h3
              All Marketing Messages in 1 Place
            %p
              All of your marketing messages + connections are in one place. You will LOVE it.
      .row
        .span4.feature
          .image
            %img{:src => "/assets/cd_free.png", :alt => "Spam Free. Worry Free."}
          .copy
            %h3
              Worry, Hassle & Spam Free
            %p
              Yes, we mean it. No more worries about being spammed and handing out your personal information to untrusted parties.
        .span4.feature
          .image
            %img{:src => "/assets/cf_easy.png", :alt => "Universal Opt In"}
          .copy
            %h3
              Easiest way to Opt In. Yes!
            %p
              Did we mention how easy it is? We got your back all the way but most importantly we make it easy, and fun.
        .span4.feature
          .image
            %img{:src => "/assets/cf_explore.png", :alt => "Spam Free. Worry Free."}
          .copy
            %h3
              Explore with Confidence
            %p
              Explore the world around you. Get access to awesome new products, coupons, businesses, websites, and much more...if you want.
    .row.bottom
      .span12.creditcard
        %strong
          What are you waiting for?
        %a.btn.featurestart{:href => new_user_registration_path} Get Started

