.constant-contact
  .fold1.row-fluid
    .span8
      %h1
        %em 5 Reasons
        Why You Should Leave Constant Contact for Optyn
      %ul
        %li
          .op-icon.faster
          %strong Optyn helps you get the job done faster and better
          Create campaigns in 2 minutes or less.
        %li
          .op-icon.responsive
          %strong 100% Mobile Responsive campaigns
          Over 52% of emails are now opened on mobile devices. We got you covered. Constant Contact is 0% mobile friendly.
        %li
          .op-icon.free
          %strong Create Surveys, Coupons, and more for FREE
          We don't charge you any extra fees. Create all types of campaigns for the same low price.
        %li
          .op-icon.deliverability
          %strong Email deliverability at 99%
          No need to worry about.
        %li
          .op-icon.undercut
          %strong Best yet - save 50% off your Constant Contact price
          We'll beat their price by 50% for the lifetime of your account.
    .span4.text-center
      %h3 Our Gaurantee to you
      .blank-space
      %ul.bullet-green-check.text-left
        %li You will LOVE Optyn ease of use
        %li You will get better results
        %li You will save 50%
      .blank-space
      %a.btn.btn-warning.btn-large{ href: new_merchants_manager_registration_path } Get Started!
      .blank-space
      %a{ href: '#' } More information

  .fold2.row-fluid
    .span7
      %h2 Why we Built Optyn
      %p We built Optyn for many reasons.
      %p One of them, is that email marketing should be easy, affordable, and effective for every business and user, big or small. Optyn is simple, powerful and effective.
      %p
        Restaurants like Salvatore's and Bandung generated over $5,000 in incremental sales with just a few campaigns. Just read these two case studies
        %a{ href: '/case-studies/salvatores'} here
        and
        %a{ href: '/case-studies/bandung'} here.
      .blank-space
      %a.btn.btn-transparent-primary{ href: '#' } More information
    .span4.offset1.text-center
      %h3 Join over 3,000 businesses that have switched over
      .img-portrait
      %p Optyn's Email Marketing Software helped us increase our reach to our current clients and it even brought many new faces in.
      %em Ahmed K, Chez Joel Bistro, Chicago, IL.
      .blank-space
      .row-fluid
        .span4.text-center
          = image_tag "logo-barbicide.jpg", alt: "Barbicide logo", class: 'mtop15px'
        .span4.text-center
          = image_tag "logo-salvatores.jpg", alt: "Salvatores logo", class: 'mtop15px'
        .span4.text-center
          = image_tag "logo-bandung.jpg", alt: "Bandung logo"

  .fold3.row-fluid.text-center
    .span12
      %h2 Our Gaurantee to you
      %p We gaurantee that you will:
      .blank-space
      = image_tag "optyn-gaurantee.png", alt: "Optyn gaurantee"

  .fold4.row-fluid
    .span10.offset1
      %h2.text-center Get Started Today Without Lifting a Finger
      .step1
        .op-icon
        %p We'll help you transition over lists, email forms, and campaigns. We'll even make improvements just for you.
      .step2
        .op-icon
        %p Contact us for more information and details on how we can help.

  .row-fluid.try-it
    .span7.offset1
      %p What are you waiting for? It's time to leave Constant Contact and join the revolution in Email Marketing!
    .span3
      %a.btn.btn-transparent.btn-block.btn-large{ href: new_merchants_manager_registration_path } Get Started for FREE!