#contact.contact_page
  .container
    %h2 Contact Us
    .row.form
      .span6
        %form.form-horizontal
          .control-group
            %label.control-label{:for => "inputName"} Name
            .controls
              %input#inputName.span4{:type => "text"}/
          .control-group
            %label.control-label{:for => "inputEmail"} Email
            .controls
              %input#inputEmail.span4{:type => "text"}/
          .control-group
            %label.control-label{:for => "inputPhone"} Phone
            .controls
              %input#inputPhone.span4{:type => "text"}/
          .control-group
            %label.control-label{:for => "inputCity"} City
            .controls
              %input#inputCity.span4{:type => "text"}/
          .control-group
            %label.control-label{:for => "inputComment"} Comment
            .controls
              %textarea#inputComment.span4{:rows => "6"}
          .control-group
            .controls.action
              %button.btn{:type => "submit"} Send
      .span5.offset1
        .address
          %h3 Address
          %p
            222 W. Merchandise Mart Plaza, 12th Floor
            %br
            Chicago, Illinois 60654
          .info
            %i.contact.phone
            1.800.980.0001
          .info
            %i.contact.email
            info@optyn.com
          %hr
          %h3 Follow Us
          .social
            %a{:href => "http://www.twitter.com/optyn", :target => "_blank"}
              %i.social.tw
            %a{:href => "http://www.facebook.com/optyn", :target => "_blank"}
              %i.social.fb