= display_title "Customer Retention for Small Businesses"
= display_meta_description "Our small business experts share how you can improve your small business customer retention strategies!", "customer retention strategies, customer retention rate, customer retention techniques, customer retention strategy, increase customer retention, customer retention ideas. customer retention plan"

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = marketing_path )
      Marketing Software
      %span
    %a.current( href = customer_retention_path)
      Customer Retention
      %span

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Customer Retention
    %h2 Retain your Customers and keep them engaged.
    = image_tag( 'customer-retention.jpg', alt: 'customer retention', class: 'pull-right img-polaroid' )
    %p 
      Customer Retention for Small businesses is as important as ever. The cost to acquire a new customer is 7 times higher than retaining an existing customer. You are competing against the Starbucks, the big-chain stores who have armies of marketers trying to grow their business and steal your customers. But you have Optyn’s Customer retention strategies and our platform in your arsenal.
    %p
      With Optyn, you can now make sure you:
      %ul.bullet-disc
        %li Increase Overall Customer Engagement
        %li Increase Customer Retention
        %li Identify best ways to reward and engage your customers
        %li Increase Your Customer Retention Rate
    %p
      Don’t forget about your customers. Optyn lets you easily engage them via email marketing, social media and other web channels, and we give you the opportunity to retain your customers at a very low cost. Sign up today and start engaging your customers and keep them coming back through your door. Our team is more than happy to give you customer retention ideas and set you up on a personalized customer retention plan!
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space