#merchant_page
  .container
    .row.titlebar
      .span2.logo
        %img{:alt => "Dana Cafe", :src => "/assets/danalogo.png"}
      .span6.title
        %strong
          Dana Cafe, 
        Chicago, IL
      .span4.optyn
        %img{:alt => "Dana Cafe", :src => "/assets/optynbtn.png"}
    .row.mainbody
      .span4.image
        %img{:alt => "Dana Cafe", :src => "/assets/danaplace.png"}
      .span4.details
        .title
          %h3
            Dana Cafe Details
        .details-list
          .item
            %strong
              Category: 
            Restaurants | Cafe
          .item
            %strong
              Location:
            5868 N Lincoln Ave, Chicago, IL 60659
          .item
            %strong
              Website: 
            http://www.dana-cafe.com
          .item-icons
            %strong
              Social Profiles:
            %img{:src => "/assets/fb_small.png", :float => "right"}
            %img{:src => "/assets/tw_small.png", :float => "right"}
            %img{:src => "/assets/g_small.png", :float => "right"}
          .item
            %strong
              Type of E-Mails: 
            All Kinds
          .item
            %strong
              Frequency: 
            1.2 emails/week
      .span4.marketing
        .title
          %h3
            Marketing Details
        .details
          %ul
            %li  
              %strong
                7 
              Available Coupons
              %img{:src => "/assets/caret-right-blue.png"}
            %li
              %strong
                4
              Recent Message
              %img{:src => "/assets/caret-right-blue.png"}
            %li
              %strong
                2
              Active Survey
              %img{:src => "/assets/caret-right-blue.png"}
            %li
              %strong
                1
              Active Contest
              %img{:src => "/assets/caret-right-blue.png"}
            %li
              %strong
                18
              Total Promotions
              %img{:src => "/assets/caret-right-blue.png"}