/ Dana Cafe Example - Optyn
#features.features_page
  .container
    .row
      .span6
        %img{:alt => "Dana Cafe", :src => "/assets/dana-cafe.jpg"}/
      .span6
        %div
          %h3
            Dana Cafe's Optyn Page
        %div
          %p
            5868 N Lincoln Ave
            %br
            Chicago, IL 60659
            %br
            ph. 773-828-9462
            %br
        %div
          %p
            %img{:alt => "Alternate Button", :src => "/assets/optyn-button2.png"}
          %p
            %h4
            48 People are subscribed
            %br
          %p
            %h4
            12 Recent Messages
#optyn-container
  %h4 Welcome to Optyn
  %script{:src => "http://localhost:3000/api/shop/button_framework.js?app_id=35f0f125411cc764821f87fcb144aadbce138589b0f8d0a6dc5595418a628ffc"}/
%iframe#optyn-iframe{:name => "optyn-iframe", :style => "display:none"}

