#merchant_page
  .container
    .row.titlebar
      .span2.logo
        %img{:alt => "Dana Cafe", :src => "/assets/danalogo.png"}
      .span6.title
        %strong
          Dana Cafe, 
        Chicago, IL
      .span4.optyn
        %img{:alt => "Dana Cafe", :src => "/assets/optynbtn.png"}
    .row.mainbody
      .span4.image
        %img{:alt => "Dana Cafe", :src => "/assets/danaplace.png"}
      .span4.details
        %div
          %h3
            Dana Cafe Details
        %div
          %p
            Category: Restaurants | Cafe
            %br
            Location:
            %br
            5868 N Lincoln Ave, Chicago, IL 60659
            %br
            Website: http://www.dana-cafe.com
            %br
            Social Profiles:
            %br
            Type of E-Mails: All Kinds
            %br
            Frequency: 1.2 emails/week
            %br
      .span4.marketing
        %div
          %h3
            Marketing Details
        %div
          %ul
            %li
              Marketing Details
            %li  
              Available Coupons
            %li
              Recent Message
            %li
              Active Survey
            %li
              Active Contest
            %li
              Total Promotions