= display_title "Digital Marketing Solutions for Small Businesses"
= display_meta_description "Optyn's digital marketing experts and its patform will generate customers, leading to an increase in your bottom line.", "digital marketing solutions, digital marketing strategy, digital marketing plan, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :digital_marketing

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Digital Marketing
    %h2 The only Digital marketing platform a small business will ever need.
    = image_tag( 'digital-marketing-platform.jpg', alt: 'digital marketing', class: 'pull-right img-polaroid', title: 'Digital Marketing Platform' )
    %p 
      Almost every customer of yours is online. They interact with you, their friends & family, and interests more and more online than ever. Being part of their interests and online conversations is important for your customer retention and acquisition.
    %p
      Optyn is a Digital Marketing platform built specifically for the small business owner andit can be a part of any digital marketing plan. We help you spread your wings and your business online and make sure that your customers know that you are there. We help you:
      %ul.bullet-disc
        %li Syndicate your content to your customers, wherever they may be.
        %li Help you acquire customers and leads through various marketing channels including email, social, and web.
        %li Know your customer demographic individually and an overall snapshot of your customer base.
        %li Automate how you engage certain customers based on segmentation.
        %li Analyze what marketing campaigns and promotions work best for you.
        %li Identify Opportunities and Improvements for your online marketing strategy.
        %li Assist you in creating a digital marketing strategy.
        %li Help you execute your digital marketing plan. 

    %p
      It’s the one platform you’ll need to successfully engage your customers and discover new ones. We are here to help you from the start to every campaign launched! Give Optyn a try and start reaching your customers and prospects today.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space