= display_title "E-Mail Marketing Agency - Let us help you grow your business!"
= display_meta_description "Being one of the leading marketing agencies for small businesses, we are looking to help you grow your business! Find out how!", "email marketing agency, marketing agency, small business marketing agency, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :email_marketing_agency

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Email Marketing Agency
    %h2 The Email Marketing Agency for Small Businesses.
    = image_tag( 'email-marketing-agency.jpg', alt: 'email marketing agency', class: 'pull-right img-polaroid' )
    %p 
      We are email marketers by nature. We love what we do. While we are building some of the best email marketing software for the new generation of small businesses, we are also one of the top email marketing agencies in the U.S.
    %p
      Our email marketing consultant package gives small business the freedom to be creative but the expertise that is needed and that comes with working with expert email marketing consultants. The best part is that we have a system in place and we are one of the most affordable email marketing firms out there. Guaranteed!
    %p
      In fact, we pride ourselves to be the easiest marketing product for small businesses. The other great benefit is that it is more than just email marketing. Our product takes advantage of email marketing but it integrates other multi channels like social media to give merchants and small businesses an easy way to reach their customers.
    %p
      Optyn’s email marketing management accounts have the following features and benefits.:
      %ul.bullet-disc
        %li 
          %strong Email Marketing Design.
          We design all of your email marketing templates for you so that you don't have to worry how your message comes across to your subscribers.
        %li
          %strong Access to an actual Email Marketer.
          Yes, you get access to one of our email marketing experts that helps you create the right campaigns and optimize your customer engagement. We provide you with ongoing email marketing consulting and we also help you improve your business by providing monthly improvement suggestions.
        %li
          %strong Email Marketing Plan.
          Every month, we create an email marketing plan for you and the best part is, we execute it for you. An Optyn email marketing pro will prepare the plan for you and discuss with you how we will execute it. We still give you the freedom to add your input and help us deliver proven results.
        
    %p
      Optyn is a new generation email marketing agency that is streamlined and focused on delivering results. We also provide you with tips and tricks on our email marketing website and let you learn along the way. The best part is that we don't require long commitments and we have the price guarantee. Contact us or sign up to learn more.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space