= display_title "E-Mail Marketing Software - Easiest way to engage your customers!"
= display_meta_description "At Optyn we have created the perfect email marketing software for small business and you can try it for FREE!", "email marketing software, email management software, email deployment software, email distribution software, email marketing software solution, email sending software, emailing marketing software, marketing email software, email mailing list software, email mailing software, email marketer software, email marketing director software, email marketing software express, software email marketing, email advertising software, email marketing mailing software, e-mail marketing software, email marketing software programs, marketing software email, software for email marketing, easy email marketing software, email marketing online software, email marketing software online, email marketing software solutions, email software marketing, buy email marketing software, email deliverability software, email marketing management software, email marketing software providers, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :email_marketing_software

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Email Marketing Software
    %h2 Meet the perfect email marketing software for small businesses.
    = image_tag( 'email-marketing-software.jpg', alt: 'email marketing', class: 'pull-right img-polaroid', title: 'Email Marketing Software' )
    %p 
      We know the hard aches of running a business. We know that marketing is tough and our email marketing software is built to help you grow your business. Current email sending software is just not built for the small business user. We know that time and money are big factors for you. In fact, the reasons why small businesses abandon existing marketing email software is because they aren’t built for them.
    %p
      Over the past two years, the Optyn team has been focusing on building the next evolutionary email management software that helps small business owners take advantage of email marketing. Our email marketing mailing software platform is fast, simple, and easy to use. 
    %p
      In fact, we pride ourselves to be the easiest marketing product for small businesses. The other great benefit is that it is more than just email marketing. Our product takes advantage of email marketing but it integrates other multi channels like social media to give merchants and small businesses an easy way to reach their customers.
    %p
      Here are some benefits of our e-mail marketing software and what we provide to all of our customers:
      %ul.bullet-disc
        %li We provide you with easy email marketing software. You can create an email marketing campaign in less than 2 minutes.
        %li Our email distribution software lets you easily reach all of your subscribers as well as Social Media followers with one extra click. Setting up additional channels is very easy and producting with our email deployment software.
        %li We provide various additional channels to syndicate your content through our email marketer software.
        %li We expand your reach for every campaign by reaching a bigger audience outside of your own customer base.
        %li Lots of built in features and automation come with our email marketing software solution.
        %li It's accessible online. No downloads necessary and it's mobile friendly with iPhone and Android devices.
    %p
      Our software for 
      %a{:href => email_marketing_path, :alt => "Email Marketing", :title => "Email Marketing"} email marketing 
      is free to start and try. We guarantee that this is the best email marketing software solution you will ever use and we urge you to give us a try for free today. You will soon find out that we have built one of the best email marketing software programs on the web and you will love it.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space