= display_title "E-Mail Deliverability"
= display_meta_description "Optyn's team will become your email deliverability consultant and help you improve your email deliverability.", "email deliverability, improve email deliverability, email marketing deliverability, email deliverability best practices, email deliverability consultant email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"

.row-fluid.breadcrumbs
  - breadcrumb :email_deliverability

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Email Deliverability
    %h2 We use the same partners and email deliverability best practices to ensure constant up-time and email deliverability!
    = image_tag( 'email-deliverability.jpg', alt: 'email deliverability', class: 'pull-right img-polaroid', title: 'Email Deliverability' )
    %p 
      Optyn’s email deliverability is supported by one the largest hosting and email providers - Amazon. Optyn utilizes Amazon’s worldwide infrastructure network to make sure that your content including emails is being delivered with superior uptime and ISP deliverability. Our goal is not only to help you improve email deliverability, but to provide you with the best possible email deliverabilty.
    %p
      Optyn’s email deliverability is optimized for small businesses who send 100 emails per campaign and for larger businesses who send 100,000+ emails per campaign. So whatever your size, we’ve got you covered. If you have any questions or need help, we will connect you with an email deliverability consultant! We are here for you and to fullfil all of your 
      %a{:href => email_marketing_path, :alt => "Email marketing", :title => "Email Marketing"} email marketing 
      needs!

    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space
