= display_title "Email Marketing Programs - We Built the Perfect Email Marketing Solution!"
= display_meta_description "We are taking a leap in building the ideal email marketing program for small businesses and marketers.", "email marketing programs, email marketing program, bulk email programs, mass email program, mass email programs, bulk email program, email newsletter programs, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :email_marketing_programs

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Email Marketing Programs
    %h2 The evolution of email marketing programs is here.
    = image_tag( 'email-marketing-programs.jpg', alt: 'email marketing programs', class: 'pull-right img-polaroid' )
    %p 
      Optyn is at the forefront of email newsletter programs. We are building an email marketing program that is for the next generation of marketers and small businesses. 
    %p
      We are building email marketing programs that are unique to each marketer and small business. We are focusing on your customer and how you engage with your customers to provide you with the best email marketing program that's out there.
    %p
      This is what we can do for you.
      %ul.bullet-disc
        %li Get started with email marketing in 2 minutes or less. 
        %li Engage your customers through our engagement center. Create newsletters and marketing campaigns quickly and easily.
        %li Preset Personalization. We can make it easy for you to optimize the relationship and increase open rates, click through rates and much more.
        %li Bulk email program - Our bulk email programs offer you the ability to send to all of your customers, no matter your list size.
        %li We mean it. This is the mass email program for you. No other mass email programs out there can offer you the quality with our unbeatable prices.
    %p
      Get started today and take advantage of one of the best email marketing programs out there. It takes less than a minute to get started.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space