= display_title "Email Marketing Solutions"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = marketing_path )
      Marketing Software
      %span
    %a( href = email_marketing_path )
      Email Marketing
      %span
    %a.current( href = email_marketing_solutions_path)
      Email Marketing Solutions
      %span

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Email Marketing Solutions
    %h2 The email marketing solutions provider that's right for you.
    = image_tag( 'email-marketing-solutions.jpg', alt: 'email marketing solutions', class: 'pull-right img-polaroid' )
    %p 
      Optyn offers an email marketing solution that is just right. We are working on building some of the best business email marketing solution that is out there. We want to help you grow your business and audience with our web based email marketing solution. 
    %p
      Our online email marketing solution is perfect for the busy small business owner or the up and coming internet and online marketer.
    %p
      This is what we can offer you.
      %ul.bullet-disc
        %li Starting is easy and takes less than 2 minutes to create the first campaign.
        %li Customize your entire campaign email marketing solution. We offer you simple ways to stand out and get your message out.
        %li We are the direct email marketing solution. Directly send out all of your emails and you can also share your marketing promotions with a click to your social media profiles.
        %li A Free forever trial. No gimmicks. We want you to grow and your 100 customers are free...for life.
    %p
      The best way to see how email marketing solutions can help you is to get started. It's free and it's fast. You can't go wrong by giving us a try and learning why Optyn is just right for you.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space


