= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span2
    = render partial: 'marketing_nav'
  .span10
    %h5 EMAIL MARKETING
    %h2 Create Email Marketing Campaign in 2 Minutes or Less
    = image_tag( 'http://placehold.it/300x200', alt: 'stub image', class: 'pull-right' )
    %p Lorem ipsum dolor sit
