/ faq
#faq.faq_page
  .container
    / header
    %h2.section_header
    %hr.left.visible-desktop/
    %span FAQs
    %hr.right.visible-desktop/
    / list
    .row
      .span12
        .faq
          .number 1
          .question
            What is Optyn?
          .answer
            A Very Good Question. Optyn is about to change your life
            %br/
            %br/
            For Consumers.