= display_title "Optyn - How it works | FAQs"
.row-fluid
  .span12
    %h1
      Frequently Asked Questions
/ faq
#faq
  .row-fluid
    .span12
      %h3 For Merchants
      .faq
        .number 1
        .question
          What is Optyn?
        .answer
          Optyn is marketing made simple. We give you an easy tool that allows you to create an email marketing campaign in 2 minutes or less. We take out the hassle out of using products that require a lot of time and expertise to get it right. We just make it more simpler. And there's nothing wrong with that!
      .faq
        .number 2
        .question
          How can my customers enroll in Optyn?
        .answer
          Easy. You can 1. Import your existing Customers, 2. Add a Signup Widget on your website, and 3. have your customers opt-in in your store. 
      .faq
        .number 3
        .question
          How do I manage my merchant account?
        .answer
          Just click on Manage Shope and you will be able to change all of your details, add locations and people to help you manage and send marketing campaigns.
      .faq
        .number 4
        .question
          How do I create an email for my users?
        .answer
          Just click on Create a New Campaign. The rest is as simple as 1-2-3 and it takes 2 minutes or less. Really, it's simple. 
      .faq
        .number 5
        .question
          What types of emails can I create?
        .answer
          The sky is the limit but we focus on engagement emails that work on getting your customers to "react and act". That means you can send your customer any message you want but we make it easy for you to send promotional emails such as coupons, specials, and sale announcement, as well as informational emails such as general announcments, new product announcement, and surveys. We will be adding a few more features soon.
      .faq
        .number 6
        .question
          What does Optyn cost?
        .answer
          It's free to try out and get started. We don't ask for you credit card until you go over 100 customers. That's when you start paying $20/month and up pending on your list size. You can check out our pricing by clicking on the pricing tab above.
      .faq
        .number 7
        .question
          How do I make payments?
        .answer
          All payments are made via credit or debit card. Once you go over the free limit, we actually ask you for your credit card. As long as you have an active account with us, we will charge you on a monthly basis. 
      .faq
        .number 8
        .question
          Can I temporarily cancel or suspend my account?
        .answer
          If you temporarily need to suspend your account, please contact our support team and we'd be happy to help you out..
      .faq
        .number 9
        .question
          If I cancel my account, will I get a pro-rated refund?
        .answer
          To cancel your account, please contact our support team. We don't do pro-rated refunds at this time. See the Cancellation Policy for complete details.
      .faq
        .number 10
        .question
          What happens if I sell my business and connections?
        .answer
          Well, that's great news. If you do sell your business, we can always transfer your data to a different account free of charge. We take out the hassle of dealing with this kind of stuff. So no worries, we have you covered.
  .row-fluid
    .span12
      %h3 For Consumers
      .faq
        .number 1
        .question
          What is Optyn?
        .answer
          Optyn simplifies the way consumers and businesses connect and helps manage the relationship. Optyn offers
          consumers an easy and secure way to follow and/or become customers of businesses, and Optyn allows consumers
          the ability to control the flow of merchant information.
      .faq
        .number 2
        .question
          Is there a charge for Optyn?
        .answer
          No, Optyn is free to consumers.
      .faq
        .number 3
        .question
          How do I set my preferences?
        .answer
          Just login and you can manage your connections with ease.
      .faq
        .number 4
        .question
          What are the ways I can opt-out of a merchant's email communications?
        .answer
          There are two ways to opt-out of a merchant's emails.  To stop emails temporarily, click here and "Inactivate"
          the merchant account.  When you want to re-activate the account just click xxxx. After the account has been
          re-activated, you will be able to access the emails sent during the inactivation period.  To permanently stop
          emails from a merchant, click here to "Revoke Permission".  If you decide at a later date that you would once
          again like to receive emails from the merchant, you will have to opt-in through Optyn as though it
          was a new merchant.  Any emails that merchant sent during the time the permission was revoked would not be
          available to you.
      .faq
        .number 5
        .question
          Can I temporarily cancel or suspend my Optyn Account?
        .answer
          We can shutdown your account for you if you need it. Please contact our support team.
      .faq
        .number 6
        .question
          How do I cancel my Optyn account and what happens if I do?
        .answer
          Please contact our support team.
