= display_title "Optyn - How it works | FAQs"
.row-fluid
  .span12
    %h1
      Frequently Asked Questions
/ faq
#faq
  .row-fluid
    .span12
      %h3 For Merchants
      .faq
        .number 1
        .question
          What is Optyn?
        .answer
          Optyn simplifies the way consumers and businesses connect and helps manage the relationship. Optyn offers
          merchants a platform that automates the process of connecting with customers and followers and brings more
          structure and simplicity to email marketing to them.
      .faq
        .number 2
        .question
          How can my customers enroll in Optyn?
        .answer
          Customers can enroll in Optyn either at your store or on your website.
      .faq
        .number 3
        .question
          How do I manage my merchant account?
        .answer
          coming soon.
      .faq
        .number 4
        .question
          How do I create an email for my users?
        .answer
          coming soon
      .faq
        .number 5
        .question
          What types of emails can I create?
        .answer
          There are X basic emails that are available.
      .faq
        .number 6
        .question
          What does Optyn cost?
        .answer
          Optyn has three basic plans. Pricing is based on the number of emails you send a month.
          For more details, see xxx.
      .faq
        .number 7
        .question
          How do I make payments?
        .answer
          All payments are made via credit or debit card.  Merchants must ensure that their payment card details
          (whether credit or debit) are kept up to date. If we are unable to process payment from your Merchant card,
          we will suspend access to the Merchant Membership until we receive details of a valid credit or debit card.
      .faq
        .number 8
        .question
          Can I temporarily cancel or suspend my account?
        .answer
          If you temporarily need to suspend your account, please contact our support.
      .faq
        .number 9
        .question
          If I cancel my account, will I get a pro-rated refund?
        .answer
          To cancel your account, login to your account and select the “membership options” link at the bottom of the
          page, then follow instructions regarding cancelation. All cancelation requests must be received by the
          first day of the month. Cancelation requests received after the first of the month shall take effect the
          following month.  See the Cancellation Policy for complete details.
      .faq
        .number 10
        .question
          What happens if I sell my business and connections?
        .answer
          Well, that's great news. If you do sell your business, we can always transfer your connections to a different account free of charge. We take out the hassle of dealing with this kind of stuff. So no worries, we got you covered.
  .row-fluid
    .span12
      %h3 For Consumers
      .faq
        .number 1
        .question
          What is Optyn?
        .answer
          Optyn simplifies the way consumers and businesses connect and helps manage the relationship. Optyn offers
          consumers an easy and secure way to follow and/or become customers of businesses, and Optyn allows consumers
          the ability to control the flow of merchant information.
      .faq
        .number 2
        .question
          Is there a charge for Optyn?
        .answer
          No, Optyn is free to consumers.
      .faq
        .number 3
        .question
          How do I set my preferences?
        .answer
          coming soon
      .faq
        .number 4
        .question
          What are the ways I can opt-out of a merchant's email communications?
        .answer
          There are two ways to opt-out of a merchant's emails.  To stop emails temporarily, click here and "Inactivate"
          the merchant account.  When you want to re-activate the account just click xxxx. After the account has been
          re-activated, you will be able to access the emails sent during the inactivation period.  To permanently stop
          emails from a merchant, click here to "Revoke Permission".  If you decide at a later date that you would once
          again like to receive emails from the merchant, you will have to opt-in through Optyn as though it
          was a new merchant.  Any emails that merchant sent during the time the permission was revoked would not be
          available to you.
      .faq
        .number 5
        .question
          Can I temporarily cancel or suspend my Optyn Account?
        .answer
          Coming soon
      .faq
        .number 6
        .question
          How do I cancel my Optyn account and what happens if I do?
        .answer
          Coming Soon
