#title_header
  %h3
    Frequently Asked Questions.
/ faq
#faq.faq_page
  .container
    / list
    .row
      .span12
        .faq
          .number 1
          .question
            What is Optyn?
          .answer
            A Very Good Question. Optyn is about to change your life
            %br/
            %br/
            For Consumers.
        .faq
          .number 2
          .question
            Why is Optyn so awesome?
          .answer
            Optyn is Really
