= display_title "Free Email Marketing Software - Learn how you can have it FREE for life!"
= display_meta_description "With Optyn you can create email campaigns in 2 minutes of less! Find out how you can have ptyn FREE for life!", "free email marketing software, email marketing software free, free email list software, free software for email marketing, freeware email marketing software, email marketing software free download, free marketing email software, email marketing free software, email marketing software freeware, free download email marketing software, email automation software free, free online email marketing software, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :free_email_marketing_software

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Free Email Marketing Software
    %h2 Optyn offers free email marketing software for life. We help you grow.
    = image_tag( 'free-email-marketing-software.jpg', alt: 'free email marketing software', class: 'pull-right img-polaroid', title: 'Free Email Marketing Software' )
    %p 
      We want to show you how powerful our software is. That's why we are offering our email marketing software free of charge to every new signup. We will give you the ability to send out unlimited emails to up to 100 of your email subscribers. The best part is that we don't require a credit card.  
    %p
      You can take advantage of our free email marketing software and experience a new generation of email marketing software. Each new free account gets access to all of the features as well as the ability to send unlimited emails. 
    %p
      Our free email list software offers:
      %ul.bullet-disc
        %li Email marketing free software. Yes, this is 100% true and no gimmicks. We don't play the feature game. You can sign up and start sending emails out in less than 2 minutes.
        %li This email marketing free software is perfect way to learn and grow at the same time. We show you how to take advantage of engaging your customers and give you best practices that are built in to make sure you are successful. 
        %li This email automation software free offer comes with all other automation features including marketing syndication and other integrated marketing abilities.
        %li The software is accessible 24/7 as long as you have an internet connection. The free online email marketing software is perfect if you are on the go and it's mobile friendly for iPhone and Android devices.
        %li This email marketing software free download is available at any time. You can use it as it does not require a download.
    %p
      We want you to grow and we want you to grow with us. Our free software for email marketing is perfect to get started and it takes less than one minute to sign up. Sign up for free today and see how Optyn can help you grow your business.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space