= display_title "Free Email Marketing by Optyn - Helping business grow!"
= display_meta_description "Find out how Optyn email marketing can be yours free for life! No credit card needed to sign up!", "free email marketing, email marketing free, free email marketing program, free email advertising, email marketing freeware, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :free_email_marketing

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Free Email Marketing
    %h2 Optyn offers free email marketing for life. We help you grow.
    = image_tag( 'free-email-marketing.jpg', alt: 'free email marketing', class: 'pull-right img-polaroid', title: 'Free email marketing' )
    %p 
      We want to earn your business the good old-fashioned way - with trust. That's why we are offering a free email marketing account to every person who signs up. We will give you the ability to send out unlimited emails to up to 100 of your email subscribers. The best part is that we don't require a credit card.  
    %p
      You can enjoy our free email marketing program along with many other features that we offer. You get access to all features and a full account. 
    %p
      Our Free email marketing program offers:
      %ul.bullet-disc
        %li 
          %a{:href => email_marketing_path, :alt => "Email Marketing", :title => "Email Marketing"} Email marketing 
          free of charge. No upfront cost and no credit card is required to get started.
        %li Free email advertising to your customers. Upload your list or use our email capture widget to grow your list.
        %li Easy to use software to get you going and engage your customers in 2 minutes or less. 
        %li ...and so much more. 
    %p
      We want you to grow and we want you to grow with us. Our email marketing freeware is perfect to get you started on the path of success. Sign up for free today and see how Optyn can help you grow your business.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space
