= display_title "Free Newsletter Software"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = marketing_path )
      Marketing Software
      %span
    %a( href = email_marketing_path )
      Email Marketing
      %span
    %a.current( href = free_newsletter_software_path)
      Free Newsletter Software
      %span

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Free Newsletter Software
    %h2 Take advantage of our free newsletter software
    = image_tag( 'free-newsletter-software.jpg', alt: 'free newsletter software', class: 'pull-right img-polaroid' )
    %p 
      We love our customers. That's why we offer free newsletter software that is 100% free to get started. Yes, we mean it. We want to earn your business the old fashion way and show you how awesome our product is. That's why we are offering free email newsletter software.
    %p
      Sign up today and see the power of Optyn's newsletter software. You can create awesome newsletters in 2 minutes or less and much more.
    %p
      Our Free newsletter software helps you:
      %ul.bullet-disc
        %li Create awesome email newsletters for free. All of our newsletters are customizable and the best part is that they are mobile responsive too.
        %li Easily Upload your customer list and send them nice, mobile responsive newsletters and more.
        %li Enjoy Optyn's all other features for free. We don't just help you create nice newsletters but we do so much more. Enjoy it as part of this free offer.
    %p
      The newsletter software free offer is available to everyone so don't be shy. Go ahead and take advantage of our email newsletter software free offer. It takes less than a minute to sign up and less than 2 to send out a campaign. Get started today.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space