= display_title "Optyn.com - Simple e-mail marketing for everyone."
= display_meta_description "Optyn improves the marketing relationship between businesses and their customers. We help businesses easily engage their customers, while giving tools to consumers to help them manage their incoming marketing communications.", "optyn, opt-in, opt in, email marketing, universal opt-in, universal opt in, customer engagement, engagement marketing, local marketing, local e-mail marketing"
/New Content          
#home
  .main-area
    .headline
      .slogan1
        %h3
          Simple E-Mail Marketing
      .slogan2
        %h3
          for Everyone!
    .span6.consumer
      %h3
        For Consumers
      .content
        %strong
          Connect to Businesses Like NEVER before. Optyn puts you in control of how you are being marketed to and most importantly which information you share...and so much more.
      %h4
        You are one step away from a better Life!
      .buttons
        %a.btn.startbutton{:href => new_user_registration_path} Get Started
        %a.btn.quickvid{:href => consumer_features_path} Learn More
        /%span
        /%a{:href => consumer_features_path} Learn More
    .span6.merchant
      %h3
        For Businesses
      .content
        %strong
          The fastest e-mail marketing platform that lets you create marketing promotions within 2 minutes or less.
          %br
          We help you capture customers in-store and online.
      %h4
        Get Started with a FREE Account for Life!
      .buttons
        %a.btn.startbutton{:href => new_merchants_manager_registration_path} Get Started
        %a.btn.quickvid{:href => merchant_features_path} Learn More
        /%span
        /%a{:href => merchant_features_path} Learn More