.m-i
  .row-fluid
    .span12
      %h1.pull-left
        %span
          Marketing Made Simple
        %br
        %span
          for Small Businesses
  .row-fluid
    .span4.box-white.signup
      %h2 Start marketing to your customers right away.
      %h5 It takes 2 minutes to create a campaign.
      %a{ href: new_merchants_manager_registration_path, class: 'btn btn-large btn-success btn-block' }
        Get started for FREE!
    .span4.offset4.box-white.vid-lnk
      Darren & Ross, Owners of Alley Gallery
      %br
      Evanston, IL
      /%br
      /%i.icon-facetime-video
      /See how Darren & Ross use Optyn.

:javascript
  $( function() {
    $("#show-vid").colorbox({iframe:true, innerWidth:640, innerHeight:390});
  });
