= display_title "Optyn.com - The Simplest Marketing Tool for Small Businesses."
= display_meta_description "Optyn improves the marketing relationship between businesses and their customers. We help businesses easily engage their customers, while giving tools to consumers to help them manage their incoming marketing communications.", "optyn, opt-in, opt in, email marketing, universal opt-in, universal opt in, customer engagement, engagement marketing, local marketing, local e-mail marketing"
/New Content
:javascript
  $(function(){
    if(window.chrome) {
       $('#get-started').hide();
    } else {
       $('#download-extension').hide();
    }

    $("#consumer_video_container").colorbox({iframe:true, innerWidth:640, innerHeight:390});
    $("#merchant_video_container").colorbox({iframe:true, innerWidth:640, innerHeight:390});
  });
#home
  .main-area
    .headline
      .slogan1
        %h3
          Marketing Made Simple
      .slogan2
        %h3
          for Small Businesses
    .span6.consumer
      %h3
        For Consumers
      .content
        %strong
          Engage with favorite brands and merchants on your own terms. Optyn eliminates spam and allows you to control what marketing emails you receive and how often you receive them. Manage your email subscriptions with ease!
      %h4
        You are one click away from a simplified inbox!
      .buttons
        %a.btn.startbutton#get-started{:href => new_user_registration_path} Get Started
        %a.btn.startbutton#download-extension{:styles => 'display: none;' ,:href => "#", :onclick => "chrome.webstore.install('', function(a){console.log(a);}, function(a){console.log(a);}); return false"} Download Chrome Extension
        %a.btn.quickvid{:href => "//www.youtube.com/embed/xL8lHQMyVJ8?autoplay=1", :id => "consumer_video_container"} Watch Video
        /%span
        /%a{:href => consumer_features_path} Learn More
    .span6.merchant
      %h3
        For Businesses
      .content
        %strong
          Create and send email campaigns to your customers in under 2 minutes! Optyn is the fastest and easiest e-mail marketing platform AND we help you capture customers in-store and online.
      %h4
        Get started with a FREE account for life!
      .buttons
        %a.btn.startbutton{:href => new_merchants_manager_registration_path} Get Started
        %a.btn.quickvid{:href => "http://www.youtube.com/embed/w13YkiT1J7E?autoplay=1", :id => "merchant_video_container"} Watch Video
        %span
          %a{:href => merchant_features_path} Learn More
