= display_title "Optyn - E-Mail Marketing for Small Businesses"
= display_meta_description "Try Optyn for FREE today and see how our email marketing can help you engage and acquire customers online and offline.", "local marketing tools, email marketing, email marketing for smbs, small businesses, small business marketing, customer engagement, customer acquisition, email marketing software, email marketing tips"
.m-i
  .row-fluid
    .span12
      %h1.pull-left
        %span
          Email Marketing Made Simple
        %br
        %span
          for Small Businesses
  .row-fluid
    .span4.well.signup
      %h2 Start marketing to your customers right away.
      %h5 It takes 2 minutes to create an email campaign.
      %a{ href: new_merchants_manager_registration_path, class: 'btn btn-large btn-success btn-block' }
        Get started for FREE!
    .span4.offset4.well.vid-lnk
      Ross & Darren, Owners of Alley Gallery
      %br
      Evanston, IL
      /%br
      /%i.icon-facetime-video
      /See how Darren & Ross use Optyn.


.row-fluid.lp-next-fold{ 'data-scrollTo' => 'target1' }
  .arrow-down
    %a{ href: '#', 'data-scrollTo' => 'target1' }
      %i.icon-angle-down
  %div Not convinced? Learn more.


.row-fluid.lp-testimonials.no-pad.lp-usp-0
  %blockquote.span8.offset2
    %i.icon-quote-left
    Optyn's email marketing software helped us increase our reach to our current clients and it even brought many new faces in.
    %i.icon-quote-right
.row-fluid.lp-testimonial-by
  .span12
    %i.icon-caret-down
    = image_tag 'chez.png', alt: 'Chez of Joel Bistro', class: 'Chez'
    %span.author Ahmed K.
    %span.designation &laquo; Chez Joel Bistro, Chicago, IL &raquo;


.row-fluid.lp-usp-1
  .span6
    %h3 So much more than Email Marketing!
    %p Optyn offers email marketing software that was designed and created by industry experts. The approach was to create an email marketing platform with email marketing best practices in mind. Not only is it simple and easy to use, but our email deliverability ensures the highest possible performance of any email software available today; through our expertise and research we also developed campaigns that will help you maximize your return on investment.
    .blank-space
    .text-center
      %a.btn.btn-success.btn-large{ href: new_merchants_manager_registration_path } Get started for FREE!
  .span6
    %a#m-feat-vid{ href: 'https://www.youtube.com/embed/qeT4ss-mlS4?autoplay=1', class: '' }
      = image_tag 'lp-video.jpg', alt: 'See video'


.row-fluid.text-center.lp-usp-2
  .span12
    %h2
      Evolution of E-mail Marketing has begun ...
      %br
      Optyn has built-in
      %strong Automation and Syndication
    %p Why? Because these things matter and you shouldn't worry about it.


.row-fluid.lp-next-fold{ 'data-scrollTo' => 'target2' }
  .arrow-down
    %a{ href: '#', 'data-scrollTo' => 'target2' }
      %i.icon-angle-down
  %div Don't want to lift a finger?


.row-fluid.lp-usp-3
  .span12
    %h2.text-center
      Let us do all the
      %strong work for you
    .row-fluid
      .well.span6.offset3
        %p Our managed services allow you to take advantage of our Business Builder, a service that does all of your marketing for you.
        %p Every month, we provide you with a marketing plan, execute it for you, and present you the results.
        %p All of this for a flat fee of $200/mo. An unbeatable price for an unbeatable and vital service to your business.
        .blank-space
        .text-center
          %a.btn.btn-success.btn-large{ href: new_merchants_manager_registration_path } Get started for FREE!


:javascript
  $( function() {
    $("#m-feat-vid").colorbox({iframe:true, innerWidth:640, innerHeight:390});

    $( '.lp-next-fold a' ).click( function() {
      // Scroll to next fold.
      $.scrollTo( "[data-scrollTo = " + $( this ).attr( 'data-scrollTo' ) + "]", 300 );
    });
  });
