= display_title "Optyn.com - The Simplest Marketing Tool for Small Businesses."
= display_meta_description "Optyn improves the marketing relationship between businesses and their customers. We help businesses easily engage their customers, while giving tools to consumers to help them manage their incoming marketing communications.", "optyn, opt-in, opt in, email marketing, universal opt-in, universal opt in, customer engagement, engagement marketing, local marketing, local e-mail marketing"


%section.row-fluid
  .span6.businesses.has-heading
    %h3 Simple marketing is here
    %h4 WHY
    .line1 Every business needs to use optyn
    .line2 The simplest marketing tools that work for you
    %h4 HOW
    .line1 Businesses will be benefited by using optyn
    .line2 Automatically capture online and in-store customers
    %h4 WHAT
    .line1 Every business needs to use optyn
    .line2 The simplest marketing tools that work for you
    %p.margin_top Easy hassle. Works for free.
    .btn-orange
      %a{ :href => new_merchants_manager_registration_path, class: 'btn btn-warning btn-large' } Get started for FREE
    %a.bordered{ :href => '#' } Learn more
    %a.bordered{ :href => merchant_features_path } Features
    %a.bordered{ :href => new_user_session_path } Log in
  .span6.consumers.has-heading
    %h3 Your marketing inbox has arrived
    %h4 WHY
    .line1 Everybody should use optyn
    .line2 opt-in to any website and control what personal information you share
    %h4 HOW
    .line1 Everyone will be benefited by using optyn
    .line2 All of your subscriptions in one place
    %h4 WHAT
    .line1 You get as an individual using optyn
    .line2
      Explore new places, subscriptions and more
      %br
      Protect your information and eliminate spam
    %br
    #chrome-icon-button.btn-orange.icon_chrome
      %a{ :href => '#', class: 'btn btn-warning btn-large' } Download Chrome plugin
    #consumer-get-started.btn-orange
      %a{ :href => user_registration_path } Get started Now!  
    %br
    %p Let's track and opt-in to any website and puts you in control

.row-fluid.hdg
  %a.scroll-down{ :href => '#' }
  %h2.navy Still not convinced?

%section.row-fluid.features
  .span6.businesses
    %h3 What we can do for your businesses?
    %ul
      %li.mktg Easiest marketing solutions for SMBs.
      %li.auto Automated marketing and engagement.
      %li.get The easiest way to get customers into program.
      %li.free Free for upto 100 customers. All features included. No gimmicks.
    .btn-orange
      %a.btn.btn-warning.btn-large{ :href => new_merchants_manager_registration_path } Get started for FREE
    %a.bordered{ :href => merchant_features_path } Features
    %a.bordered{ :href => pricing_path } Pricing

  .span6.consumers
    %h3 This is the cool stuff you get
    %ul
      %li.mktg All of your marketing messages + subscriptions at one place.
      %li.easy opt-in with confidence. Worry, hassle and spam free.
      %li.ctrl You are finally in control of your information.
      %li.cool Explore cool places, new subscriptions and much more.
    .btn-orange
      %a.btn.btn-warning.btn-large{ :href => new_user_registration_path } Get started for FREE
    %a.bordered{ :href => consumer_features_path } Features
    %a.bordered{ :href => '#' } Download Chrome plugin

.row-fluid.hdg
  %a.scroll-down{ :href => '#' }
  %h2.navy What? Still not convinced?

%section.row-fluid.videos
  .span6.businesses
    %a.light.video{ :href => "http://www.youtube.com/embed/w13YkiT1J7E?autoplay=1", :id => "merchant_video_container"}
    %p Check out this awesome + quick video that tells you more
  .span6.consumers
    %a.dark.video{ :href => "http://www.youtube.com/embed/xL8lHQMyVJ8?autoplay=1", :id => 'consumer_video_container'}
    %p Check out this awesome + quick video that tells you more

.row-fluid.hdg
  %a.scroll-down{ :href => '#' }
  %h2.navy Are you frikken kiddin?

%section.row-fluid.sign-up
  .span6.businesses
    %p A whole new world awaits!
    %form
      %input{ :type => 'text', :placeholder => 'Sign up with email' }
      %input{ :type => 'submit', :value => 'Sign up' }
    %aside
      Clicking sign up you agree to Optyn's
      %a{ :href => terms_path } Terms of Use
    %p Or sign up with Social account
    %a{ :href => '#', :class => 'icon google' } Google Plus
    %a{ :href => '#', :class => 'icon twitter' } Twitter
    %a{ :href => '#', :class => 'icon facebook' } Facebook
  .span6.consumers
    %p Your customers are waiting
    %form
      %input{ :type => 'text', :placeholder => 'Sign up with email' }
      %input{ :type => 'submit', :value => 'Sign up' }
    %aside
      Clicking sign up you agree to Optyn's
      %a{ :href => terms_path } Terms of Use
    %p Or sign up with Social account
    %a{ :href => '#', :class => 'icon google' } Google Plus
    %a{ :href => '#', :class => 'icon twitter' } Twitter
    %a{ :href => '#', :class => 'icon facebook' } Facebook

:javascript
  $( document ).ready( function() {
    // Scroll functionality.
    $( '.hdg' ).click( function() {
      $.scrollTo( $( this ), 300 );
    });
  });

  $(function(){
    if(window.chrome) {
       $('#consumer-get-started').hide();
    } else {
       $('#chrome-icon-button').hide();
    }

    $("#consumer_video_container").colorbox({iframe:true, innerWidth:640, innerHeight:390});
    $("#merchant_video_container").colorbox({iframe:true, innerWidth:640, innerHeight:390});
  });