.m-i
  .row-fluid
    .span12
      %h1
        %span
          Marketing Made Simple
        %br
        %span
          for Small Businesses
  .row-fluid
    .span4.box-white.signup
      %h2 Start marketing to your customers right away.
      %h5 It takes 2 minutes to create a campaign.
      %form
        /%input{ type: 'text', placeholder: 'enter your Business name', 'data-toggle' => 'tooltip', title: 'Please enter your business name.', 'data-placement' => 'right' }
        /%input{ type: 'text', placeholder: 'enter your email', 'data-toggle' => 'tooltip', title: 'Please enter your email address.', 'data-placement' => 'right' }
        /%input{ type: 'password', placeholder: 'enter your password', 'data-toggle' => 'tooltip', title: 'Please enter your password.', 'data-placement' => 'right' }
        /%input{ type: 'password', placeholder: 'confirm your password', 'data-toggle' => 'tooltip', title: 'Please confirm your password by entering the same as above.', 'data-placement' => 'right' }
        %input{ type: 'button', value: 'Get started for free', class: 'btn btn-large btn-success' }
    .span4.offset4.box-white.vid-lnk
      Darren & Ross, Owners of Alley Gallery
      %br
      Evanston, IL
      /%br
      /%i.icon-facetime-video
      /See how Darren & Ross use Optyn.

:javascript
  $( function() {
    $("#show-vid").colorbox({iframe:true, innerWidth:640, innerHeight:390});
  });
