= display_title "Customer Loyalty Marketing for Small Businesses"
= display_meta_description "Optyn help small business create a loyal customer base through the Campaign Center.", "online loyalty programs, best customer loyalty programs, building customer loyalty, loyalty program, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = marketing_path )
      Marketing Software
      %span
    %a.current( href = loyalty_marketing_path)
      Loyalty Marketing
      %span

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s CUSTOMER LOYALTY MARKETING
    %h2 Loyalty is a two way relationship. We make it easy to incentivize your best customers.
    = image_tag( 'loyalty-marketing.jpg', alt: 'loyalty marketing', class: 'pull-right img-polaroid' )
    %p 
      Customer Loyalty Marketing is an ambiguous term. Most small businesses understand the value of a repeat customer who continuous to come back and support your business. Optyn is offers one of the best customer loyalty programs that is fueled by our Campaign Center. Those customers can be one of your most valued marketing assets and utilize them is vital to your word-of-mouth strategy.
    %p
      Optyn’s Loyalty Marketing platform allows you to easily build your loyalty program:
      %ul.bullet-disc
        %li Identify your best customers and reward them.
        %li Use your Best Customers as advocates during contests and sweepstakes.
        %li Reward your customers in various ways.
        %li Run specials, coupons, and more only for specific types of customers like best sharers and most frequent visitors.
        %li Create and Send awesome Thank you promotions.
    %p
      Saying thank you to your best customers with a reward type of promotion will make sure you continue to find and make your customers for life. Start building customer loyalty by using Optyn today for free and start rewarding your most loyal customers.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space