= display_title "Promotional Marketing for Small Business - Learn to maximize your return!"
= display_meta_description "Create marketing promotions for your small business with Optyn's powerful marketing software.", "marketing promotions, promotional marketing, promotions, run a promotions, promotion sofware, small business marketing software, marketing promotions software"

.row-fluid.breadcrumbs
  - breadcrumb :marketing_promotions

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Promotional Marketing
    %h2 Be proactive with Marketing and improve sales with Promotional Marketing.
    = image_tag( 'marketing-promotions.jpg', alt: 'marketing-promotions', class: 'pull-right img-polaroid', title: 'Marketing Promotions' )
    %p 
      The first lesson of marketing is that you have to be proactive. You have to do something in order to attract new customers or existing customers. Marketing promotionl items are a great way to engage existing customers, improve a customer lifetime value, and your monthly sales cycle. Optyn’s marketing software gives you simple and effective ways to create marketing promotions in as little as 2 minutes.
    %p
      Create Marketing promotions with Optyn such as:
      %ul.bullet-disc
        %li Coupons - A great way to get customers into the door. Optyn also helps you syndicate your coupons with our Marketing Syndication service that allows you to attract new customers to your business.
        %li Specials - A special is not good if you don’t announce it to all of your customers and potential prospects. Optyn helps you easily create and announce specials.
        %li Sales - Sales are a great way to keep customers engaged, move inventory, and creat a buzz around your business and product. We help you syndicate your message across your customer base and the web.
        %li Contests and Sweepstakes - Holding a contest allows you to utilize your existing customer base and get new customers with a simple product giveaway. The ROI is tremendous.
    %p
      Start engaging your customers and start attracting new ones today. Create a marketing promotion for free with Optyn. If you need assistance, our marketing experts would be delighted to assist you with marketing promotionn ideas. Reach out to us and get started today!
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space


