= display_title "Marketing Software for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'
.op-sitemap
  .row-fluid
    .span12
      %h1 Marketing Products and Services

  .row-fluid
    .span3
      %h4 E-Mail Marketing
      %ul
        %li
          %a{ :href => '/marketing/email-marketing' } E-Mail Marketing
        %li
          %a{ :href => '/marketing/email-marketing/mobile-responsive-emails' } Mobile Responsive E-Mails
        %li
          %a{ :href => '/marketing/email-marketing/capturing-customer-emails' } Capturing Customer E-Mails
        %li
          %a{ :href => '/marketing/email-marketing/email-deliverability' } E-Mail Deliverability


    .span3
      %h4 Small Business Marketing
      %ul
        %li
          %a{ :href => '/marketing/social-media-marketing'} Social Media Marketing
        %li
          %a{ :href => '/marketing/marketing-automation' } Marketing Automation
        %li
          %a{ :href => '/marketing/marketing-syndication'} Marketing Syndication
        %li
          %a{ :href => '/marketing/marketing-recommendation'} Marketing Recommendation
        %li
          %a{ :href => '/marketing/online-marketing'} Online Marketing
        %li
          %a{ :href => '/marketing/automated-marketing'} Automated Marketing
        %li
          %a{ :href => '/marketing/loyalty-marketing'} Loyalty Marketing
        %li
          %a{ :href => '/marketing/customer-retention'} Customer Retention
        %li
          %a{ :href => '/marketing/marketing-analytics'} Marketing Analytics 
        %li
          %a{ :href => '/marketing/digital-marketing'} Digital Marketing
        %li
          %a{ :href => '/marketing/marketing-collaboration'} Marketing Collaboration
        %li
          %a{ :href => '/marketing/multi-channel-marketing'} Multi-channel Marketing
    .span3
      %h4 Marketing Promotions
      %ul
        %li
          %a{ :href => '/marketing/marketing-promotions'} Marketing Promotions
        %li
          %a{ :href => '/marketing/coupons'} Coupons
        %li
          %a{ :href => '/marketing/contests' } Contests
        %li
          %a{ :href => '/marketing/surveys'} Surveys
        %li
          %a{ :href => '/marketing/specials-and-sales'} Specials and Sales

    .span3
      %h4 Resource Center
      %ul
        %li
          %a{ :href => '/resources'} Check out our Resource Center for Small Businesses
  .blank-space
