= display_title "Collaborate Online"
= display_meta_description "Marketing collaboration for small or large teams has never been easier! Try Optyn and find out why!", "group collaboration software, free online collaboration software, marketing collaboration, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :marketing_collaboration

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Collaborate Online
    %h2 Teams can collaborate on Marketing efforts and campaigns with ease.
    = image_tag( 'marketing-collaboration-for-teams.jpg', alt: 'marketing collaboration', class: 'pull-right img-polaroid', title: 'Marketing Collaboration' )
    %p 
      We know that two are better than one. We know that sometimes putting two heads together to accomplish a better outcome is worth it. Optyn offers marketing collaboration software for marketing teams, business partners, and managers to easily collaborate on creating powerful and engaging marketing content.
    %p
      The best part is that we don’t charge you anything extra for it. Yep, you heard it right. you aren’t paying a user or “chair” fee. In simplest terms, it is pretty much a FREE online collaboration software! Invite as many people as you’d like to help you get things done. You can give certain people access to certain sections only so you can still be in charge.
    %p
      Get started with Optyn for free today and get your team involved and your marketing on track!
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space
