= display_title "Marketing Syndication for Small Businesses - Distribute your marketing for free!"
= display_meta_description "Optyn's marketing syndication allows yout to spread your marketing campaign all over the internet automatically! Plus, it is FREE!", "marketing syndication, syndicated marketing, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = marketing_path )
      Marketing Software
      %span
    %a.current( href = marketing_syndication_path)
      Marketing Syndication
      %span

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Marketing Syndication
    %h2 Syndicate and spread your marketing campaigns across the web for free and automatically.
    = image_tag( 'marketing-syndication.jpg', alt: 'marketing syndication', class: 'pull-right img-polaroid' )
    %p 
      Most people don’t know what Marketing Syndication is. Perhaps, it’s because we have coined the term and below explained the best use of Marketing Syndication for small businesses.
    %p
      Creating Marketing Campaigns is fun. Getting them into different formats for syndication can be a nightmare. Sharing it on social media, posting on local directory sites, and much more can quickly become a hassle for any marketer, yet alone a Freddie Krueger nightmare for the busy business owner. 
    %p
      In fact, we pride ourselves to be the easiest marketing product for small businesses. The other great benefit is that it is more than just email marketing. Our product takes advantage of email marketing but it integrates other multi channels like social media to give merchants and small businesses an easy way to reach their customers.
    %p
      Optyn solves all of this. We make it easy for you to create one marketing campaign and then splash it across the web. Optyn’s Marketing Syndication Service helps you:
      %ul.bullet-disc
        %li Share your content to social media with 1 click.
        %li Share your Sale and Special Announcement to local directory sites like locu, yelp, and more.
        %li Engage your audience via email and social networks like Facebook and Twitter. 
        %li Syndicate your coupon offering that allows you to get more customers for free to companies like google offers, coupon capin, and more.
        %li We provide great analytics and show you where new customers come from and how existing customer interact with you through different channels.

    %p
      No more need to do all the tedious work of spreading your content. We help you accomplish all of it….and all in one click. Sign up for free today and get your business noticed, and grow your customer base and most importantly push your business into the right direction.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space