= display_title "Marketing Analytics for Small Businesses"
= display_meta_description "How do you know if your marketing efforts are paying off? Optyn offer marketing analytics that help you track and improve your marketing!", "marketing analytics, email marketing analytics, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :marketing_analytics

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Marketing Analytics
    %h2 Know your customers, what they do and most importantly, know your ROI.
    = image_tag( 'marketing-analytics.jpg', alt: 'customer retention', class: 'pull-right img-polaroid' )
    %p 
      There are a lot of companies providing marketing analytics. But in order to make sense of these stats and analytics you have to be a Statistics or Predictive Analytics major. Marketing Analytics for small businesses should be intuitive, powerful, but very easy to understand and act on.
    %p
      Optyn’s Marketing Analytics allows our customers to have a glimpse of their entire customer base and more. Our marketing software gives you the ability to:
      %ul.bullet-disc
        %li Identify and understand best performing channels (email, social, web).
        %li View important actions of your customers. Opens and clicks don’t cut it anymore. You need more like Redemptions, Shares, and Engagements.
        %li Track your ROI. For every $1 you spend, you’ll know your Real-Time Return on Investment.
        %li We automatically segment your customers and create cohorts for you.
        %li Access different types of reports that are campaign specific or customer specific.
        %li View a snapshot of a relationship with one customer or all of them.
    %p
      Marketing Analytics are a great way to know what you are doing right or wrong. We make it even simpler and give you insights like never before. All of our reporting and analytics tools are included with every account. From social to email marketing analytics, we have you covered! Try us for free today.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space

