.marketing-agency
  %h1.text-center Marketing and growing your business is hard. We make it easy!

  .row-fluid
    .span8.translucent-white
      %h4 Optyn's Marketing Manager is perfect for the busy business owner. We take care of ALL of your marketing efforts and you don't have to lift a finger.

      %p Optyn's Managed Services allow you to be worry free and utilize our on-staff marketing efforts to help you execute your monthly marketing plan.

      %h5 Every month, we provide you with:

      %ul.bullet-disc
        %li A monthly marketing plan that we execute for you.
        %li Previous month's marketing report.
        %li Bonus reports to improve your online marketing and web presence.
        %li 2 hours of free consulting services.
        %li Tools to capture your audience and reach.
        %li A bigger customer base dedicated Marketing Expert you can call. Get in touch with us today and learn more and get started.

      %h5 Featured partners for $200/month, you have the peace of mind gaurantee that your business has a marketing expert!

      .blank-space

      .row-fluid
        .span4.text-center
          = image_tag( 'smp.png', alt: 'Simple markting plan' )
        .span4.text-center
          = image_tag( 'smr.png', alt: 'Sample month report' )
        .span4.text-center
          = image_tag( 'sbr.png', alt: 'Sample bonus report' )

    .span4.translucent-white
      %h5.text-center Put your business into overdrive
      %form.row-fluid
        %input.span12( type='text' data-toggle = 'tooltip' title = 'Your name' placeholder = 'Your name' )
        %input.span12( type='text' data-toggle = 'tooltip' title = 'Your company' placeholder = 'Your company' )
        %input.span12( type='text' data-toggle = 'tooltip' title = 'Your phone number' placeholder = 'Your phone number' )
        %input.span12( type='text' data-toggle = 'tooltip' title = 'Your email address' placeholder = 'Your email address' )
        .blank-space
        .row-fluid
          .span5
            %input.btn-block.btn.btn-primary.btn-large( type='submit' value='submit' )
          .span7
            %small We'll get back in touch with you in 24 hours or less.
      .separator-thin.gray

      .text-center
        %h5 Reach customers on
        %i.icon-facebook
        %i.icon-twitter
        %i.icon-envelope
        %div 50+ more sources catered to you.

  .blank-space

