= display_title "Marketing Ideas for Small Businesses - FREE, Guided Way to Small Business Marketing!"
= display_meta_description "Optyn offers a guided ser of FREE marketing ideas that will ease the pain of marketing for you.", "free marketing ideas, creative marketing ideas, small business marketing ideas, marketing ideas for small business, good marketing ideas, business marketing ideas, great marketing ideas, local marketing ideas, marketing campaign ideas, best marketing ideas, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"

.row-fluid.breadcrumbs
  - breadcrumb :marketing_ideas

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Marketing Ideas
    %h2 Sometimes, you need help. Introducing Marketing Ideas.
    = image_tag( 'marketing-recommendations.jpg', alt: 'email marketing ideas', class: 'pull-right img-polaroid', title: 'Marketing Ideas' )
    %p 
      We know marketing is hard. It can be a daunting tasks to be different and to stand out. Starting out can be a nightmare and we will push you in the right direction through some of the simplest, best marketing ideas. Optyn’s Marketing Ideas algorithm does a lot of good things while you sit and relax.
    %p
      With Optyn, you are able to create wonderful marketing promotions that focus on buzz and virality allowing you to grow your customers and reap the benefits of the digital word of mouth - sharing. We’ll even give you great marketing ideas on what type of contests to run.
    %p
      We take a lot into consideration to serve you with best ways to grow your business and that includes:
      %ul.bullet-disc
        %li Recommend you with type of marketing campaigns to run based on real data.
        %li Starting a Marketing Campaign can be as easy as 1-2-3 with Optyn.
        %li We e-mail you daily, weekly, or monthly marketing ideas and recommendations that you can put into action with just 1 click. 
        %li Marketing Ideas and Recommendations for E-Mail campaigns and Social Media Campaigns.
    %p
      Marketing IS HARD. But just because you might not be keeping up with the latest marketing strategies, consumer quirks, and much more, doesn't mean that you should just give up. We make using our product easy and we want you to use it. From small business marketing ideas to local marketing ideas, Optyn will take care of you. 
    %p
      Now you can. Sign up today for free and start enjoying doing effective marketing like many other small businesses that use our product.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space
