#header1
  .container
    .row
      %h3
        PERFECT for the Small Business, Website, or Organization
#merchant_features
  .container
    .row
      .span6.main
        .image
          %img{:src => "/assets/mf_free.png", :alt => "Free for Life"}
        .copy
          %h3
            FREE for Life. Priced to Grow.
          %p
            Optyn is perfect to get you engaged with your customers. Whatever your size, industry, audience,
            and message, Optyn is a way to start. The first tier is Always FREE and comes with all features. 
            No Gimmicks.
      .span6.main
        .image
          %img{:src => "/assets/mf_versatile.png", :alt => "Simple, Versatile, Powerful"}
        .copy
          %h3
            Simple. Versatile. Powerful.
          %p
            We want to simplify marketing and make your usage of it easier. Optyn is still versatile offering
            all kinds of cool features and APIs.
    .features
      .row
        .span4.feature
          .image
            %img{:src => "/assets/mf_capture.png", :alt => "Easy Customer Capture"}
          .copy
            %h3
              Easy Customer Capture
            %p
              We make capturing customers, online and offline, as easy as 1-2-3. No more hassle and your customers
              will love it.
        .span4.feature
          .image
            %img{:src => "/assets/mf_auto.png", :alt => "Automated Marketing"}
          .copy
            %h3
              Automated Marketing
            %p
              We make Marketing work for you. We hated being in your shoes so we built Optyn as the automated marketing solution.
        .span4.feature
          .image
            %img{:src => "/assets/mf_insights.png", :alt => "Awesome Insights"}
          .copy
            %h3
              Awesome Insights
            %p
              We want to show you the power of Optyn and Marketing in a nice form - awesome insights that are easy to understand.
      .row
        .span4.feature
          .image
            %img{:src => "/assets/mf_segment.png", :alt => "Customer Segmentation"}
          .copy
            %h3
              Customer Segmentation
            %p
              Optyn helps you identify customers on how they interact with you, their loyalty and much more.
        .span4.feature
          .image
            %img{:src => "/assets/mf_choice.png", :alt => "Give Customers a Choice"}
          .copy
            %h3
              Give Customers a Choice
            %p
              By giving customers a choice on how they opt in, they will love you. You will have a better relationship, we guarantee it.
        .span4.feature
          .image
            %img{:src => "/assets/mf_engage.png", :alt => "Engagement Engine"}
          .copy
            %h3
              Engagement Engine
            %p
              Marketing is supposed to be fun. Our engagement engine talks to your customers on an ongoing basis and SELLS for YOU and makes YOU money.
      .row
        .span4.feature
          .image
            %img{:src => "/assets/mf_hasslefree.png", :alt => "Spam Free. Worry Free."}
          .copy
            %h3
              No Spam. Hassle Free. Worry Free.
            %p
              Finally!! Forget about Subject Lines, Complaints, Templates, blah blah. We make marketing easy and hassle free. We are the marketers in this relationship.
        .span4.feature
          .image
            %img{:src => "/assets/mf_pricing.png", :alt => "Pricing you'll love"}
          .copy
            %h3
              Pricing you'll LOVE
            %p
              So everyone starts off free. How awesome is that? The Rest of the way, you pay a small fraction compared to traditional online and email marketing. We guarantee it!
        .span4.feature
          .image
            %img{:src => "/assets/mf_more.png", :alt => "More cool and awesome stuff."}
          .copy
            %h3
              50+ more cool features
            %p
              This is not it...not just yet. We created a lot more features that work for you. They don't just there.
              %a{:href => ""} Check them out!
    .row.bottom
      .span6.creditcard
        %strong
          No Credit Card Required!
        %a.btn.featurestart{:href => new_merchants_manager_registration_path} Get Started
      .span6.pricing
        %strong
        Have a lot of customers?
        %a.btn.viewpricing{:href => "pricing"} View Pricing