.row-fluid.merchant_video_tutorials
  .span12
    %h1 Learn How to Use Optyn
    / %a.btn.pull-right{ href: '#' }
    /   %i.icon-play-sign
    /   Video Tutorial

.row-fluid
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/xL8lHQMyVJ8?autoplay=1' }
      %span
        %i.icon-play-circle
      %span Optyn For Consumers
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/w13YkiT1J7E?autoplay=1' }
      %span
        %i.icon-play-circle
      %span Optyn for Merchants
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/qeT4ss-mlS4?autoplay=1' }
      %span
        %i.icon-play-circle
      %span Optyn - Marketing made simple

.row-fluid
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/nG1S6KFk-aA?autoplay=1' }
      %span
        %i.icon-play-circle
      %span How to Import a Subscriber Email List
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/5fkj6mIIg4I?autoplay=1' }
      %span
        %i.icon-play-circle
      %span Getting Started with Optyn and Setting up your Account
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/9tkYJNsj3QM?autoplay=1' }
      %span
        %i.icon-play-circle
      %span How to Add One or More Subscribers Manually

.row-fluid
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/f5l7etvY8fI?autoplay=1' }
      %span
        %i.icon-play-circle
      %span How to Create a Coupon Campaign with Optyn
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/nJZRucExTyc?autoplay=1' }
      %span
        %i.icon-play-circle
      %span How to Create a General Announcement
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/iniWuU8aA8w?autoplay=1' }
      %span
        %i.icon-play-circle
      %span How to Create a Product Announcement

.row-fluid
  .span4.offset2
    %a.cboxElement{ href: 'https://www.youtube.com/embed/U2YhJLteMp4?autoplay=1' }
      %span
        %i.icon-play-circle
      %span Creating a Custom Newsletter
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/lIUTYsvJOrk?autoplay=1' }
      %span
        %i.icon-play-circle
      %span Setting Up and Customizing your Newsletter


:javascript
  $( function() {
    $(".cboxElement").colorbox({iframe:true, innerWidth:640, innerHeight:390});
  });
