= display_title "Optyn - For Businesses"
= display_meta_description "We give businesses an easy way to acquire customers online and offline", "local marketing tools, email marketing, email marketing for smbs, small businesses, small business marketing, customer engagement, customer acquisition"

.wrapper
  .row-fluid
    .span12
      %h1
        Perfect for the small business, Website, or organization

  #merchant_features
    .row-fluid
      .span6.main
        .copy.mf_free
        %h3
          FREE for Life. Priced to Grow.
        %p
          Optyn is perfect to get you engaged with your customers. Whatever your size, industry, audience,
          and message, Optyn is a way to start. The first tier is Always FREE and comes with all features. 
          No Gimmicks.
      .span6.main
        .copy.mf_versatile
        %h3
          Simple. Versatile. Powerful.
        %p
          We want to simplify marketing and make your usage of it easier. Optyn is still versatile offering
          all kinds of cool features and APIs.

    .row-fluid.features
      .span4.feature
        .copy.mf_capture
        %h3
          Easy Customer Capture
        %p
          We make capturing customers, online and offline, as easy as 1-2-3. No more hassle and your customers
          will love it.
      .span4.feature.blue-bg-2
        .copy.mf_auto
        %h3
          Automated Marketing
        %p
          We make Marketing work for you. We hated being in your shoes so we built Optyn as the automated marketing solution.
      .span4.feature
        .copy.mf_insights
        %h3
          Awesome Insights
        %p
          We want to show you the power of Optyn and Marketing in a nice form - awesome insights that are easy to understand.

    .row-fluid.features
      .span4.feature.blue-bg-2
        .copy.mf_segment
        %h3
          Customer Segmentation
        %p
          Optyn helps you identify customers on how they interact with you, their loyalty and much more.
      .span4.feature
        .copy.mf_choice
        %h3
          Give Customers a Choice
        %p
          By giving customers a choice on how they opt in, they will love you. You will have a better relationship, we guarantee it.
      .span4.feature.blue-bg-2
        .copy.mf_engage
        %h3
          Engagement Engine
        %p
          Marketing is supposed to be fun. Our engagement engine talks to your customers on an ongoing basis and SELLS for YOU and makes YOU money.

    .row-fluid.features
      .span4.feature
        .copy.mf_hasslefree
        %h3
          No Spam. Hassle Free. Worry Free.
        %p
          Finally!! Forget about Subject Lines, Complaints, Templates, blah blah. We make marketing easy and hassle free. We are the marketers in this relationship.
      .span4.feature.blue-bg-2
        .copy.mf_pricing
        %h3
          Pricing you'll LOVE
        %p
          So everyone starts off free. How awesome is that? The Rest of the way, you pay a small fraction compared to traditional online and email marketing. We guarantee it!
      .span4.feature
        .copy.mf_more
        %h3
          50+ more cool features
        %p
          This is not it...not just yet. We created a lot more features that work for you. They don't just there.
          %a{:href => ""} Check them out!
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %p No Credit Card Required!
        %a.btn.btn-primary.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started
      .span6.pricing
        %p Have a lot of customers?
        %a.btn.btn-primary.btn-large.btn-block{:href => "pricing"} View Pricing

:javascript
  $( function() {
    // Code for equal height boxes.
    var equalizeBoxHeights = function() {
      $( '.features' ).each( function( i, v ) {
        var maxHt = 0;
        $( this ).find( '.span4' ).each( function( ii, vv ) {
          ht = parseInt($( this ).css( 'height' ));
          if ( ht > maxHt ) {
            maxHt = ht;
          }
          //$( this ).css( 'height', maxHt + 'px' );
          $( this ).parent().find( '.span4' ).each( function( i, v ) {
            $( this ).css( 'height', maxHt + 'px' );
          });
        });
      });
    };
    equalizeBoxHeights();

    $( window ).resize( function() {
      $( '.features .span4' ).css( 'height', 'auto' );
      if ( $( window ).innerWidth() > 767 ) {
        equalizeBoxHeights();
      }
    });
  });