= display_title "Optyn - For Businesses"
= display_meta_description "We give businesses an easy way to acquire customers online and offline", "local marketing tools, email marketing, email marketing for smbs, small businesses, small business marketing, customer engagement, customer acquisition"

#merchant_features.wrapper
  .row-fluid
    .span12
      %h1
        Perfect for the busy small business owner

  .row-fluid.roomy
    .span6.main
      .copy.mf_versatile
      %h3
        Simple. Versatile. Powerful.
      %p.text-justify
        %h5 We want to simplify marketing and make it simple, fast, and effective for you. We help you create powerful and effective marketing campaigns in 2 minutes or less. Who said you had to be a marketer to be good at it?
    .span6.main
      %a.video.dark#m-feat-vid{ href: 'https://www.youtube.com/embed/qeT4ss-mlS4?autoplay=1' }

  .row-fluid.features
    .span4.feature
      .copy.mf_engage
      %h3
        Engagement Engine
      %p
        Marketing is supposed to be fun. Our engagement engine talks to your customers on an ongoing basis and SELLS for YOU and makes YOU money.
    .span4.feature.blue-bg-2
      .copy.mf_auto
      %h3
        Automated Marketing
      %p
        We make Marketing easy for you. We hated being in your shoes so we built Optyn as the automated marketing solution.
    .span4.feature
      .copy.mf_insights
      %h3
        Awesome Insights
      %p
        We want to show you the power of Optyn and Marketing in a nice form - awesome insights and reporting that are easy to understand.

  .row-fluid.features
    .span4.feature.blue-bg-2
      .copy.mf_segment
      %h3
        Customer Segmentation
      %p
        Optyn helps you identify customers on how they interact with you, their loyalty and much more.
    .span4.feature
      .copy.mf_hasslefree
      %h3
        Hassle Free. Worry Free.
      %p
        Forget about Subject Lines, Complaints, Templates, spam filters, etc. We make marketing easy and hassle free. We are marketers so you don't have to be.
    .span4.feature.blue-bg-2
      .copy.mf_capture
      %h3
        Easy Customer Capture
      %p
        We make capturing customers, online and offline, as easy as 1-2-3. No more hassle trying to figure out forms, and your customers
        will love it.
  .row-fluid.bottom.sign-up
    .span6.creditcard
      %p
        %h5 No Credit Card Required!
      %a.btn.btn-primary.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started
    .span6.pricing
      %p
        %h5 Have a lot of customers?
      %a.btn.btn-primary.btn-large.btn-block{:href => "pricing"} View Pricing

:javascript
$( function() {
  // Code for equal height boxes.
  var equalizeBoxHeights = function() {
    $( '.features' ).each( function( i, v ) {
      var maxHt = 0;
      $( this ).find( '.span4' ).each( function( ii, vv ) {
        ht = parseInt($( this ).css( 'height' ));
        if ( ht > maxHt ) {
          maxHt = ht;
        }
        //$( this ).css( 'height', maxHt + 'px' );
        $( this ).parent().find( '.span4' ).each( function( i, v ) {
          $( this ).css( 'height', maxHt + 'px' );
        });
      });
    });
  };
  window.setTimeout( function() { equalizeBoxHeights(); }, 1000 );

  $( window ).resize( function() {
    $( '.features .span4' ).css( 'height', 'auto' );
    if ( $( window ).innerWidth() > 767 ) {
      equalizeBoxHeights();
    }
  });

  // Initialise video modal.
  $("#m-feat-vid").colorbox({iframe:true, innerWidth:640, innerHeight:390});
});
