= display_title "Email Marketing Video Tutorials by Optyn"
= display_meta_description "We teach you how to do email marketing with our simple video tutorials.", "video tutorials, email marketing how-to, how to do email marketing, email marketing videos, email marketing video tutorials, how to do marketing videos"
.row-fluid.merchant_video_tutorials
  .span12
    %h1 Email Marketing Video Tutorials - Learn the in and outs of Optyn
    /%a.btn.pull-right{ href: '#' }
    /%i.icon-play-sign
    /Video Tutorial

.row-fluid
  - gradient = 'linear-gradient(to right, rgba(0,0,0,0.9) 20%,rgba(0,0,0,0.8) 100%), '
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/5fkj6mIIg4I?autoplay=1' }
      %span{ style: "background-image: " + gradient + "url('http://img.youtube.com/vi/5fkj6mIIg4I/0.jpg');"}
        %i.icon-play-circle
      %span Getting Started with Optyn and Setting up your Account
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/U2YhJLteMp4?autoplay=1' }
      %span{ style: "background-image: " + gradient + "url('http://img.youtube.com/vi/U2YhJLteMp4/0.jpg');"}
        %i.icon-play-circle
      %span Creating a Custom Newsletter
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/nG1S6KFk-aA?autoplay=1' }
      %span{ style: "background-image: " + gradient + "url('http://img.youtube.com/vi/nG1S6KFk-aA/0.jpg');"}
        %i.icon-play-circle
      %span How to Import a Subscriber Email List

.row-fluid
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/lIUTYsvJOrk?autoplay=1' }
      %span{ style: "background-image: " + gradient + "url('http://img.youtube.com/vi/lIUTYsvJOrk/0.jpg');"}
        %i.icon-play-circle
      %span Setting Up and Customizing your Newsletter
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/9tkYJNsj3QM?autoplay=1' }
      %span{ style: "background-image: " + gradient + "url('http://img.youtube.com/vi/9tkYJNsj3QM/0.jpg');"}
        %i.icon-play-circle
      %span How to Add One or More Subscribers Manually
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/f5l7etvY8fI?autoplay=1' }
      %span{ style: "background-image: " + gradient + "url('http://img.youtube.com/vi/f5l7etvY8fI/0.jpg');"}
        %i.icon-play-circle
      %span How to Create a Coupon Campaign with Optyn

.row-fluid
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/nJZRucExTyc?autoplay=1' }
      %span{ style: "background-image: " + gradient + "url('http://img.youtube.com/vi/nJZRucExTyc/0.jpg');"}
        %i.icon-play-circle
      %span How to Create a General Announcement
  .span4
    %a.cboxElement{ href: 'https://www.youtube.com/embed/iniWuU8aA8w?autoplay=1' }
      %span{ style: "background-image: " + gradient + "url('http://img.youtube.com/vi/iniWuU8aA8w/0.jpg');"}
        %i.icon-play-circle
      %span How to Create a Product Announcement


:javascript
  $( function() {
    $(".cboxElement").colorbox({iframe:true, innerWidth:640, innerHeight:390});
  });
