= display_title "Newsletter Software - Easiest way to create and send newsletters!"
= display_meta_description "At Optyn we dedicated our resources to bring every small business the next generation of marketing tools! Try our newsletter software for free!", "newsletter software, email newsletter software, e-newsletter software, online newsletter software, software email newsletter, electronic newsletter software, newsletter email software, newsletter marketing software, software for newsletters, email newsletters software, email marketing newsletter software, email marketing software newsletter, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = marketing_path )
      Marketing Software
      %span
    %a( href = email_marketing_path )
      Email Marketing
      %span
    %a.current( href = newsletter_software_path)
      Newsletter Software
      %span

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Newsletter Software
    %h2 Newsletter Software that is built for Small Businesses.
    = image_tag( 'best-newsletter-software.jpg', alt: 'newsletter-software', class: 'pull-right img-polaroid' )
    %p 
      Optyn is working on the next generation of marketing tools that includes the best email newsletter software that is built for small businesses and their busy business owners. We give our customers an easy way to create newsletters with our online newsletter software. We let you create newsletters in less than 2 minutes and so much more.
    %p
      We are focusing on simplicity and the ability to let you engage your audience with simple to use newsletter email software. Our product is simple and powerful allowing you to create wonderful newsletters and send them out to your email subscribers as well as Social Media followers. We make it easy for you to be successful.
    %p
      Our email marketing newsletter software helps you:
      %ul.bullet-disc
        %li Create awesome email newsletters that are mobile responsive and look great on any device.
        %li Easily upload your customer lists or connect your social media profiles for marketing syndication.
        %li The best part is that it's free to use our e newsletter software for up to 100 customers.
    %p
      The newsletter marketing software offers you the flexibility that you need as a marketer and best of all we help you grow. It takes less than a minute to sign up and less than 2 to send out a campaign. Get started today.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space