= display_title "Online Marketing for Small Businesses - Reach and grow your consumer base!"
= display_meta_description "Optyn offers online marketing solutions and through our resources we offer online marketing strategies to help small business with online marketing!", "online marketing, local online marketing, online marketing services, online marketing solutions, online makreting strategies, small business online marketing, online marketing tools, online marketing plan, online marketing tips, online makreting campaign, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = marketing_path )
      Marketing Software
      %span
    %a.current( href = online_marketing_path)
      Online Marketing
      %span

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9    
    %h1.hdg-s Online Marketing
    %h2 Small business now have an easy way to compete online! 
    = image_tag( 'online-marketing-for-small-businesses.jpg', alt: 'online marketing', class: 'pull-right img-polaroid' )
    %p 
      Our world is changing. It’s changing constantly and faster than ever. The same goes for marketing your business. Today, one of the most effective ways to advertise and grow your business is with Online Marketing. You can try out Optyn's marketing tools for free!
    %p
      Optyn’s Online marketing campaign platform has been specifically built for small businesses. And when we say small businesses, we mean small businesses and not 500 people organizations. It is great for any small business weather you want to execute national, regional, or local online marketing. We give you a way to compete with your larger competitors, stand out, and most importantly reach your customers who are all online and waiting for you to interact with them. Let Optyn's marketing services help you reach them!
    %p
      Our online marketing software helps you:
      %ul.bullet-disc
        %li Reach your customers online via email marketing and social media
        %li Discover new potential customers via our Marketing Syndication Service.
        %li Create quick and effective marketing campaigns that are focused on online to offline conversions.
        %li Discover and Improve your Online Marketing footprint. We help you identify with what you are doing right and what you are doing wrong.
        %li Optyn can also offers resources that will give you online marketing tips to help you develop your online marketing plan.
    %p
      Take the first step today! Try out Optyn and see why it is so great for small business online marketing. Sign up for free and get your online marketing on track with Optyn.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space
