.row-fluid
  %h1 Optyn is built for companies that service Small Businesses.

.row-fluid
  .span6
    %h3 We are a white label solution perfect for you and your merchants
    %p We built Optyn with one thing in mind - distribution. We believe in our product and what it does for small businesses. That is why we are focusing on putting Optyn into a large number of merchants with partnerships like below.
    %p We are perfect for:
    %ul
      %li Daily Deal Sites
      %li Website Builders
      %li Transaction Processing Companies
      %li Directory Sites
      %li and other companies who focus on helping small merchants succeed
    %p Get in touch with us today and learn more. We work on a revenue share basis and we only make money when you make money.
    .blank-space
    .text-center
      %h4 Featured partners
      .row-fluid
        .span6
          = image_tag 'logo-eatstreet.png', alt: 'Eatstreet logo'
        .span6
          = image_tag 'logo-neofill.jpg', alt: 'Neofill logo'

  .span6.pa-gray-bg
    %h4 Learn more on how you and your customers can benefit from White Label Partnership with Optyn!
    .blank-space

    = render partial: 'contact_form'

.blank-space
