= display_title "Optyn - Pricing for Businesses"

#tiers
  .row-fluid.p-sider-cont
    .span12
      %h1 Pricing
      .span6.offset2
        #pricing-slider
      .span2.plan-price Free!
  .row-fluid.labels
    .span6.offset2.text-center.cus-count # of customers
    .span2.text-center Price per month
  .row-fluid.intro
    .span12.text-center
      %a.btn.btn-primary.btn-large{ href: new_merchants_manager_registration_path } Get Started
      %h2
        Everyone starts off with a FREE account.
        %br
        Here's what it costs you to grow:
  .row-fluid
    .span10.offset1
      #myCarousel.carousel.slide.plans
        .carousel-inner
          .active.item
            .row-fluid
              .span4.plan.current{ 'data-plan-id' => '0' }
                %h5 FREE 4EVER
                %small Starter plan
                .separator.white
                %strong Up to 100 customers
                %div Unlimited E-Mails + All Features Included
                %a.btn.btn-primary.btn-block{:href => new_merchants_manager_registration_path} Get Started
              .span4.plan{ 'data-plan-id' => '1' }
                %h5 $20
                %small per month
                .separator.white
                %strong 101 - 1000 customers
                %div Unlimited E-Mails + All Features Included
                %a.btn.btn-block{:href => new_merchants_manager_registration_path} Get Started
              .span4.plan{ 'data-plan-id' => '2' }
                %h5 $49
                %small per month
                .separator.white
                %strong 1001 - 2500 customers
                %div Unlimited E-Mails + All Features Included
                %a.btn.btn-block{:href => new_merchants_manager_registration_path} Get Started
          .item
            .row-fluid
              .span4.plan{ 'data-plan-id' => '3' }
                %h5 $79
                %small per month
                .separator.white
                %strong 2501 - 5000 Customers
                %div Unlimited E-Mails + All Features Included
                %a.btn.btn-block{:href => new_merchants_manager_registration_path} Get Started
              .span4.plan{ 'data-plan-id' => '4' }
                %h5 $99
                %small per month
                .separator.white
                %strong 5001 - 10000 Customers
                %div Unlimited E-Mails + All Features Included
                %a.btn.btn-block{:href => new_merchants_manager_registration_path} Get Started
              .span4.plan{ 'data-plan-id' => '5' }
                %h5 $149
                %small per month
                .separator.white
                %strong 10001 - 15000 Customers
                %div Unlimited E-Mails + All Features Included
                %a.btn.btn-block{:href => new_merchants_manager_registration_path} Get Started
          .item
            .row-fluid
              .span4.offset2.plan{ 'data-plan-id' => '6' }
                %h5 $179
                %small per month
                .separator.white
                %strong 15001 - 20000 Customers
                %div Unlimited E-Mails + All Features Included
                %a.btn.btn-block{:href => new_merchants_manager_registration_path} Get Started
              .span4.plan{ 'data-plan-id' => '7' }
                %h5 $199
                %small per month
                .separator.white
                %strong 20001 - 25000 Customers
                %div Unlimited E-Mails + All Features Included
                %a.btn.btn-block{:href => new_merchants_manager_registration_path} Get Started


  .row-fluid.plan-f
    .span10.offset1
      %h3 Features
      %ul
        %li Easy customer capture.
        %li Automated marketing.
        %li Engagement engine.
        %li Unlimited emails.
        %li Easy Customer Enrollment – in-store or online.
        %li Ability to Segment Customers based on your requirements.
        %li Automate marketing campaigns.
        %li No more hassles with list management.
        %li No longer having to worry about being reported as spam.
        %li Pre-written popular email types from which to choose: Announcements, sales events, updates and more.
        %li The ability to personalize each email to your specific needs.
        %li Auto generated e-mail subject lines based on best practices and the experience of our client base.
        %li Significantly reduced risk of your customers unsubscribing from your emails.
