#header1
  .container
    .row
      %h3.intro
        Optyn is always FREE to get Started and Priced to GROW
#pricing.pricing_page
  .container
    .row
      .span3.starter
        .header
          %img{:src => '/assets/starter_flag.png', :alt => "Starter Plan"}
          Starter Plan
        .cust_count
          %img{:src => '/assets/cust_count.png', :alt => "Customer Count"}
          %strong
            up to 50 Customers
        %hr
        .details
          .hdr
            All Features Included
          %ul
            %li
              Easy Customer Capture
            %li
              Automated Marketing
            %li
              Engagement Engine
            %li 
              plus 30 more features 
              %a{"data-toggle" => "modal", :href => "#pricingpopup", :role => "button"}
                view them
        %hr
        .getstarted{:style => "center"}
          %h3
            FREE for Life
          %a.btn.getstartedbtn{:href => new_merchants_manager_registration_path} Get Started
          %br
          %strong 
            No Credit Card Required
      .span9.allplans
        .title
          %h3
            Everyone starts off with a FREE Account. Here's what it costs you to grow:
        %hr
        .howmany
          .count
            How many customers?
            %input{:placeholder => "", :type => "text"}/
          .countslider
            .sliderOverlay
              .slider
        %table.table.table-striped
          %thead
            %tr
              %td FREE            
              %td up to 100 Connections
              %td Unlimited E-Mails + All Features Included
              %td 
          %tbody
            %tr
              %td $5/month            
              %td 250 - 500 Connections
              %td Unlimited E-Mails + All Features Included
              %td
                %a.btn.getstartedbtn{:href => new_merchants_manager_registration_path} Get Started
            %tr
              %td $10/month            
              %td 500 - 1,000 Connections
              %td Unlimited E-Mails + All Features Included
              %td 
                %a.btn.getstartedbtn{:href => new_merchants_manager_registration_path} Get Started
            %tr
              %td $20/month            
              %td 1,000 - 2,500 Connections
              %td Unlimited E-Mails + All Features Included
              %td
                %a.btn.getstartedbtn{:href => new_merchants_manager_registration_path} Get Started
            %tr
              %td $30/month            
              %td 2,500 - 5,000 Connections
              %td Unlimited E-Mails + All Features Included
              %td 
                %a.btn.getstartedbtn{:href => new_merchants_manager_registration_path} Get Started
            %tr
              %td $50/month            
              %td 5,000 - 10,000 Connections
              %td Unlimited E-Mails + All Features Included
              %td
                %a.btn.getstartedbtn{:href => new_merchants_manager_registration_path} Get Started
            %tr
              %td $99/month            
              %td 10,000 - 25,000 Connections
              %td Unlimited E-Mails + All Features Included
              %td 
                %a.btn.getstartedbtn{:href => new_merchants_manager_registration_path} Get Started
    .row  
      .span12.bottom
        Have millions or billions of customers? We CAN help.
        %a.btn.enterprisebtn{:href => "#"} Contact Our Enterprise Team

/ Features Popup Window
#pricingpopup.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :width => "600px", :height => "400px"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Every customer gets ALL of these COOL features:
  .modal-body
    .row
      .span6
        %ul
          %li 
            Feature 1
          %li 
            Feature 2
          %li 
            Feature 3
      .span6
        %ul
          %li 
            one
          %li 
            one
          %li 
            one
  .modal-footer
    %h3
      What are you waiting for?
    %a.btn.popupstarted{:href => ""} Get Started








