= display_title "Optyn - Pricing for Businesses"

#header1
  .container
    .row
      %h3.intro
        Optyn is always FREE to get Started and Priced to GROW
#pricing.pricing_page
  .container
    .row
      .span3.starter
        .header
          = image_tag 'starter_flag.png', :alt => "Starter Plan"
          Starter Plan
        .cust_count
          = image_tag 'cust_count.png', :alt => "Customer Count"
          %strong
            up to 100 Customers
        %hr
        .details
          .hdr
            All Features Included
          %ul
            %li
              Easy Customer Capture
            %li
              Automated Marketing
            %li
              Engagement Engine
            %li
              Unlimited E-Mails
            %li 
              %a{"data-toggle" => "modal", :href => "#pricingpopup", :role => "button"}
                plus more features
        %hr
        .getstarted{:style => "center"}
          %h3
            FREE for Life
          %a.btn.getstartedbtn{:href => new_merchants_manager_registration_path} Get Started
          %br
          %strong 
            No Credit Card Required
      .span9.allplans
        .title
          %h3
            Everyone starts off with a FREE Account. Here's what it costs you to grow:
        %hr
        .span5.howmany
        .span2.numberofcustomers
          Number of Customers
        .span1.quantity

        %ul.pricingList#pricing-table
          %li.show.clearfix
            %div
              %strong
                FREE 4EVER
            %div up to 100 Connections
            %div Unlimited E-Mails + All Features Included
            %div
          %li.show.clearfix
            %div $5/month            
            %div 101 - 250 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.show.clearfix
            %div $10/month            
            %div 251 - 500 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.show.clearfix
            %div $15/month            
            %div 501 - 1000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.show.clearfix
            %div $20/month            
            %div 1001 - 2500 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $30/month
            %div 2501 - 5000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $50/month
            %div 5001 - 10000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $99/month
            %div 10001 - 15000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $115/month
            %div 15001 - 20000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $130/month
            %div 20001 - 25000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $150/month
            %div 25001 - 30000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $165/month
            %div 30001 - 40000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $180/month
            %div 40001 - 50000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $180/month
            %div 40001 - 50000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $250/month
            %div 50001 - 60000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $290/month
            %div 60001 - 70000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $320/month
            %div 70001 - 80000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $350/month
            %div 80001 - 90000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
          %li.clearfix
            %div $399/month
            %div 90001 - 100000 Connections
            %div Unlimited E-Mails + All Features Included
            %div
              %a.btn.upgrade{:href => new_merchants_manager_registration_path} Get Started
    .row  
      .span12.bottom
        Have millions or billions of customers? We CAN help.
        %a.btn.enterprisebtn{:href => "contact"} Contact Our Enterprise Team

/ Features Popup Window
#pricingpopup.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "PricingPopup", :role => "dialog", :tabindex => "-1", :width => "800px", :height => "400px"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Every customer gets ALL of these COOL features:
  .modal-body
    %ul.featuresList
      %li
        Easy Customer Enrollment – in your store or on-line
      %li 
        Ability to Segment Customers based on your requirements
      %li 
        Automated marketing campaigns
      %li
        No more hassles with list management
      %li
        No longer having to worry about being reported as spam
    %ul.featuresList
      %li 
        Pre-written popular email types from which to choose: Announcements, sales events,
        updates and more
      %li 
        The ability to personalize each email to your specific needs.
      %li 
        Pre entered e-mail subject lines based on best practices and the experience of our
        client base.
      %li
        Significantly reduced risk of your customers unsubscribing from your emails.
  .modal-footer
    What are you waiting for?
    %a.btn.startbtn{:href => new_merchants_manager_registration_path} Get Started








