/ starts pricing
#pricing.pricing_page
  .container
    / header
    %h2.section_header
    %hr.left.visible-desktop/
    %span
      Pricing for SMBs
    %hr.right.visible-desktop/
    / pricing charts 4 columns
    .row.cols4
      .span3
        .price_wrapper.lite.regular
          .header
            %span Starter
            .price
              %span $ 5
              Per Month
          .section
            %h3 up to 500 Customers
            %ul.perks
              %li
                %i.i_shuffle
                Easy Customer Capture
              %li
                %i.i_loading
                Automated E-Mails
              %li
                %i.i_bookmark
                Engagement Engine
              %li
                %i.i_bars
                Awesome Insights
            %a.btn{:href => "#"} Get Started
      .span3
        .price_wrapper.standard.regular
          .header
            %span Standard
            .price
              %span $ 10
              Per Month
          .section
            %h3 up to 1,000 Customers
            %ul.perks
              %li
                %i.i_shuffle
                Easy Customer Capture
              %li
                %i.i_loading
                Automated E-Mails
              %li
                %i.i_bookmark
                Engagement Engine
              %li
                %i.i_bars
                Awesome Insights
            %a.btn{:href => "#"} Get Started
      .span3
        .price_wrapper.pro
          .header
            %span Pro
            .price
              %span $ 25
              Per Month
          .section
            %h3 up to 2,500 Customers
            %ul.perks
              %li
                %i.i_shuffle
                Easy Customer Capture
              %li
                %i.i_loading
                Automated E-Mails
              %li
                %i.i_bookmark
                Engagement Engine
              %li
                %i.i_bars
                Awesome Insights
            %a.btn{:href => "#"} Get Started
      .span3
        .price_wrapper.ultra.regular
          .header
            %span Genius
            .price
              %span $ 50
              Per Month
          .section
            %h3 up to 5,000 Customers
            %ul.perks
              %li
                %i.i_shuffle
                Easy Customer Capture
              %li
                %i.i_loading
                Automated E-Mails
              %li
                %i.i_bookmark
                Engagement Engine
              %li
                %i.i_bars
                Awesome Insights
            %a.btn{:href => "#"} Get Started
#features.features_page
  .container
    .features1
      %h2.section_header
      %hr.left.visible-desktop/
      %span Need more?
      %hr.right.visible-desktop/
      .row
        .span12
          %h3.intro
            We got your back Jack. Whatever you need, we got you covered. Whether you need a plan for 10,000 or
            10 Million customers, we've got you. Just
            = succeed "." do
              %a{:href => "contact.html"} contact our Enterprise Team
            %br/
            %br/
            %a.btn.btn-success.btn-large{:href => "contact.html"}
              Contact our Enterprise Sales Team.