= display_title "Email Advertising - Are you overlooking it?"
= display_meta_description "Email Advertising or Email Marketing tends to be overlooked by small businesses. Do not make the same mistake!", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz, email advertising marketing, advertising email marketing online, targeted email advertising, direct email advertising, email marketing advertising"

.row-fluid.breadcrumbs
  - breadcrumb :resources_email_advertising

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Email Advertising
    %h2 Is email advertising an effective marketing strategy?
    = image_tag( 'email-advertising.jpg', alt: 'email advertising', class: 'pull-right img-polaroid' )
    %p 
      Email advertising (which is another way of saying email marketing) sometimes gets placed lower down on the list from the more exciting forms of marketing such as social media, mobile, video and the like.  However, the fact remains that targeted email advertising is still one of the most effective tools available to the marketer.  
    %p
      According to Pew Research’s Internet Project, (August 2011) email and search are still high on the list of popular online adult activities with a 92 percent overall penetration among users and 60 percent daily usage.  
    %p
      More recent studies show that email often delivers a significantly higher ROI than social media and email drives social engagement.
    %p
      If you’re considering marketing your business, be sure to include targeted email advertising. Just contact an email marketing advertising company like Optyn and see how easy it is to get started. All it takes is to register, upload your list and you’ll be creating and sending beautiful email advertising in no time.    
    .blank-space
