= display_title "E-Mail Broadcast"
= display_meta_description "Are you using email marketing the right way? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_email_broadcast_path )
      Email Broadcast
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s E-Mail Broadcast
    %h2 The secrets behind a successful Email Broadcast.
    = image_tag( 'email-broadcast.jpg', alt: 'email broadcast', class: 'pull-right img-polaroid' )
    %p 
      An 
      %strong email broadcast,
      in other words, is an email marketing campaign. Many people think that doing email broadcasting is simple and should be a one time occurrence. There are a few issues with that thoughts school and we want to demystify this for you.
    %p
      Here are some secrets when it comes to doing broadcast email marketing:
    %p
      Make sure your email broadcast goes out to the people that have opted in to receive your emails. It’s important to send out emails to customers who have given you your permission as avoid spamming people. People think that emailing to millions of customers will give them big results and big $$$. You are wrong. We’ve been there, done it, and that’s not how email marketing works.
    %p
      Email Broadcasting should be done on a frequent basis. Create a schedule of broadcasts that will go out on a regular basis. This allows you to “train” your subscribers and they will be more open to receiving your emails. It’s important to note that customers who know you are more likely to buy from you. Customers who only hear from you seldomly, will forget about you and therefore convert less than your average subscriber. 
    %p
      While you want to learn more about email broadcasts, the best way to learn is to do. We invite you to sign up for Optyn and learn the easy way. 
    .blank-space


