= display_title "Evolution of Email Marketing - The history of one of the most used forms of communication!"
= display_meta_description "First commercial email was sent to 400 users in 1978. Do you know which company sent it? The face behind the first commercial email? It generated $13M in sales...", "evolution of email marketing, email marketing evolution, email marketing history, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :resources_evolution_email

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h5 E-Mail Marketing
    %h2 The Evolution of E-Mail Marketing
    = image_tag( 'evolution-of-email-marketing.jpg', alt: 'evolution of email marketing', class: 'pull-right img-polaroid' )
    %p 
      Here's a brief history lesson on how the whole email marketing thing got started. Email has become such an integral part of our everyday lives it is easy to forget that it wasn’t so long ago that email didn’t exist.  We thought it would be interesting to trace the history of email from the beginning to today.
    %p
      %strong 1978 - 
      Gary Thuerk, a marketing manager at DEC, sent the first commercial email mailing to 400 users via Arpanet.  The bad news; Gary is now known as “Father of Spam”.  The good news; Gary sold $13 million DEC machines as a result of the mailing.
    %p
      %strong 1991 - 
      Hotmail launched the first free web based email service.  Now everyone, not just students and employees, could have a personal email address.  This ushered in a revolution in direct marketing, because prior to that, marketers had to rely on expensive phone and mail to personally reach someone. Now, marketers could inexpensively send emails to anyone on a list.  And send they did - the days of inundation marketing had begun. The first phases of email marketing evolution.
    %p
      %strong 1992 - 
      The first smartphone was introduced which enabled a mobile device to receive and send emails. Email marketing history was changed like never before. 
    %p
      %strong 1998 - 
      When the novelty of receiving email in an inbox wore off, consumers began to complain that their mailboxes were becoming full of unsolicited emails (called “spam” - based on a Monty Python skit).  In 1998 the Data Protection Act was updated to include a provision that required email marketing to include an opt-out.
    %p  
      %strong 2001 - 
      The first behavioral email was sent - an email that is triggered based on a consumers online behavior.
    %p
      %strong 2003 - 
      The Can-Spam law was passed in the US.  In Europe, the Privacy and Electronic Communication Regulations was introduced.  In both cases, legislatures were setting standards for sending commercial emails.
    %p
      %strong 2004 - 
      The Sender Policy Framework was introduced and provided an email validation system by verifying a sender’s IP address.  In the same year, AOL started to give the feedback it received from email recipients to the email service providers.  Spam complaints now became a metric that could be used by marketers.  During the next few years, internet service providers introduced a number of methods to help protect consumers from unwanted email.
    %p
      %strong 2008 - 
      Windows Live Sender Reputation Data lets email recipients vote on whether an email is spam or not.
    %p
      %strong 2010 - 
      Hotmail introduced Sweep, and Google introduced Priority Inbox to help email recipients get rid of mailbox clutter.  By the end of the decade, marketers were forced to become more strategic in their email sending approach because consumers were better able to determine what emails they received.  Marketers also realised that their email reputation was important or their email could go unread and/or they could be unsubscribed or blacklisted.
    %p
      %strong 2011 - 
      Apple sold more than 100 million iPhones. This is significant as we start seeing a big shift to mobile which include mobile responsive email design and more mobile users.
    %p  
      %strong 2012 - 
      40% of marketing emails are opened on a mobile device. That same year the Direct Marketing Association reported that 72% of markers felt that email was great for developing loyal and active customers.
    %p
      %strong Today - 
      Email strategies have evolved from just a mass marketing strategy to ones focused on the specific requirements of each individual user. E-Mail is stronger than ever and companies including small businesses are spending over $24 billion in 2013 and 2014. 
    .blank-space