= display_title "Digital Marketing for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Digital Marketing
    %h2 Getting your business online.
    %p 
      Here is a short and sweet definition of digital marketing - what you do to market your business online.
    %p
      In the brick and mortar world you are often competing only with similar businesses in a limited geographic area.  On the web, your competition is everyone with a website that has a product similar to yours and who can deliver it to the consumer in an efficient way. 
    %p 
      The good thing is that all of your customers can be found online. When customers search online for the product they want they are presented with pages upon pages of potential sellers.  Those merchants that appear at or near the top of the first few pages stand a better chance of getting the sale as opposed to a business that appears on subsequent pages.
    %p
      Here are the key components of digital marketing along with a brief introduction:
    %p
      %strong
        Website Design. 
      Having an attractive easy to navigate website helps ensure that consumer has a positive experience.
    %p
      %strong
        Search Engine Optimization (SEO). 
      The strategy and techniques used to help a website get found when a consumer searches online using a search engine like Google.
    %p
      %strong
        Paid Search. 
      When a business bids on the terms used by consumers to search the web for their product or service.  Everytime the ad appears as a result of a search the business pays the amount bid. 
    %p
      %strong
        Social Media Marketing. 
      The process of creating content on a website that attracts the attention and encourages the reader to share the information on their social network.
    %p
      %strong
        Email Marketing. 
      Sending email messages to individuals, customers or potential customers.
    %p
      %strong
        Display Advertising. 
      Advertising that appears on a web page - similar to a newspaper ad.
    %p
      %strong
        Affiliate Marketing. 
      A type of performance-based marketing in which a business pays one or more affiliates for each visitor or customer brought to the business by the affiliate's own marketing efforts.
    %p
      %strong
        Content Marketing. 
      The creation and sharing of information and website content to attract attention and to acquire customers.
    %p
      %strong
        Reputation Management. 
      Maintaining or improving a business's reputation in order to have a favorable opinion in the minds of consumers and remove any negative mentions.
      
    %p
      There are many more rules your developer will have to follow when designing for mobile responsiveness, but this will give you enough ammunition to be able to start an intelligent conversation with him or her.
    .blank-space