= display_title "Email Marketing Online"
= display_meta_description "Are you using email marketing the right way? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_email_marketing_online_path )
      Email Marketing Online
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Email Marketing Online
    %h2 What are the best email marketing solutions to use?
    = image_tag( 'email-marketing-online.jpg', alt: 'email marketing online', class: 'pull-right img-polaroid' )
    %p
      When considering a marketing campaign to promote your business one of the most effective tools to use is email marketing. There are providers that offer platforms and programs that you can use to help you create, schedule and send emails to your customer and prospects. One such company is Optyn that offers email marketing online through its subscription based programs.
    %p
      Internet email marketing is becoming a very popular marketing methodology and gives small businesses an easy and inexpensive way to target, attract, and retain customers. Email Internet Marketing is another way for small business owners to reach their audience. A lot of small web based email marketing solutions exist and are targeting small businesses and online marketers. 
    %p
      Optyn offers two choices for the small business looking for online email marketing. One plan is self managed. This is where the small business owner can create his or her own campaigns using simple, straight forward tools. Some of the web based email marketing solutions offer:
      %ul.bullet-disc
        %li Recommending a campaign strategy
        %li Developing a multi-month plan
        %li Creating, scheduling and sending emails in accordance with the plan
        %li Incorporating social media into the campaign
        %li Review analytics to ensure results monitored
        %li Adjust the plan accordingly
    %p
      So, if you’re interested in online email marketing check out Optyn and if you want to learn more about email marketing check out our resource library and our email marketing blog.
    .blank-space