= display_title "Bulk Email"
= display_meta_description "What is the best email marketing software for your company? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_bulk_email_path )
      Bulk Email
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Bulk Email
    %h2 What is Bulk Email and Bulk Email Marketing and why should you care?
    = image_tag( 'best-bulk-email-software.jpg', alt: 'best bulk email software', class: 'pull-right img-polaroid' )
    %p
      Bulk email is the email that is sent to many persons or entities at the same time.  Bulk email marketing is when those bulk emails have a marketing purpose.  It is important not to confuse bulk email with spam.  Spam is email sent to large numbers of individuals that is unwanted, irrelevant, misleading or inappropriate.  Bulk email marketing sent to an audience that has opted in to receiving the correspondence from a trusted source is the opposite of spam.
    %p
      As a business owner marketing to your prospects and customers the best way to make sure your messages are not confused with spam is to send bulk emails only to individuals who have elected to receive email from you and never try to fool your audience with misleading subject lines or content.  One final point, personalize the message so the recipient knows it is from you.
    %p
      Not only does this ensure your email will not be considered spam, but it will increase the open rate.
    .blank-space
