= display_title "Follow Up Emails"
= display_meta_description "Are you using email marketing the right way? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_follow_up_emails_path )
      Follow Up Emails
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Follow Up Emails
    %h2 When to use follow up emails.
    = image_tag( 'follow-up-email.jpg', alt: 'follow up emails', class: 'pull-right img-polaroid' )
    %p
      In the course of running your business you need to send follow up emails. Most owners do this when there is an issue with an order or the customer has asked a question. But there are many more opportunities to send a follow up email that will result in higher levels of customer satisfaction and sales. Here are some examples:
    %p
      After the sale - Send a sales follow up email after the customer has made a purchase to make sure he or she is happy with the product. This would be  good time to solicit an insights as to how the process could be improved.
    %p
      After a long period without a purchase - Send a follow up to customers that used to be active but now aren’t. You can entice them back with a free offer and also ask why they haven’t been back in a while.
    %p
      No reason follow up - Send an email to a customer to just “check-in” and tell them about a new product or happening at the store. You can offer a discount coupon or freeby as a friendly gesture. These “out of the blue” emails humanize you and build loyalty.
    %p
      As a small business you are going to have to work on these and continue testing and seeing what works best for you.
    .blank-space