= display_title "E-Mail Marketing for Small Businesses - Best way to improve your ROI"
= display_meta_description "Are you using email marketing the right way? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s E-Mail Marketing
    %h2 Email marketing is popular for many good reasons.
    %p 
      Email marketing is very popular.  We have all been on the receiving end of marketing emails - some welcomed, others not so much. Regardless of how you feel about receiving them, the fact is that companies - including big national brands - use email marketing because it works. 
    %h4 Here are some reasons why you need to use email and email apps to deliver your message.
    %br
    %p
      %strong
        High Return on Investment (ROI).
      %br
      Studies have shown that email based marketing delivers up to a 40 times the return on investment.  Also consider the following:
      %ul.bullet-disc
        %li 57% of internet users more apt to buy after they receive marketing by email
        %li 75% of daily social media users say email is the best way to contact them
        %li Automated email marketing solutions help simplify the flow and create quick ways to engage your audience. Email automation helps get the job done much faster and allows you to focus on other parts of your business and marketing.
      The email marketing industry is so popular because email marketing works!
    %p
      %strong
        Affordable Email Marketing is available.
      %br
      Compared to other forms of marketing, email campaigns can be delivered to your customers and potential buyers for just pennies.  This means you can communicate more often and/or reach a larger audience for what it would cost you to use another marketing channel. Take a look and see for yourself how affortable email marketing really is! Optyn is a perfect example of low cost email marketing.
    %p
      %strong
        Email Marketing is Simple to Use
      %br
      Most other forms of advertising require you and others to get involved.  For example with direct mail, you need a printer, maybe a designer, someone to mail and or distribute the documents, etc.  When marketing with email you can create schedule and send emails with do-it-yourself email marketing software [we’re partial to Optyn]  You can also put your campaigns on auto-pilot and have one company [Optyn again comes to mind :)] take care of all your marketing campaign needs. 
    %p
      %strong
        Email Marketing is Fast
      %br
      Email just takes the time required to write an email and press send - with Optyn it takes less than 2 minutes.  Responses to your campaign can occur with minutes.  What other forms or marketing do you know of that is that fast?
    %p
      %strong
        Email Marketing is Measurable 
      %br
      Every aspect of email marketing can be tracked. From how many emails were delivered to how many persons purchased a product as a result of the campaign - all that information is available to you. This gives you an opportunity to compare the effectiveness of different campaigns and determine your ROI.
    %p
      %strong
        Email Marketing Personalizes the Connection with Your Customer
      %br
      People like to get emails from trusted merchants especially when the message is relevant to them.  This makes customers feel special and increases loyalty.
    %p
      %strong
        And finally, one of the top reasons 
      for using email marketing is because your competition - and usually your bigger competitors - are using it. When asked why they use email marketing the vast majority say to increase retention, engagement and sales.  They are gaining in these areas at your expense.  Get in the game and start increasing sales.
    .blank-space


