= display_title "E-Mail Marketing Best Practices - Maximize effectiveness of your email marketing campaign!"
= display_meta_description "Brief guidelines on how to improve the effectiveness of your email marketing campaigns through email campaign best practices!", "e-mail marketing best practices, email marketing best practices, opt-in email marketing, email marketing campaign, targeted email marketing, free email marketing, email marketing service, best practices for email marketing, effective email marketing, email marketing campaigns , email marketing statistics, email campaign best practices, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s E-Mail Marketing Best Practices
    %h2 Tips to improve the effectiveness of your email marketing
    %p 
      Here are some ideas that are easy to implement and will help make your email marketing more effective.
    %p
      %strong Segment your list
      %br
      Customers and prospects are not all the same. If you own a bike shop, some of your customers would be interested in mountain bikes, where others would focus on bikes geared for racing. By segmenting your list, you can direct communications to the right target audience. This allows for targeted email marketing.
    %p
      %strong Personalize the email
      %br
      This takes segmentation to a deeper level. If you know someone recently purchased a baby stroller, you can send an email describing other baby products on sale. If your customers are businesses (B2B), a good way to personalize the email is to introduce the business client to his or her account manager.
      This is one of the most important aspects of effective email marketing.
    %p
      %strong It Is Not Always About Selling
      %br
      Sure, the ultimate objective it to increase sales, but it is also about building relationships and trust.  Every email doesn’t have to be about a sale or new product to buy. You can send an email offering assistance with a product or service your customer recently purchased. Offering free advice is also very effective in bringing in new customers. Different types of engagements like contests and referral programs allow you to utilize your customers to bring in new ones. There are many great opportunities to utilizing customer contact in order to grow your business without directly selling. Email marketing campaigns are not just about increasing revenue, but it is about increasing revenue by increasing the value of your business to your customer and prospect base.
    %p
      %strong Use Compelling Subject Lines
      %br
      Subject lines are often the difference between an email getting opened or not. While a lot has been written about the characteristics of a great subject line, it basically comes down to a subject line that should contain 30 to 50 characters, create a sense of urgency, and give the reader an idea of what the email is about. Don't try to mislead people in opening your email as that will make them much more likely to unsubscribe or just ignore them in the future. Make sure to track your email statistics so you can track what is effective and what is not.
    %p
      %strong Have A Clear Message
      %br
      Don’t send out an email with a muddled message. Be crystal clear on why you’re writing.  Also, don’t try to cram a number of different messages into one email. Keep customer contact frequent and short. If you’re announcing a new product, focus on that product. Send a different email, if you want to talk about how your customer service department delivers great service.
    %p
      %strong Coordinate Email with Other Marketing Efforts
      %br
      If you’re announcing a sale with an email campaign, make sure the web site and all other marketing efforts and channels (in-store signage, social media, direct mail, etc) all support the same event and message. The more uniform the message, the more effective all your campaign will be. From your sign to your social media to your email marketing campaign!
    %p
      %strong Proof Read and Test
      %br
      Make sure the email is grammatically perfect and contains no spelling errors or typos.  Also send it to someone and get their opinion on the look and feel, the call to action, and any other comments they may have. If you feel like you do not have someone that might be helpful, save it as a draft and wait a day or just a few hours, read it over, and reassess the email yourself!
    %p
      %strong Proactively Collect E-mails
      %br
      One of the most crucial aspects of email marketing best practices is to have current customers and prospects have a way to subscribe to your business. Make sure to set-up a form of 'opt-in' email marketing method, in-store and online!
    .blank-space