= display_title "E-Mail Marketing for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'
.op-sitemap
  .row-fluid
    .span12
      %h1 Small Business Marketing Resource Center

  .row-fluid
    .span4
      %h4 E-Mail Marketing
      %ul
        %li
          %a{ :href => '/resources/email-marketing' } E-Mail Marketing
        %li
          %a{ :href => '/resources/email-marketing/mobile-responsive-emails' } Mobile Responsive E-Mails
        %li
          %a{ :href => '/resources/email-marketing/capturing-customer-emails' } Capturing Customer E-Mails
        %li
          %a{ :href => '#/resources/email-marketing/capturing-customer-data' } Capturing Customer Data
    .span4
      %h4 Small Business Marketing
      %ul
        %li
          %a{ :href => '/resources/digital-marketing'} Digital Marketing
        %li
          %a{ :href => '/resources/customer-retention' } Customer Retention
        %li
          %a{ :href => '/resources/loyalty-marketing'} Loyalty Marketing
        %li
          %a{ :href => '/resources/marketing-analytics'} Marketing Analytics
    .span4
      %h4 Running Marketing Promotions
      %ul
        %li
          %a{ :href => '/resources/contests' } Contests
        %li
          %a{ :href => '/resources/coupons'} Coupons
        %li
          %a{ :href => '/resources/surveys'} Surveys 

  .blank-space
