= display_title "Email Marketing Stats"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_email_marketing_stats_path )
      Email Marketing Stats
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Email Marketing Stats
    %h2 After every campaign you get email marketing statistics by which you can measure results.
    = image_tag( 'email-marketing-stats.jpg', alt: 'email marketing stats', class: 'pull-right img-polaroid' )
    %p 
      You can’t know if you’ve run an effective email marketing campaign unless you have data points by which to measure results.  One of the benefits of email marketing is that you get statistics during and after the campaign.  Here are some of the typical email marketing metrics available to you:
      %p
        %strong Bounce Rate.
        This is the percentage of messages that cannot be delivered.  A soft bounce usually indicates that there is an issue with the server or the message is too large.  The internet service provider will usually try to re-deliver the message.  After a number of failed attempts the bounce is considered a hard bounce.  Invalid email addresses and blocked servers will also cause a hard bounce
      %p
        %strong Open Rates. 
        This measurement tells you how many persons viewed or opened a specific message.  Opens are tracked by embedding small transparent images into the email.  When the email client request the image - the open is recorded.
      %p
        %strong Click Through Rate (or just Click) Rate. 
        This is the response to a specific email marketing message.  Some providers measure unique clicks within a message others count multiple clicks by the same recipient. Make sure you know what method is being used.
      %p
        %strong Click to Open Rate. 
        This tells you the effectiveness of your content by answering the question, of the persons that opened the email how many clicked through. 
      %p
        %strong Return on Investment (ROI).
        ROI is probably the most important measure of all because it answers the question - what did the campaign return on the investment that was made in the campaign?  Calculate ROI by dividing the return by the amount spent.  The higher the number the better.  Studies show that in general email marketing ROI is about 40x to 50x.  If you’re campaigns are getting less than that, work on improving the other factors mentioned here. 
    %p
      These statistic vary by industry, company, time and a host of other factors.  In order to ensure you are conducting effective email marketing campaigns, it is best to measure these statistics for each campaign and compare results over time.
    .blank-space