= display_title "E-Mail Marketing Best Practices - Maximize effectiveness of your email marketing campaign!"
= display_meta_description "Brief guidelines on how to improve the effectiveness of your email marketing campaigns through email campaign best practices!", "e-mail marketing best practices, email marketing best practices, opt-in email marketing, email marketing campaign, targeted email marketing, free email marketing, email marketing service, best practices for email marketing, effective email marketing, email marketing campaigns , email marketing statistics, email campaign best practices, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_email_marketing_types_path )
      Different Types of Emails
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s E-Mail Marketing - Different Types of Emails
    %h2 Understanding the different types of e-mails
    = image_tag( 'email-types.jpg', alt: 'types of emails', class: 'pull-right img-polaroid' )
    %p 
      Emails are a familiar part of our lives.  We receive them from family, friends, business associates and merchants - some we like to hear from, others not so much.  We tend to group all the email we receive into one bucket - email.  However, you should be aware that there are different types of email.  Here are some of the broader, more well know categories.
    %p
      %strong Transactional Emails
      %br
      Transactional emails are those emails usually associated with a business transaction.  For example, when you send your customer an email to acknowledge an order, or to say you shipped their package - that is a transactional email.  The most common transactional emails are receipts sent to customers after a purchase.
    %p
      %strong Notification Emails
      %br
      Notification emails are sent by a merchant when an event is triggered.  Notification emailsare also known as triggers, alerts or auto-responders.  Either the merchant or the consumer can identify the trigger.  From a business person’s perspective, it is helpful to have the consumer opt-in to receive these notices.
      %br
      %br
      Some examples of notification emails are:
      %ul
        %li Out-of-stock order back in-stock
        %li Request for after purchase feedback
        %li Reminder if haven’t purchased in a while
    %p
      %strong Marketing / Promotional Emails
      %br
      These are emails that focus on acquiring or engaging customers.  They could consist of promotions like coupons and sales, or they could be informational like newsletters or announcements of new product introductions.
    %p
      Business owners should be aware of these three types of email as each plays a role in the management and growth of the business.
    .blank-space

