= display_title "What Is Email Marketing"
= display_meta_description "Are you using email marketing the right way? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_what_is_email_marketing_path )
      What is Email Marketing
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s What is Email Marketing
    %h2 If you always wanted to know what is email marketing - here is the answer.
    = image_tag( 'email-marketing.jpg', alt: 'what is email marketing', class: 'pull-right img-polaroid' )
    %p
      Email marketing is the sending of emails by a person or entity to a group of persons for the purpose of acquiring or engaging prospects and/or customers. While emails sent from a business owners personal email account can counts as email marketing, the term usually refers to emails that are well designed, professional looking that may or may not contain images. It is estimated that companies in the United States spent more than $1.5 billion on email marketing in 2011.
    %p
      %h3 Where do I get email addresses?
      The most common ways a business can get email addresses is to buy email lists, rent email lists and generate their own list.  Here is a quick overview of each.
      %ul.bullet-disc
        %li
          %strong Buy emails.
          There are list providers who will sell you a list based on your criteria. For example, you can request a list of businesses in a specific city that sell hats. Buying emails is never a good idea because there is a high probability that the same list has been sold to others which will diminish the value of the list. More importantly, the person whose email is on the list does not know you and has not opted in to receiving email from you. This can cause that person and other persons on the list to unsubscribe from your list and they could even report you as a spammer.
        %li
          %strong Rent email lists.
          List providers may also rent you a list. Unlike with purchased lists, you never see the email of the recipient as the mailing is sent through the provider. However, as with purchasing emails, renting an email list is also not a good idea for the same reasons.
        %li
          %strong Opt In List. 
          The best way to acquire a list is to develop it yourself by asking customers and prospects for their email addresses.  Once you receive the email address send an email thanking them and making it clear that you would like to periodically send them emails.  Give them the opportunity to decline if they so desire.
    %p
      %h3 Why email marketing?
      Email marketing is one of the most effective marketing channels.  Studies show that it delivers a 40x ROI, it is easy to use, and can reach just about everybody.  Email marketing is a great way to acquire and engage customers, it is mobile, and very easy to target specific messages to specific groups of persons.
    %p
      %h3 Email systems and programs.
      There are email marketing providers, like Optyn, that will enable you to create, schedule and send emails to your list. The vast majority of these programs tend not to be suitable for small businesses as they require marketing or technical expertise. Optyn has been designed specifically for small businesses - a business owner can create a beatiguly designed email in less than 2 minutes.
    %p
      %h3 What is email deliverability?
      Email deliverability is the term used  to describe getting an email into the inbox of the intended recipient.  There are a number of factors that affect deliverability such as soft bounces (temporary problems such as a full inbox or unavailable server) and hard bounces (permanent problems such as a non existent, blocked or invalid email address).
    .blank-space