= display_title "Customer Loyalty Marketing - How to keep customer from running to the competition."
= display_meta_description "Customer loyalty values your best clients, and in return they become brand ambassadors. A few actions by you can drastically improve your business.", "customer loyalty, loyalty marketing, customer loyalty marketing, what is loyalty marketing, building customer loyalty, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a.current( href = resources_loyalty_marketing_path )
      Loyalty Marketing
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Loyalty Marketing
    %h2 Rewarding your best customers to be brand advocates
    = image_tag( 'loyalty-marketing-resources.jpg', alt: 'loyalty marketing', class: 'pull-right img-polaroid' )
    %p 
      Although it varies by industry and merchant, as a general rule usually 12% to 15% of all its customers are loyal to that specific merchant. That small group of shoppers, however, generate 55% to 70% of the business’ sales.
    %p
      Both businesses and consumers recognize the value of loyalty programs as a way to recognize the important contribution of these loyal customers. But loyalty programs do much more. The data a merchant can capture regarding consumer behavior far outweighs any costs associated with the providing the program and rewarding the consumer. For example, knowing where your loyal customers live could impact where you open another location. Tracking what is purchased and the price that is paid can give insights into what products to stock and how to optimize pricing.
    %p
      Other loyalty program benefits to the merchant are:
      %ul.bullet-disc
        %li Acquisition - acquiring new customers
        %li Lift - increase the amount spent by existing customers
        %li Retention - keeping customers longer
        %li Higher Returns - Shifting consumers to high priced items
        %li Create Brand Disciples - Loyal consumers will tell others
        %li Differentiation -  Help you stand out from the competition
    %p
      One question small businesses usually ask when considering a loyalty program is, “what type of reward should be offered?” The answer depends on the type of business and what you are trying to achieve.
    %p
      Take a beauty salon for example. Loyal customers would probably be motivated more by experiential rewards like upgraded services or treatments. Rewards that encourage customers to visit more frequently may be less effective as there are only so many times a year you can get your hair cut.
    %p
      A coffee shop would be on the opposite end of the spectrum from a beauty salon. Coffee is a relatively low cost item and individuals can buy as many cups of coffee a day as they desire - assuming they don’t care whether they sleep at night or not. In that case, a coffee shop may find it beneficial to offer a reward that encourages more frequent visits.
    %p
      Whatever your business a loyalty program may be what you need to boost profits. Do not think twice about building customer loyalty!
    .blank-space







