= display_title "E-Mail Marketing for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    /Aniket, we need to make the h5 tag an h1 tag but the size of the font should stay the same.
    %h5 E-Mail Marketing
    %h2 Email marketing is popular for many good reasons.
    %p 
      Email marketing is very popular.  We have all been on the receiving end of marketing emails - some welcomed, others not so much. Regardless of how you feel about receiving them, the fact is that companies - including big national brands - use email marketing because it works. 
    %h4 Here are some reasons why you need to use email to deliver your message.
    %br
    %p
      %strong
        High Return on Investment (ROI)
      %br
      Studies have shown that email marketing delivers up to a 40 times the return on investment.  Also consider the following:
      57% of internet users more apt to buy after they receive an email
      75% of daily social media users say email is the best way to contact them
    %p
      %strong
        Email Marketing Is Inexpensive
      %br
      Compared to other forms of marketing, email campaigns can be delivered to your customers and potential buyers for just pennies.  This means you can communicate more often and/or reach a larger audience for what it would cost you to use another marketing channel.
    %p
      %strong
        Email Marketing is Simple to Use
      %br
      Most other forms of advertising require you and others to get involved.  For example with direct mail, you need a printer, maybe a designer, someone to mail and or distribute the documents, etc.  With email, you can create schedule and send emails with do-it-yourself email marketing programs [we’re partial to Optyn]  You can also put your campaigns on auto-pilot and have one company [Optyn again comes to mind :)] take care of all your marketing campaign needs.
    %p
      %strong
        Email Marketing is Fast
      %br
      Email just takes the time required to write an email and press send - with Optyn it takes less than 2 minutes.  Responses to your campaign can occur with minutes.  What other forms or marketing do you know of that is that fast?
    %p
      %strong
        Email Marketing is Measurable 
      %br
      Every aspect of email marketing can be tracked. From how many emails were delivered to how many persons purchased a product as a result of the campaign - all that information is available to you. This gives you an opportunity to compare the effectiveness of different campaigns and determine your ROI.
    %p
      %strong
        Email Marketing Personalizes the Connection with Your Customer
      %br
      People like to get emails from trusted merchants especially when the message is relevant to them.  This makes customers feel special and increases loyalty.
    %p
      %strong
        And finally, one of the top reasons 
      for using email marketing is because your competition - and usually your bigger competitors - are using it. When asked why they use email marketing the vast majority say to increase retention, engagement and sales.  They are gaining in these areas at your expense.  Get in the game and start increasing sales.
    .blank-space


