= display_title "Evolution of Email Marketing"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h5 E-Mail Marketing
    %h2 The Evolution of E-Mail Marketing
    %p 
      Social Media Marketing is the process of using social media networks to achieve a company’s business objectives such as increasing sales and brand awareness.
    %p
      Here is a quick review of some of the more popular social media networks and how your business might use them.  Remember each site has a unique focus and environment so make sure you create a strategy for every one you use.
    %p
      %strong Facebook 
      is the place people go to interact with their friends.  It is a casual environment so create a Facebook Business Fan Page that encourages individuals to follow and interact with your business.
    %p
      %strong Twitter 
      is the social media marketing tool that lets you send updates to your followers.  Use it to instantly engage your customers and prospects alike whatever you’d like to Tweet about.  Here are a couple of tips - retweet if a customer says something nice and answer any question or concern that is tweeted.
    %p
      %strong Google+ 
      is a competitor of Facebook and is similar in many ways. People can upload and share content like photos, videos and links.  One of the features of Google+ is the ability to segment your followers.  You could, for example, create a group consisting of super-special fans.  Then, you could offer them special deals that only they will see.
    %p
      %strong Pinterest 
      is a site that allows individuals  to "pin" things online (just as you would to a bulletin board).  As a business person, you can create an account to showcase your own products.  You can also get creative and start different pinboards.
    %p  
      %strong LinkedIn 
      built a reputation as a professional social media site.  The first thing to do is create a LinkedIn business profile and join a LinkedIn Group.  Then, enter into a dialogue with other professionals in your industry or who have shown an interest in your business.  Don’t forget to encourage folks who visit to give your business a “Recommendation”.  This increases your business’s credibility.  One other tip - visit LinkedIn’s “Questions” section.  When you provide answers you also improve your reputation.
    %p
      %strong YouTube 
      is the place to go to post videos relating to your business.  Make sure it is something a viewer would find interesting.  For example, if you’re a carpenter, create video on how to frame a door.  This will showcase your skills and may encourage someone to contact you for a remodeling job.  Added bonus - You Tube how-to videos have the added benefit of ranking on the video search results of Google.
    .blank-space