= display_title "Integrated Marketing"
= display_meta_description "Are you using email marketing the right way? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Integrated Marketing
    %h2 Making sure your marketing is integrated for a coordinated campaign.
    %p 
      Integrated marketing refers to the alignment of four distinct marketing elements - general advertising, direct marketing efforts, promotions, and public relations.  Here is how each of these elements contribute to an overall cohesive marketing message.
    %p
      %strong General Advertising.
      This category represents the marketing communication channels and messages that most people think about when they think of marketing.  TV commercials, print and even online ads all fall under general advertising.  Generally, a company uses this type of advertising to reinforce brand image.
    %p
      %strong Direct Response.
      This is advertising that goes direct to the consumer to illicit an immediate response.  Email marketing is a good example. This category is also represented by the ability to be measured.  Take the case of an email marketing campaign - it is easy to record how many emails were sent, opened and clicked-through.  Direct response advertising build relationships and dialogues.
    %p
      %strong Promotions. 
      This is the category of marketing that that looks to influence a target audience to take an action by offering an incentive. A sales event, a contest, these are designed to get immediate results.
    %p
      %strong Public Relations.
      PR campaigns are designed to get publicity - free or otherwise - for the company.
    %p
      These four elements should be coordinated and included in every campaign.
    %p
      It should be noted that while email marketing is its own type of marketing, it can be used as a key component of every one of the integrated marketing elements.


    .blank-space