/will finalize page once categories are defined.
.op-sitemap
  .row-fluid
    .span12
      %h1 Small Business Marketing Resource Center

  .row-fluid
    .span4
      %h4 E-Mail Marketing
      %ul
        %li
          %a{ :href => '#' } E-Mail Marketing
        %li
          %a{ :href => '#' } Mobile Responsive E-Mails
        %li
          %a{ :href => '#' } Capturing Customer E-Mails
        %li
          %a{ :href => '#' } E-Mail Deliverability


    .span4
      %h4 Small Business Marketing
      %ul
        %li
          %a{ :href => '#'} Social Media Marketing
        %li
          %a{ :href => '#' } Marketing Automation
        %li
          %a{ :href => '#'} Marketing Syndication

    .span4
      %h4 Resources

  .blank-space
