= display_title "Best Free Email Marketing"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_best_free_email_marketing_path )
      Best Free Email Marketing
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Best Free Email Marketing
    %h2 The best free email marketing services may not be a good fit for you.
    /= image_tag( 'email-blast-software.jpg', alt: 'email blast software', class: 'pull-right img-polaroid' )
    %p 
      Email marketing providers usually bill for services on the number of email addresses in your list and or on the number of emails that are sent in the month.  For example, some plans say that as long as the number of emails in your list is below a certain threshold the emails will be sent for free regardless of how many times a month you email.  Other plans offer free emails if the product of the number of emails multiplied by the number of mails sent a month is below a certain level. 
    %p
      If you a considering going with an email provider because of a free tier, you should also consider if the service being offered is suitable for your needs.  Can you, for example, quickly and easily create, schedule and send emails or does the program require expertise that you don’t possess?   Free isn’t a bargain if you can’t use the platform.  
    %p
      Programs like Optyn often offer the best free email marketing software solutions because not only do they have a free tier but because of their ease of use.
    .blank-space