= display_title "Top Email Marketing - Strategies you should execute!"
= display_meta_description "Our email marketing experts created a list of top email marketing strategies you need to consider.", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz, , Top Email Marketing, top ten email marketing, best email marketing, best email marketing campaigns, best bulk email, the best email marketing, best email marketing templates, email marketing best"

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_top_email_marketing_path )
      Top Email Marketing
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Top Email Marketing
    %h2 The Top Email Marketing Strategies customers should execute.
    = image_tag( 'top-email-marketing.jpg', alt: 'top email marketing', class: 'pull-right img-polaroid' )
    %p
      What is considered best email marketing and how can you become a top email marketing user? A lot of things depend on that and this article will help you figure out the basics and learn more about best email marketing campaigns.
    %p
      %strong Top Email Marketing 
      Tips:
      %ul.bullet-disc
        %li Be proactive. It’s important to be proactive. We see many of our clients collecting an email list and then never or very rarely send out an email. If you aren’t proactive, your subscribers will forget about you. The best email marketing campaigns are proactive and consistent. 
        %li Get your message across quickly.
        %li Use Good Subject Lines. One of the best email marketing campaigns are the ones that get your users attention before actually looking at your email content - Subject Lines. There are vital to getting good open rates which push nice conversions and that’s what Top email marketing is all about.
    %p
      The 
      %strong best email marketing 
      experts know that the following 3 keys to success will help you going. 
      %ul
        %li Identify your objectives and see how email marketing can help you accomplish them.
        %li Be consistent. Make sure that you send out occasional emails (figure out a frequency that works for you). This way your subscribers keep you top of mind.
        %li Train your subscribers. Let them know what to expect. The best bulk email is about making sure that your subscribers know what to expect from you. So in a way, you are training them to interact with you.
    %p
      For more email marketing best practices you can check out our 
      %a{:href => "http://blog.optyn.com", :alt => "email marketing blog" } email marketing blog 
      which gives you awesome tips and tricks around best bulk email and you can also see what best email marketing templates should contain. 
    %p
      Also, our 
      %a{ :href => 'http://blog.optyn.com', :alt => "email marketing blog" } email marketing blog
      contains some of the best and top ten email marketing tips and solutions that you might find useful.
    .blank-space