= display_title "Running Specials and Sales"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h5 Running Specials and Sales
    %h2 Using social media and email to promote your special or sale
    %p 
      As a business owner you know that running sales and specials are a great way to:
      %ul
        %li Attract Customers
        %li Increase Sales
        %li Move Inventory
        %li Increase Awareness
        %li Meet Business Objectives
    %p
      Where and how you promote the event is just as important as what you’re promoting. Email marketing and social media are two channels that can help you get the word out and attract the exact people who would be interested. 
    %p
      Here are some tips you can use when planning your next sale or event:
    %p
      %strong 1. Create a Hashtag and tweet
      %br
      You want people to tweet about your event so create a hashtag or tweet. A hashtag will and should be memorable. Create a special Tweet about the promotion and ask your followers to retweet it. This will enable them to share with their friends, ask questions, and comment before, during and after the event.
    %p
      %strong 2.  Continually Promote Through Regular Updates
      %br
      Make sure the updates are not just reminders about the event or sale.  You may want to give details about a particular speaker or notify customers that a new clothing item was added to the sales inventory.  These type of updates either serve as reinforcement to  someone who is already going or gives reasons why someone who hasn’t yet decided should go.
    %p
      %strong 3.  Leverage email and all your social media channels
      %br
      Not every customer, prospect or follower belongs to every social media platform so make sure you use all of them, and don’t forget about email.  Keep in mind that each of the social media channels may require a different theme or focus of your messaging.
    %p
      %strong 4. Go for the WOW
      %br
      Make sure your content gets people to say, Wow – I want to know more.  The “wow” factor starts with the event itself, but then has to be reflected in the messaging.  You want to get people excited.  Think about running contests on social media sites - one of the prizes can be tickets to the event.  Get creative and think out of the box.
    %p
      %strong 5. Place Event Pages on LinkedIn and Google+
      %br
      Think about creating a centralized page on LiknedIn that contains nothing but content and updates about the sale or event.  This prevents your LinkedIn main company page from getting cluttered.  You can do the same thing on Google+ with the added benefit of being able to send day-before-the-event reminders and automatically adding the date to the attendee’s calendar.
    %p
      %strong 6.   Let Attendees Ask Keynote Speakers Questions via Twitter
      %br
      For events, give attendees the ability to tweet their comments and questions which can then be answered by the speaker after the presentation.  Audiences appreciate this feature as they have the potential to  interact with the speaker rather than just listen to a presentation.
    %p
      %strong 7. Continue to Monitor the Event or Sale Conversation on Social Media
      %br
      Make sure someone from your company is tasked with the job of monitoring what is being said regarding the event or sale and respond frequently.
    %p
      Whatever you do, make sure that you are always announcing your specials and sales to your customers. Only then, you'll create enough buzz around it so that you can take advantage of running such specials. Please don't just put an advertisement on your window. Do more!
    .blank-space