= display_title "Email Templates"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_email_templates_path )
      Email Templates
      %span

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Email Templates
    %h2 What makes a good Email Template and why you should care.
    /= image_tag( 'email-blast-software.jpg', alt: 'email blast software', class: 'pull-right img-polaroid' )
    %p 
      Email Templates are really vital to email marketing and formulating your message to your customers. In fact, people don’t understand the few key important factors that makes business email etiquette quite important. 
    %p
      Here’s a few important things to keep in mind when it comes to email marketing templates:
    %p
      %strong Free Email Templates. 
      There are many free email marketing templates you can find around the web but it’s important to know what to look for. Just because they are free doesn’t make them useful or good. When looking for email marketing templates free of charge it’s important to make sure that they are mobile and easy to edit
    %p
      %strong Mobile Email Marketing Templates. 
      Every day, more and more people are opening up emails on their phone or tablet. As of December 2013, about 45% of all emails are open on a mobile device. That’s why mobile responsive email templates are very important. 
    %p
      Here are a few email marketing examples and what to include in your email templates:
      %ul.bullet-disc
        %li Make sure that all of the HTML and CSS code is inline. This will avoid any issues of rendering email templates.
        %li Make sure that it has the components that you are looking for. 
        %li Avoid image based templates that are big and need a lot of changing (i.e. you have to use Images and images don’t look well on mobile devices.
    %p
      These sample email marketing techniques should help you convert your customers better. 
      %ul.bullet-disc
        %li Make the message specific. For example, if you are doing a coupon campaign, focus on the coupon and making the message around the coupon. If you are doing a survey, then simply add the survey or a link to the survey. 
        %li Easy to see call to action like Order Now or Click Here will help you convert.
        %li Every mass email template that you are looking at should be Mobile Responsive.
        %li The best email marketing templates are the ones that work for you.
    %p
      For more Email Marketing Examples, please visit our blog as we are teaching our customers and our followers many subjects including email marketing script, marketing email templates, business email etiquette, and much more.
    %p
      Ultimately, email templates have a big effect on your performance and how well your customers will convert. Email for marketing is not an easy task but with the right guidance, some patience, you can be successful.   
    .blank-space