= display_title "Email Types"
= display_meta_description "Are you using email marketing the right way? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"

.row-fluid.breadcrumbs
  - breadcrumb :resources_email_types

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Email Types
    %h2 How many email types are there?
    = image_tag( 'email-types.jpg', alt: 'email types', class: 'pull-right img-polaroid' )
    %p
      Emails can be segmented into as many categories as there are industries (e.g., real estate), customers, uses (e.g., sales emails, marketing emails), or combinations of all of them (e.g., real estate email marketing).
    %p
      The big advantage with email marketing is its versatility.  Whatever your need or audience there is a type of email that will fit the bill.  For example, if you want to reach a certain segment of your customer list, use targeted email marketing to connect and appeal to them.  If you want to make a customer or prospect feel special, create a custom email and make sure you personalize it with the persons name in the subject field.
    %p
      Some other email types:
      %ul.bullet-disc
        %li Promotional emails
        %li Informational emails
        %li Prospect acquisition emails
        %li Customer Engagement emails
    .blank-space