= display_title "Surveys "
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :resources_surveys

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Surveys
    %h2 How to get the most out of your surveys
    = image_tag( 'survey.jpg', alt: 'Small Business Surveys', class: 'pull-right img-polaroid' )
    %p 
      Surveys are a great way to find out information about your current or potential customers.  The more you know the more you can target your audience with what they prefer and avoid alienating them with things they don’t.
    %p
      To increase response rates on your surveys, follow these tips:
    %p
      %strong Explain why you’re conducting the survey.
      This can be done in an email accompanying the survey or as the lead in.
    %p
      %strong KISS.
      Keep the survey simple and short. The respondents are helping you by giving of their time.  Don’t abuse their kindness.  If you need to know a lot of information, consider multiple surveys conducted over time or sent to different segments.
    %p
      %strong Incentivize.
      Give a little something to thank the respondent. It doesn’t have to be expensive, just something that shows you appreciate their taking the time.
    %p
      With regard to the survey itself, consider: content, wording and the scale.
    %p
      %strong Content.
      When deciding what questions to ask, start with what you’re trying to accomplish or ultimately learn.  Only ask questions that get you to the result.  Don’t waste someone’s time asking a question when you won’t do anything with the answer
      %ul.bullet-disc
        %li Save questions regarding demographics for the end of the survey.  This gives you the opportunity to ask the interesting questions up front when the respondent is most engaged.
        %li Give respondents an open text box to write whatever they think may be relevant
        %li Test your survey with a small group and proof read it before you send it out.
    %p
      %strong Wording. 
      Make sure you are not asking “leading” questions.
      %ul.bullet-disc
        %li Ask, “How good or bad is . . .”, rather than just, “How good is . . .”
        %li Make the questions easy to understand and unambiguous.  Also, ask general questions before you drill down to specific ones.
        %li Make sure you use “why” questions sparingly and fairly.  In other words, don’t only ask “why” when a respondent says they don’t like something.
    %p
      %strong Scales. 
      When using a scale to gauge a response, make sure there are an equal number of positive and negative ratings on either side of the center point.  For example, 
      %ul.bullet-disc
        %li very good - good - neutral - poor - very poor
      Keep in mind that respondents tend to avoid checking end boxes. When appropriate, include N/A (not applicable) options.
    %p
      Designing and writing effective and unbiased surveys is not an easy task.  The tips given above should get you on your way and help you avoid the big mistakes.
    .blank-space







