= display_title "Online Marketing for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h5 Online Marketing for Small Businesses
    %h2 What you can do to market your business online.
    %p 
      The subject of online marketing can be very confusing for a small business owner who has enough to do with just keeping up with customers and vendors.  Plus, as internet marketing matures, the field and tools get more sophisticated and complex.  Books have been written on the topic, so it would be difficult to do the subject justice in this limited space.
    %p
      What we will do instead is list some of the things you can do to take advantage of the marketing power of the internet.  Future articles will focus on different topics related to online marketing.
    %p
      %strong Use Social Networks
      %br
      Create company pages on LinkedIn, Facebook and other social media sites.  Join groups, post comments and interact with other liked minded individuals.  It is a great way to humanize your business and elevate your reputation.
    %p
      %strong Show Your Expertise
      %br
      You’ve been in business a long time and you’re an expert in your field.  Why not write a paper discussing an aspect of your business that someone else might find interesting?  Visitors to your site could be invited to download a copy for free when they sign-up for your emails.  This is a great way to drive traffic to your site and build your email list.

    %p
      %strong Promote Yourself
      %br
      We don’t mean change your title from president to supreme commander, we mean building your brand by writing articles and press releases and circulating them to the press.  You can get yourself a PR person, but if you foster good relationships with the press you may be able to submit stories and PR pieces directly to local media.
    %p
      %strong Post a Video
      %br
      Videos are a popular form of communication.  Do a how-to video or show yourself operating a cool piece of machinery.  Whatever the subject, if it has a visual element to it - get out the camera and start filming.  You can then post it to YouTube and tell your clients, prospects and fans all about it.  Speaking of videos, there is an app called Vine that lets you create 6 second videos.  What can you do in 6 seconds? Take a look at some Vine videos and let your creativity go wild.
    %p
      %strong Run a Contest
      %br
      Create an interesting and compelling contest, post it to your Facebook page, and watch your fans share it.  Pretty soon what started out as 100s of folks being exposed to the contest can turn into 1,000s.
    %p
      This is only a small sampling of the things you can do online to let the power of the internet help to grow your business.  As we said before, engage your customers and prospects and don’t be afraid to get creative.
    .blank-space


ONLINE MARKETING FOR SMALL BUSINESSES

What you can do to market your business online.

The subject of online marketing can be very confusing for a small business owner who has enough to do with just keeping up with customers and vendors.  Plus, as internet marketing matures, the field and tools get more sophisticated and complex.  Books have been written on the topic, so it would be difficult to do the subject justice in this limited space.  What we will do instead is list some of the things you can do to take advantage of the marketing power of the internet.  Future articles will focus on different topics related to online marketing.

Use Social Networks
Create company pages on LinkedIn, Facebook and other social media sites.  Join groups, post comments and interact with other liked minded individuals.  It is a great way to humanize your business and elevate your reputation.

Show Your Expertise
You’ve been in business a long time and you’re an expert in your field.  Why not write a paper discussing an aspect of your business that someone else might find interesting?  Visitors to your site could be invited to download a copy for free when they sign-up for your emails.  This is a great way to drive traffic to your site and build your email list.

Promote Yourself
We don’t mean change your title from president to supreme commander, we mean building your brand by writing articles and press releases and circulating them to the press.  You can get yourself a PR person, but if you foster good relationships with the press you may be able to submit stories and PR pieces directly to local media.

Post a Video
Videos are a popular form of communication.  Do a how-to video or show yourself operating a cool piece of machinery.  Whatever the subject, if it has a visual element to it - get out the camera and start filming.  You can then post it to YouTube and tell your clients, prospects and fans all about it.  Speaking of videos, there is an app called Vine that lets you create 6 second videos.  What can you do in 6 seconds? Take a look at some Vine videos and let your creativity go wild.

Run a Contest
Create an interesting and compelling contest, post it to your Facebook page, and watch your fans share it.  Pretty soon what started out as 100s of folks being exposed to the contest can turn into 1,000s.

This is only a small sampling of the things you can do online to let the power of the internet help to grow your business.  As we said before, engage your customers and prospects and don’t be afraid to get creative.
