= display_title "Importance of Mobile Responsive Emails"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :resources_mobile_responsive_emails

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Mobile Responsive Email Design
    %h2 Making sure your emails can be viewed on mobile devices.
    = image_tag( 'mobile-responsive-email-design.jpg', alt: 'mobile-responsive-email-design', class: 'pull-right img-polaroid' )
    %p 
      As a business owner it is important for you to know about mobile responsiveness.  Let’s first start with what it is. Mobile responsiveness is a web design approach that adapts the layout of the viewing area to the device on which it is seen.  In that way, an an email viewed on a smartphone will look just as good as when it is viewed a computer.
    %p
      Why is this important?  For these three reasons:
      %ul.bullet-disc
        %li More than 50% of all Americans have smartphones,
        %li 45% of all emails are opened on mobile devices, and 
        %li 75% of smartphone users delete emails they can’t read.
    %p
      %strong
        Here are some tips on what to consider when building mobile responsiveness.
      %ul.bullet-disc
        %li Start by designing the site for mobile then develop the desktop version.  You’ll find this is easier than going the other way around.
        %li Don’t treat an email template like a website.  Consumers quickly look through emails for content that appeals to them and then they click the call to action link.
        %li The important stuff should be first.  Don’t assume the reader will scroll to the bottom.
        %li Use higher resolution images so they appear crisp and sharp on high density retina displays.
        %li Design for touch screens so make sure links and buttons are at least the minimum pixel size required.
        %li Animated GIFs won’t work on mobile device so replace these with static images.    
    %p
      There are many more rules your developer will have to follow when designing for mobile responsiveness, but this will give you enough ammunition to be able to start an intelligent conversation with him or her.
    .blank-space
