= display_title "Email Marketing Tips"
= display_meta_description "Are you using email marketing the right way? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_email_marketing_tips_path )
      Email Marketing Tips
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s E-mail Marketing Tips
    %h2 Basic email marketing tips to get your emails opened and read.
    = image_tag( 'email-marketing-tips.jpg', alt: 'email marketing tips', class: 'pull-right img-polaroid' )
    %p 
      Every business is different but it's important to know of the basics of email marketing to get you off on the right foot. Below, you will see a few tips to getting your emails opened and read.
    %p
      %strong Recognizability.
      Because people are more likely to open emails from senders they know and trust, make sure the name of your company is in the From Label.  You can use the name of person in your company as long as that person’s name would be well known to the recipient.
    %p
      %strong Subject Line.
      The best rule of thumb for the subject line is to keep it short, descriptive and compelling - including the name of the recipient would help as well.  Now for some don’t dos: never mislead, don’t use all caps, and don’t go beyond 45 characters.
    %p
      %strong Preview Pane.
      Email recipients have the ability to view emails in a preview pane - a small space that shows the first few lines of the email.  The space is adjustable but is usually 2 inches wide by ⅔ inches tall.  The point is to make sure your most interesting content appears in the beginning of the email so the recipient will be compelled to open and read more.
    %p
      %strong Message Content.
      People generally scan emails.  Make sure you use short rather than long paragraphs.  Have links and calls to action throughout the email since it is rare that someone reads and email all the way through to the bottom.  
    %p
      %strong Images.
      If you’re going to include images, a good rule of thumb is to have 20% of the space dedicated to images and 80% dedicated to text.  Another point on images, the smaller the file size the faster they will load - try to keep the size to 25kb or smaller.  Also, make sure you provide alt-text to the images.  This is the text that will display should the image be blocked.  It is also what will be read by the screen reader for visually impaired recipients.
    %p
      %strong Test - Test - Test.
      As with all components of marketing, make sure you test different layouts, copy, subject lines and all the other variables in an email.  Over time you’ll understand what works for you.
    %p
      We hope you find thses simple email marketing tips useful. For more email marketing tips check out our 
      %a{ :href => "http://blog.optyn.com" } email marketing blog where we provide you with some awesome in-depth email marketing ideas.
    .blank-space