= display_title "Opt In Email Marketing - What does it mean to opt in?"
= display_meta_description "Opt in email marketing is more crucial than businesses think. Our experts tell you why!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz, opt in email, opt in for email marketing, permission based email marketing, optin email marketing, double opt in email marketing, email marketing opt in, opt in email advertising, optin email advertising, email marketing opt, email marketing optin, opt email marketing, opt out email marketing, targeted opt in email marketing"

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_opt_in_email_marketing_path )
      Opt In Email Marketing
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Opt In Email Marketing
    %h2 What is opt in email marketing and what does it mean to opt-in?
    = image_tag( 'opt-in-email-marketing.jpg', alt: 'opt in email marketing', class: 'pull-right img-polaroid' )
    %p
      When someone opts in it means they have given their permission to receive marketing emails from a person or entity. As a small business owner it is important that your customers and prospects opt in for email marketing from you.  
    %p
      Here’s the bottom line - if you send marketing emails to someone who did not request it or who did not give you their prior and informed consent to receive your emails then you are spamming that individual. It does not matter if the person has an option to opt-out after he or she receives the unsolicited email - you have still spammed them.
    %p
      It is not difficult to have an optin email marketing program. Here are some ideas of how you can get an opt in email list:
      %ul.bullet-disc
        %li Have a “subscribe to our email list” button on your web page.
        %li Give the purchaser an opportunity to check an “I’d like to be placed on your mailing list” check box on the order form.
        %li Collect business cards in your store. Be sure you have a sign that says something like, “Put in your business card to sign up for our newsletter and receive a free prize.”
    %p
      To be absolutely sure that the person has opted in, send a confirmation email confirming that they will be placed on an email mailing list and will be contacted by you.This is proof they opted in in the event the recipient reports your email as spam and your email marketing company has contacted you.
    %p
      When you conduct a permission based email marketing campaign you develop a reputation as a reputable marketer and your customers and prospects will have a higher level of trust.
    .blank-space