= display_title "Email Advertising"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_email_advertising_path )
      Email Advertising
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Email Advertising
    %h2 Is email advertising an effective marketing strategy?
    /= image_tag( 'email-blast-software.jpg', alt: 'email blast software', class: 'pull-right img-polaroid' )
    %p 
      Email advertising (which is another way of saying email marketing) sometimes gets placed lower down on the list from the more exciting forms of marketing such as social media, mobile, video and the like.  However, the fact remains that targeted email advertising is still one of the most effective tools available to the marketer.  
    %p
      According to Pew Research’s Internet Project, (August 2011) email and search are still high on the list of popular online adult activities with a 92 percent overall penetration among users and 60 percent daily usage.  
    %p
      More recent studies show that email often delivers a significantly higher ROI than social media and email drives social engagement.
    %p
      If you’re considering marketing your business, be sure to include targeted email advertising. Just contact an email marketing advertising company like Optyn and see how easy it is to get started. All it takes is to register, upload your list and you’ll be creating and sending beautiful email advertising in no time.    
    .blank-space
