= display_title "Capturing Customer Data"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    /Aniket, we need to make the h5 tag an h1 tag but the size of the font should stay the same.
    %h5 GETTING EMAIL ADDRESSES
    %h2 How to grow your email list.
    .blank-space
    %p 
      Before you start an email campaign you need to have a list of email addresses - basic, right?  Otherwise, who is going to be on the receiving end of your brilliant campaign?
    %p
      Here are some ideas on how you can start and grow your email list.
    %p
      %strong
        1. Incentivize Your Existing Customers and Prospects
      %br
      You don’t have to give out expensive gifts.  You can offer an inexpensive coupon or a small free sample.  Many companies produce white papers or case studies that would be of interest to their audience and offer them free.  Whatever the offer make sure it appeals to the people you’re trying to reach.
    %p
      %strong
        2. Refer a Friend Campaigns
      %br
      People like to get recommendations from trusted friends, so if you incent someone to give a referral you stand a better chance of getting a new customer or subscriber.  Your existing customer will also feel good knowing you appreciated his or her efforts enough to give an incentive.
    %p
      %strong
        3.  Existing Customer Contests
      %br
      As mentioned, existing customers like to be recognized for their loyalty.  If you establish a contest or give special prizes to existing customers, you will incent non-customers to be customers and your list - and your sales - will grow. 
    %p
      %strong
        4. Make It Super Easy to Become a Subscriber
      %br
      Many websites focus all the attention on content and “hide” the spot where a visitor can enter his or her email address to become a subscriber.  Make sure your email sign-up spot is easy to find and see.  Also consider having sign-up opportunities on multiple pages.
    %p
      %strong
        5. Don’t Forget Instore Opportunities to Get Email Addresses
      %br
      Methods of capturing email addresses when customers are in your store can range from the primitive to the sophisticated.  Sign-up sheets or “fishbowls” (where consumers can drop in business cards) are basic but effective.   Other approaches have more of a reliance on technology like QR codes or tablets.  Whatever your approach don’t forget to incent the consumer to increase sign-ups.
    %p
      %strong
        6.  Make Yor Privacy Policy Clear to the Consumer
      %br
      Stick to whatever promises you make regarding when and to whom you will share or not share your customer’s email address.
    %p
      And finally, it is generally not a good idea to buy an email list.  The quality of these lists tend to be poor and if there are too many unsubscribes or undeliverables you could wind up in trouble with your ISP or email marketing company.
    .blank-space