= display_title "Mass Email"
= display_meta_description "Are you using email marketing the right way? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_mass_email_path )
      Mass Email
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Mass Email
    %h2 What does it mean to mass email?
    = image_tag( 'mass-email.jpg', alt: 'mass email', class: 'pull-right img-polaroid' )
    %p
      Mass email is a way to market by sending large quantities of marketing emails to customers and prospects. Mass email does not mean spam.  Spam is email that is sent to a recipient that did not request it. Mass email marketing is sending large numbers of emails to individuals who have an interest in receiving them.
    %p
      Keep in mind that just because you send mass email it does not mean that your campaign will be a success. Even if individuals have given permission for you to send them emails, if you have a boring subject line, or if the body of the email is poorly written, or if there is no call to action you will have a low response rate. It is far better to send out fewer emails with a high success rate than sending more emails with a fewer success rate.
    %p
      Mass emailing takes a lot of time and effort.  Finding a good mass emailer is hard and sending mass emails shouldn’t be your key focus. You should focus on building up your list and making its’ growth as natural as possible. 
    .blank-space