= display_title "Direct Email Marketing - Promote your business!"
= display_meta_description "Direct email marketing is one of the best way to engage your prospect clients and your current customers!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz, direct email marketing, email direct marketing, target email marketing, targeted direct email marketing, direct marketing email, email marketing targeted, email target marketing"

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_direct_email_marketing_path )
      Direct Email Marketing
      %span

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Direct Email Marketing
    %h2 What is direct email marketing?
    = image_tag( 'direct-email-marketing.jpg', alt: 'direct email marketing', class: 'pull-right img-polaroid' )
    %p
      Think of direct email marketing as messages that promote your business, products or services to your customers or prospects.  They are more professional looking than a typical email you would send from your personal account.  They are also usually sent by or through an email marketing company like Optyn.
    %p
      Direct email marketing is permission based and as the sender, you would have access to analytics that will enable you to record and judge the effectiveness of your campaigns.  Analytics would include information such as bounces, open rates, click throughs, and unsubscribes.
    %p
      When you use targeted direct email marketing you can send specific messages to different segments in your group.  For example, you can divide your list into frequent and infrequent customers.  Each group could get a different email and or offer. Those are some of the things you can accomplish with target email marketing.
    %p
      Direct email marketing is a great way not only to acquire new customers but to engage existing ones as well.
    .blank-space