= display_title "Direct Email Marketing"
= display_meta_description "What is the best email marketing software for your company? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Direct Email Marketing
    %h2 What is Bulk Email and Bulk Email Marketing and why should you care?
    %p
      Think of direct email marketing as messages that promote your business, products or services to your customers or prospects. They are more professional looking than a typical email you would send from your personal account.  They are also usually sent by or through an email marketing company like Optyn.
    %p
      Direct email marketing is permission based and as the sender, you would have access to analytics that will enable you to record and judge the effectiveness of your campaigns.  Analytics would include information such as bounces, open rates, click throughs, and unsubscribes.
    %p
      Direct email marketing is a great way not only to acquire new customers but to engage existing ones as well.
    .blank-space