= display_title "Customer Retention - Do you know how to keep your customers coming back over and over again?"
= display_meta_description "Customer retention is the keystone in growing your business, but the best part about it, it's very easy and simple to execute!", "improve customer retention, increase customer retention, customer loyalty, customer loyalty and retention, brand loyalty, client retention, building customer, loyalty, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Customer Retention
    %h2 The importance of customer loyalty and retention to your business
    %p 
      Study after study highlight that it costs 5 to 7 times more to get a new customer than to keep an existing one.  In addition, as a general rule, 80% of your sales are going to come from 20% of your existing clients.  So with those statistics in mind it just makes good business sense that you should be spending time making sure your current customers are happy and that they keep coming back.
    %p
      While it goes without saying that you need to always meet or exceed expectations if you want to have a long term relationship with a customer, there are also other additional things you can do to maximize customer loyalty.  For example, you can get meaningful insights that can be used to the mutual benefit of both you and your customer if you capture and store sales and demographic information on all your consumers in your database. Something that is this simple can easily improve customer retention.
    %p
      Then with sophisticated database tools that are available you can analyze and categorize your customer base into different segments and criteria.  For example, a customer can be identified by birth date, age, gender, time since last purchase etc.  With information like this available you can engage your customer on a personal rather than on a mass market level. Taking a personalized step like this will make the customer feel appreciated, and this will increase their brand loyalty towards your product or service. 
    %p
      Here are some ways you can use the data you have to improve the relationship with your customer and increase customer retention:
    %p
      %strong
        Welcome Emails. 
      Take the opportunity to send a welcome email to a new customer.  In it let them know that you value the trust they placed in doing business with you, give contact numbers, explain your privacy and email policy and, in general, set the tone for a long-lasting and positive relationship.
    %p
      %strong
        Birthday Wishes. 
      Merchants that implement birthday messages into their email marketing campaigns see increases in open rates and revenue.  Collecting a subscriber’s birthday and then sending them a special offer near or on the date is a sure fire winner.  The reason – birthday messages are relevant, timely and targeted – the trifecta for engagement, retention and sales.
    %p
      %strong
        After Sale Contact.
      When a customer makes a purchase, follow-up with an email giving him or her the opportunity to comment on the satisfaction level of the transaction as well as on the product itself.  In addition to giving the consumer a chance to express delight or vent anger, you’ll also be getting insights into how your sales personnel and processes are working. It is a step forward to building customer loyalty.
    %p
      %strong
        Event Specific Communications.
      Knowing that a consumer prefers a certain brand, product, or shopping category can enable you to contact them when there is an event related to their interest.  For example, if a consumer recently purchased a baby crib, you may want to notify them of a sale on baby strollers or child car seats.
    %p
      Try these approaches and watch your client retention numbers increase.
    .blank-space




