= display_title "Email Campaign"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email campaigns, email marketing campaign, email marketing campaigns, email campaign management, campaign email marketing, marketing email campaign, marketing email campaigns, successful email campaigns, successful email marketing campaigns, email advertising campaign, email advertising campaigns, mass email campaign, campaigner email marketing, email campaign marketing, targeted email campaigns, targeted email campaign, targeted email marketing campaign"

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = resources_path )
      Marketing Resources
      %span
    %a( href = resources_email_marketing_path )
      Email Marketing
      %span
    %a.current( href = resources_email_campaign_path )
      Email Campaign
      %span

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Email Campaign
    %h2 Email campaigns play a major role and should be an integral part of any marketing effort.
    /= image_tag( 'email-blast-software.jpg', alt: 'email blast software', class: 'pull-right img-polaroid' )
    %p 
      When you’re looking to promote your business consider all the benefits you get by using email marketing campaigns:
    %p
      High ROI - Email marketing campaigns are one of the most effective marketing tools returning up to a 40x ROI.
    %p
      Fast -  You can get a marketing message in the inbox of your recipient almost instantly.  Think of the importance of this capability when you have time sensitive or critical information to share.
    %p
      Generates an Immediate Response -   Provide a link in your email and recipients have an opportunity to respond immediately.
    %p
      Targeted - By segmenting your email list into categories you can tailor the email campaign to just the group you want to target.
    %p
      Proactive - WIth an email campaign you don’t have to wait for your customers or prospects to visit your store or site - you can go to them.
    %p
      Expand Your Reach - When you encourage sharing or if your message is compelling enough, recipients will share your email with their friends via email or through social networks. 
    %p
      Builds Relationships -Email campaigns can foster relationships by by encouraging a dialogue. There is a strong one-to-one relationship you can create with email that you don’t get with a lot of other advertising methods.
    %p
      Once you’ve decided to create an email campaign you should contact a company like Optyn who will help with the creation, scheduling and sending of emails, coordinate with social media and give you the analytics necessary to measure the effectiveness of each email campaign.
    .blank-space