= display_title "Small Business Contest - How a contest can help a small business?"
= display_meta_description "Contests can help small businesses in multitude on ways. However, a contest must be ran the right way to maximize its effectiveness.", "small business contest, small business contests, contests for small businesses, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Small Business Contests
    %h2 Contests are a great way to achieve business goals and engage customers.
    %p 
      Contests are a great way to achieve business goals such as:
      %ul.bullet-disc
        %li Generating additional sales or leads
        %li Increasing awareness
        %li Rewarding existing customers
    %p
      According to an April 2013 study by Ipsos, 52 percent of consumers are motivated to stay connected with a brand by “contests or [having the business] ask for their input about current or new products.” 
    %p
      Here are some tips on how to run a successful contest:
    %p
      %strong
        1.  Determine what you are trying to achieve. 
      Do you want more traffic to your site? Call attention to a new product? Whatever the objective, make sure you set clear goals so you can measure the successes and shortfalls.
    %p
      %strong
        2.  Develop a strategy that supports the objectives.
      If your audience is primarily women, promote the contest on sites frequented by women (e.g., Pinterest). 
    %p
      %strong
        3. Pay attention to potential legal issues.
      Social media sites like Facebook and Twitter could have requirements regarding contests. In addition, there may be federal, state and local restriction on contests.
    %p
      %strong
        4.  Make the contest interesting.
      According to Wildfire Interactive, "Contests that focus on topics that people feel passionate about tend to generate interest...contests that focus on pets, children, sports, hobbies (cooking and travel) and affinity groups."
    %p
      %strong
        5. Give some thought to the prize.
      Make it relevant, make it compelling. To save costs, you may want to ask partners to donate prizes.  And, have a little something for those who entered and who did not win.For example offer a discount or coupon code for after the contest.
    %p
      %strong
        6. Promote the contest. 
      There are a number of ways to get interest building.  Here are just a few:
      %ul.bullet-disc
        %li Post regularly to social media channels
        %li Post the contest on your website
        %li Email your existing customers
        %li Get sponsors and business partners to promote the contest.
    %p
      %strong
        7.  Don’t forget to do a review of the contest results after it ends.
      This is a great way to get insights into what went well and what needs to be improved upon.
    .blank-space
