.row-fluid
  %h1.span9 Salvatore's Ristorante, Chicago, Illinois
  .span3.text-right
    = image_tag "http://placehold.it/200x50", alt: "Salvatore's logo"

.row-fluid
  .span12
    = image_tag "http://placehold.it/1920x700", alt: 'Slavatore interior'

.row-fluid
  .span6
    %h2 The Challenge
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam pariatur culpa saepe eaque odit perspiciatis veniam. Quasi, voluptate, tempore vitae amet eaque temporibus inventore officiis. Dolor, tenetur unde fuga id.
  .span6
    %h2 Solution
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, non laborum nemo ipsa numquam consectetur harum aperiam libero eos quod earum ea. Dolor, deleniti voluptatum at quisquam expedita nam ratione.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, reiciendis, vero, cupiditate, placeat quo dolore tenetur nisi excepturi provident cum animi voluptatem fugit corporis quod possimus vel autem aliquam nihil.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, vero quasi laudantium quo asperiores nihil est eligendi ab sint exercitationem sed obcaecati dolor impedit recusandae facilis neque error quod fugiat!

.row-fluid.text-center
  .span12
    .h2 Campaign Result
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, iste, vero iure ratione molestias alias dignissimos quae. Aliquid, tempore voluptate dolores dolor ad excepturi tenetur omnis eaque at ratione quaerat!
    %h3
      CAMPAIGN 1 -
      %em 20% OFF SPECIAL
    %h4
      Lift Above Benchmark Week:
      %em $1,117

.row-fluid
  .span6
    %h2 Conclusion
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, ipsam, eaque, commodi, dolores molestiae totam a consequuntur dicta necessitatibus mollitia ratione magni expedita porro sint temporibus atque consectetur minus excepturi.
  .span6
    %h2 About Optyn
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, ipsam, eaque, commodi, dolores molestiae totam a consequuntur dicta necessitatibus mollitia ratione magni expedita porro sint temporibus atque consectetur minus excepturi.

.row-fluid
  %p.span8 Try it today and start engaging your customers and increasing sales.
  %a.btn-transparent.btn-large.span4{ href: '#' } Get Started for FREE!
