= display_title "E-Mail Marketing Sitemap for Optyn"
= display_meta_description "Find any page that you need and all the resources around our email marketing and small business marketing", "email marketing, small business marketing, email marketing resources, email marketing services, optyn email marketing, optyn marketing sitemap, optyn sitemap, email marketing sitemap"

.row-fluid.breadcrumbs
  - breadcrumb :sitemap

.op-sitemap
  .row-fluid
    .span12
      %h1 Sitemap

  .row-fluid
    .span4
      %h4 Our Company
      %ul
        %li
          %a{ :href => alley_gallery_testimonial_path, :alt => "Marketing Testimonials", :title => "Marketing Testimonials" } Testimonials
        %li
          %a{ :href => about_path, :alt => "Email Marketing Experts", :title => "Email Marketing Experts" } About Us
        %li
          %a{ :href => 'http://www.angel.co/optyn/jobs', :target => "_blank"} Jobs
        %li
          %a{ :href => 'http://blog.optyn.com', :alt => "email marketing blog", :title => "Email Marketing Blog" } Email Marketing Blog
        %li
          %a{ :href => terms_path } Terms of Use
        %li
          %a{ :href => privacy_path } Privacy Policy
        %li
          %a{ :href => website_sitemap_path } Sitemap
        %li
          %a{ :href => profile_sitemap_path } Merchant Profiles


    .span4
      %h4 For Merchants
      %ul
        %li
          %a{ :href => merchant_features_path, :alt => "Software Features", :title => "Software Features" } Features
        %li
          %a{ :href => tour_page_path, :alt => "Software Tour", :title => "Software Tour" } Quick Tour
        %li
          %a{ :href => faq_path } FAQs
        %li
          %a{ :href => pricing_path, :alt => "Email Marketing Pricing", :title => "Email Marketing Pricing"} Pricing
        %li
          %a{ :href => support_path, :target => "_blank" } Customer Support
        %li
          %a{ :href => new_merchants_manager_registration_path } Get Started!
        %li 
          %a{:href => marketing_path, :alt => "Marketing Software", :title => "Marketing Software" } Marketing Software
        %li
          %a{:href => resources_path, :alt => "Marketing Resources", :title => "Marketing Resources" } Marketing Resources
    .span4
      %h4 For Partners
      = render 'layouts/links_partner'

  .blank-space

  .row-fluid
    .span4
      %h4 Marketing Software
      %ul
        %li
          %a{ :href => email_marketing_path, :alt => "Email Marketing", :title => "Email Marketing" } E-Mail Marketing
        %li
          %a{ :href => mobile_responsive_path, :alt => "Mobile Responsive Emails", :title => "Mobile Responsive Emails" } Mobile Responsive E-Mails
        %li
          %a{ :href => capturing_data_path, :alt => "Capturing Customer Emails", :title => "Capturing customer emails" } Capturing Customer E-Mails
        %li
          %a{ :href => email_deliverability_path, :alt => "Email Deliverability", :title => "Email Deliverability" } E-Mail Deliverability
        %li 
          %a{ :href => marketing_promotions_path, :alt => "Marketing Promotions", :title => "Marketing Promotions" } Marketing Promotions
        %li
          %a{ :href => coupons_path, :alt => "Coupon Marketing", :title => "Coupon Marketing" } Coupons
        %li
          %a{ :href => contests_path, :alt => "Contest Marketing", :title => "Contest Marketing" } Contests
        %li
          %a{ :href => surveys_path, :alt => "Survey Marketing", :title => "Survey Marketing" } Surveys
        %li
          %a{ :href => specials_path, :alt => "Specials and Sales", :title => "Specials and Sales" } Specials and Sales
        %li
          %a{ :href => social_media_marketing_path, :alt => "Social Media marketing", :title => "Social Media Marketing" } Social Media Marketing
        %li
          %a{ :href => marketing_automation_path, :alt => "Marketing Automation", :title => "Marketing Automation" } Marketing Automation
        %li
          %a{ :href => marketing_syndication_path, :alt => "Marketing Syndication", :title => "Marketing Syndication" } Marketing Syndication
        %li
          %a{ :href => marketing_ideas_path, :alt => "Marketing Ideas", :title => "Marketing Ideas" } Marketing Ideas
        %li
          %a{ :href => online_marketing_path, :alt => "Online Marketing for Small Business", :title => "Online Marketing for Small Business" } Online Marketing
        %li
          %a{ :href => automated_marketing_path, :alt => "Automated Marketing", :title => "Automated Marketing" } Automated Marketing
        %li
          %a{ :href => loyalty_marketing_path, :alt => "Loyalty Marketing", :title => "Loyalty Marketing" } Loyalty Marketing
        %li
          %a{ :href => customer_retention_path, :alt => "Customer Retention", :title => "Customer Retention" } Customer Retention
        %li
          %a{ :href => marketing_analytics_path, :alt => "Marketing Analytics", :title => "Marketing Analytics" } Marketing Analytics 
        %li
          %a{ :href => digital_marketing_path, :alt => "Digital Marketing", :title => "Digital Marketing" } Digital Marketing
        %li 
          %a{ :href => marketing_collaboration_path, :alt => "Marketing Collaboration", :title => "Marketing Collaboration" } Marketing Collaboration
        %li
          %a{ :href => multi_channel_marketing_path, :alt => "Multi Channel Marketing", :title => "Multi Channel Marketing" } Multi-channel Marketing
        %li
          %a{ :href => integrated_marketing_path, :alt => "Integrated Marketing", :title => "Integrated Marketing" } Integrated Marketing
    .span4
      %h4 Small Business Marketing Resources
      %ul.sidebar-nav
        %li
          %a{ :href => resources_email_marketing_path, :alt => "Learn about Email Marketing", :title => "learn about Email Marketing" } E-Mail Marketing
        %li
          %a{ :href => resources_mobile_responsive_emails_path, :alt => "Mobile Responsive Email Design", :title => "Mobile Responsive Email Design" } Mobile Responsive E-Mails
        %li
          %a{ :href => resources_capturing_customer_emails_path, :alt => "How to capture customer emails", :title => "How to capture customer emails" } Capturing Customer E-Mails
        %li
          %a{ :href => resources_capturing_customer_data_path, :alt => "How to capture customer data", :title => "How to capture customer data" } Capturing Customer Data
        %li
          %a{ :href => resources_evolution_email_path, :alt => "Evolution of Email Marketing", :title => "Evolution of Email Marketing" } Evolution of E-Mail Marketing
        %li
          %a{ :href => resources_email_marketing_tips_path, :alt => "Email Marketing Tips", :title => "Email Marketing Tips" } Email Marketing Tips
        %li
          %a{ :href => resources_best_practices_path, :alt => "Email marketing Best Practices", :title => "Email Marketing Best Practices" } E-Mail Marketing Best Practices
        %li
          %a{ :href => resources_measuring_success_path, :alt => "Measuring Success of Email Marketing", :title => "Measuring Success of Email Marketing" } Measuring Success of Email Marketing
        %li
          %a{ :href => resources_getting_started_path, :alt => "Getting started with Email Marketing", :title => "Getting started with email marketing" } Getting Started with Email Marketing
        %li
          %a{ :href => resources_email_marketing_types_path, :alt => "Different Email Types", :title => "Different Email Types" } Different E-Mail Types
        %li
          %a{ :href => resources_marketing_promotions_path, :alt => "How to Run Marketing Promotions", :title => "How to Run Marketing Promotions" } Running Marketing Promotions
        %li
          %a{ :href => resources_contests_path, :alt => "How to run a Contest", :title => "How to Run a Contest" } Contests
        %li
          %a{ :href => resources_coupons_path, :alt => "Learn about Coupon Marketing", :title => "Learn About Coupon Marketing" } Coupons
        %li
          %a{ :href => resources_surveys_path, :alt => "Surveys", :title => "Surveys" } Surveys 
        %li
          %a{ :href => resources_specials_sales_path, :alt => "Specials and Sales", :title => "Specials and Sales" } Specials and Sales
        %li
          %a{ :href => resources_social_media_path, :alt => "Social Media Marketing for Small Business", :title => "Social Media Marketing for Small Business" } Social Media Marketing
        %li
          %a{ :href => resources_digital_marketing_path, :alt => "Digital Marketing", :title => "Digital Marketing" } Digital Marketing
        %li
          %a{ :href => resources_online_marketing_path, :alt => "Online Marketing", :title => "Online Marketing" } Online Marketing
        %li
          %a{ :href => resources_marketing_automation_path, :alt => "Marketing Automation", :title => "Marketing Automation" } Marketing Automation
        %li
          %a{ :href => resources_marketing_syndication_path, :alt => "Marketing Syndication", :title => "Marketing Syndication" } Marketing Syndication
        %li
          %a{ :href => resources_customer_retention_path, :alt => "Customer Retention", :title => "Customer Retention" } Customer Retention
        %li
          %a{ :href => resources_loyalty_marketing_path, :alt => "Loyalty Marketing", :title => "Loyalty Marketing" } Loyalty Marketing
        %li
          %a{ :href => resources_marketing_analytics_path, :alt => "Marketing Analytics", :title => "Marketing Analytics" } Marketing Analytics
        %li
          %a{ :href => resources_marketing_ideas_path, :alt => "Marketing Ideas", :title => "Marketing Ideas" } Marketing Ideas
        %li
          %a{ :href => resources_integrated_marketing_path, :alt => "Integrated Marketing", :title => "Integrated Marketing" } Integrated Marketing
        %li
          %a{ :href => resources_reachable_audience_path, :alt => "Reachable Audience", :title => "Reachable Audience" } Reachable Audience
    .span4
      %h4 Additional Services
      %ul 
        %li
          %a{ :href => email_marketing_software_path, :alt => "Email Marketing Software", :title => "Email Marketing Software" } Email Marketing Software
        %li
          %a{ :href => free_email_marketing_path, :alt => "Free Email Marketing", :title => "Free Email Marketing" } Free Email Marketing
        %li
          %a{ :href => free_email_marketing_software_path, :alt => "Free Email Marketing Software", :title => "Free Email Marketing Software" } Free Email Marketing Software
        %li
          %a{ :href => email_blast_software_path, :alt => "Email Blast Software", :title => "Email Blast Software" } Email Blast Software
        %li
          %a{ :href => bulk_email_software_path, :alt => "Bulk Email Software", :title => "Bulk Email Software" } Bulk Email Software
        %li
          %a{ :href => email_marketing_solutions_path, :alt => "Email Marketing Solutions", :title => "Email Marketing Solutions" } Email Marketing Solutions
        %li
          %a{ :href => mass_mail_software_path, :alt => "Mass Mail Software", :title => "Mass Mail Software" } Mass Mail Software
        %li
          %a{ :href => newsletter_software_path, :alt => "Newsletter Software", :title => "Newsletter Software" } Newsletter Software
        %li
          %a{ :href => free_newsletter_software_path, :alt => "Free Newsletter Software", :title => "Fre Newsletter Software" } Free Newsletter Software
        %li
          %a{ :href => free_email_marketing_software_path, :alt => "Free Email Marketing Software", :title => "Free Email Marketing Software" } Free Email Marketing Software
        %li
          %a{ :href => email_marketing_agency_path, :alt => "Email Marketing Agency", :title => "Email Marketing Agency" } Email Marketing Agency
        %li
          %a{ :href => email_marketing_programs_path, :alt => "Email Marketing Programs", :title => "Email Marketing Programs" } Email Marketing Programs
  .row-fluid
    .span4
      %h4 Additional Resources
      %ul.bullet-disc
        %li 
          %a{:href => resources_email_templates_path, :alt => "Email Templates", :title => "Email Templates" } Email Templates
        %li 
          %a{:href => resources_email_marketing_system_path, :alt => "Email Marketing System", :title => "Email Marketing System"} Email Marketing System
        %li 
          %a{:href => resources_best_email_marketing_path, :alt => "Best Email marketing", :title => "Best Email Marketing"} Best Email Marketing
        %li 
          %a{:href => resources_best_newsletter_software_path, :alt => "Best Newsletter Software", :title => "Best Newsletter Software"} Best Newsletter Software
        %li 
          %a{:href => resources_direct_email_marketing_path, :alt => "Direct Email Marketing", :title => "Direct Email Marketing"} Direct Email Marketing
        %li 
          %a{:href => resources_bulk_email_path, :alt => "Bulk Email", :title => "Bulk Email"} Bulk Email
        %li 
          %a{:href => resources_best_email_marketing_software_path, :alt => "Best Email Marketing Software", :title => "Best Email Marketing Software"} Best Email Marketing Software
        %li 
          %a{:href => resources_best_bulk_email_software_path, :alt => "Best Bulk Email Software", :title => "Best Bulk Email Software"} Best Bulk Email Software
        %li 
          %a{:href => resources_cheap_email_marketing_path, :alt => "Cheap Email Marketing", :title => "Cheap Email Marketing"} Cheap Email Marketing
        %li 
          %a{:href => resources_top_email_marketing_software_path, :alt => "Top Email Marketing Software", :title => "Top Email Marketing Software"} Top Email Marketing Software
        %li 
          %a{:href => resources_email_broadcast_path, :alt => "Email Broadcast", :title => "Email Broadcast"} Email Broadcast
        %li 
          %a{:href => resources_email_blast_path, :alt => "Email Blast", :title => "Email Blast"} Email Blast
        %li 
          %a{:href => resources_best_free_email_marketing_path, :alt => "Best Free Email Marketing", :title => "Best Free Email Marketing" } Best Free Email Marketing
        %li 
          %a{:href => resources_email_advertising_path, :alt => "Email Adertising", :title => "Email Advertising" } Email Advertising
        %li 
          %a{:href => resources_email_campaign_path, :alt => "Email Campaign", :title => "Email Campaign" } Email Campaign
        %li 
          %a{:href => resources_email_marketing_stats_path, :alt => "Email Marketing Stats", :title => "Email Marketing Stats" } Email Marketing Stats
        %li 
          %a{:href => resources_small_business_email_marketing_path, :alt => "Small Business Email Marketing", :title => "Small Business Email Marketing" } Small Business Email Marketing
        %li 
          %a{:href => resources_email_marketing_strategy_path, :alt => "Email Marketing Strategy", :title => "Email Marketing Strategy" } Email Marketing Strategy
        %li 
          %a{:href => resources_how_to_email_marketing_path, :alt => "How to do Email Marketing", :title => "How to do Email Marketing" } How to Email Marketing
        %li 
          %a{:href => resources_catchy_email_subject_lines_path, :alt => "Catchy Email Subject Lines", :title => "Catchy Email Subject Lines" } Catchy Email Subject Lines
        %li 
          %a{:href => resources_top_email_marketing_path, :alt => "Top Email Marketing", :title => "Top Email Marketing" } Top Email Marketing
        %li 
          %a{:href => resources_email_marketing_online_path, :alt => "Email Marketing Online", :title => "Email Marketing Online" } Email Marketing Online
        %li 
          %a{:href => resources_what_is_email_marketing_path, :alt => "What is Email Marketing", :title => "What is Email Marketing" } What is Email Marketing
        %li 
          %a{:href => resources_follow_up_emails_path, :alt => "Follow Up Emails", :title => "Follow Up Emails" } Follow Up Emails
        %li 
          %a{:href => resources_email_types_path, :alt => "Email Types", :title => "Email Types" } Email Types
        %li 
          %a{:href => resources_email_newsletter_path, :alt => "Email Newsletter", :title => "Email Newsletter" } Email Newsletter
        %li 
          %a{:href => resources_mass_email_path, :alt => "Mass Email", :title => "Mass Email" } Mass Email
        %li 
          %a{:href => resources_opt_in_email_marketing_path, :alt => "Opt In Email Marketing", :title => "Opt In Email Marketing" } Opt In Email Marketing
.blank-space
