= display_title "E-Mail Marketing Sitemap for Optyn"
= display_meta_description "Find any page that you need and all the resources around our email marketing and small business marketing", "email marketing, small business marketing, email marketing resources, email marketing services, optyn email marketing, optyn marketing sitemap, optyn sitemap, email marketing sitemap"

.row-fluid.breadcrumbs
  -  breadcrumb :profile_sitemap

.op-sitemap
  .row-fluid
    .span4
      %h4 Customer Profiles
      %ul
        - @shops.each do |shop|
          %li
            = link_to(shop.name, public_shop_path(shop.identifier))        
.blank-space
