= display_title "Social Media Marketing for Small Businesses"
= display_meta_description "Optyn helps your business with social media marketing and syndicate your marketing content to various social media outlets.", "social media software, social media marketing, social media marketing software, social media automaiton, social media marketing automation, social media marketing sofware for small businesses, small busines social media marketing software"

.row-fluid.breadcrumbs
  - breadcrumb :social_media_marketing


.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Social Media Marketing
    %h2 Find your customers and reach them through Social Media.
    = image_tag( 'social-media-marketing.jpg', alt: 'social media marketing', class: 'pull-right img-polaroid', title: 'Social Media Marketing' )
    %p 
      Social Media is a growing piece of the marketing pie. Today, your customers are on Facebook, Twitter, Pinterest, and many more social accounts. But just because they are in different places, you shouldn’t have to worry about reaching and finding them.
    %p
      Optyn allows you to create marketing promotions in 2 minutes or less, and while doing that, we help you syndicate these promotions through social media channels like Facebook, Twitter, Pinterest, and LinkedIn. We know the importance of reaching your customer and we make sure that it is not an obstacle you have to worry it.
    %p
      We also believe that you shouldn’t have to work extra or harder just because you have to deal with different social media networks. Optyn’s integrated social media marketing solution allows you to still reap the benefits of Optyn’s simplicity and speed of use.
    %p
      Every Optyn account comes with built in social media marketing and we let you:
      %ul.bullet-disc
        %li Once you create a campaign, we give you the ability to automatically share these on your Facebook Page, Twitter Account, Pinterest Board, and Linkedin Company Page. 
        %li We auto-populate your email template with your social media accounts and icons so you don’t have to worry about adding it.
        %li All of your campaigns track social sharing and syndication.
        %li 
          Optyn allows you to run Social Media Contests 
          %a{:href => "#", :alt => "Social Media Contests"}
            Social Media Contests
          and easily grow your social media and customer base. 
    %p
      Social Media Marketing is important to a marketing strategy for small businesses. We make sure that your business takes advantage of it while you still enjoy the benefits of optyn: Powerful, simple, and effective.
    %p
      Start with a free account today and see how you and your business can benefit from Optyn’s Automated Marketing Platform.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space