= display_title "Specials and Sales Promotions for Small Businesses"
= display_meta_description "Create Specials and sale marketing campaigns in less than 2 minutes", "specials, sales, announce a special, announce a sale, specials and sales, create a sale, create a special, small business specials, small business sales"

.row-fluid.breadcrumbs
  - breadcrumb :specials

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s Specials and Sales 
    %h2 Creating and Announcing Specials and Sales has never been easier.
    = image_tag( 'specials-and-sales.jpg', alt: 'email marketing', class: 'pull-right img-polaroid', title: 'Specials and Sales' )
    %p 
      Running a special or a sale is a perfect way to get customers through the doors. One of the ways to make sure your customers engage with your business and continously buy it to entice them with a special or a sale.
    %p
      Optyn’s marketing software for small businesses helps you easily create great specials and awesome sales that will excite your customers. The best part of having a special or a sale is to make sure that your customers know about it and we help you deliver  it via email or social media and splash it across other sites to get more customers.
    %p
      Optyn’s marketing automation software lets you:
      %ul.bullet-disc
        %li Create Specials on the fly.
        %li Announce your Sales within 2 minutes or less.
        %li Share the great news with your customers via email and social media.
        %li Syndicate the good news and attract new customers on other sites with one click.    
    %p
      Sometimes the best form of advertising is giving customers to try your product. Specials and sales help you accomplish that and keep your business on the rise. Get customers into the door now. Sign up today and give optyn a try for free.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space