.row-fluid
  %h1 Alley Gallery LOVES Optyn

.row-fluid
  .span6
    %h4 We love Optyn because...
    %blockquote They make marketing hassle free and quite frankly fun. We aren't afraid to get into the abyss of email marketing and with Optyn, we can now reach our customer base, provide great marketing content and increase engagement with our store.
    %a.btn.btn-large.btn-success{ :href => new_merchants_manager_registration_path } Get started for FREE!

  .span6
    = image_tag 'testimonial-alley-gallery.jpg', alt: 'Alley Gallery'

.blank-space.large

.row-fluid
  %h2.span12.text-center How Alley Gallery uses Optyn

.row-fluid
  .span6.t-coupons
    %h4 Coupons
    %p Alley Gallery sends out surveys to get vital feedback from their customers. Mainly they want to know how their customers engage with them and what type of products they are buying. This allows them to segment their customers with ease using Optyn.
  .span6.t-sales
    %h4 Sales
    %p Alley Gallery sends out surveys to get vital feedback from their customers. Mainly they want to know how their customers engage with them and what type of products they are buying. This allows them to segment their customers with ease using Optyn.

.blank-space

.row-fluid
  .span6.t-surveys
    %h4 Surveys
    %p Alley Gallery sends out surveys to get vital feedback from their customers. Mainly they want to know how their customers engage with them and what type of products they are buying. This allows them to segment their customers with ease using Optyn.
  .span6.t-events
    %h4 Events
    %p Alley Gallery sends out surveys to get vital feedback from their customers. Mainly they want to know how their customers engage with them and what type of products they are buying. This allows them to segment their customers with ease using Optyn.

.blank-space

.row-fluid
  .span6.t-p-announcements
    %h4 Product announcements
    %p Alley Gallery sends out surveys to get vital feedback from their customers. Mainly they want to know how their customers engage with them and what type of products they are buying. This allows them to segment their customers with ease using Optyn.
  .span6.t-feature
    %h4 Another feature
    %p Alley Gallery sends out surveys to get vital feedback from their customers. Mainly they want to know how their customers engage with them and what type of products they are buying. This allows them to segment their customers with ease using Optyn.

.blank-space
