= display_title "Optyn Testimonials - We are loved! "
= display_meta_description "A few words from our loyal customers. A few words why they love us. We dare you not to fall in love with the best email marketing software for small businesses.", "local marketing tools, email marketing, email marketing for smbs, small businesses, small business marketing, customer engagement, customer acquisition, email marketing software, email marketing tips"

.row-fluid
  %h1 Alley Gallery LOVES Optyn

.row-fluid
  .span6
    %h4 We love Optyn because...
    %blockquote
      %i.icon-quote-left
      They make marketing hassle free and quite frankly fun. We aren't afraid to get into the abyss of email marketing and with Optyn, we can now reach our customer base, provide great marketing content and increase engagement with our store.
      %i.icon-quote-right
    .blank-space
    .text-center
      %a.btn.btn-large.btn-success{ :href => new_merchants_manager_registration_path } Get started for FREE!

  .span6.alley-gallery
    = image_tag 'testimonial-alley-gallery.jpg', alt: 'Alley Gallery'

.blank-space.large

.row-fluid
  %h2.span12.text-center How Alley Gallery uses Optyn

.row-fluid
  .span6.t-coupons
    %h4 Coupons
    %p Alley Gallery sends out surveys to get vital feedback from their customers. Mainly they want to know how their customers engage with them and what type of products they are buying. This allows them to segment their customers with ease using Optyn.
  .span6.t-sales
    %h4 Sales
    %p Alley Gallery sends out surveys to get vital feedback from their customers. Mainly they want to know how their customers engage with them and what type of products they are buying. This allows them to segment their customers with ease using Optyn.

.blank-space

.row-fluid
  .span6.t-surveys
    %h4 Surveys
    %p Alley Gallery sends out surveys to get vital feedback from their customers. Mainly they want to know how their customers engage with them and what type of products they are buying. This allows them to segment their customers with ease using Optyn.
  .span6.t-events
    %h4 Events
    %p Alley Gallery sends out surveys to get vital feedback from their customers. Mainly they want to know how their customers engage with them and what type of products they are buying. This allows them to segment their customers with ease using Optyn.

.blank-space

.row-fluid
  .span6.t-p-announcements
    %h4 Product announcements
    %p Alley Gallery sends out surveys to get vital feedback from their customers. Mainly they want to know how their customers engage with them and what type of products they are buying. This allows them to segment their customers with ease using Optyn.
  .span6.t-feature
    %h4 Another feature
    %p Alley Gallery sends out surveys to get vital feedback from their customers. Mainly they want to know how their customers engage with them and what type of products they are buying. This allows them to segment their customers with ease using Optyn.

.blank-space
