.row-fluid
  .span12{:align => "center"}
    %h1 Alley Gallery LOVES Optyn

.row-fluid
  .span6
    %h4 We love Optyn because...
    %blockquote They make marketing hassle free and quite frankly fun. We aren't afraid to get into the abyss of email marketing and with Optyn, we can now reach our customer base, provide great marketing content and increase engagement with our store.
    %a.btn.btn-large.btn-success{ :href => new_merchants_manager_registration_path } Get started for FREE!

  .span6
    = image_tag 'testimonial-alley-gallery.jpg', alt: 'Alley Gallery'

.blank-space.large

.row-fluid
  %h2.span12.text-center How Alley Gallery uses Optyn

.row-fluid
  .span6.t-p-announcements
    %h4 Product announcements
    %p Alley Gallery sends out new product announcements. Everytime they have a new product, like the "Scratch Map of the World", they have an easy and quick way to letting their customers know about the new product arrival.
  .span6.t-sales
    %h4 Sales Announcements
    %p Alley Gallery holds regular sales on specific items and services such as framing. Alley uses Optyn to send out a sales announcement to their subscribers and social media followers. An easy and quick qay to make sure their entire customer base knows on what's going on and no one misses out.

.blank-space

.row-fluid
  .span6.t-surveys
    %h4 Surveys
    %p Surveys are a great way to get vital feedback from customers. Alley Gallery uses surveys to identify different segments of customers and what new products and services they should introduce.
  /.span6.t-events

.blank-space