#content
  .container
    .content_page
      .content
        %p
          = "Thanks for signing up for Pivotal Tracker. You should be receiving a confirmation email shortly, with instructions on how to complete the sign up process. We're looking forward to having you as a user, and we value your feedback!"
          %hr
            If you have any questions, or do not receive a confirmation email, please contact us at
            %a.twitter-follow-button{'data-show-count' => 'false', 'data-size' => 'large', :href => 'mailto:suport@optyn.com'} suport@optyn.com.