%div
  - if preview
    %h5 This is a preview of your Survey that customers can fill out. You can send this to them via the Survey Email.

  %div
    - @survey_questions.each do |question|
      - if question.show_label
        %div
          %span
            = question.label.html_safe

      .clearfix

      %div
        = question.markup.html_safe
        %br
        

      .clearfix

      = hidden_field_tag "survey[survey_answers_attributes][#{question.id}][survey_question_id]", question.id