- if fetch_flash_type
  .alert
    %button{:type => "button", :class => "close", :'data-dismiss' => "alert"}x
    = flash[:alert]

%div
  = form_for :survey_question, :url => merchants_survey_survey_question_path(params[:id]), :method => :put, :html => {:id => "survey_question_form"} do |f|
    
    %fieldset
      = render :partial => "merchants/survey_questions/form", locals: {f: f}

    .clearfix