#manage-tabs.tab-pane.active
  %ul.nav.nav-tabs
    %li{ class: active_tab_class([ 'locations' ])}
      %a{:href => merchants_locations_path}Locations
    %li{ class: active_tab_class([ 'merchant_managers' ])}
      %a{:href => merchants_managers_list_path}Managers
    %li{ class: active_tab_class([ 'subscriptions' ])}
      %a{:href => merchants_upgrade_subscription_path}Pricing Plan
    %li{ class: active_tab_class([ 'social_profiles' ])}
      %a{:href => merchants_social_profile_path(current_shop.id)}Social Profiles
    %li{ class: active_tab_class([ 'shops', 'registrations' ])}
      %a{:href => merchants_shop_path}Details
.clearfix
