.container-fluid
  .row-fluid
    / start: Main Menu
    #sidebar-left.span1
      .nav-collapse.sidebar-nav
        %ul.nav.nav-tabs.nav-stacked.main-menu
          %li
            %a{:href => "index.html"}
              %i.fa-icon-bar-chart
              %span.hidden-tablet Dashboard
          %li
            %a{:href => "infrastructure.html"}
              %i.fa-icon-hdd
              %span.hidden-tablet Infrastructure
          %li
            %a{:href => "messages.html"}
              %i.fa-icon-envelope
              %span.hidden-tablet Messages
          %li
            %a{:href => "tasks.html"}
              %i.fa-icon-tasks
              %span.hidden-tablet Tasks
          %li
            %a{:href => "ui.html"}
              %i.fa-icon-eye-open
              %span.hidden-tablet UI Features
          %li
            %a{:href => "widgets.html"}
              %i.fa-icon-dashboard
              %span.hidden-tablet Widgets
          %li
            %a.dropmenu{:href => "#"}
              %i.fa-icon-folder-close-alt
              %span.hidden-tablet Dropdown
            %ul
              %li
                %a.submenu{:href => "submenu.html"}
                  %i.fa-icon-file-alt
                  %span.hidden-tablet Sub Menu 1
              %li
                %a.submenu{:href => "submenu.html"}
                  %i.fa-icon-file-alt
                  %span.hidden-tablet Sub Menu 2
              %li
                %a.submenu{:href => "submenu.html"}
                  %i.fa-icon-file-alt
                  %span.hidden-tablet Sub Menu 3
          %li
            %a{:href => "form.html"}
              %i.fa-icon-edit
              %span.hidden-tablet Forms
          %li
            %a{:href => "chart.html"}
              %i.fa-icon-list-alt
              %span.hidden-tablet Charts
          %li
            %a{:href => "typography.html"}
              %i.fa-icon-font
              %span.hidden-tablet Typography
          %li
            %a{:href => "gallery.html"}
              %i.fa-icon-picture
              %span.hidden-tablet Gallery
          %li
            %a{:href => "table.html"}
              %i.fa-icon-align-justify
              %span.hidden-tablet Tables
          %li
            %a{:href => "calendar.html"}
              %i.fa-icon-calendar
              %span.hidden-tablet Calendar
          %li
            %a{:href => "file-manager.html"}
              %i.fa-icon-folder-open
              %span.hidden-tablet File Manager
          %li
            %a{:href => "icon.html"}
              %i.fa-icon-star
              %span.hidden-tablet Icons
          %li
            %a{:href => "login.html"}
              %i.fa-icon-lock
              %span.hidden-tablet Login Page
    / end: Main Menu
    %noscript
      .alert.alert-block.span11
        %h4.alert-heading Warning!
        %p
          You need to have
          %a{:href => "http://en.wikipedia.org/wiki/JavaScript", :target => "_blank"} JavaScript
          enabled to use this site.
    / start: Content
    #content.span11
      .row-fluid
        .tempStats
          .tempStatBox.span2{:ondesktop => "span2", :ontablet => "span4"}
            .tempStat 78
            %span CPU Temperature
          .tempStatBox.span2{:ondesktop => "span2", :ontablet => "span4"}
            .tempStat 78
            %span GPU Temperature
          .tempStatBox.span2{:ondesktop => "span2", :ontablet => "span4"}
            .tempStat 78
            %span HDD Temperature
          .tempStatBox.span2.noMargin{:ondesktop => "span2", :ontablet => "span4"}
            .tempStat 78
            %span SSD Temperature
          .tempStatBox.span2{:ondesktop => "span2", :ontablet => "span4"}
            .tempStat 78
            %span Memory Bank Temperature
          .tempStatBox.span2{:ondesktop => "span2", :ontablet => "span4"}
            .tempStat 78
            %span Memory Controller Temperature
          .clearfix
        .row-fluid.hideInIE8
          .span12
            .circleStats
              .span2{:ondesktop => "span2", :ontablet => "span4"}
                .circleStatsItemBox
                  .header Disk Space Usage
                  %span.percent percent
                  .circleStat
                    %input.whiteCircle{:type => "text", :value => "58"}/
                  .footer
                    %span.count
                      %span.number 20000
                      %span.unit MB
                    %span.sep /
                    %span.value
                      %span.number 50000
                      %span.unit MB
              .span2{:ondesktop => "span2", :ontablet => "span4"}
                .circleStatsItemBox
                  .header Bandwidth
                  %span.percent percent
                  .circleStat
                    %input.whiteCircle{:type => "text", :value => "78"}/
                  .footer
                    %span.count
                      %span.number 5000
                      %span.unit GB
                    %span.sep /
                    %span.value
                      %span.number 5000
                      %span.unit GB
              .span2{:ondesktop => "span2", :ontablet => "span4"}
                .circleStatsItemBox
                  .header Memory
                  %span.percent percent
                  .circleStat
                    %input.whiteCircle{:type => "text", :value => "100"}/
                  .footer
                    %span.count
                      %span.number 64
                      %span.unit GB
                    %span.sep /
                    %span.value
                      %span.number 64
                      %span.unit GB
              .span2.noMargin{:ondesktop => "span2", :ontablet => "span4"}
                .circleStatsItemBox
                  .header CPU
                  %span.percent percent
                  .circleStat
                    %input.whiteCircle{:type => "text", :value => "83"}/
                  .footer
                    %span.count
                      %span.number 64
                      %span.unit GHz
                    %span.sep /
                    %span.value
                      %span.number 3.2
                      %span.unit GHz
              .span2{:ondesktop => "span2", :ontablet => "span4"}
                .circleStatsItemBox
                  .header Memory
                  %span.percent percent
                  .circleStat
                    %input.whiteCircle{:type => "text", :value => "100"}/
                  .footer
                    %span.count
                      %span.number 64
                      %span.unit GB
                    %span.sep /
                    %span.value
                      %span.number 64
                      %span.unit GB
              .span2{:ondesktop => "span2", :ontablet => "span4"}
                .circleStatsItemBox
                  .header Memory
                  %span.percent percent
                  .circleStat
                    %input.whiteCircle{:type => "text", :value => "100"}/
                  .footer
                    %span.count
                      %span.number 64
                      %span.unit GB
                    %span.sep /
                    %span.value
                      %span.number 64
                      %span.unit GB
      %hr/
      .row-fluid
        .widget.span12
          %h2
            %span.glyphicons.fire
              %i
            Active Users
          %hr/
          .content
            #activeUsers{:style => "height:300px;"}
      %hr/
      .row-fluid
        .widget.span12
          %h2
            %span.glyphicons.fire
              %i
            Server Load
          %hr/
          .content
            #serverLoad{:style => "height:300px;"}
      / end: Content
    / /#content.span10
  / /fluid-row
  #myModal.modal.hide.fade
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h3 Settings
    .modal-body
      %p Here settings can be configured...
    .modal-footer
      %a.btn{"data-dismiss" => "modal", :href => "#"} Close
      %a.btn.btn-primary{:href => "#"} Save changes
