#features.features_page
  .container
    .features1
      / header
      .row
        .span12
          %h4
            Connections coming soon...
      / feature list
      .row
        .span3
          %ul.nav.nav-tabs.nav-stacked
            %li.nav-header Your Menu
            %li.active
              %a{:href => "#"} Dashboard
            %li
              %a{:href => edit_user_registration_path, :method => :put} My Account
            %li
              %a{:href => "segments"} My Surveys
            %li
              %a{:href => "connections"} Connections
            %li
              %a{:href => profile_path} My Profile
            %li
              %a{:href => destroy_user_session_path} Logout
        .span6
          %p
            Coming Soon

