= display_title 'Unsubscribe'
#consumer.unsubscribe
	.container
		= render partial: "shared/menu" if current_user.present?
		.span8.offset2.text-center{:style => "height: 200px;"}
			%h5
				Are you sure you want to unsubscribe from receiving all messages and communications from
				= @shop.name
				?

			.blank-space
			= link_to "Unsubscribe", opt_out_connection_path(Encryptor.encrypt(@message_user.email, @message.uuid)), class: 'btn-warning btn btn-large', method: :put
