/Shop Social Profiles
= render partial: "shared/system_emails/email_social_profiles"


%div{ style: 'width:100%;padding:20px 0 0 0;text-align:center;'}
  %p{:style => "font-size: 11px;margin:0px;"}
    &nbsp;