*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.rvmrc
config/database.yml
.idea/
.DS_Store
public/uploads/*
dump.rdb
/nbproject/*
.ruby-gemset
public/assets
.idea/
*DS_Store
