= banner("Edit #{current_shop.name} Details")

#merchants.pad3pc
  .container
    .form 
      = form_for :shop, url: merchants_shop_path, method: :put, html: {id: 'edit_shop_form'} do |f|
        = render :partial => 'form', :locals => {f: f}
