.control-group
  .controls.row
    = f.text_field :name, class: 'input-xlarge span12', placeholder: (name_label_text rescue "Name"), 'data-toggle' => 'tooltip', title: 'Name the campaign'
    .span12 Something easy to remember.
