.control-group
  = f.label :name, (name_label_text rescue "Name"), class: 'control-label'
  .controls
    = f.text_field :name, class: 'input-xlarge'
    Something easy to remember.

.control-group
  = f.label :second_name, (second_name_label_text rescue "Name the Coupon"), class: 'control-label'
  .controls
    = f.text_field :second_name, class: 'input-xlarge'
