- content = @message.content || 'Hello {{Customer Name}},'
= f.label :content, "Enter your Message Details:"
= f.cktext_area :content, :id => "content",:value => content, :toolbar => 'Custom', :ckeditor => {       filebrowserImageUploadUrl: "/ckeditor/pictures?shop_id=#{current_manager.shop.id}" }
