= f.label :content, "Details"
= f.cktext_area :content, :id => "content", :toolbar => 'Custom', :ckeditor => {       filebrowserImageUploadUrl: "/ckeditor/pictures?shop_id=#{current_manager.shop.id}" }
