- verbiage = fine_print_verbiage

= f.text_area :fine_print, class: 'input-xxlarge details span12', style: "display: #{show_message_part(@message.fine_print)}", rows: 3, cols: 10,
  'data-toggle' => 'tooltip', title: verbiage, placeholder: 'Fine Print'
