.control-group
  .controls.row
    = f.text_area :fine_print, class: 'input-xxlarge details span12', rows: 3, cols: 10, 'data-toggle' => 'tooltip', title: 'Fine print', placeholder: 'Fine print'
    .span12
      = fine_print_verbiage