= f.text_area :redemption_instructions, class: 'input-xxlarge details span12', style: "display: #{show_message_part(@message.redemption_instructions)}", rows: 3, cols: 10,
  'data-toggle' => 'tooltip', title: verbiage, placeholder: 'Redemption Instructions'