%div
  %p
    == "We are having a special. Here's the scoop:"

  %p
    %strong Details:
    = render partial: "shared/#{message_partner_name(@shop)}/messages/content"

  %p
    %strong RSVP Directions:
  = simple_format(@message.rsvp)