/ Modal
#login_type_modal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-body
    .actions-wrapper
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      .actions.text-center
        %a.btn.btn-primary{:href => "#user", class: 'login-type-action'}
          %i.icon-user.icon-white
          I am a Consumer
        %a.btn.btn-info{:href => "#shop", class: 'login-type-action'}
          %i.icon-shopping-cart.icon-white
          I am a Business User

    #loading{style: 'display:none;'}
      %strong Please Wait...
