!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mailer
    :css
      /* GLOBAL */
      * { 
        margin:0;
        padding:0;
      }
      * { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }


      /* ELEMENTS */
      .btn {
        text-decoration:none;
        color: #FFF;
        background-color: #1791c0;
        padding:10px 16px;
        font-weight:bold;
        margin-right:10px;
        text-align:center;
        cursor:pointer;
        display: inline-block;
      }

      p.callout {
        padding:15px; background-color:#ECF8FF; margin-bottom: 15px; text-align: center;
      }
      .callout a {
        font-weight:bold;
        color: #2BA6CB;
      }

      a.gp { background-color: #DB4A39!important; }
      a.ms { background-color: #000!important; }

      .sidebar .soc-btn { 
        display:block; width:100%;
      }

      /* HEADER */
      .header.container table td.logo { padding: 15px; }
      .header.container table td.label { padding: 15px; padding-left:0px;}



      /* TYPOGRAPHY */

      p, ul { 
        margin-bottom: 10px; 
        font-weight: normal; 
        font-size:14px; 
        line-height:1.6;
      }
      p.lead { font-size:17px; }
      p.last { margin-bottom:0px;}

      ul li {
        margin-left:5px;
        list-style-position: inside;
      }

      /* SIDEBAR */
      ul.sidebar {
        background:#ebebeb;
        display:block;
        list-style-type: none;
      }
      ul.sidebar li { display: block; margin:0;}
      ul.sidebar li a {
        text-decoration:none;
        color: #666;
        padding:10px 16px;
        margin-right:10px;
        cursor:pointer;
        border-bottom: 1px solid #777777;
        border-top: 1px solid #FFFFFF;
        display:block;
        margin:0;
      }
      ul.sidebar li a.last { border-bottom-width:0px;}
      ul.sidebar li a h1,ul.sidebar li a h2,ul.sidebar li a h3,ul.sidebar li a h4,ul.sidebar li a h5,ul.sidebar li a h6,ul.sidebar li a p { margin-bottom:0!important;}


      /* Odds and ends */
      .column-wrap { 
        padding:0!important; 
        margin:0 auto; 
        max-width:600px!important;
      }


      /* PHONE with media query support */
      @media only screen and (max-width: 600px) {
        
        a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

        div[class="column"] { width: auto!important; float:none!important;}
        
        table.social div[class="column"] {
          width:auto!important;
        }

      }
        %body{:bgcolor => "#FFFFFF", :style => "  -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; width: 100%!important; height: 100%;"}
    / HEADER
    %table.head-wrap{:bgcolor => "#1791c0", :style => "width: 100%;"}
      %tr
        %td
        %td.header.container{:style => "display:block!important; max-width:600px!important; margin:0 auto!important; clear:both!important;"}
          .content{:style => "padding:15px; max-width:600px; margin:0 auto; display:block;"}
            %table{:bgcolor => "#1791c0", :style => "width: 100%;"}
              %tr
                %td
                  %img{:alt => "Optyn logo", :src => "http://development.optyn.com/assets/email_logo_white.png", :style => "max-width: 100%;"}/
                %td{:align => "right"}
                  %h6.collapse{:style => "font-weight:900; font-size: 14px; text-transform: uppercase; color:#FFF; margin:0; padding:0;font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif; line-height: 1.1;"} Optyn Beta is now live.
        %td
    / /HEADER
    / BODY
    %table.body-wrap{:style => "width: 100%;"}
      %tr
        %td
        %td.container{:bgcolor => "#FFFFFF", :style => "display:block!important; max-width:600px!important; margin:0 auto!important; clear:both!important;"}
          .content{:style => "padding:15px; max-width:600px; margin:0 auto; display:block;"}
            %table{:style => "width: 100%;"}
              %tr
                %td
                  %h3{:style => "font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000; font-weight:500; font-size: 27px;"}
                    Greetings Optyn Friends & Ambassadors,
                  %p We have officially launched Optyn beta! In order to make Optyn the best product on the market, we need your assistance and feedback. We are excited to have you as a beta user so let the journey begin!
                  %h4{:style => "font-weight:500; font-size: 23px; font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;"}
                    Here are a few cool features we launched:
                  %h5{:style => "font-weight:900; font-size: 17px; font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;"}
                    For Merchants:
                  %ul
                    %li The simplest email marketing solution has arrived!
                    %li
                      If you are a business owner, brand manager or someone with an online following, you can use our product to send emails quickly and easily.
                      %a{:href => "https://optyn.com/merchants/managers/sign_up", :style => "color: #2BA6CB;"} Click here to get started!
                    %li Optyn allows you to quickly and easily engage your customers by creating email campaigns in 2 minutes or less.
                    %li Let Optyn guide you through the process to quickly and easily create emails: product announcements, coupons, promotions, company news and more!
                    %li The simplest solution: no need to be an expert in marketing or computer programming (no HTML or CSS required).
                    %li Increase your email list by adding an Optyn widget on your website that will help you collect email subscribers.
                    %li If you have an existing email list, you can import it easily and start mailing today. We make it seamless for you to ditch Constant Contact and MailChimp.
                  %h5{:style => "font-weight:900; font-size: 17px; font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;"}
                    For Consumers:
                  %ul
                    %li
                      Download the Optyn Google Chrome extension by
                      = succeed "!" do
                        %a{:href => "http://bit.ly/1cfo2gx", :style => "color: #2BA6CB;"} clicking here
                      Our Chrome Extension lets you easily opt-in to any website's email list without sharing your personal email address (helping your reduce spam by only receiving emails that you subscribe to).
                    %li Our marketing inbox lets you see and control all of your Optyn email subscriptions in one place. You will soon be able to control marketing email frequency and create custom filters ensuring you only receive the emails that you care about most.
                  %h4{:style => "font-weight:500; font-size: 23px; font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;"}
                    Upcoming Feature Releases:
                  %h5{:style => "font-weight:900; font-size: 17px; font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;"}
                    For Merchants:
                  %ul
                    %li More customizations and options for your marketing emails
                    %li New campaign-types, including contests, sweepstakes and custom HTML.
                    %li Setup automated email campaigns (set it and forget it!), including custom triggers: birthdays, anniversaries, incentivized opt-in and more!
                    %li Physical opt-in process to help you collect customer email addresses in-person and in-store.
                  %h5{:style => "font-weight:900; font-size: 17px; font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;"}
                    For Consumers:
                  %ul
                    %li Extensions for other browsers.
                    %li Categorized "Marketing Inbox".
                    %li Ability to control marketing email frequency and create custom filters ensuring you only receive the emails that you care about most.
                    %li Daily and Weekly Digests for different categories (receive all your marketing emails rolled up into just one, single email).
                  %p
                    %a{:href => "http://www.optyn.com", :style => "color: white;background: #64aaef;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;font: normal 16px/25px 'Open Sans', sans-serif;letter-spacing: 1px;border-bottom: solid 2px rgba(0, 0, 0, 0.2);-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;transition: all 0.2s ease-out;border-top: 0;border-left: 0;border-right: 0;padding: 3px 10px;display: inline-block;margin-top: 10px;text-decoration: none;cursor:pointer;"} Learn More about Optyn
                    \ 
                    %a{:href => "http://bit.ly/1cfo2gx", :style => "text-decoration:none;color: #FFF;background-color: #1791c0;padding:10px 16px;font-weight:bold;margin-right:10px;text-align:center;cursor:pointer;display: inline-block;"} Download Chrome Extension
                  %p Your feedback is very much appreciated. You can leave feedback directly on our website, email it directly to me (alen@optyn.com) or give me a call on my personal cell phone (773) 817-2759. If you have feature suggestions, please let us know!
                  %p
                    Go ahead and enjoy -
                    %a{:href => "www.optyn.com", :style => "color: #2BA6CB;"} www.optyn.com
                  %p
                    Thank you,
                    %br/
                    Alen Malkoc
                    %br/
                    Co-Founder and CEO
                    %br/
                    Optyn, Inc.
                  %table.social{:style => "background-color: #ebebeb; color: #2BA6CB;", :width => "100%"}
                    %tr
                      %td
                        / column 1
                        %table.column{:align => "left", :cellpadding => "15", :style => "width: 280px; min-width: 279px; float:left;"}
                          %tr
                            %td
                              %h5{:style => "font-weight:900; font-size: 17px; font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;"}
                                Connect with Us:
                              %p
                                %a.soc-btn.fb{:href => "http://www.facebook.com/optyn", :style => "background-color: #3B5998; padding: 3px 7px; font-size:12px; margin-bottom:10px; text-decoration:none; color: #FFF;font-weight:bold; display:block; text-align:center;"} Facebook
                                %a.soc-btn.tw{:href => "http://www.twitter.com/optyn", :style => "background-color: #1daced; padding: 3px 7px; font-size:12px; margin-bottom:10px; text-decoration:none; color: #FFF;font-weight:bold; display:block; text-align:center;"} Twitter
                        / /column 1
                        / column 2
                        %table.column{:align => "left", :cellpadding => "15", :style => "width: 280px; min-width: 279px; float:left;"}
                          %tr
                            %td
                              %h5{:style => "font-weight:900; font-size: 17px; font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;"} Contact Info:
                              %p
                                Phone:
                                %strong 773-828-9462
                                %br/
                                Email:
                                %strong
                                  %a{:href => "emailto:support@optyn.com", :style => "color: #2BA6CB;"} support@optyn.com
                                %br/
                                %a{:href => "http://support.optyn.com", :style => "color: #2BA6CB;"} Knowledge Base
                                +
                                %a{:href => "http://www.optyn.com", :style => "color: #2BA6CB;"} How to Get Started
                        / /column 2
                        .clear{:style => "clear: both;"}
                  / /social & contact
          / /content
        %td
    / /BODY
    / FOOTER
    %table.footer-wrap{:style => "width: 100%; clear:both!important;"}
      %tr
        %td
        %td.container{:style => "display:block!important; max-width:600px!important; margin:0 auto!important; clear:both!important;"}
          / content
          .content{:style => "padding:15px; max-width:600px; margin:0 auto; display:block;"}
            %table{:style => "width: 100%;"}
              %tr
                %td{:align => "center"}
                  %p
                    %a{:href => "http://www.optyn.com", :style => "color: #2BA6CB;"} Home
                    |
                    %a{:href => "http://support.optyn.com", :style => "color: #2BA6CB;"} Support
                    |
                    %a{:href => "https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=alen@optyn.com&su=Unsubscribe me&body=Hi Alen, Sorry but I no longer wish to receive these emails so please unsubscribe me.", :style => "color: #2BA6CB;"} Unsubscribe
          / /content
        %td
    / /FOOTER