#social_profile_wrapper{:class => "modal hide fade", :tabindex => "-1", :role => "dialog", :'aria-labelledby' => "myModalLabel", :'aria-hidden' => "true"}
  #loading.social-profile-loader  
    &nbsp;