#merchants
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3 Edit social profile

  .modal-body
    .form
      = form_for :social_profile, url: merchants_social_profile_path(@social_profile.id), method: :put, html: {id: 'social_profile_form', class: 'form-horizontal'} do |f|
        = render partial: 'merchants/social_profiles/form', :locals => {:f => f}
