= banner('Social Profiles')

= render partial: 'merchants/merchant_managers/tabs'

#merchants.pad3pc
  = render partial: "merchants/social_profiles/list"

= render partial: "merchants/social_profiles/profile_form_wrapper"