- if @message.present? && @partner.eatstreet?
  %table{:style => 'width:100%;max-width:600px;margin:auto;color:#ffffff;background-color:#292929;'}
    %tr
      %td{:style => "padding-left: 20px; padding-right: 20px; max-height: 40px; padding-top: 15px; padding-bottom: 15px; width: 100%; margin: 0px auto; text-align: center;"}
        %p{:style => "font-weight: bold; margin: 0px; font-size:11px;text-align: right;"}
          Powered by
          %a{:href => "http://www.eatstreet.com/?utm_source=optyn&utm_medium=email&utm_campaign=merchant_promo", :target => "_blank"}
            = image_tag "#{SiteConfig.app_base_url}/assets/eat-street-logo.png?body=1", {:style => 'max-width: 300px'}
    %tr      