#preview-meta-data-view.preview-menu

  %strong Choose header background color:
  %p
    #message_color_body
      .row-fluid
        = render partial: "header_form"
        %div.loading{:style => "display: none;"}
          %strong Loading...
  %strong Your Logo:
  %p
    = show_logo(@shop)
  .btn-group
    %a.btn.btn-small#choose-new-logo{ href: '#' } Change logo
    %a.btn.btn-small.btn-danger{ href: '#' } Remove
  %input#change-logo-image{ type: 'file' }
  #selected-logo-img-url
