%h4 Description

= render partial: 'merchants/shared/messages/content', locals: {f: f}

= render partial: 'merchants/shared/messages/date', locals: {f: f, ending_label: "Event Date and Time", ending_date_title: 'Date of the event', ending_time_title: 'Time when the event starts'}

.blank-space

= f.text_area :rsvp, class: 'input-xxlarge details span12', rows: 3, cols: 10, placeholder: 'RSVP INSTRUCTIONS'

.blank-space

= render partial: 'merchants/shared/messages/optional', locals: {f: f}