= render partial: 'merchants/shared/messages/commons_header', locals: {f: f, name_label_text: 'Name the Campaign', second_name_label_text: 'Announcement Name'}

= render partial: 'merchants/shared/messages/content', locals: {f: f}

= render partial: 'merchants/shared/messages/commons_footer', locals: {f: f}