= render partial: 'merchants/shared/messages/content', locals: {f: f}

.control-group
  = f.label :special_try, "Special Try", class: 'control-label'
  .controls
    = f.check_box :special_try

= render partial: 'merchants/shared/messages/optional', locals: {f: f}
