= render partial: 'merchants/shared/messages/content', locals: {f: f}

/ .control-group
/   = f.label :special_try, "Special Try", class: 'control-label'
/   .controls
/     = f.check_box :special_try

.control-group
  Add button
  = check_box_tag "add_button" , true,  set_default(@message.button_url)
= render partial: 'merchants/shared/messages/optional', locals: {f: f}
