= render partial: 'merchants/shared/messages/content', locals: {f: f}

= render partial: 'merchants/shared/messages/date', locals: {f: f, ending_label: "Date and Time", ending_date_title: 'Date when the sale ends', ending_time_title: 'Time when the sale ends.'}

.blank-space

= render partial: 'merchants/shared/messages/optional', locals: {f: f}
