/* The mixins in this file make it easier to work with CSS properties where
  vendor prefixes are required. No need to write all vendor prefixes each time.
  Just include the required mixin and pass it the required paramters.

  http://css3please.com/ was useful while creating this file. */

@mixin rotate( $degree ) {
  -webkit-transform: rotate( $degree );
     -moz-transform: rotate( $degree );
      -ms-transform: rotate( $degree );
       -o-transform: rotate( $degree );
          transform: rotate( $degree );
}

@mixin perspective( $viewerDistance ) {
  -webkit-perspective: $viewerDistance;
          perspective: $viewerDistance;
}

@mixin transform( $transformParams ) {
  -webkit-transform: $transformParams;
     -moz-transform: $transformParams;
      -ms-transform: $transformParams;
       -o-transform: $transformParams;
          transform: $transformParams;
}

@mixin transformOrigin( $transformOrigin ) {
  -webkit-transform-origin: $transformOrigin;
          transform-origin: $transformOrigin;
}

@mixin transition( $params... ) {
  -webkit-transition: $params;
     -moz-transition: $params;
       -o-transition: $params;
          transition: $params;
}

@mixin box-sizing( $param ) {
  -webkit-box-sizing: $param;
     -moz-box-sizing: $param;
          box-sizing: $param;
}

@mixin border-radius( $radius ) {
  -webkit-border-radius: $radius;
          border-radius: $radius;
  background-clip: padding-box;
}

@mixin box-shadow( $shadow ) {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

