/* Variables */

/* Colours ------------------------------------ */
$dark-blue: #2e3e51;
$blue: #64aaef;
$orange: #e34e37;
$green: #51b8a2;
$black: #333;
$white: #fff;
$light-gray: #eee;
$medium-gray: #ccc;
$dark-gray: #666;
$bluish-green: #4ac3d1;
$red: #ff3617;
