/* VARIABLES ============================================================
   This file should be included at the beginning of application.css.scss.
   Then variables in this file can be used in all .scss files. ======= */

/* Colours ------------------------------------ */
$dark-blue: #2e3e51;
$blue: #64aaef;
$orange: #FF8C32;
$chrome-yellow: #ffc85d;
$green: #1cc057;
$black: #333;
$white: #fff;
$light-gray: #eee;
$medium-gray: #ccc;
$dark-gray: #666;
$bluish-green: #4ac3d1;
$red: #FF5338;
$fb-blue: #3a589b;
$google-plus-red: #d6492f;
$linkedin-blue: #007ab9;
$pinterest-red: #cb2027;
$twitter-blue: #598dca;


/* Fonts -------------------------------------- */
/* Fonts are imported in app/views/layouts/_web_fonts.html.haml partial */
/* Include fonts */
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
// @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
// @import url(https://fonts.googleapis.com/css?family=Merriweather);
// @import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
// $serif: 'Merriweather', Georgia, serif;
$sans-serif: 'Nunito', 'Open Sans', 'Ubuntu', 'Roboto', 'Helvetica Neue', 'Segoe UI', sans-serif;
$open-sans: 'Open Sans', 'Ubuntu', 'Roboto', 'Helvetica Neue', sans-serif;


/* Screen dimensions -------------------------- */
$mobile-width: 320px;
$qvga-w: 320px;
$qvga-h: 240px;
$vga-w:  640px;
$vga-h:  480px;
$xga-w:  1024px;
$xga-h:  768px;
$wxga-w: 1200px;
$wxga-h: 800px;
$hd-h: 768px;
$hd-w: 1366px;
$hdp-h: 900px;
$hdp-w: 1600px;

/* Selectors ---------------------------------- */
$all-inputs: unquote('input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],textarea,select,.uneditable-input');
