%div{:id => "infoDialog_#{user.id}", :class => "modal hide fade", :tabindex => "-1", :role => "dialog", :'aria-labelledby' => "myModalLabel", :'aria-hidden' => "true"}
  .modal-header
    %button{:type => "button", :class => "close", :'data-dismiss' => "modal", :'aria-hidden' => "true"}X
    %h3 User Info
  .modal-body
    - user.permissions_users.each do |permission_user|
      - permission = permission_user.permission
      %p
        %strong
          == #{(permission.permission_name == 'fullname' ? 'name'.titleize : permission.permission_name.titleize)}:
        - if name_id == permission_user.permission_id
          = connection_user_name(permission_user, user, name_id)
        - elsif email_id ==  permission_user.permission_id
          = connection_user_email(permission_user, user, email_id)