%div{:id => "infoDialog_#{user.id}", :class => "modal hide fade", :tabindex => "-1", :role => "dialog", :'aria-labelledby' => "myModalLabel", :'aria-hidden' => "true"}
  .modal-header
    %button{:type => "button", :class => "close", :'data-dismiss' => "modal", :'aria-hidden' => "true"}X
    %h3 User Info
  .modal-body
    - user.permissions_users.collect(&:permission).each do |permission|
      %p
        %strong
          == #{permission.name.titleize}:
        = eval("user.display_#{permission.name}")