#box_sign
  .container
    %h2 Your Account
    = render partial: "merchants/shared/menu"

    .span8
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Name
            %th Connected via
            %th Permission
            %th Details
        %tbody
          %tr
            %td 3
            %td Alen Malkoc
            %td Website
            %td Full
            %td
              %a{:href => "#"} More Info
          %tr
            %td 3
            %td Alen Malkoc
            %td Website
            %td Full
            %td
              %a{:href => "#"} More Info
          %tr
            %td 3
            %td Alen Malkoc
            %td Website
            %td Full
            %td
              %a{:href => "#"} More Info
          %tr
            %td 3
            %td Alen Malkoc
            %td Website
            %td Full
            %td
              %a{:href => "#"} More Info