.span3
  %ul.nav.nav-tabs.nav-stacked
    %li.nav-header Your Menu
    %li.active
      %a{:href => "#"} Dashboard
    %li
      %a{:href => edit_user_registration_path, :method => :put} My Account
    %li
      %a{:href => "segments"} My Surveys
    %li
      %a{:href => connections_path} Connections
    %li
      %a{:href => profile_path} My Profile
    %li
      = link_to "My Messages", inbox_messages_path
    %li
      %a{:href => destroy_user_session_path} Logout