%div
  = "Please provide your valuable Feedback"
  %br
  %div{style: "text-align:center"}
    = link_to("Take our Survey", path, style: 'border: medium none; border-radius: 3px; font: 2rem/1.6rem sans-serif; letter-spacing: 1px; transition: all 0.2s ease-out 0s; background: none repeat scroll 0 0 #64AAEF; color: #FFFFFF; padding:12px 31px; display: inline-block;text-decoration:none;margin-top:15px;')
