.row-fluid
  .span8.offset2.thank-you
    %h3
      Thank you very much for recording your feedback. We encourage you to take more feedback to get more narrowed marketing messages from your connections.
    / Please click
    / = link_to "here", segments_path
    /to take check if any surveys are available from other connections.
