= render partial: "shared/surveys/markup", locals: {preview: true}

.actions
  = link_to "Show", merchants_survey_path, class: 'btn btn-info'
  = link_to "Edit", edit_merchants_survey_path, class: 'btn btn-primary'
  = render partial: 'merchants/surveys/launch_button', locals: {survey: @survey}