/ features
#about.about_page
  .container
    / header
    %h2.section_header
    %hr.left.visible-desktop/
    %span About Us
    %hr.right.visible-desktop/
    .row
      .span12
        %h3.intro
          Whether you need to create a brand from scratch, including marketing materials
          and a beautiful and functional website or whether you are looking for a design
          refresh pleased with the results.
    / description
    .row
      .span6
        %p
          here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
          %br/
          don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
          %br/
          you need to be sure there isn't anything embarrassing hidden in the middle of text.
          %br/
          All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.
          here are many variations of passages of Lorem Ipsum available, but the
          %br/
          majority have suffered alteration in some form, by injected humour, or randomised
          %br/
          words which
          don't look even slightly believable. If you are going to use a passage of
          %br/
          Lorem Ipsum.
      .span6
        %p
          here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
          %br/
          don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
          %br/
          you need to be sure there isn't anything embarrassing hidden in the middle of text.
          %br/
          All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.
          here are many variations of passages of Lorem Ipsum available, but the
          %br/
          majority have suffered alteration in some form, by injected humour, or randomised
          %br/
          words which
          don't look even slightly believable. If you are going to use a passage of
          %br/
          Lorem Ipsum.
    / header
    %h2.section_header.team
    %hr.left.visible-desktop/
    %span Our Team
    %hr.right.visible-desktop/
    .row
      .span3.teammate
        = image_tag "front_end_static_page/about.png", class: ""
        %h5 Alejandra Galv치n Castillo
        %p Creative Director
        %hr/
        %p.description
          We are a fairly small, flexible design studio that designs for the web.
          We work with clients to fulfill their
          needs.
        .social
          %a{:href => "#"}
            %i.social.tw
          %a{:href => "#"}
            %i.social.fb
          %a{:href => "#"}
            %i.social.gp
          %a{:href => "#"}
            %i.social.pin
      .span3.teammate
        = image_tag "front_end_static_page/about.png", class: ""
        %h5 Alejandra Galv치n Castillo
        %p Creative Director
        %hr/
        %p.description
          We are a fairly small, flexible design studio that designs for the web.
          We work with clients to fulfill their
          needs.
        .social
          %a{:href => "#"}
            %i.social.tw
          %a{:href => "#"}
            %i.social.fb
          %a{:href => "#"}
            %i.social.gp
      .span3.teammate
        = image_tag "front_end_static_page/about.png", class: ""
        %h5 Alejandra Galv치n Castillo
        %p Creative Director
        %hr/
        %p.description
          We are a fairly small, flexible design studio that designs for the web.
          We work with clients to fulfill their
          needs.
        .social
          %a{:href => "#"}
            %i.social.tw
          %a{:href => "#"}
            %i.social.fb
          %a{:href => "#"}
            %i.social.gp
      .span3.teammate
        = image_tag "front_end_static_page/about.png", class: ""
        %h5 Alejandra Galv치n Castillo
        %p Creative Director
        %hr/
        %p.description
          We are a fairly small, flexible design studio that designs for the web.
          We work with clients to fulfill their
          needs.
        .social
          %a{:href => "#"}
            %i.social.tw
          %a{:href => "#"}
            %i.social.fb
          %a{:href => "#"}
            %i.social.gp
          %a{:href => "#"}
            %i.social.pin
