/ starts pricing
#pricing.pricing_page
  .container
    / header
    %h2.section_header
    %hr.left.visible-desktop/
    %span
      Pricing
      %small
        See all plan details here
    %hr.right.visible-desktop/
    / pricing charts 1
    .row
      .span4
        .price_wrapper.lite.regular
          .header
            %span Lite
            .price
              %span $ 35
              Per Month
          .section
            %h3
              Passages of Lorem randomised
              words which look slightly.
            %ul.perks
              %li
                %i.i_shuffle
                Cross-browser
              %li
                %i.i_loading
                Fast-loading
            %a.btn{:href => "#"} Order now
      .span4
        .price_wrapper.pro
          .header
            %span Pro
            .price
              %span $ 99
              Per Month
          .section
            %h3
              Passages of Lorem randomised
              words which look slightly.
            %ul.perks
              %li
                %i.i_shuffle
                Cross-browser
              %li
                %i.i_loading
                Fast-loading
              %li
                %i.i_bookmark
                Bookmarkable URLs
              %li
                %i.i_bars
                W3C Standards
            %a.btn{:href => "#"} Order now
      .span4
        .price_wrapper.standard.regular
          .header
            %span Standard
            .price
              %span $ 65
              Per Month
          .section
            %h3
              Passages of Lorem randomised
              words which look slightly.
            %ul.perks
              %li
                %i.i_shuffle
                Cross-browser
              %li
                %i.i_loading
                Fast-loading
              %li
                %i.i_bookmark
                Bookmarkable URLs
            %a.btn{:href => "#"} Order now
    / header
    %h2.section_header
    %hr.left.visible-desktop/
    %span
      Pricing
      %small
        4 columns
    %hr.right.visible-desktop/
    / pricing charts 4 columns
    .row.cols4
      .span3
        .price_wrapper.lite.regular
          .header
            %span Lite
            .price
              %span $ 35
              Per Month
          .section
            %h3
              Passages of Lorem randomised
              words which look slightly.
            %ul.perks
              %li
                %i.i_shuffle
                Cross-browser
              %li
                %i.i_loading
                Fast-loading
            %a.btn{:href => "#"} Order now
      .span3
        .price_wrapper.standard.regular
          .header
            %span Standard
            .price
              %span $ 65
              Per Month
          .section
            %h3
              Passages of Lorem randomised
              words which look slightly.
            %ul.perks
              %li
                %i.i_shuffle
                Cross-browser
              %li
                %i.i_loading
                Fast-loading
              %li
                %i.i_bookmark
                Bookmarkable URLs
            %a.btn{:href => "#"} Order now
      .span3
        .price_wrapper.pro
          .header
            %span Pro
            .price
              %span $ 85
              Per Month
          .section
            %h3
              Passages of Lorem randomised
              words which look slightly.
            %ul.perks
              %li
                %i.i_shuffle
                Cross-browser
              %li
                %i.i_loading
                Fast-loading
              %li
                %i.i_bookmark
                Bookmarkable URLs
              %li
                %i.i_bars
                W3C Standards
            %a.btn{:href => "#"} Order now
      .span3
        .price_wrapper.ultra.regular
          .header
            %span Ultra
            .price
              %span $ 99
              Per Month
          .section
            %h3
              Passages of Lorem randomised
              words which look slightly.
            %ul.perks
              %li
                %i.i_shuffle
                Cross-browser
              %li
                %i.i_loading
                Fast-loading
              %li
                %i.i_bookmark
                Bookmarkable URLs
              %li
                %i.i_bars
                W3C Standards
            %a.btn{:href => "#"} Order now
    / header
    %h2.section_header
    %hr.left.visible-desktop/
    %span
      Pricing
      %small
        2 columns
    %hr.right.visible-desktop/
    / pricing charts 2 columns
    .row.cols2
      .span6
        .price_wrapper.standard.regular
          .header
            %span Standard
            .price
              %span $ 65
              Per Month
          .section
            %h3
              Passages of Lorem randomised
              words which look slightly.
            %ul.perks
              %li
                %i.i_shuffle
                Cross-browser
              %li
                %i.i_loading
                Fast-loading
              %li
                %i.i_bookmark
                Bookmarkable URLs
            %a.btn{:href => "#"} Order now
      .span6
        .price_wrapper.pro
          .header
            %span Pro
            .price
              %span $ 85
              Per Month
          .section
            %h3
              Passages of Lorem randomised
              words which look slightly.
            %ul.perks
              %li
                %i.i_shuffle
                Cross-browser
              %li
                %i.i_loading
                Fast-loading
              %li
                %i.i_bookmark
                Bookmarkable URLs
              %li
                %i.i_bars
                W3C Standards
            %a.btn{:href => "#"} Order now
