%table{:style => "width: 100%; clear:both; text-align:center; max-width: 600px; height: 60px;", :align => "center"}
  %tr
    %td
    %td
      %div{:margin => "left:10px", :style => "max-width:600px; vertical-align: middle; margin:0 auto 0 auto;display:block;"}
        %table{:width => "100%"}
          %tr
            %td{:style => "text-align:center"}
              %p{:font => "bold", :style => "font-size: 14px; margin: 0px; color:#ccc;"}
                - if @message.present? && @message_user.present?
                  |
                  = link_to('Unsubscribe', "#{SiteConfig.app_base_url}#{removal_confirmation_connection_path(Encryptor.encrypt(@message_user.email, @message.uuid))}?tracker=#{@message_user.uuid}")
    %td
