.social-profile-loader{background: image-url( 'ajax-loader.gif' ) no-repeat left top; margin: 100px auto; width: 20%; height: 32px;}
.social-profile-loader .social-profile-loading-message{font-weight: 700; padding-top: 20px;}
