= content_for :header do
  Preview

#message_preview_container.span7
  = render partial: "shared/mailers/banner"

  %table{class: 'outer-table'}
    %tr
      %td
      %td{class: 'outer-cell'}
        %div
          %table{class: 'inner-table'}
            %tr
              %td
                .message-content
                  = simple_format(@message.content)

  = render partial: "shared/mailers/footer"