%div
  %p
    == "We have a new product. Here are the details:"

  = render partial: "shared/messages/content"

  - if @message.special_try
    %p
      %strong
        == P.S. You are one of the special few who are invited to try our new product.