%div
  %p
    == "We are havinga sale. Here are the details:"
    = render partial: "shared/messages/content"

  %p
    %strong
      Please remember the sale ends on:
      = formatted_message_form_datetime(@message, 'ending')