.row
  %p
    == #{@message.shop_name} is inviting you to checkout the following special they are having. Here are the details:
    = render partial: "shared/messages/content"

  %p
    %strong Fine Print:
    = render partial: "shared/messages/fine_print"
