%div{style: 'text-align:center;'}
  = message_bottom_image(@message, @message_user)

  - if @message.show_button?
    = link_to((@message.button_text.to_s.blank? ? "Feeling Hungry? Order from Us!" : @message.button_text), optyn_tracking_url(@message, @message_user, @message.display_button_link), target: '_blank', style: "max-width:100%;text-align:center;text-decoration:none;color: white;background: #6bad42;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; font-size: 22px; font-weight: bold;padding: 20px 40px 20px 40px;display: inline-block;margin-top:5px;margin-bottom: 15px;border:0;")
