%div
  %p
    == "We have a new product. Here are the details:"

  = render partial: "shared/#{message_partner_name(@shop)}/messages/content"

  - if @message.special_try
    %p
      %strong
        == P.S. You are one of the special few who are invited to try our new product.
  = message_bottom_image(@message, @message_user)
- if @message.show_button?
  = link_to "Feeling Hungry? Order from Us!", @message.display_button_link, target: '_blank', style: "width:100%;text-align:center;text-decoration:none;color: white;background: #63af31;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0; font-size: 22px; font-weight: bold; border-bottom: solid 2px rgba(0, 0, 0, 0.2);-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;transition: all 0.2s ease-out;border-top: 0;border-left: 0;border-right: 0;padding: 20px 40px 20px 40px;display: inline-block;margin-top:5px;margin-bottom: 15px;"