%div
  %strong How to Redeem:
  %p
    It's Super Easy. Click on the Order Now Button or click here. There you can customize your order. You can enter the coupon code at the end.
  %p
    /Gaurav, we should only show this line if an expiration is present
    ==Go ahead and hurry before this offer expires on #{formatted_message_form_datetime(@message, 'ending')}.