%div
  %strong How to Redeem:
  %p
    It's Super Easy. Click on the Order Now Button or
    = link_to "click here.", @message.display_button_link, target: '_blank'
  %p
    = %{Go ahead and hurry#{" before it expires on #{formatted_message_form_datetime(@message, 'ending')}" if @message.ending.present?}.}