%div
  %p
    == "We are having a sale. Here are the details:"
    = render partial: "shared/#{message_partner_name(@shop)}/messages/content"

  %p
    %strong
      Please remember the sale ends on:
      = formatted_message_form_datetime(@message, 'ending')