%div
  %p
    = render partial: "shared/messages/content"

%div
  - if @message.present? && @message_user.present?
    %strong
      = link_to("Don't receive any messages from this shop?", "#{SiteConfig.email_app_base_url}#{removal_confirmation_connection_path(Encryptor.encrypt(@receiver.email, @message.uuid))}")