#button_stats.span3
	%h3
		Your Optyn Stats
	%hr
	.line
		Conversion %:
		%strong
			= @conversion_percent 
	.line
		Total Opt-ins:
		%strong
			= @opt_ins
	.line
		Total impressions:
		%strong
			= @optyn_impressions
	.line
		Total clicks:
		%strong
			= @optyn_button_clicks