#box_sign
  .container
    .span12.box_wrapper
      .span12.box
        %div  
          .head
            %h4 Please complete your Account Profile
          = render :partial => 'users/zips/form'
          We will add other fields needed for them to complete their profile here including Avatar, Demographics [Gender, DOB] and ability to skip this page.