= banner("New Location")

= render partial: 'merchants/merchant_managers/tabs'

#box_login
  .box_wrapper
    .span4.offset4.box
      .address
        .head.pull-left.lead
          %h4 Enter Location Details
        .form.row-fluid
          = form_for :location, url: merchants_locations_path, method: :post do |f|
            = render :partial => 'form', :locals => {f: f}
