<div>
Welcome <%= @registration.email %>,
</div>
<div>
Thank you very much for registering with Optyn. We will get in touch with you once we launch the beta for the product.
</div>

<div>
Looking forward to your feedback on the product!
Optyn Team.
</div>