<div>
Welcome <%= @registration.email %>,
</div><br/>
<div>
Thank you very much for registering with Optyn. We will get in touch with you once we launch the beta for the product.
</div><br/>

<div>
Looking forward to your feedback on the product! <br/><br/>
Optyn Team.
</div><br/>