.modal-header
  %button{:type => "button", :class => "close", :'data-dismiss' => "modal", :'aria-hidden' => "true"}X
  %h3 Email Link Clicks

.modal-body
  .clearfix
    %strong
      Please wait...
  .blank-space

  = hidden_field_tag "click_report_path_#{message.uuid}", click_report_merchants_message_path(message.id)
  %div{:id => "click_report_#{message.uuid}"}
