.span3.menuleft
  %ul.merchant-menu
    %li
      = messages_menu_links(current_manager, types_merchants_messages_path, "Compose", "", false, ["types", "new", "create", "edit", "update", "preview"])

    %li
