.span3.menuleft
  %ul.merchant-menu
    %li
      = messages_menu_links(current_manager, types_merchants_messages_path, "Compose", "", false, ["types", "new", "create", "edit", "update", "preview"])

    %li
      = messages_menu_links(current_manager, drafts_merchants_messages_path, "Drafts", @drafts_count, false, ["drafts"])

    %li
      = messages_menu_links(current_manager, trash_merchants_messages_path, "Trash", @trash_count, false, ["trash"])

    %li
