- if @messages.total_count > Message::PER_PAGE
  .pagination.text-right
    = human_paginated_range(@messages)
    %ul
      %li
        - if link_to_previous_page(@messages, '«').blank?
          %span
            «
        - else
          = link_to_previous_page(@messages, '«')
      %li
        - if link_to_next_page(@messages, '»').blank?
          %span
            »
        - else
          = link_to_next_page(@messages, '»')