- if params[:action] == 'preview'
  .preview-header
    Show how your campaign looks on: 
    .btn-group
      %a.btn.btn-small#show-desktop-preview{ href: '#' } Desktop
      %a.btn.btn-small#show-mobile-preview{ href: '#' } Mobile
      %a.btn.btn-small#show-sm-preview{ href: '#' } Social Media
#message_fields_wrapper
  #message_preview_accordion
    #prev_wrapper
      #collapse_message_preview.email-preview
        #message_preview
          #preview_wrapper
            = render partial: "shared/#{message_partner_name(@shop)}/messages/core_content", locals: {preview: true, customer: nil}
