- if params[:action] == 'preview'
  = render partial: "responsive_previews"
#message_fields_wrapper
  #message_preview_accordion
    #prev_wrapper
      #collapse_message_preview.email-preview
        #message_preview
          #preview_wrapper
            = render partial: "shared/#{message_partner_name(@shop)}/messages/core_content", locals: {preview: true, customer: nil}
