.progress-bar.steps3
  %div{class: "step #{message_progress_bar_highlight(['types'])}", 'data-toggle' => ('tooltip' if message_progress_bar_highlight(['types']) == 'current'), :title => 'Click on a template below to get started.'}
    %span.left.edge
    CHOOSE CAMPAIGN TYPE
    %span.right.edge
  %div{class: "step #{message_progress_bar_highlight(['new', 'create', 'edit', 'update', 'create_response_message', 'new_template', 'template', 'edit_template'])}", 'data-toggle' => ('tooltip' if message_progress_bar_highlight(['new', 'create', 'edit', 'update']) == 'current'), :title => 'Fill and submit the form below to proceed.'}
    %span.left.edge
    SET UP CAMPAIGN
    %span.right.edge
  %div{class: "step #{message_progress_bar_highlight(['preview', 'preview_template'])}", 'data-toggle' => ('tooltip' if message_progress_bar_highlight(['preview']) == 'current'), :title => 'Now you are ready for launch.'}
    %span.left.edge
    PREVIEW AND SEND
    %span.right.edge

  .clearfix

:javascript
$( function() {
  $('.progress-bar > .step:first-child > .left.edge').show();
  $('.progress-bar .step:last > .right.edge').show();
});
