#template_chooser.row-fluid
  - @system_templates.each do |system_template|
    = link_to(system_template.name, update_template_merchants_message_path(@message.uuid), 'data-template-id' => system_template.id, class: "span4 type template_type")