.modal.hide.fade#template_upload_modal
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
    %h3
      = 'Template uploads'
  .modal-body
    %p
      = "Please send us an email at: services@optyn.com with your HTML template, stylesheet and images. We will make sure we hand code the template for you and upload it on your behalf. Thank you very much."
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"}
      = 'Close'
