.modal.hide.fade#template_upload_modal
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
    %h3
      = 'Want to use your own Custom Template? No problem.'
  .modal-body
    %p
      = "Please send us an email at: services@optyn.com with your HTML template, stylesheet and images. We will make sure we hand code the template for you and upload it on your behalf. Why do we do this? We want to make sure your template is optimized for mobile devices. We make all emails 100% mobile responsive. Thank you very much."
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"}
      = 'Close'
