- if @message.state == "approve"
  %h1
    Approve a message
  %h5
    Are you sure you want to approve this message?

  .actions
    = link_to "Approve",launch_merchants_message_path({id: @message.uuid, choice: 'launch'}),class: "btn btn-success"
    = link_to "Cancel", root_path, class: "btn"
- else
  %h1
    Successfully Approved the message.