= banner( message_form_title(@message_type) )

/= render partial: "merchants/messages/message_menu"

#merchants.row-fluid.campaign-edit
  .span6
    = render partial: "merchants/messages/edit_fields_wrapper"

  .span6
    = render partial: "preview_wrapper"
