#message_details
  .row
    %h1{class: 'text-center'}
      Email Preview
      = link_to "Send it", launch_merchants_message_path(@message.uuid), class: "btn btn-success"

    %hr/

  .row
    .span4
      = render partial: "merchants/messages/preview_meta"

    = content_for :header do
      Preview

    .span7
      = render partial: "shared/messages/core_content", locals: {preview: true, customer_name: nil}