/= banner( "Email Preview" )
%h1
  .pull-left
    %a.btn.btn-primary{ href: "#{edit_merchants_message_path(@message.uuid)}" }
      %i.icon-arrow-left
      Change details
  Email Preview
  .pull-right
    %a.btn.btn-success{ href: '#' }
      Publish
      %i.icon-arrow-right


#merchants.pad3pc.row-fluid.tear-page
  .span6
    .pos-rel
      .pad2pc
        .well
          %h4 Setup Campaign
          = render :partial => "merchants/messages/template_fields/show_message"
        .well
          %h4 Design Details
          = render :partial => "merchants/messages/template_fields/design_details"
        .well
          %h4 Publish to Social Media
      .blank-space
  .span6#preview
    = render :partial => 'preview_wrapper'