- customer_name = nil
- if current_user.present?
- customer_name = current_user.name
  %h1.pull-left
    Marketing Inbox
  = render partial: "messages/message_menu"
  - if not @message.message_user(current_user)
    = "You are viewing a public message"

= render partial: "shared/messages/core_content", locals: {preview: false, customer_name: customer_name}