= banner( "Sent" )

= render partial: "merchants/messages/message_menu"

#message_fields_wrapper.pad3pc

  = render partial: 'merchants/messages/report_data', locals: {message: @message, timestamp_attr: 'updated_at'}
