html {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-family: $sans-serif;
  color: $black;
  padding-top: 70px;
}
.scrolltop {
  /*background: url('/assets/scrolltop.png') 0 0 no-repeat;*/
  display: none;
  background-color: saturate( $green, 20% );
  height: 38px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  position: fixed;
  right: 70px;
  /*text-indent: -9999px;*/
  bottom: 20px;
  width: 38px;
  z-index: 33;
  text-align: center;
  padding-top: 7px;
  color: #fff;
  font-size: 25px;
  transition: all 0.2s ease-out;
  &:hover {
    text-decoration: none;
    color: #fff;
    padding-top: 3px;
  }
}
.scrolltop span {
  position: relative;
  top: 7px;
  left: 10px;
}
