html {
  margin: 0;
}
body {
  position: relative;
  padding-top: 69px;
  background: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-family: 'Lato', sans-serif !important;
  color: #333;
}
.scrolltop {
  background-color: #F1F1F1;
  border: 1px solid darkGray;
  border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  display: none;
  height: 36px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: fixed;
  right: 2%;
  /*text-indent: -9999px;*/
  top: 90%;
  width: 36px;
  z-index: 33;
}
.scrolltop span {
  position: relative;
  top: 7px;
  left: 10px;
}