* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
  margin: 0;
}
body {
  position: relative;
  padding-top: 69px;
  background: #000;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  //font-family: 'Lato', sans-serif !important;
  color: #333333;
}
.scrolltop {
  background: url('/assets/scrolltop.png') 0 0 no-repeat;
  height: 38px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  position: fixed;
  right: 2%;
  /*text-indent: -9999px;*/
  top: 90%;
  width: 38px;
  z-index: 33;
}
.scrolltop span {
  position: relative;
  top: 7px;
  left: 10px;
}
#content {}
#content .container {
}
#dashboard .span8.offset4 {
  background: #fff;
  margin-top: 10px;
  padding: 10px;
  margin-left: 33%;
}
