@import "utilities/effects.css.scss";
@import "utilities/variables.css.scss";
@import "compass";
@import "compass/reset";
@import "bootstrap_and_overrides";
@import "theme";
@import "chardinjs";

table.body table.row{margin-left: 0px;}
#editor_area_modal .modal-body .edit-headline { width: 100%; margin-bottom: 10px; }

.msg_img_upload {
	position: relative;
	.loading {
		display: none;
		position: absolute;
		top: 25px;
		right: 70px;
	}
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
