/* Large desktop */
@media (min-width: 1200px) {
	#portfolio .thumbnail .see_more {
		top: 37%;
		left: 42%;
	}
	#portfolio .cols4 .thumbnail .see_more {
		left: 38%;
		top: 34%;
	}
}
@media (max-width: 979px) {
	#portfolio .thumbnail .see_more,
	#portfolio .cols4 .thumbnail .see_more {
		display: none !important;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	#pricing .cols4 .span3 {
		width: 320px;
	}
	#pricing .cols4 .price_wrapper {
		width: 321px !important;
	}
	#pricing .cols4 .price_wrapper.regular .header {
		background: url('/assets/chart1.png') 0 0 no-repeat;
	}
	#pricing .cols4 .price_wrapper.pro {
		width: 331px !important;
		top: 0px;
	}
	#pricing .cols4 .price_wrapper.pro .header {
		background: url('/assets/chart2.png') 0 0 no-repeat;
	}
}
@media (max-width: 979px) {
	#pricing .cols4 .price_wrapper {
		width: 321px;
	}
}
@media (min-width: 980px) {
	#pricing .cols4 .price_wrapper.pro {
		margin: 0 auto;
	}
	#pricing .cols4 .price_wrapper.regular .header {
		background: url('/assets/chart1_small.png') 0 0 no-repeat;
	}
	#pricing .cols4 .price_wrapper.pro .header {
		background: url('/assets/chart2_small.png') 0 0 no-repeat;
	}
}
/* Large desktop */
@media (min-width: 1200px) {
	#pricing .cols4 .standard {
		margin: 0 auto;
		left: inherit;
		float: right;
	}
	#pricing .cols4 .price_wrapper.lite {
		right: inherit;
	}
}
