#faq {
	margin-bottom: 40px;
}
#faq .section_header {
	margin-top: 55px;
}
#faq .faq {
	padding-left: 50px;
	position: relative;
	margin-bottom: 20px;
}
#faq .faq:hover .number {
	background-color: #86c440;
}
#faq .faq:hover .question {
	color: #7fa662;
}
#faq .faq .number {
	background-color: $blue;
	border-radius: 20px;
	color: $white;
	position: absolute;
	left: 0px;
	padding: 1px 9px;
	font-weight: bold;
	font-size: 13px;
	top: 0;
	@include transition( background-color 0.3s linear );
}
#faq .faq .question {
	font-size: 17px;
	cursor: pointer;
	@include transition ( color 0.2s linear );
}
#faq .faq .answer {
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 15px;
	padding-bottom: 15px;
	display: none;
}
