#flat.consumerfeatures.main,
#flat.merchantfeatures.main {
	.wrapper {
		text-align: center;
	}
	.features:first-child {
		.span4 {
			background-color: #ccc;
		}
	}

	.features {
		padding: 0;
		background-color: $blue;
		color: #fff;
		.span4 {
			padding: 2%;
			margin: 0;
			width: 33.3333%;
		}
		a {
			color: #fff;
			text-decoration: underline;
		}
	}
	.blue-bg-2 {
		background-color: darken( $blue, 7% );
	}

	.ico {
		width: 50px;
		height: 60px;
		background-image: image-url( 'sprite-landing.png' );
		background-position: center;
		background-repeat: no-repeat;
		background-position: 0 0;
	}
	.ico.ctrl {
		background-position: 0 -5250px;
		width: 64px;
		height: 64px;
	}
	.ico.globe {
		background-position: 0 -5000px;
		width: 64px;
		height: 64px;
	}
	.ico.dashb {
		background-position: 0 -3780px;
	}
	.ico.mail {
		background-position: 0 -4499px;
	}
	.ico.chat {
		background-position: 0 -581px;
	}
	.ico.place {
		background-position: 0 -4035px;
	}
	.ico.secure {
		background-position: 0 -4748px;
	}
	.ico.lens {
		background-position: 0 -4748px;
	}

	.sign-up, .roomy {
		padding: 6% 2%;
		p {
			margin-top: 3%;
		}
	}
	.roomy h5 {
		text-align: justify;
	}
	.merchantfeatures .roomy .p {
		text-align: justify;
	}
}

@media ( max-width: 767px ) {
	#flat.consumerfeatures.main,
	#flat.merchantfeatures.main {
		.features {
			.span4 {
				width: 100%;
			}
		}
		.ico {
			margin-left: 45%;
		}
	}
}

#merchant_features {
	padding-bottom: 40px;
}
#merchant_features .main {
	padding-top: 20px;
	padding-bottom: 20px;
}
#merchant_features .main .image {
	float: left;
	width: 100px;
	height: 100px;
	margin-top: 30px;
}
#merchant_features .main .copy {
	height: 70px;
}
#merchant_features .features .feature {
	width: 350px;
	padding-left: 15px;
}
#merchant_features .features .feature .image {
	float: left;
	width: 60px;
	height: 120px;
	margin-top: 20px;
}
#merchant_features .features .feature .copy {
	height: 60px;
}


/* Features
-------------------------------------------------- */
.features_page .section_header {
	margin-top: 55px;
}
.features_page h3.intro {
	color: #282F39;
	text-align: center;
	font-weight: normal;
	font-size: 48px;
	line-height: 32px;
	width: 83%;
	margin: 0 auto;
    padding-bottom: 20px;
}
.features_page .features2 {
	margin-top: 70px;
}
.features_page .feature2 {
	margin-bottom: 50px;
	position: relative;
}
.features_page .feature2 .icon {
	width: 65px;
	height: 65px;
	background-color: white;
	border-radius: 100px;
	position: absolute;	
}
.features_page .feature2 .icon i {
	background: image-url('/assets/features_icons.png') no-repeat;
	display: block;
	position: relative;
}
.features_page .feature2 i.cloud {
	background-position: 0 0;
	width: 36px;
	height: 23px;
	top: 19px;
	left: 14px;
}
.features_page .feature2 i.tools {
	background-position: -5px -97px;
	width: 25px;
	height: 25px;
	top: 19px;
	left: 20px;
}
.features_page .feature2 i.graph {
	background-position: -8px -47px;
	width: 22px;
	height: 25px;
	top: 19px;
	left: 21px
}
.features_page .feature2 i.mobile {
	background-position: -7px -153px;
	width: 21px;
	height: 31px;
	top: 18px;
	left: 22px;
}
.features_page .feature2 i.lab {
	background-position: -7px -212px;
	width: 21px;
	height: 34px;
	top: 14px;
	left: 22px;
}
.features_page .feature2 i.secure {
	background-position: -4px -270px;
	width: 24px;
	height: 29px;
	top: 16px;
	left: 20px;
}
.features_page .feature2 h4,
.features_page .feature2 p {
	margin-left: 80px;
	width: 70%;
}
.features_page .feature2 h4 {
	line-height: 25px;
	color: #000;
}

@media (max-width: 979px) {
	.features_page h3.intro {
		font-size: 17px;
		line-height: 20px;
	}
}

#consumer_features .image {
}
#consumer_features .cd-control {
	background: image-url( '/assets/sprite-consumer-features.png' );
	background-repeat: no-repeat;
	background-position: 0 0;
}
#consumer_features .cf-optin {
	background: image-url( '/assets/sprite-consumer-features.png' );
	background-repeat: no-repeat;
	background-position: 0 -1039px;
}
#consumer_features .cd-ctrl {
	background: image-url( '/assets/sprite-consumer-features.png' );
	background-repeat: no-repeat;
	background-position: 0 -164px;
}
#consumer_features .cf_manage {
	background: image-url( '/assets/sprite-consumer-features.png' );
	background-repeat: no-repeat;
	background-position: 0 -902px;
}
#consumer_features .cf_allinone {
	background: image-url( '/assets/sprite-consumer-features.png' );
	background-repeat: no-repeat;
	background-position: 0 -449px;
}
#consumer_features .cd_free {
	background: image-url( '/assets/sprite-consumer-features.png' );
	background-repeat: no-repeat;
	background-position: 50% -301px;
}
#consumer_features .cf_easy {
	background: image-url( '/assets/sprite-consumer-features.png' );
	background-repeat: no-repeat;
	background-position: 50% -606px;
}
#consumer_features .cf_explore {
	background: image-url( '/assets/sprite-consumer-features.png' );
	background-repeat: no-repeat;
	background-position: 50% -606px;
}

#merchant_features .mf_free {
	background: image-url( '/assets/sprite-merchant-features.png' );
	background-repeat: no-repeat;
	background-position: 50% -576px;
}
#merchant_features .mf_versatile {
	background: image-url( '/assets/sprite-merchant-features.png' );
	background-repeat: no-repeat;
	background-position: 50% -1479px;
}
#merchant_features .mf_capture {
	background: image-url( '/assets/sprite-merchant-features.png' );
	background-repeat: no-repeat;
	background-position: 50% -148px;
}
#merchant_features .mf_auto {
	background: image-url( '/assets/sprite-merchant-features.png' );
	background-repeat: no-repeat;
	background-position: 50% 0;
}
#merchant_features .mf_insights {
	background: image-url( '/assets/sprite-merchant-features.png' );
	background-repeat: no-repeat;
	background-position: 50% -888px;
}
#merchant_features .mf_segment {
	background: image-url( '/assets/sprite-merchant-features.png' );
	background-repeat: no-repeat;
	background-position: 50% -1334px;
}
#merchant_features .mf_choice {
	background: image-url( '/assets/sprite-merchant-features.png' );
	background-repeat: no-repeat;
	background-position: 50% -294px;
}
#merchant_features .mf_engage {
	background: image-url( '/assets/sprite-merchant-features.png' );
	background-repeat: no-repeat;
	background-position: 50% -437px;
}
#merchant_features .mf_hasslefree {
	background: image-url( '/assets/sprite-merchant-features.png' );
	background-repeat: no-repeat;
	background-position: 50% -740px;
}
#merchant_features .mf_pricing {
	background: image-url( '/assets/sprite-merchant-features.png' );
	background-repeat: no-repeat;
	background-position: 50% -1186px;
}
#merchant_features .mf_more {
	background: image-url( '/assets/sprite-merchant-features.png' );
	background-repeat: no-repeat;
	background-position: 50% -1040px;
}
