/* Navbar
-------------------------------------------------- */
.navbar-fixed-top {
  margin-bottom: 0;
  padding: 5px 0px 3px 5px;
  .navbar-inner {
    box-shadow: none;
    border: 0;
    background: transparent;
  }
}
.navbar-fixed-top.scroll {
  background-color: rgba( $dark-blue, .95 );
}

#flat .btn.btn-navbar {
  border: 0;
  background: transparent;
  padding: 10px;
  margin-top: 18px;
  margin-right: 10px;
  &:hover {
    background-color: $gray;
    border: 0;
  }
}

@media (min-width: 980px) {
  .nav-pills {
    > .current {
      background-color: $blue;
    }
    > li {
      height: 70px;
    }
    > .sign-up { margin: 0 10px; }
  }
  .nav-pills > li > a {
    @include border-radius( 0 );
    padding: 10px 15px 10px;
    line-height: 14px;
  }
}

@media (max-width: 979px) {
  header {
    text-align: center;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background: lighten( $blue, 10% );
  }
  .nav-collapse .nav > li > a {
    color: #fff;
  }
  .nav a {
    margin: 5px;
  }
  .dropdown-menu > li > a {
    width: auto;
  }
  #flat.m-app {
    .navbar-fixed-top .navbar.inner {
      padding: 0;
    }
    .navbar.inner a.tour {
      line-height: 30px;
      padding: 0 10px;
      border: 0;
      @include border-radius( 0 );
      color: $black;
    }
    a.dropdown-toggle {
      margin: 0;
      @include border-radius( 0 );
    }
  }
}


/* Header for Merchants inner app */
#flat {
  .nav-collapse {
    background-color: $light-gray;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px;
  }
  .navbar.inner {
    background-color: $blue;
    height: 70px;
    padding: 0;
    margin: 0;
    border-bottom: solid 2px darken( $blue, 10% );
    a.tour {
      color: #fff;
      line-height: 70px;
      padding: 0 10px 0 0;
      margin: 0;
      border-right: solid 2px;
      border-color: darken( $blue, 10% );
      text-shadow: none;
    }
    a.dropdown-toggle {
      height: 70px;
      overflow: hidden;
      vertical-align: middle;
      img {
        margin-top: 10px;
      }
    }
    .dropdown.open {
      .dropdown-toggle {
        background-color: #fff;
      }
    }
    .dropdown-menu {
      margin: 0;
      border-top: 0;
      &:before,
      &:after {
        content: none;
        display: none;
      }
    }
  }
  .navbar.inner .container-fluid { /* Required for IE9 and below. */
    background-color: $blue;
  }
  .brand {
    margin: 0;
    /*border-right: solid 2px darken( $blue, 10% );*/
    padding: 17px 0px 0px 20px;
  }
  header .navbar-inner .nav-pills .sign-up { padding: 0; }
}

ul.logged-in {
  padding-top: 5px;
}

#header-static-features-dropdown {
  display: none;
  padding: 2%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 70px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  z-index: 1029;
  @include transition( all 0.5s ease );
  @include transformOrigin( top );
  @include transform( perspective( 500px ) rotateX( -90deg ));
  &.visible {
    @include transform( perspective( 500px ) rotateX( 0deg ));
  }
  h5 {
    color: $green;
  }
  a {
    display: block;
    @include transition( padding 0.3s ease );
    &:hover {
      background: $light-gray;
      padding-left: 5px;
    }
  }
  ul {
    margin: 0;
  }
}
.push-back {
  @include transition( all 0.7s ease );
  @include transform( perspective(500px) translateZ(-50px));
}
.dark-overlay {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1028;
  background: rgba(0,0,0,0.5);
}
