/* Navbar
-------------------------------------------------- */
.navbar-fixed-top {
  margin-bottom: 0;
  padding: 5px 0px 3px 5px;
  .navbar-inner {
    box-shadow: none;
    border: 0;
    background: transparent;
  }
}
.navbar-fixed-top.scroll {
  background-color: rgba( $dark-blue, .95 );
}

#flat .btn.btn-navbar {
  border: solid 2px darken( $blue, 10% );
  /*background: transparent;*/
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  /*&:hover {
    background-color: transparent;
  }*/
}

@media (max-width: 979px) {
  header {
    text-align: center;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background: lighten( $blue, 10% );
  }
  .nav-collapse .nav > li > a {
    color: #fff;
  }
  .nav a {
    margin: 5px;
  }
  #flat.m-app {
    .navbar-fixed-top .navbar.inner {
      padding: 0;
    }
    .navbar.inner a.tour {
      line-height: 30px;
      padding: 0 10px;
      border: 0;
      @include border-radius( 0 );
      color: $black;
    }
    a.dropdown-toggle {
      margin: 0;
      @include border-radius( 0 );
    }
  }
}


.profile_image{height:36px;width:36px;}

/* Header for Merchants inner app */
#flat {
  .nav-collapse {
    background-color: $light-gray;
  }
  .navbar.inner {
    background-color: $blue;
    height: 70px;
    padding: 0;
    margin: 0;
    border-bottom: solid 2px darken( $blue, 10% );
    a.tour {
      color: #fff;
      line-height: 70px;
      padding: 0 10px 0 0;
      margin: 0;
      border-right: solid 2px;
      border-color: darken( $blue, 10% );
    }
    a.dropdown-toggle {
      height: 70px;
      overflow: hidden;
      vertical-align: middle;
      img {
        margin-top: 10px;
      }
    }
  }
  .navbar.inner .container-fluid { /* Required for IE9 and below. */
    background-color: $blue;
  }
  .brand {
    margin: 0;
    border-right: solid 2px darken( $blue, 10% );
    padding: 17px 0px 10px 55px;
    width: 25%;
  }
}

@media ( max-width: 768px ) {
}