* {
  -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
     -moz-box-sizing: border-box; /* Firefox 1+ */
          box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}

.container-fluid { padding: 0; }
#flat {
  padding-left: 250px;
  &.merchants-messages { padding-left: 0; }
  &.merchants-messages.types,
  &.merchants-messages.show { padding-left: 250px; }
  margin: 0;
  font-family: $sans-serif;
  font-size: 15px;
  line-height: 23px;

  header {
    background-color: $dark-blue;
    /*border-bottom: solid 3px $blue;*/
    color: $white;
    padding: 0 2%;
    margin: 0;
    height: 70px;
    h2 {
      font-size: 23px;
      line-height: 40px;
      margin: 5px 0;
    }
    .nav {
      margin: 0;
      &.logged-in a {
        color: $black;
        margin: 0;
        &.tour {
          color: $white;
          border: solid 2px transparent;
        }
      }
      > li > a {
        color: $white;
        @media (max-width: 979px) { color: $black; }
        margin-top: 15px;
        padding: 10px;
        border: solid 2px transparent;
        @include border-radius( 3px );
        &:hover {
          border: solid 2px $white;
        }
      }
      > .sign-up > a,
      > .log-in > .btn-primary {
        margin-top: 11px;
        border: none;
        &:hover { border: none; }
      }
      &.logged-in > li > .dropdown-toggle:hover { border-color: transparent; }
    }
    .logo {
      line-height: 70px;
    }
    .login {
      margin-top: 7px;
    }
    .btn-success, .btn-primary {
      padding: 7px 10px;
    }
  }  /* /#header */

  h2.navy {
    color: #fff;
    font-family: $sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }

  .features li {
    padding-left: 55px;
    text-align: left;
    min-height: 44px;
    margin: 10px 0;
  }

  a.bordered {
    padding: 0 7px;
    border-right: solid 1px #fff;
  }

  .scroll-down {
    background-image: image-url( 'sprite-landing.png' );
    background-position: 0 -2320px;
    display: inline-block;
    width: 23px;
    height: 15px;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    z-index: 2;
  }

  .videos {
    font-size: 20px;
    line-height: 30px;
  }
  .video {
    background-image: image-url( 'sprite-landing.png' );
    display: inline-block;
    width: 82px;
    height: 82px;
    margin: 7% 0;
  }
  .video.light {
    background-position: 0 -2040px;
  }
  .video.dark {
    background-position: 0 -1760px;
  }

  .businesses {
    color: #fff;
    & > a {
      color: #fff;
      border-color: #fff;
    }
    & > a:last-child { border: 0; }

    .margin_top { margin-top: 2em; }

    .mktg, .auto, .get, .free {
      background-repeat: no-repeat;
      background-image: image-url( 'sprite-landing.png' );
    }
    .mktg { background-position: 0 -581px; }
    .auto { background-position: 0 -770px; }
    .get  { background-position: 0 -1135px; }
    .free { background-position: 0 -190px; }
    aside a {
      color: $white;
    }
  }
  .businesses::before,
  .consumers::before {
    display: none;
    font-size: 23px;
    line-height: 40px;
    margin-bottom: 3%;
  }
  .businesses::before{
    content: 'FOR BUSINESSES';
  }
  .consumers::before{
    content: 'FOR ALL MANKIND';
  }

  .consumers {
    & > a {
      color: $black;
      border-color: $black;
    }
    & > a:last-child { border: 0; }
    .mktg, .easy, .ctrl, .cool {
      background-repeat: no-repeat;
      background-image: image-url( 'sprite-landing.png' );
    }
    .mktg {
      background-position: 0 -956px;
    }
    .easy {
      background-position: 0 0;
    }
    .ctrl {
      background-position: 0 -1500px;
    }
    .cool {
      background-position: 0 -1315px;
    }
    aside a {
      color: $black;
    }
  }

  .btn-orange { margin: 30px 0; }

  .sign-up .btn-warning {
    margin-left: -7px;
  }
  .btn-orange.icon_chrome > a {
    background-image: image-url( 'sprite-landing.png' );
    background-repeat: no-repeat;
    background-position: 9px -381px;
    padding-left: 65px;
    margin-top: 13px;
  }

  .line1 {
    font-size: 0.85em;
  }

  h2, h3 .has-heading::before {
    font-family: $sans-serif;
  }

  .sign-up {
    form {
      margin: 5% 0 0 0;
    }
    form + aside {
      font-size: 13px;
      line-height: 35px;
    }
    aside a {
      text-decoration: underline;
    }
    p {
      margin-top: 5%;
    }
  }

  section.row-fluid {
    padding: 5% 0;
  }
  div.hdg {
    position: relative;
    background: image-url( 'bg_hdg.png' );
    padding: 1% 0;
  }
}

footer {
  background-color: $dark-blue;
  color: rgba( 255, 255, 255, 0.3 );
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  padding: 2% 0;
  a {
    color: rgba( 255, 255, 255, 0.5 );
    line-height: 26px;
    display: block;
    &:hover {
      color: rgba( $white, 0.8 );
    }
  }
  h4 {
    color: $white;
    color: rgba( $white, 0.7 );
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .span2 {
    text-align: left;
  }
  ul {
    margin-left: 0;
  }
  .share {
    position: absolute;
    display: inline-block;
    width: 25%;
    text-align: center;
    line-height: 50px;
    top: -50px;
    right: 0;
  }
  .love-controls .fb-like {
    position: relative;
    top: -6px;
  }
}

.m-i {  /* Merchant's index */
    background-color: $dark-blue;
    color: $white;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2% 0;
    text-align: left;
    h1 {
      border: none;
  }
  .well {
    padding: 1%;
    margin-bottom: 1%;
    margin-top: 130px;
  }
  .signup {
    input {
      width: 100%;
      margin-top: 20px;
    }
  }
  .vid-lnk {
    color: darken( $black, 50% );
    font-weight: 700;
    text-shadow: 1px 1px 0 #fff;
    margin-top: 290px;
    @include transition( background-color 0.3s ease-out );
    font-size: 16px;
  }
  .vid-lnk:hover {
    text-decoration: none;
    background-color: rgba( $white, 0.99 );
  }
}  /* End .m-i */

@media (max-width: $mobile-width + 100) {
  .m-i {
    background-image: none;
    h1 {
      text-align: center;
      > span {
        font-size: 1.2rem;
        line-height: 1.4rem;
        background: transparent;
        text-align: center;
      }
    }
    .vid-lnk {
      font-weight: 700;
      text-shadow: 1px 1px 0 #fff;
      margin-top: 330px;
      font-size: 1rem;
    }
  }
}

.terms {
  /* Styles for Terms of Use page. */
  .content {
    max-width: 960px;
    margin: auto;
  }
}


.lp-testimonials {
  blockquote {
    border: 0;
    padding: 7% 0;
    font: normal 1.7rem/2.5rem $sans-serif;
    @media ( max-width: $xga-h ) {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }
  }
}
.lp-testimonial-by {
  background-color: lighten( $dark-blue, 10% );
  color: $white;
  text-align: center;
  position: relative;
  padding: 2% 0;
  i {
    position: absolute;
    top: -8px;
    left: 49.5%;
    font-size: 20px;
    line-height: 20px;
    margin: 0 !important;
  }
  img, .author {
    margin-right: 15px;
  }
}
.lp-usp-1 {
  background: $light-gray;
  > .span6 {
    padding: 2% 0;
  }
}
.lp-usp-2 {
  padding: 7% 0;
}
.lp-usp-3 {
  padding: 4% 0;
  background-attachment: fixed;
  background-color: $light-gray;
  @media ( min-width: $qvga-w + 100 ) {
    background-image: image-url( 'bg-landing-2.jpg' );
  }
  background-size: cover;
  .well {
    border: 0;
    padding: 2.5%;
  }
}

.landing-page {
  [class ^= "fold_"] {
    padding: 4% 0;
  }
  h1 { border-bottom: 0; }
  .lp-welcome {
    overflow: hidden;
    padding: 3% 0;
    background: $dark-blue;
    color: $white;
    h1 {
      font-weight: 800;
      font-size: 2.4rem;
      font-family: $open-sans;
    }
    .span6 { padding-top: 5px; }
    .slide-img,
    .slide-text {
      opacity: 0;
      position: relative;
      @include transition( all 2s linear );
    }
    .slide-img {
      transform: translateX(15px);
    }
    .slide-text {
    }
    .slide-img img {
      height: auto;
    }
  }
  .translateX15px { @include transform( translateX( 15px ))}
  .translateX-15px { @include transform( translateX( -15px ))}

  .lp-testimonials {
    background-color: saturate( lighten( $dark-blue, 10% ), 10% );
    background-image: -moz-linear-gradient(left, rgba(46,62,81,1) 20%, rgba(0,0,0,0) 100%), image-url( 'main-ag.jpg' );
    background-image: -webkit-gradient(linear, left top, right top, color-stop(20%,rgba(46,62,81,1)), color-stop(100%,rgba(0,0,0,0))), image-url( 'main-ag.jpg' );
    background-image: -webkit-linear-gradient(left, rgba(46,62,81,1) 20%,rgba(0,0,0,0) 100%), image-url( 'main-ag.jpg' );
    background-image: -o-linear-gradient(left, rgba(46,62,81,1) 20%,rgba(0,0,0,0) 100%), image-url( 'main-ag.jpg' );
    background-image: -ms-linear-gradient(left, rgba(46,62,81,1) 20%,rgba(0,0,0,0) 100%), image-url( 'main-ag.jpg' );
    background-image: linear-gradient(to right, rgba(46,62,81,1) 20%,rgba(0,0,0,0) 100%), image-url( 'main-ag.jpg' );
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: $white;
    @media ( max-width: $xga-h ) {
      background-image: -moz-linear-gradient(left, rgba(46,62,81,0.9) 0%, rgba(46,62,81,0.6) 100%), image-url( 'main-ag-m.jpg' );
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(46,62,81,0.9)), color-stop(100%,rgba(46,62,81,0.6))), image-url( 'main-ag-m.jpg' );
      background-image: -webkit-linear-gradient(left, rgba(46,62,81,0.9) 0%,rgba(46,62,81,0.6) 100%), image-url( 'main-ag-m.jpg' );
      background-image: -o-linear-gradient(left, rgba(46,62,81,0.9) 0%,rgba(46,62,81,0.6) 100%), image-url( 'main-ag-m.jpg' );
      background-image: -ms-linear-gradient(left, rgba(46,62,81,0.9) 0%,rgba(46,62,81,0.6) 100%), image-url( 'main-ag-m.jpg' );
      background-image: linear-gradient(to right, rgba(46,62,81,0.9) 0%,rgba(46,62,81,0.6) 100%), image-url( 'main-ag-m.jpg' );
    }

  }


  .lp-steps-to-use {
    text-align: center;
    padding: 2% 0;
  }
  .lp-s-signup .step-icon,
  .lp-s-import .step-icon,
  .lp-s-prep .step-icon,
  .lp-s-send .step-icon {
    background-image:  image-url( 'sprite-walkthrough.png' );
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background-position: 0 0;
  }
  .lp-s-import .step-icon { background-position: -304px 0px; }
  .lp-s-prep .step-icon { background-position: -606px 0px; }
  .lp-s-send .step-icon { background-position: -911px 0px; }

  .lp-try-it {
    color: $white;
    padding: 0;
    h2 {
      display: inline-block;
      border-bottom: solid 1px $white;
      font-weight: 700;
      line-height: 2.8rem;
    }
    .bg1, .bg2 { padding: 3% 0; }
    .bg1 { background-color: #E67E1D; }
    .bg2 {
      position: relative;
      background-color: #C05B01;
      .droplet {
        position: absolute;
        top: 0;
        left: 49%;
      }
    }
  }
}
#flat .bg2 .btn-transparent:hover { color: #C05B01; }

#flat .sf-social {
  > a {
    font-size: 1.2rem;
    line-height: 42px;
    color: $dark-blue;
    margin-right: 5px;
    display: inline-block;
    padding: 0 12px;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    @include transition( all 0.4s ease );
    &:hover {
      text-decoration: none;
      background: $white;
    }
  }
  .fb-page { background: $fb-blue; padding-left: 15px; }
  .tw-page { background: $twitter-blue; }
  .gp-page { background: $google-plus-red; }
}


@media( max-width: 768px ) {
  body {
    padding: 0;
  }
  #flat.main.index {
    background-position: left;
    .businesses::before,
    .consumers::before { display: block; }
    .row-fluid .scroll-down {
      display: none;
    }
    input[type='submit'] {
      font-family: 'Open Sans Condensed', sans-serif;
      background-color: $orange;
      color: #fff;
      margin: 0 0 0 -10px;
      border: 0;
      height: 35px;
      line-height: 35px;
      padding: 0 3%;
      font-size: 20px;
      letter-spacing: 1px;
    }
  }
  #flat.merchants-dashboards div#dashboard {
    background-image: none;
  }
  #flat {
    header .span5:first-child { display: none; }
    header .span5:last-child {
      h2 {
        display: none;
      }
    }
    footer {
      .span2:first-child {
        padding-left: 0;
      }
      .span2 {
        text-align: center;
      }
    }
    .span6 {
      /*padding: 5% 0;*/
    }
    #dashboard {
      .wid25pc, .wid75pc {
        width: 100%;
        float: none;
      }
    }
    .btn-navbar {
      padding: 10px;
    }
    .m-i .vid-lnk {
      margin-top: 0;
    }
    .landing-page .lp-welcome .slide-img img {
      height: 200px;
      width: auto;
      bottom: -20px !important;
    }
  } // #flat
  .consumers {
    background-color: #ecf0f1;
  }
  header.row-fluid .span5 .link.blue {
    margin: -48px 5px 5px 0;
  }
  #flat .m-i h1 {
    font-size: 24px;
  }
}  /* End media query */

@media ( max-width: 980px ) {
  #flat {
    header, .navbar-inner {
      padding: 0;
    }
    .nav-pills > li > a {
      color: $black;
      &:hover {
        color: $white;
      }
    }
    .nav-pills > li > a.link {
      color: $white;
    }
    .btn.btn-navbar {
      margin-right: 20px;
      box-shadow: none;
    }
    header .nav > li > a { text-shadow: none; }
  }
  .logo {
    margin-left: 30px;
  }
}
