.op-navbar {
  background-color: #f1f1f1;

  h6 {
    background: $dark-blue;
    color: $light-gray;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  ul {
    margin-left: 10px;
    a {
      color: $black;
      font-weight: bold;
    }
    ul {
      list-style-type: none;
      a {
      font-weight: normal;
      }
    }
  }
  li {
    font-size: 13px;
  }
  a {
    display: block;
    text-decoration: none;
    padding: 2px 0;
    @include transition( all 0.3s ease );
    &:hover {
      background: $light-gray;
      padding-left: 10px;
    }
  }
}
.img-polaroid {
  margin-left: 10px;
}

h1.hdg-s {
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  border: 0;
  padding: 0;
  margin: 20px 0 15px 0;
}
h1.hd-main {
  font-size: 2.2rem;
  line-height: 2.5rem;
  border: 0;
  padding: 0;
}
/* Banner Partial for Resources */
.getstartedbanner {
  background-color: #86c440;
  padding: 20px;
  min-height: 100px;
  background-image: url('/assets/banner_icon.png');
  background-repeat: no-repeat;
  background-position: 20px 15px;
}
a:hover{
  text-decoration: none;
  text-transform: none;
}
.getstartedbannertext {
  padding-left: 110px;
  font-size: 18px;
  line-height: 22px;
  color: $white;
  font-weight: 600;
}
.learnmorebutton {
  margin-bottom: 3px;
  background-color: white;
  padding: 15px 25px 15px 25px;
  font-size: 1.3em;
  line-height: 1.6em;
  color: #4384c3;
  text-decoration: none;
  font-weight: 900;
  display: inline-block;
}
.getstartedbutton {
  margin-left: 10px;
  background-color: #4384c3;
  padding: 15px 25px 15px 25px;
  font-size: 1.3em;
  line-height: 1.6em;
  color: white;
  text-decoration: none;
  font-weight: 900;
  display: inline-block;
}

/* Marketing Sell Page */
#main_sell_page {
}
  .img-marketing-page {
    margin: 0 0 10px 10%;
  }
  .img-marketing-page-left {
    margin: 0 10% 10px 0;
  }
  .img-marketing-resources {
    vertical-align: middle;
    padding-right: 100px;
    padding-top: 20px;
  }
  .smallbiz_marketing {
    width: 100%;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 40px;
  }
.email-mktg {
  background: $light-gray;
  padding: 1% 0 3% 0;
}

.slp-fold1 {
  background: lighten( $dark-blue, 5% );
  color: $white;
  margin-bottom: 2%;
  .slp-welcome {
    padding: 5% 0;
  }
  h1 {
    border: 0;
    text-align: center;
  }
}
.slp-footer {
  background: $dark-blue;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  blockquote {
    font-size: 1rem;
    line-height: 1.5rem;
    border: 0;
    &:before,
    &:after {
      content: '"';
      color: rgba( $white, 0.4 );
      font-size: 1.5rem;
    }
  }
  cite {
    color: rgba( $white, 0.5 );
  }
}

.email_marketing {
  .slp-fold1 {
    .slp-welcome {
      background-image: image-url( 'envelope.png' );
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;
    }
  }
  .slp-usps {
    text-align: center;
  }
}

.cta-footer {
  background: $green;
  color: $white;
  padding: 2% 0;
  p {
    line-height: 1.6rem;
    padding-top: 15px;
    font-size: 1.3rem;
  }
}
