/* Main Menu Left */
.menuleft {
  margin-left: 0px;
  width: 25%;
  padding: 0;
  margin: 0;
}
.merchant-menu {
  background-color: $black;
  border-radius: 4px;
  padding: 0;
  color: $white;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  @include border-radius( 0 );
  li {
    margin: 0;
    padding: 0;
  }
  li.menu-header {
    padding-left: 55px;
    font-size: 23px;
    color: $blue;
    line-height: 50px;
    height: 50px;
    border-bottom: solid 1px darken( $black, 20% );
  }
  a {
    display: block;
    line-height: 50px;
    min-height: 50px;
    border-bottom: solid 1px darken( $black, 20% );
    padding-left: 20px;
    color: darken( $white, 10% );
    &:hover {
      background-color: darken( $black, 30% );
      color: $white;
    }
    i {
      font-size: 28px;
      margin-right: 10px;
      color: rgb(125,139,144);
      position: relative;
      top: 5px;
    }
  }
  .active {
    background-color: lighten( $black, 15% );
    color: $white;
    &:hover {
      background-color: $black;
    }
  }
}  /* /#flat .merchant-menu */

.merchant-menu > li > a > img {
  padding-right: 10px;
}
.merchant-menu > li > a:hover {
  color: #ffffff;
  text-decoration: none;
}
.merchant-menu > li > a:active {
  color: #9ae544;
  text-decoration: none;
}
.merchant-menu > li > a:active {
  color: #9ae544;
  text-decoration: none;
}
/* Preview Menu Left */
.preview-left {
  margin-left: 0px;
}
#message_details .email-preview {
  margin-bottom: 5%;
}

@media (max-width: 767px) {
  #flat .merchant-menu a {
    line-height: 30px;
    height: 40px;
  }
  .merchant-menu {
    margin: 0;
  }
}

@media (max-width: 900px) {
  #flat .merchant-menu a {
    line-height: 40px;
    font-size: 13px;
    min-height: 40px;
    i { top: 5px; }
  }
}
