/* Main Menu Left */
.menuleft {
  padding: 0;
  position: fixed;
  width: 300px;
  background: #666;
  height: 100%;
  overflow: scroll;
  padding-bottom: 40px;
  .m-link-home,
  .m-link-videos,
  .menu-toggle { display: none; }
  z-index: 999;
}
.menuleft-mobile > .home-logo { margin-left: 40px; }
.menuleft-mobile .video-tutorials-link,
.menuleft-mobile > .home-link { display: none; }
.menuleft-mobile > .m-link-home,
.menuleft-mobile > .m-link-videos,
.menuleft-mobile > .menu-toggle {
  display: inline-block;
  font-size: 25px;
  font-weight: normal;
  color: #fff;
  position: fixed;
  z-index: 10000;
  left: 10px;
  padding: 10px;
  border: solid 2px transparent;
  &:hover {
    border: solid 2px $white;
  }
}
.menuleft-mobile > .menu-toggle {
  top: 10px;
}
.menuleft-mobile > .m-link-home {
  top: 60px;
}
.menuleft-mobile > .m-link-videos {
  top: 120px;
}
.menuleft-mobile > .welcome-user { margin: 10px 0; }
.menuleft-mobile {
  display: block;
  width: 100%;
  background: rgba( $dark-blue, 0.97 );
  text-align: center;
}
.menuleft-mobile + .yield {
// filter: blur(8px); -webkit-filter: blur(8px); -moz-filter: blur(8px);
// -o-filter: blur(8px); -ms-filter: blur(8px);
}
.menuleft-mobile > .merchant-menu {
  width: 250px;
  margin: auto;
  text-align: left;
}
.menuleft-desktop {}
.merchant-menu {
  padding: 0;
  color: $white;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  li {
    margin: 0;
    padding: 0;
  }
  li.menu-header {
    padding-left: 55px;
    font-size: 23px;
    color: $blue;
    line-height: 50px;
    height: 50px;
    border-bottom: solid 1px darken( $black, 20% );
  }
  a {
    display: block;
    line-height: 50px;
    min-height: 50px;
    padding-left: 20px;
    color: darken( $white, 10% );
    &:hover {
      color: $white;
    }
    i {
      font-size: 28px;
      margin-right: 10px;
      color: rgb(125,139,144);
      position: relative;
      top: 5px;
    }
  }
  .active {
    border: solid 2px rgba( $white, 0.8 );;
    color: $white;
    &:hover {
      background-color: $black;
    }
  }
}  /* /#flat .merchant-menu */

.merchant-menu > li > a > img {
  padding-right: 10px;
}
.merchant-menu > li > a:hover {
  color: #ffffff;
  text-decoration: none;
}
.merchant-menu > li > a:active {
  color: #9ae544;
  text-decoration: none;
}
.merchant-menu > li > a:active {
  color: #9ae544;
  text-decoration: none;
}
/* Preview Menu Left */
.preview-left {
  margin-left: 0px;
}
#message_details .email-preview {
  margin-bottom: 5%;
}

@media (max-width: 767px) {
  #flat .merchant-menu a {
    line-height: 30px;
    height: 40px;
  }
  .merchant-menu {
    margin: 0;
  }
}

@media (max-width: 900px) {
  #flat .merchant-menu a {
    line-height: 40px;
    font-size: 13px;
    min-height: 40px;
    i { top: 5px; }
  }
}
