/* All Merchant Account Pages CSS is here */
.footer-inner {
  background-color: $light-gray;
  background-color: rgba(222,222,222,0.4);
  color: $black;
  line-height: 42px;
  padding: 20px 0 10px 0;
  .copy a {
    padding: 0 10px;
    border-right: solid 1px $medium-gray;
    text-decoration: none;
    &:last-child {
      border: 0;
    }
  }
  a {
    text-decoration: underline;
    color: $black;
    display: inline-block;
    &:hover { color: #000; }
  }
  .social {
    a {
      text-decoration: none;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-right: 20px;
    }
  }
  i {
    @include transition( all 0.3s ease );
  }
  .icon-facebook:hover { color: $fb-blue; }
  .icon-twitter:hover { color: $twitter-blue; }
  .icon-google-plus:hover { color: $google-plus-red; }
  @media( max-width: 768px ) {
    > .copyright,
    > .copyright > .text-right {
      text-align: center;
    }
  }
}  /* End .footer-inner */
#flat {
  .stats {
    /* Styles for Consumer & Merchant dashboard statistics. */
    .span3 {
      padding: 5% 1%;
      text-align: center;
      background-color: $light-gray;
      .count {
        font-size: 42px;
        line-height: 80px;
        color: $orange;
      }
    }
  }
  /* Override chosen's CSS */
  .chzn-container-multi .chzn-choices {
    .search-choice {
      background-color: $light-gray;
      background-image: none;
      color: $black;
      border-radius: 0;
      line-height: 20px;
    }
    .search-choice .search-choice-close {
      top: 8px;
    }
  }
}  /* End #flat */
#flat.m-app {
  background-size: contain;
  background-repeat: repeat-y;
  padding-top: 70px;
  h1, h2 {
    margin-top: 0;
    font-family: $sans-serif;
    font-weight: 300;
  }
  h1 {
    line-height: 46px;
    height: 50px;
    padding: 0 0 0 3%;
    border-bottom: solid 1px darken( $light-gray, 10% );
    background-color: $light-gray;
    font-size: 27px;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
    clear: left;
  }
  .action-buttons {
    margin-bottom: 20px;
  }
  .nav-tabs {
    background-color: $light-gray;
    height: 50px;
    border-color: darken( $light-gray, 10% );
    > li {
      float: right;
    }
    a {
      line-height: 35px;
      height: 50px;
      border-top: 0;
      border-radius: 0;
      color: $black;
      margin: 0;
      &:hover {
        background-color: $white;
      }
    }
  }
  #message_form .actions {
    margin-top: 7%;
  }
  .modal-footer .actions {
    margin-top: 0;
  }
} /* / .m-app */

.merchants-shops h1,
.merchants-merchant_managers h1,
.merchants-managers-registrations h1,
.merchants-locations h1,
.merchants-social_profiles h1,
.merchants-subscriptions h1 {
  /* Applies to all views under the merchant_managers controller */
  float: left;
}
.merchants-managers-registrations #edit_merchants_manager .profile_image {
  float: left;
  margin-right: 20px;
}
.edit.merchants-shops.m-app textarea {
  height: 70px; resize: none;
}

.merchants-messages h1{
  text-align: center;
  padding-right: 3%;
}

.merchants-messages h2 {
  float: left;
}

@media( max-width: 768px ) {
  /* For Merchants dash -------------------------------- */
  #flat.m-app {
    background-image: none;
      .span6 {
      padding: 0;
      text-align: center;
    }
    .navbar-inner {
      padding: 0;
    }
    .brand {
      border: 0;
      padding: 17px 0 0 10px;
    }
    .preview .customize {
      text-align: left;
    }
  }
  #flat.merchants-messages h1 {
    float: none;
    margin-bottom: 0;
  }
  #flat.merchants-dashboards #dashboard .stats .span3 {
    padding: 1%;
    margin-bottom: 1%;
  }
  #flat.merchants-dashboards #dashboard .text-warning {
    margin-top: 50px;
  }
  #flat.merchants-dashboards #dashboard {
    margin-top: 0;
  }
  .merchants-shops h1 {
    float: none;
    padding-bottom: 0;
  }
}  /* End media query. */

.merchants-connections.index #merchants > p {
  line-height: 30px;
}


/* Merchant Edit Pages */
#edit {

}
#edit .box_wrapper{
  margin-left: 0;
}
#edit .edit_wrapper p.already{
  text-align: center;
  font-style: 15px;
  color: #454B52;
}
#edit .edit_wrapper p.already a{
  color: #454B52;
  margin-left: 3px;
  text-decoration: underline;
}
#edit .edit_wrapper .box{
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 4px 4px 4px 4px;
  float: none;
  padding-bottom: 26px;
  margin: 50px auto 0;
  width: 80%;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px 0px #DDD;
}
#edit .box .head{
  background-color: #F4F4F4;
    border-bottom: 1px solid #D6D6D6;
    border-radius: 4px 4px 1px 0;
    display: inline-block;
    margin-bottom: 37px;
    padding: 25px 0 25px;
    text-align: center;
    width: 100%;
}
#edit .box .head h4{
  font-weight: normal;
  color: #373D44;
  font-size: 21px;
  margin: 0px;
}
#edit form{
  margin: 0px;
}
#edit .box .form{
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
#edit .box .form input[type="text"], 
#edit .box .form input[type="password"]
{
  border-color: #DBDBDB #EAEAEA #EAEAEA #DBDBDB;
    border-left: 1px solid #DBDBDB;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    height: 30px;
    margin-bottom: 16px;
    width: 95%;
}
/* Optyn Button Stats */
#button_stats {
  color: $dark-gray;
  height: auto;
  margin-left: 0px;
}
#button_stats h3 {
  padding-left: 10px;
}
#button_stats .line {
  padding: 2px 0 2px 20px;
}
#button_stats .line strong {
  font-size: 18px;
}
/* Update Shop Wrapper */
#update_shop_wrapper .control-group .controls .help-block {
  float: right;
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #edit .box{
    width: 54%;
  }
}
@media (max-width: 979px) {
  #flat.m-app .nav-tabs a {
    padding-left: 10px;
    padding-right: 10px;
  }
  #edit .box{
    width: 48%;
  }
  #flat.m-app {
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .merchants-dashboards.index {
    .stats {
      margin-bottom: 20px;
      .span3 {
        height: 190px;
        overflow: hidden;
      }
    }
  }
}
@media (min-width: 980px) {
  #edit .box{   
    width: 37%;
  }
}
@media (max-width: 480px) {
  #edit .box{
    width: 100%;  
  }
}
/* Large desktop */
@media (min-width: 1200px) {
  #edit .box{
    width: 32.5%;
  }
}
/* Merchant Dashboard Page */
#dashboard {
  background: image-url( 'bg_dash.png' );
  background-size: contain;
  background-repeat: repeat-y;
  padding-bottom: 50px;
  margin: 0px;
  @media( max-width: 768px ) {
    padding-bottom: 0;
  }
}
#dashboard .header .new {
  float: right;
}
#dashboard .header .new .newcampaign img {
  padding-right: 10px;
}
#dashboard .latest .sortby {
  float: right;
  color: #fff;
  vertical-align: middle;
  padding-top: 12px;
  padding-right: 20px;
}
#dashboard .latest .sortby select {
  border: 0px !important;
  width: 150px !important;
}
/* Dashboard Statistics */
#dashboard .stats .span2 {
  margin-left: 0px;
  width: 186px;
}
#dashboard .stats .box {
  padding-left: 8px;
}
/* Merchant Settings Page */
#settings {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
#profile {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
#campaigns {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
#messages {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}

/* Optyn Button Preview Page */
#merchants .preview .main .customize .custom .option {
  padding-top: 10px;
  padding-right: 10px;
}
#merchants .preview .main .customize .custom .option textarea {
  width: 95%;
}
#merchants .preview .main .customize .refresh {
  margin-top: 30px;
}
#merchants .preview .main .btn-preview .optyn-preview {
  padding-top: 40px;
  padding-bottom: 40px;
}
#merchants .preview .main .btn-preview .codesnippet {
  padding-top: 10px;
  padding-bottom: 10px;
}
#merchants .preview .main .btn-preview .codesnippet textarea {
  width: 100%;
}
#merchants .preview .main .btn-preview .need-help {
  text-align: right;
  font-size: 12px;
  margin-top: 60px;
}
#merchants .preview .advanced {
  padding-top: 20px;
}
#merchants .preview .advanced .main-advanced {
}
#merchants .preview .advanced .actions {
  float: right;
}
#merchants .preview .btns .btn {
  float: left;
  margin-right: 15px;
}
#merchants .preview .copy-notice {
  display: none;
  line-height: 37px;
}

/* Public Merchant Page - i.e. /danacafe" */
#merchant_page .titlebar {
  height: auto;
  padding-top: 40px;
}
#merchant_page .titlebar .logo {
  height: 60px;
  > h1 {
    display: inline-block;
  }
  > .logo-cont {
    width: 100px;
    height: 80px;
    display: inline-block;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    padding: 1px;
    border: solid 1px $medium-gray;
  }
}
#merchant_page .titlebar .optyn {
  vertical-align: middle;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;  
}
#merchant_page .titlebar .optyn img {
  float: right;
}
#merchant_page .mainbody {
  background-color: $white;
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 0px;
}
#merchant_page .mainbody .title {

}
#merchant_page .mainbody .marketing {
  width: 330px;
}
#merchant_page .mainbody .marketing .details {
  font-size: 16px;
  color: #304d58;
  border-right: none;
}
#merchant_page .mainbody .marketing .details li {
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #ececec;
  padding-left: 20px;
}
#merchant_page .mainbody .marketing .details li img {
  float: right;
  padding-right: 10px;
}
#merchant_page .mainbody .marketing .details li:hover {
  background-color: #e7eff1;
}
#merchant_page {
  .row-fluid {
    margin: 0;
    padding: 3% 0;
    &.titlebar {
      background-color: $light-gray;
    }
    &.button {
      background-color: $blue;
      color: $white;
      font: bold 20px/30px $sans-serif;
      strong {
        margin-right: 10px;
      }
    }
    &.mainbody {}
  }
}

/* Styles for file imports page */
.merchants-file_imports.index {
  .import {
    .control-label {
      padding-top: 0;
    }
  }
  .import ul {
    list-style-type: circle;
  }
}

#survey_answer_list {
  .question {
    font-weight: bold
  }
  .user, .answer {
    margin-bottom: 15px;
  }
  span.bordered {
    border-right: solid 1px #ccc;
    width: 30px;
    display: inline-block;
    margin-right: 20px;
  }
}
#flat.m-app #message_form .modal .actions { margin-top: 0; }
#flat.m-app #dashboard #box_login .row-fluid { padding: 0 10px;}
.payment-errors {
  padding: 10px;
}
#survey_question_form .form-horizontal .close {
  display: inline-block;
  position: relative;
  left: -10px;
  top: -30px;
}
.tab-content {
  clear: both;
}
.new-conn {
  background-color: $black;
  color: $white;
  padding: 0 20px;
  > h2 {
    margin-bottom: 0;
  }
}

#flat.shops.show h1 {
  border-bottom: 0;
}

#c-sent-criteria h5 {
  margin-top: 18px;
}

#message_meta_modal .field-with-errors { display: block; }

.add-first-tmpl {
  margin-top: 8vh;
  text-align: center;
  h2  {
    float: none
  }
}

.template #customHtmlTemplate { min-width: 610px; }

#add_user_wrapper .controls {margin-bottom: 10px;}

.merchant_video_tutorials .cboxElement {
  display: block;
  color: $black;
  text-align: center;
  margin-bottom: 30px;
  opacity: 0.7;
  @include transition( all 0.5s ease );
  &:hover {
    opacity: 1;
    > span:first-child { color: $red; }
  }
  > span:first-child {
    display: block;
    font-size: 5rem;
    line-height: 12rem;
    background-color: $light-gray;
    color: $medium-gray;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  > span:last-child {
    display: block;
    padding: 10px;
  }
}

.segments.default {
  #dashboard { padding-bottom: 0; }
  &#flat .wid75pc { width: 100%; }
}
