/* All Merchant Account Pages CSS is here */
#flat {
    footer.inner {
    background-color: rgba( #000, 0.2 );
    color: $dark-gray;
    padding: 2%;
    margin-top: 5%;
    line-height: 42px;
    a {
      margin-right: 5px;
    }
    .copy a {
      color: $dark-gray;
      text-decoration: underline;
      margin-right: 30px;
    }
  }
}
#flat.m-app {
  background: image-url( 'bg_dash.png' );
  background-size: contain;
  background-repeat: repeat-y;
  padding-top: 70px;
  #dashboard {
    .row-fluid {
      padding: 0;
    }
    .pad3pc {
      padding: 0 3% 5% 3%;
    }
    .stats {
      .span3 {
        padding: 5% 1%;
        text-align: center;
        background-color: $light-gray;
        .count {
          font-size: 30px;
          line-height: 50px;
          color: $orange;
        }
      }
    }
    .content {
      background-color: $white;
    }
  }
  h1, h2 {
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  h1 {
    line-height: 44px;
    height: 50px;
    padding: 0 0 0 3%;
    border-bottom: solid 1px darken( $light-gray, 10% );
    background-color: $light-gray;
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
    height: 40px;
  }
  .action-buttons {
    margin-bottom: 20px;
  }
  .nav-tabs {
    background-color: $light-gray;
    height: 50px;
    border-color: darken( $light-gray, 10% );
    > li {
      float: right;
    }
    a {
      line-height: 35px;
      height: 50px;
      border-top: 0;
      border-radius: 0;
      color: $black;
      margin: 0;
      &:hover {
        background-color: $white;
      }
      > span {
        border-radius: 100px;
        padding: 0 5px;
        background-color: $medium-gray;
        color: $white;
      }
    }
  }
  #message_form .actions {
    margin-top: 7%;
  }
} /* / .m-app */

.edit.merchants-shops.m-app textarea {
  height: 70px; resize: none;
}
.edit.merchants-shops.m-app textarea, input {
  width: 100%;
}

.edit.merchants-managers-registrations.m-app .form {
  width: 80%;
  margin: auto;
}

.merchants-messages h1{
  float: left;
  padding-right: 3%;
}

.merchants-messages h2 {
  float: left;
}

@media( max-width: 768px ) {
  /* For Merchants dash -------------------------------- */
  #flat.m-app {
    background-image: none;
      .span6 {
      padding: 0;
      height: 42px;
      text-align: center;
    }
    .navbar-inner {
      padding: 0;
    }
    .brand {
      border: 0;
      padding: 17px 0 0 10px;
    }
  }
  #flat.merchants-messages h1 {
    float: none;
    margin-bottom: 0;
  }
  #flat.merchants-dashboards #dashboard .stats .span3 {
    padding: 1%;
    margin-bottom: 1%;
  }
  #flat.merchants-dashboards #dashboard .stats .leading {
    margin-top: 50px;
  }
  #flat.merchants-dashboards #dashboard {
    margin-top: 0;
  }
}

.merchants-connections.index #merchants > p {
  line-height: 30px;
}


/* Merchant Edit Pages */
#edit {

}
#edit .box_wrapper{
  margin-left: 0;
}
#edit .edit_wrapper p.already{
  text-align: center;
  font-style: 15px;
  color: #454B52;
}
#edit .edit_wrapper p.already a{
  color: #454B52;
  margin-left: 3px;
  text-decoration: underline;
}
#edit .edit_wrapper .box{
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 4px 4px 4px 4px;
  float: none;
  padding-bottom: 26px;
  margin: 50px auto 0;
  width: 80%;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px 0px #DDD;
}
#edit .box .head{
  background-color: #F4F4F4;
    border-bottom: 1px solid #D6D6D6;
    border-radius: 4px 4px 1px 0;
    display: inline-block;
    margin-bottom: 37px;
    padding: 25px 0 25px;
    text-align: center;
    width: 100%;
}
#edit .box .head h4{
  font-weight: normal;
  color: #373D44;
  font-size: 21px;
  margin: 0px;
}
#edit form{
  margin: 0px;
}
#edit .box .form{
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
#edit .box .form input[type="text"], 
#edit .box .form input[type="password"]
{
  border-color: #DBDBDB #EAEAEA #EAEAEA #DBDBDB;
    border-left: 1px solid #DBDBDB;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    height: 30px;
    margin-bottom: 16px;
    width: 95%;
}
/* Optyn Button Stats */
#button_stats {
  background-color: #FFF;
  border-radius: 4px;
  height: auto;
  -webkit-box-shadow: 1px 1px 8px rgba(54, 48, 50, 0.2);
  -moz-box-shadow:    1px 1px 8px rgba(54, 48, 50, 0.2);
  box-shadow:         1px 1px 8px rgba(54, 48, 50, 0.2);
  margin-left: 0px;
}
#button_stats h3 {
  padding-left: 10px;
}
#button_stats hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
#button_stats .line {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 16px;
}
#button_stats .line strong {
  font-size: 18px;
}
/* Update Shop Wrapper */
#update_shop_wrapper {
  width: 80%;
  margin: auto;
}
#update_shop_wrapper .control-group .input-append .add-on,
#update_shop_wrapper .control-group .input-prepend .add-on {
  height: 33px;
  font-size: 12px;
  line-height: 33px;
}
#update_shop_wrapper .control-group .controls .help-block {
  float: right;
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #edit .box{
    width: 54%;
  }
}
@media (max-width: 979px) {
  #flat.m-app .nav-tabs a {
    padding-left: 10px;
    padding-right: 10px;
  }
  #edit .box{
    width: 48%;
  }
  #flat.m-app {
    padding-top: 0;
  }
}
@media (min-width: 980px) {
  #edit .box{   
    width: 37%;
  }
}
@media (max-width: 480px) {
  #edit .box{
    width: 100%;  
  }
}
/* Large desktop */
@media (min-width: 1200px) {
  #edit .box{
    width: 32.5%;
  }
}
/* Merchant Dashboard Page */
#dashboard {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
}
#dashboard .header {
  height: 50px;
}
#dashboard .header .new {
  float: right;
}
#dashboard .header .new .newcampaign img {
  padding-right: 10px;
}
#dashboard .latest .sortby {
  float: right;
  color: #fff;
  vertical-align: middle;
  padding-top: 12px;
  padding-right: 20px;
}
#dashboard .latest .sortby select {
  border: 0px !important;
  width: 150px !important;
}
/* Dashboard Statistics */
#dashboard .stats .span2 {
  margin-left: 0px;
  width: 186px;
}
#dashboard .stats .box {
  padding-left: 8px;
}
/* Merchant Settings Page */
#settings {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
#profile {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
#campaigns {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
#messages {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}

/* Optyn Button Preview Page */
#merchants .preview .main {
  background-color: #FFF;
  border-radius: 6px;
  height: 575px;
  -webkit-box-shadow: 1px 1px 8px rgba(54, 48, 50, 0.2);
  -moz-box-shadow:    1px 1px 8px rgba(54, 48, 50, 0.2);
  box-shadow:         1px 1px 8px rgba(54, 48, 50, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
}
#merchants .preview .main .header {
  color: #1791c0;
  font-weight: bold;
  font-size: 18px;
}
#merchants .preview .main .header hr {
  margin-top: 5px;
  margin-bottom: 0px;
}
#merchants .preview .main .customize {
  border-right: 1px solid #ececec;
  padding-right: 30px;
  width: 320px;
}
#merchants .preview .main .customize .custom {

}
#merchants .preview .main .customize .custom .option {
  padding-top: 10px;
  padding-right: 10px;
}
#merchants .preview .main .customize .custom .option textarea {
  width: 95%;
}
#merchants .preview .main .customize .refresh {
  float: right;
}
#merchants .preview .main .customize .refresh .refreshbtn {
  background: #e7eaeb;
  border-radius: 4px;
  display: inline-block;
  height: 20px;
  line-height: 18px;
  top: 4px;
  color: #1791c0;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
  border: 1px #304d58;
  padding-top: 10px;
  padding-bottom: 10px;
}
#merchants .preview .main .customize .refresh .refreshbtn:hover{
  background: #d6d6d6;
  text-decoration: none;
  text-shadow: none;
}
#merchants .preview .main .btn-preview {
  border-left: 1px solid #ececec;
  width: 320px;
  padding-left: 30px;
  margin-left: 0px;
}
#merchants .preview .main .btn-preview .optyn-preview {
  padding-top: 40px;
  padding-bottom: 40px;
}
#merchants .preview .main .btn-preview .codesnippet {
  padding-top: 10px;
  padding-bottom: 10px;
}
#merchants .preview .main .btn-preview .codesnippet textarea {
  width: 95%;
}
#merchants .preview .main .btn-preview .btns {
  float: right;
}
#merchants .preview .main .btn-preview .btns .refreshbtn {
  background: #e7eaeb;
  border-radius: 4px;
  display: inline-block;
  height: 20px;
  line-height: 18px;
  top: 4px;
  color: #1791c0;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
  border: 1px #304d58;
  padding-top: 10px;
  padding-bottom: 10px;
}
#merchants .preview .main .btn-preview .btns .refreshbtn:hover {
  background: #d6d6d6;
  text-decoration: none;
  text-shadow: none;
}
#merchants .preview .main .btn-preview .btns .copybtn {
  background: #86c440;
  border-radius: 4px;
  display: inline-block;
  height: 20px;
  line-height: 18px;
  top: 4px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
  border: 1px #304d58;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}
#merchants .preview .main .btn-preview .btns .copybtn:hover {
  background: #64b905;
  text-decoration: none;
  text-shadow: none;
}
#merchants .preview .main .btn-preview .need-help {
  text-align: right;
  font-size: 10px;
  margin-top: 60px;
}
#merchants .preview .advanced {
  padding-top: 20px;
}
#merchants .preview .advanced .main-advanced {
  background-color: #FFF;
  border-radius: 6px;
  height: 200px;
  -webkit-box-shadow: 1px 1px 8px rgba(54, 48, 50, 0.2);
  -moz-box-shadow:    1px 1px 8px rgba(54, 48, 50, 0.2);
  box-shadow:         1px 1px 8px rgba(54, 48, 50, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
#merchants .preview .advanced .actions {
  float: right;
}
#merchants {
  /*#edit_shop_form .add-on {
    height: 20px;
    line-height: 20px;
  }*/
}
/* Public Merchant Page - i.e. /danacafe" */
#merchant_page {
  padding-top: 30px;
  padding-bottom: 30px;
}
#merchant_page .titlebar {
  height: auto;
  padding-top: 40px;
}
#merchant_page .titlebar .logo {
  height: 60px;
}
#merchant_page .titlebar .title {
  vertical-align: middle;
  color: #304d58;
  font-size: 28px;
  padding-top: 15px;
}
#merchant_page .titlebar .optyn {
  vertical-align: middle;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;  
}
#merchant_page .titlebar .optyn img {
  float: right;
}
#merchant_page .mainbody {
  -webkit-box-shadow: 1px 1px 8px rgba(54, 48, 50, 0.2);
  -moz-box-shadow:    1px 1px 8px rgba(54, 48, 50, 0.2);
  box-shadow:         1px 1px 8px rgba(54, 48, 50, 0.2);
  background-color: #ffffff;
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 0px;
}
#merchant_page .mainbody .title {

}
#merchant_page .mainbody .title h3 {
  padding-top: 0px;
  color: #304d58;
  margin-top: 0px;
  font-size: 20px;
  line-height: 20px;
}
#merchant_page .mainbody .details {
  width: 330px;
  border-right: 1px solid #ececec;
}
#merchant_page .mainbody .details-list {

}
#merchant_page .mainbody .details-list .item {
  padding-bottom: 15px;
}
#merchant_page .mainbody .details-list .item-icons {
  padding-bottom: 10px;
}
#merchant_page .mainbody .marketing {
  width: 330px;
}
#merchant_page .mainbody .marketing .title {

}
#merchant_page .mainbody .marketing .title h3 {
  padding-top: 0px;
  color: #304d58;
  margin-top: 0px;
  font-size: 20px;
  line-height: 20px;
}
#merchant_page .mainbody .marketing .details {
  font-size: 16px;
  color: #304d58;
  border-right: none;
}
#merchant_page .mainbody .marketing .details ul {
}
#merchant_page .mainbody .marketing .details li {
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #ececec;
  padding-left: 20px;
}
#merchant_page .mainbody .marketing .details li img {
  float: right;
  padding-right: 10px;
}
#merchant_page .mainbody .marketing .details li:hover {
  background-color: #e7eff1;
}
