#merchants {
  padding-top: 30px;
}

/* To be Used Later */
#connections {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
#connections table {

}
#dashboard {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
#dashboard table {

}
#settings {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
#profile {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
#campaigns {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
#campaigns table {

}
#messages {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
#messages table {

}
/* Public Merchant Page - i.e. /danacafe" */
#merchant_page {
  padding-top: 30px;
  padding-bottom: 30px;
}
#merchant_page .titlebar {
  height: auto;
  padding-top: 40px;
}
#merchant_page .titlebar .logo {
  height: 60px;
}
#merchant_page .titlebar .title {
  vertical-align: middle;
  color: #304d58;
  font-size: 28px;
  padding-top: 15px;
}
#merchant_page .titlebar .optyn {
  
}
#merchant_page .titlebar .optyn img {
  float: right;
}
#merchant_page .mainbody {
  -webkit-box-shadow: 1px 1px 8px rgba(54, 48, 50, 0.2);
  -moz-box-shadow:    1px 1px 8px rgba(54, 48, 50, 0.2);
  box-shadow:         1px 1px 8px rgba(54, 48, 50, 0.2);
  background-color: #ffffff;
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 0px;
}
#merchant_page .mainbody .title {

}
#merchant_page .mainbody .title h3 {
  padding-top: 0px;
  color: #304d58;
  margin-top: 0px;
  font-size: 20px;
  line-height: 20px;
}
#merchant_page .mainbody .details {
  width: 330px;
  border-right: 1px solid #ececec;
}
#merchant_page .mainbody .details-list {

}
#merchant_page .mainbody .details-list .item {
  padding-bottom: 15px;
}
#merchant_page .mainbody .details-list .item-icons {
  padding-bottom: 10px;
}
#merchant_page .mainbody .marketing {
  width: 330px;
}
#merchant_page .mainbody .marketing .title {

}
#merchant_page .mainbody .marketing .title h3 {
  padding-top: 0px;
  color: #304d58;
  margin-top: 0px;
  font-size: 20px;
  line-height: 20px;
}
#merchant_page .mainbody .marketing .details {
  font-size: 16px;
  color: #304d58;
  border-right: none;
}
#merchant_page .mainbody .marketing .details ul {
}
#merchant_page .mainbody .marketing .details li {
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #ececec;
  padding-left: 20px;
}
#merchant_page .mainbody .marketing .details li img {
  float: right;
  padding-right: 10px;
}
#merchant_page .mainbody .marketing .details li:hover {
  background-color: #e7eff1;
}

