/* Add Template Properties font size */
#template_properties_container #template_properties_form #template_properties_tab a {font-size: 11px;}

/**
 * Email preview styles
 */
#message_preview_container{height:100%; background-color:#ffffff; font-family:Helvetica, sans-serif; padding:20px;}

#message_preview_container .outer-table{width:100%;}

#message_preview_container .outer-table .outer-cell{background-color:#FFF; display:block!important; margin:0 auto; clear:both;}

#message_preview_container .outer-table .outer-cell .inner-table{padding:15px; margin:0 auto; display:block;}

#message_type_of_discount{display: none !important;}

#message_type_of_discount + .error{font-size: 14px;}

#message_preview_container {
	strong {
		font-size: 1em;
		font-weight: bold;
		font-family: sans-serif;
	}
	h1 {
		font-family: sans-serif;
		background-color: transparent;
		border: 0;
	}
	tr {
		overflow: scroll;
	}
}

/**
 * Message list styles
 */
.message-list tr td.show-link{cursor: pointer;}
.message-inbox-list tr td{vertical-align: middle;}
.message-inbox-list .text-center{text-align: center;}
tr.message-unread td{background-color: #F9F9F9; font-weight: 700;}


/**
 * Message Shop Logo
 */
.message-shop-logo{width: 125px;}

/* Message Center Design */
#choose_message {
	clear: both;
	> .row-fluid {
		padding: 0;
	}
}
#choose_message .row {
	margin-bottom: 20px;
}
#choose_message .type.coupon:hover {
	background-color: $light-gray;
}
#choose_message .coupon:before {
	content: 'A coupon will get customers in your door and you will earn on average a 30% increase in sales.';
	position: absolute;
	top: -150px;
	left: 0;
	background-color: $green;
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;
	z-index: 3;
	box-sizing: border-box;
	@include transition( all 0.2s ease-out );
	font-size: 0.8em;
	color: $white;
	text-decoration: none;
}
#choose_message .type {
	position: relative;
	display: block;
	overflow: hidden;
	background-color: $light-gray;
	vertical-align: middle;
	border: solid 1px $medium-gray;
	margin-bottom: 2%;
	height: 140px;
	color: $black;
	font-size: 1.2em;
	z-index: 2;
	text-decoration: none;
	@media ( max-width: 767px ) {
		height: 100px;
	}
	&:hover {
		background-color: $green;
		color: $white;
		aside { color: $light-gray; }
	}
	&:hover:before {
		top: 0;
	}
	img {
		float: left;
		margin-right: 15px;
		position: absolute;
		left: 10px;
		top: 32%;
	}
	> span {
		position: absolute;
		top: 36%;
		left: 80px;
	}
	> aside {
		font-size: 0.8em;
		color: $orange;
		position: absolute;
		left: 80px;
		bottom: 10px;
	}
}

#flat.preview.merchants-messages .add-on i {
  margin-top: 4px;
}
.merchants-messages {
  table {
    clear: both;
  }
  &.new #dashboard { background-image: none; }
  &.new #dashboard .wid75pc { width: 100%; }
}
#flat #message_meta_modal .add-on > i {
  margin-top: 0;
}
#message_header_settings_form label {
	display: inline;
	margin-right: 10px;
}
.preview-text > .span3 {
	text-align: right;
}

@media (min-width: 768px) and (max-width: 979px) {
	#choose_message .type span {
		left: 70px;
	}
	#choose_message .type aside {
		left: 10px;
	}
}

@media ( max-width: 767px ) {
	.preview-text > .span3 {
		text-align: left;
	}
}

.coming-soon-link{
	cursor: default;
}

.link-click-report-link{
	cursor: pointer;
}

.email-report-report-link{
	cursor: pointer;
}

#preview_wrapper ul{
  list-style: disc;
}

#preview_wrapper ul li ul{
	list-style: circle;
}

#preview_wrapper ul li ul li ul{
	list-style: square;
}

#preview_wrapper ol{
       list-style: decimal !important;
}


