/**
 * Email preview styles
 */
#message_preview_container{height:100%; background-color:#ffffff; font-family:Helvetica, sans-serif; padding:20px;}

#message_preview_container .outer-table{width:100%;}

#message_preview_container .outer-table .outer-cell{background-color:#FFF; display:block!important; margin:0 auto; clear:both;}

#message_preview_container .outer-table .outer-cell .inner-table{padding:15px; margin:0 auto; display:block;}

#message_type_of_discount{display: none !important;}

#message_type_of_discount + .error{font-size: 14px;}

#message_preview_container {
	strong {
		font-size: 1em;
		font-weight: bold;
		font-family: sans-serif;
	}
	h1 {
		font-family: sans-serif;
		background-color: transparent;
		border: 0;
	}
	tr {
		overflow: scroll;
	}
}

/**
 * Message list styles
 */
.message-list tr td.show-link{cursor: pointer;}
.message-inbox-list tr td{vertical-align: middle;}
.message-inbox-list .text-center{text-align: center;}
tr.message-unread td{background-color: #F9F9F9; font-weight: 700;}


/**
 * Message Shop Logo
 */
.message-shop-logo{width: 125px;}

/* Message Center Design */
#choose_message {
	clear: both;
	> .row-fluid {
		padding: 0;
	}
}
#choose_message .row {
	margin-bottom: 20px;
}
#choose_message .type.coupon:hover {
	background-color: $light-gray;
}
#choose_message .coupon:before {
	content: 'A coupon will get customers in your door and you will earn on average a 30% increase in sales.';
	position: absolute;
	top: -150px;
	left: 0;
	background-color: $green;
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;
	z-index: 3;
	box-sizing: border-box;
	@include transition( all 0.2s ease-out );
	font-size: 0.8em;
	color: $white;
	text-decoration: none;
}
#choose_message .type {
	position: relative;
	display: block;
	overflow: hidden;
	background-color: $light-gray;
	vertical-align: middle;
	border: solid 1px $medium-gray;
	margin-bottom: 2%;
	height: 140px;
	color: $black;
	font-size: 1.2em;
	z-index: 2;
	text-decoration: none;
	&:hover {
		background-color: $green;
		color: $white;
	}
	&:hover:before {
		top: 0;
	}
	img {
		float: left;
		margin-right: 15px;
		position: absolute;
		left: 10px;
		top: 32%;
	}
	> span {
		position: absolute;
		top: 36%;
		left: 100px;
	}
	> aside {
		font-size: 0.8em;
		color: $orange;
		position: absolute;
		left: 100px;
		bottom: 10px;
	}
}

#flat.preview.merchants-messages .add-on i {
  margin-top: 4px;
}
.merchants-messages {
  table {
    clear: both;
  }
}
#flat #message_meta_modal .add-on > i {
  margin-top: 0;
}
#message_header_settings_form label {
	display: inline;
	margin-right: 10px;
}
.preview-text > .span3 {
	text-align: right;
}

@media (min-width: 768px) and (max-width: 979px) {
	#choose_message .type span {
		left: 70px;
	}
	#choose_message .type aside {
		left: 10px;
	}
}

@media ( max-width: 767px ) {
	.preview-text > .span3 {
		text-align: left;
	}
}

.coming-soon-link{
	cursor: default;
}

#template_pane {
	text-align: center;
}

.template_chooser > .span4:nth-child( 3n + 1 ),
.modal-body > .template_chooser > .span5:nth-child( 2n + 1 ) {
	margin-left: 0;
}
.modal-body > .template_chooser > .span5 {
	margin-bottom: 2%;
	text-align: center;
}
.modal-body > .template_chooser > .span5 > img {
	max-height: 150px;
}
//.template_chooser .template_type {
.template_chooser > .span4 {
	margin-bottom: 3%;
	position: relative;
	box-shadow: inset transparent 0px 0px 0px 0px;
	@include transition( box-shadow 0.3s ease );
	&:hover > .tmpl-bg {
		box-shadow: inset #555 0px 0px 0px 7px;
	}
}
.template_chooser .template_type {
	display: block;
	height: 300px;
}
.template_chooser .template_type > .tmpl-bg {
//.template_chooser > .span4 > .tmpl-bg {
	background-size: cover;
	height: 100%;
}
.template_chooser .template_type > img { max-height: 300px; }
.template_chooser .template_type > h6 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #555;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	line-height: 1.6rem;
	padding-right: 50px;
}
.template_chooser .delete-btn {
	margin-right: 10px;
	position: absolute;
	right: 0;
	bottom: 10px;
}
