#template_pane {
  text-align: center;
  line-height: 0;
}

.template_chooser > .span3:nth-child( 4n + 1 ),
.template_chooser > .span5:nth-child( 2n + 1 ) {
  margin-left: 0;
}
.template_chooser > .span5 > img {
  max-height: 143px;
  max-width: 110px;
}
//.template_chooser .template_type {
.template_chooser > .span3 {
  margin-bottom: 3%;
  position: relative;
  box-shadow: inset transparent 0px 0px 0px 0px;
  @include transition( box-shadow 0.3s ease );
  &:hover .tmpl-bg {
    box-shadow: inset #555 0px 0px 0px 7px;
  }
}
.template_chooser .template_type {
  display: block;
  height: 300px;
}
.template_chooser .template_type > .tmpl-bg {
//.template_chooser > .span4 > .tmpl-bg {
  background-size: cover;
  background-position: top center;
  height: 100%;
}
.template_chooser .template_type > img { max-height: 300px; }
.template_chooser .template_type > h6 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #555;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  line-height: 1.6rem;
  padding-right: 50px;
}
.template_chooser .delete-btn {
  margin-right: 10px;
  position: absolute;
  right: 0;
  bottom: 10px;
}
.template_chooser .span5 {
  position: relative;
  height: 160px;
  margin-bottom: 2%;
  @include transition( background 0.3s ease );
  &:hover {
    background: $light-gray;
  }
}
.template_chooser .span5 img {
  position: absolute;
  left: 0;
  top: 10px;
  width: 30%;
}
.template-description {
  position: absolute;
  left: 40%;
  top: 10px;
  text-align: left;
  color: $gray;
  line-height: 1.2rem;
}
.template-property-menu {
  margin: 0;
  .show-message-menu {
    padding: 3%;
  }
}
#template_name {
  color: $black;
}
.template-editor-container {
  width: 50%;
  float: left;
  margin: 0;
  padding: 1%;
  @media ( max-width: 769px ) { background: $black; }
}
#flat.template #dashboard .editor_wrpr {
  background: darken( $light-gray, 3% );
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
.template #dashboard .editor_wrpr #choose_message {
  background: lighten( $light-gray, 1% );
}

.msg_img_upload [type="file"]{
  width: 100%;
}

.template-property-menu .input-append.color .add-on i, .input-prepend.color .add-on i {
  width: 23px;
  height: 23px;
  margin-top: 0 !important;
}
#merchants > .editor_wrpr > .span6 {
  @media( max-width: 980px ) {
    min-height: auto;
  }
}

.system_layouts #merchants,
.merchants-messages.new #merchants,
.new_template #merchants,
.edit_template #dashboard {
  max-width: 1000px;
  margin: auto;
  padding: 3% 0;
  background: transparent;
}
.edit #message_fields_wrapper,
.preview #message_fields_wrapper {
  padding: 0;
}
#flat.m-app #dashboard .pad3pc#message_fields_wrapper { padding: 3%; }
.system_layout_properties #merchants > .span6,
.preview_template #merchants > .span6:last-child {
  width: 50%;
  margin: 0;
}
.preview_template #merchants > .span6 {
  margin: 0;
  min-height: 95vh;
  @media( max-width: 980px ) {
    width: 100%;
  }
}
.preview_template #merchants > .span6:first-child { padding: 2%; }
#flat.template #dashboard .yield .tmpl_chooser { padding: 2%; }

#edit-illustration {
  text-align: center;
  position: fixed;
  width: 50%;
  top: 40%;
  left: 0;
}

input.edit-headline {
  display: block;
  width: 100%;
}
