* {margin: 0; padding: 0; @include box-sizing(border-box);}

body {
	background: url(/assets/body-bg.png) repeat;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 51px;
}
/*.container {
	width: 982px;
	background: white;
	border: 1px solid #ccc;
	border-top-color: initial;
	border-top-style: none;
	border-top-width: initial;
	border-right-color: rgb(204, 204, 204);
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	position: relative;
	min-height: 458px;
	border-top: none;
}*/

.navbar-fixed-top {
	.navbar-inner {
		background-image: linear-gradient(#89B554, #5F8B38);
	    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	    height: 51px;
	    > .container {width: 1009px;}
		.brand {
			padding: 14px 20px 0 20px;
			margin: 0;
		}
	}
}

.navbar-fixed-top + div[id] {
	padding-top: 0;
	.container{
		width: 982px;
		background-color:#fff;
		@include border-radius(0px 0px 9px 9px);
		//@include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
		-webkit-box-shadow:rgba(0,0,0,0.1) 0 2px 2px;
		-moz-box-shadow:rgba(0,0,0,0.1) 0 2px 2px;
		box-shadow:rgba(0,0,0,0.1) 0 2px 2px;
		border: 1px solid #ccc;
		position:relative;
		border-top:none;
	}
	.leftNav {
		background-color: #FAFAFA;
		border-bottom: 1px solid #D9D9D9;
		border-radius: 0 0 0 9px;
		border-right: 1px solid #D9D9D9;
		box-shadow: -1px -1px 5px #EBEBEB inset;
		color: gray;
		font-size: 13px;
		font-weight: bold;
		height: 100%;
		position: absolute;
		text-shadow: 0 1px 0 white;
		width: 143px;
		a {
		    border: 1px solid transparent;
		    color: gray;
		    display: block;
		    font-size: 13px;
		    font-weight: bold;
		    padding: 13px 13px 13px 19px;
		    text-shadow: 0 1px 0 white;
		    &.current {
			    background-color: #F2F2F2;
			    border-color: #E3E3E3;
			    box-shadow: 0 0 5px 1px #EBEBEB inset;
		    }
		    &:hover {
		    	color: #666;
		    	text-decoration: none;
		    }
		}
	}
	.rightContainer {
	    padding: 16px 20px;
	    float: right;
	    width: 839px;
	    margin: 0;
	}
}

.dashBox {
    width: 252px;
    border: 1px solid #ccc;
    display: inline-block;
    @include border-radius(5px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #666;
    margin: 0 17px 20px 0;
    position: relative;
    &.wideDashBox {float: none; clear: both; width: 100%;}
    &:nth-child(4n) {
    	margin-right: 0;
    }
    h2 {
    	margin: 0;
	    background-image: linear-gradient(white, #F2F2F2);
	    border-bottom: 1px solid #D9D9D9;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    box-shadow: 0 -1px 0 white inset;
	    font-size: 1em;
	    font-weight: 700;
	    height: 40px;
	    line-height: 40px;
	    padding: 0 12px;
	    text-shadow: 0 1px 0 white;
    }
    div {
    	padding: 10px;
    }
}

//My account Dropdown Styles
.navbar .nav.accDropDown {
	border-left: 1px none;
	border-right: 1px none;
	font-weight: 500;
	height: 51px;
	top: 0;
	> li:not(.dropdown) {
		margin-right: 26px;
		&.help {margin-right: 16px;}
	    > a[class]:not(.dropdown-toggle) {
	    	display: block;
	    	width: 30px;
	    	padding: 0;
	    	margin-top: 15px;
	    	background-repeat: no-repeat;
	    	text-indent: -9999px;
	    	&:hover {
	    		background-color: transparent;
	    	}
	    	@include border-radius(0);
		    &.redemption {
		    	background-image: url('/assets/barcodeSprite.png');
		    	//&:hover {background-position: 0 -25px;}
		    }
		    &.notifications {
		    	background-image: url('/assets/messages.png');
		    	//&:hover {background-position: -25px 0;}
		    	width: 25px;
		    	height: 22px;
		    }
		    &.helpCenter {
		    	background-image: url('/assets/helpIcons.png');
		    	//&:hover {background-position: -23px 0;}
		    	width: 23px;
		    	height: 23px;
		    }
	    }
	}
	> li.dropdown {
		margin: 0;
		padding: 0 10px;
		line-height: 51px;
		&.open, &.active, &.active.open {
			background-color: white;
			> a {
				background-color: transparent;
				@include border-radius(0);
				color: #5F8B38;
				text-shadow: none;
				&:hover {color: #5F8B38;}
				transition: none;
				 .icon {background-position: 0 -8px;}
			}
		}
		.dropdown-menu {
		    background-color: white;
		    border-top: none;
		    border-bottom: 1px solid #999;
		    border-left: 1px solid #999;
		    @include border-radius(0 0 3px 3px);
		    border-right: 1px solid #999;
		    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
		    color: #666666;
		    font-weight: normal;
		    position: absolute;
		    right: -1px;
		    text-shadow: none;
		    top: 51px;
		    width: 200px;
		    padding: 0;
		    > li {
		    	border-bottom: 1px solid #ccc;
		    	&:last-child {
		    		a {
					    background-color: #F7F7F7;
					    @include border-radius(0 0 3px 3px);
					    border-top: 1px solid #ccc;
					    color: #333;
					    cursor: pointer;
					    font-weight: bold;
		    		}
		    	}
		    	> a {
		    		font-size: 14px;
		    		font-weight: bold;
		    		padding: 14px;
		    		color: #0891BE;
		    		line-height: 16px;
		    		&:hover {
		    			background-color: transparent;
		    			background-image: none;
		    			text-decoration: underline;
		    		}
		    	}
		    }
		}
		> a {
			padding: 0;
			@include border-radius(0);
			display: inline-block;
		    color: #EFF5E7;
			transition: none;
		    font-size: 14px;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
		    &:hover {
		    	color: white;
		    	background-color: transparent;
		    }
		    .icon {
			    background-image: url("/assets/navArrowSprite.png");
			    background-repeat: no-repeat;
			    background-position: 0 0;
			    display: inline-block;
			    height: 8px;
			    width: 9px;
		    }
		}
	}
}

.footer {
    color: #999;
    margin: 0;
    font-size: 1em;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 white;
}

.headerNav {
	margin: 0;
	float: left;
	> li {
		float: left;
	    border-right: 1px solid rgba(0, 0, 0, 0.2);
	    margin: 0;
	    vertical-align: middle;
	    &:first-child {border-left: 1px solid rgba(0, 0, 0, 0.2);}
	    &.current {
			background-image: linear-gradient(#7CA748, #537931);
			> a {color: white;}
	    }
	    &:hover:not(.current) {
			background-image: linear-gradient(#95BD66, #6B9D3F);
			> a {color: white;}
	    }
	    > a {
	    	display: block;
		    color: #DDEDCC;
		    cursor: pointer;
		    font-size: 14px;
		    font-weight: 600;
		    padding: 0 20px;
		    line-height: 50px;
		    text-decoration: none;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
		    //width: 90px;
	    }
	}
}