/* Popup */
body .modal {
	width: 800px;
	left: 40%;
	border-radius: 6px;
}
body .modal-header {
	height: 50px;

}
body .modal-header h3 {
	padding-top: 10px;
}
body .modal-body {
	height: 200px;
}
body .modal-body .left {
	float: left;
}
body .modal-body .right {
	float: right;
}
body .modal-footer {
	height: 70px;
	font-size: 36px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
}
body .modal-footer .startbtn {
  	background: #1791c0;
	border-radius: 4px;
	display: inline-block;
	height: 40px;
	line-height: 36px;
	top: 4px;
	color: #ffffff;
	font-size: 32px;
	text-decoration: none;
	text-shadow: none;
	border: 1px #304d58;
}
body .modal-footer .startbtn:hover{
	background: #147ea7;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}



.ui-slider.ui-slider-horizontal .ui-slider-handle {
	cursor: -moz-grab;
	&.ui-state-active {
		cursor: -moz-grabbing;
	}
}

#tiers {
	.intro {
		margin-top: 2%;
	}
	.plan-price {
	  height: 30px;
	  line-height: 27px;
	  font-size: 18px;
	  border: solid 1px $blue;
	  margin-left: 0;
	  text-align: center;
	  border-left: 0;
	  color: $blue;
	}
}
.plan-f {
	margin: 5% 0;
	ul {
		list-style-type: circle;
	}
}
#pricing-slider {
  height: 30px;
  border: solid 1px $blue;
  a.ui-slider-handle { top: 4px; margin-left: -.6em; }
}
.carousel.plans {
	margin: 2% 0;
  .plan {
    text-align: center;
    background-color: $light-gray;
    padding: 2%;
    opacity: 0.8;
    @include transition( all 0.3s ease-out );
    &.current {
    	opacity: 1;
    	background-color: lighten( $blue, 20% );
    }
    > div {
    	margin: 20px 0;
    }
  }
}

@media( max-width: 767px ) {
	.p-sider-cont .plan-price {
		border: 0;
	}
	#tiers {
		.labels {
			display: none;
		}
	}
	.plans {
		h5 {
			float: left;
			margin-right: 10px;
		}
		small {
			display: block;
			text-align: left;
			margin-top: 14px;
		}
	}
}
