/* Popup */
body .modal {
	width: 800px;
	left: 40%;
	border-radius: 6px;
}
body .modal-header {
	height: 50px;

}
body .modal-header h3 {
	color: #304d58;
	font-size: 32px;
	padding-top: 10px;
}
body .modal-body {
	height: 200px;
}
body .modal-body ul {
	padding-top: 10px;
	padding-left: 20px;
}
body .modal-body li {
	list-style-image: url('/assets/bluechkmark.png');
	height: 14px;
	padding-left: 0px;
	padding-top: 10px;
}
body .modal-body .left {
	float: left;
}
body .modal-body .right {
	float: right;
}
body .modal-footer {
	height: 70px;
	font-size: 36px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
}
body .modal-footer .startbtn {
  	background: #1791c0;
	border-radius: 4px;
	display: inline-block;
	height: 40px;
	line-height: 36px;
	top: 4px;
	color: #ffffff;
	font-size: 32px;
	text-decoration: none;
	text-shadow: none;
	border: 1px #304d58;
}
body .modal-footer .startbtn:hover{
	background: #147ea7;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}
/* Pricing starts here */
#pricing { 
	padding-top: 40px;
	padding-bottom: 40px;
	height: auto;
}

#pricing .starter {
	background-color: #fff;
	border-radius: 6px;
	-moz-box-shadow: 1px 1px 1px 1px #cccbcb;
	-webkit-box-shadow: 1px 1px 1px 1px #cccbcb;
	box-shadow: 1px 1px 1px 1px #cccbcb;
}
#pricing .starter hr {
	margin-top: 0px;
	margin-bottom: 0px;
}
#pricing .starter .header {
	background-color: #1791c0;
	height: 70px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #fff;
	font-size: 28px;
	line-height: 48px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial;
	padding-top: 10px;
	font-weight: bold;

}
#pricing .starter .cust_count {
	height: 66px;
	text-align: center;
	font-size: 18px;
	line-height: 60px;
	color: #304d58;
	padding-top: 10px;
}
#pricing .starter .details {
	height: 162px;
	border-top-width: 80%;
	border-top: 1px #354b52;
	padding-top: 20px;
}
#pricing .starter .details .hdr  {
	color: #1791c0;
	text-align: center;
	font-size: 24px;
}
#pricing .starter .details ul {
	padding-top: 10px;
	padding-left: 20px;
}
#pricing .starter .details li {
	list-style-image: url('/assets/bluechkmark.png');
	height: 14px;
	padding-left: 0px;
	padding-top: 10px;
}
#pricing .starter .getstarted {
	height: 130px;
	text-align: center;
	font-size: 12px;
}
#pricing .starter .getstarted h3 {
	color: #304d58;
}
#pricing .starter .getstarted .getstartedbtn {
  	background: #1791c0;
	border-radius: 4px;
	display: inline-block;
	height: 40px;
	line-height: 36px;
	top: 4px;
	color: #ffffff;
	font-size: 32px;
	text-decoration: none;
	text-shadow: none;
	border: 1px #304d58;
}
#pricing .starter .getstarted .getstartedbtn:hover{
	background: #147ea7;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}
#pricing .allplans {
	background-color: #f7f7f7;
	height: 500px;
}
#pricing .allplans .howmany {
	height: auto;
	padding-bottom: 40px;
}
#pricing .allplans .howmany .count {
	float: left;
	vertical-align: middle;
}
#pricing .allplans .howmany .count input {
	width: 100px;
	margin-left: 10px;
}
#pricing .allplans .howmany .countslider {
	width: 500px;
	float: right;
}
#pricing .allplans table tr td {
	line-height: 34px;
}
#pricing .allplans .upgrade {
  background: #78CD51;
  border-radius: 4px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  top: 4px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  text-shadow: none;
  border: 1px #304d58;
}
#pricing .allplans .upgrade:hover{
  background: #64b905;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}
#pricing .bottom {
	background-color: #fff;
	border-radius: 6px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	font-size: 32px;
	margin-top: 20px;
}
#pricing .bottom .enterprisebtn {
	background: #e7eaeb;
	border-radius: 4px;
	display: inline-block;
	height: 40px;
	line-height: 36px;
	top: 4px;
	color: #1791c0;
	font-size: 16px;
	text-decoration: none;
	text-shadow: none;
	border: 1px #304d58;
	font-weight: bold;
}
#pricing .bottom .enterprisebtn:hover {
	background: #d1d2d3;
	color: #1791c0;
	text-decoration: none;
	text-shadow: none;
	font-weight: bold;
}
#pricing .bottom .left {
	float: left;
	background-color: #fff;
	border-radius: 6px;

}
#pricing .bottom .right {
	float: right;
	background-color: #fff;
	border-radius: 6px;
}
#pricingpopup {

}
/* Popup */
#pricingpopup .modal {
	width: 800px;
	left: 40%;
	border-radius: 6px;
}
#pricingpopup .modal-header {
	height: 50px;

}
#pricingpopup .modal-header h3 {
	color: #304d58;
	font-size: 32px;
	padding-top: 10px;
}
#pricingpopup .modal-body ul {
	padding-top: 10px;
	padding-left: 20px;
}
#pricingpopup .modal-body li {
	list-style-image: url('/assets/bluechkmark.png');
	height: 14px;
	padding-left: 0px;
	padding-top: 10px;
}
#pricingpopup .modal-body .left {
	float: left;
}
#pricingpopup .modal-body .right {
	float: right;
}
#pricingpopup .modal-footer {
	height: 70px;
	font-size: 36px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
}
#pricingpopup .modal-footer .startbtn {
  	background: #1791c0;
	border-radius: 4px;
	display: inline-block;
	height: 40px;
	line-height: 36px;
	top: 4px;
	color: #ffffff;
	font-size: 32px;
	text-decoration: none;
	text-shadow: none;
	border: 1px #304d58;
}
#pricingpopup .modal-footer .startbtn:hover{
	background: #147ea7;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}
/* Old Stuff */
#pricing .section_header {
	margin-bottom: 70px;
}
#pricing .section_header hr {
	width: 35%;
}
#pricing .price_wrapper {
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	box-shadow: 0px 0px 5px 2px #E8E8E8;
	border-radius: 6px;
	width: 321px;
	min-height: 375px;
	position: relative;	
}
#pricing .price_wrapper.regular .header {
	background: url('/assets/chart1.png') 0 0 no-repeat;
}
#pricing .price_wrapper.pro {
	width: 331px;
	margin: 0 auto;
}
#pricing .price_wrapper.pro .header {
	background: url('/assets/chart2.png') 0 0 no-repeat;
}
#pricing .price_wrapper section .btn {
	left: 35%;
}
#pricing .price_wrapper .header {
	height: 98px;
	color: #fff;
	padding: 25px 0px 0px 40px;
}
#pricing .price_wrapper .header > span {
	font-size: 24px;
	font-style: italic;
}
#pricing .price_wrapper .header .price {
	font-size: 20px;
	top: 25px;
	position: relative;
	font-weight: bold;
}
#pricing .price_wrapper .header .price span {
	font-size: 48px;
	margin-right: 10px;
}
#pricing .price_wrapper .section {
	padding: 15px 30px;
}
#pricing .price_wrapper .section h3 {
	color: #535861;
	font-size: 17px;
	line-height: 22px;
}
#pricing .price_wrapper .section ul.perks {
	list-style-type: none;
	margin-left: 0px;
	margin-top: 18px;
}
#pricing .price_wrapper .section ul.perks li {
	padding: 3px 0px;
}
#pricing .price_wrapper .section ul.perks i {
	margin-right: 10px;
}
#pricing .price_wrapper .section .btn {
	position: absolute;
	bottom: 15px;
	left: 32%;
	font-weight: bold;
}
