#box_sign{
}
#box_sign .box_wrapper{
	margin-left: 0;
}
#box_sign .box_wrapper p.already{
	text-align: center;
	font-style: 15px;
	color: #454B52;
}
#box_sign .box_wrapper p.already a{
	color: #454B52;
	margin-left: 3px;
	text-decoration: underline;
}
#box_sign .box{
    background-color: white;
	border: 1px solid #CCC;
	border-radius: 4px 4px 4px 4px;
	float: none;
	padding-bottom: 26px;
	margin: 50px auto 0;
	width: 32.5%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 10px 0px #DDD;
}
#box_sign .box .head{
	background-color: #F4F4F4;
    border-bottom: 1px solid #D6D6D6;
    border-radius: 4px 4px 1px 0;
    display: inline-block;
    margin-bottom: 24px;
    padding: 25px 0 25px;
    text-align: center;
    width: 100%;
}
#box_sign .box .head h4{
	font-weight: normal;
	color: #373D44;
	font-size: 21px;
	margin: 0px;
}
#box_sign form{
	margin: 0px;
}
#box_sign .box .form{
	margin: 0 auto;
	text-align: center;
	width: 83%;
}
#box_sign .box .form input[type="text"], 
#box_sign .box .form input[type="password"]
{
	border-color: #DBDBDB #EAEAEA #EAEAEA #DBDBDB;
    border-left: 1px solid #DBDBDB;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    height: 30px;
    margin-bottom: 16px;
    width: 95%;
}
#box_sign .box .form input[type="submit"]{
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	#box_sign .box{
	  width: 54%;
	}
}
@media (max-width: 979px) {
	#box_sign .box{
	  width: 48%;
	}
}
@media (min-width: 980px) {
	#box_sign .box{	  
		width: 37%;
	}
}
@media (max-width: 480px) {
	#box_sign .box{
		width: 100%;  
	}
}
/* Large desktop */
@media (min-width: 1200px) {
	#box_sign .box{
		width: 32.5%;
	}
}

#box_sign .box .social{
  float: none;
  text-align: center;
}
#box_sign .box .social a.circle{
  text-align: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin-right:10px;
  display: inline-block;
  -webkit-transition: border-color ease-in .1s;
  -moz-transition: border-color ease-in .1s;
  -o-transition: border-color ease-in .1s;
  transition: border-color ease-in .1s;
}
#box_sign .box .social a.circle img{
  display: inline-block;
  margin-top: 15px;
}
#box_sign .box .social a.facebook{
  background: #233678;
  border:2px solid #233678;
}
#box_sign .box .social a.twitter{
  background: #54AEE1;
  border:2px solid #54AEE1;
}
#box_sign .box .social a.gplus{
  background: #292929;
  border:2px solid #292929;
}
#box_sign .box .social a.linkedin{
  background: #0794bd;
  border:2px solid #0794bd;
  margin: 0;
}
#box_sign .box .social a.circle:hover{
  border-color: rgba(0,0,0,0.7);
}
#box_sign .box .division{
  display: inline-block;
  margin: 15px 0 5px;
  position: relative;
  text-align: center;
  width: 100%;
}
#box_sign .box .division hr{
  border-color: #E2E2E4;
  border-width: 1px;
  margin: 0;
  position: absolute;
  width: 40%;
}
#box_sign .box .division hr.left{
  top: 13px;
}
#box_sign .box .division hr.right{
  bottom: 6px;
  right: 0;
}
#box_sign .box .division span{
  color: #666666;
  font-size: 18px;
}








