/* About Us
-------------------------------------------------- */
.about_page .teammate {
  margin-bottom: 50px;
  background-color: #fff;
  padding: 20px;
  background: rgb( 236, 240, 241 );
  border-bottom: solid rgba( 0, 0, 0, 0.15);
}
.about_page .teammate .team_member {
  height: 80px;
}
.about_page .teammate .team_member img {
  height: 75px;
  width: 75px;
  margin: -12px 20px 5px 0;
}
.about_page .teammate .team_member .team_name {
  margin-bottom: 2px;
  vertical-align: middle;
}
.about_page .teammate .team_member .team_name h5 {
  font-size: 20px;
  margin-bottom: 2px;
}
.about_page .teammate .team_member .team_name h6 {
  margin-top: 2px;
  font-size: 14px;
}
.about_page .teammate img {
  margin-bottom: 10px;
}
.about_page .teammate h5 {
  margin-bottom: 2px;
}
.about_page .teammate hr {
  border-bottom: 2px solid white;
  margin: 5px 0 15px 0;
}
.about_page .teammate p.description {
  font-size: 14px;
  color: #57595C;
  width: 100%;
}
.about_page .teammate .social {
  margin-top: 14px;
}
.about_page .teammate .social a,
.about_page .teammate .social a:hover {
  text-decoration: none;
}
.about_page .teammate .social a:hover {
  opacity: 0.7;
}
.about_page .teammate .social i {
  margin-right: 5px;
}
.about_page .twitter-follow-button {
  display: inline-block;
  margin: 15px 0;
}

.main.tour {
  .t-get-started {
    padding: 3%;
    font-size: 2em;
    line-height: 2em;
  }
}

.main.partner_with_us {
  .yield ul {
    list-style-type: disc;
  }
}

.pa-gray-bg {
  background-color: $light-gray;
  padding: 2%;
}

.testimonial_alley_gallery {
  blockquote {
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin: 3% 0;
  }
  .t-coupons,
  .t-sales,
  .t-surveys,
  .t-events,
  .t-p-announcements,
  .t-feature {
    padding-left: 80px;
    /*background-image: image-url( 'sprite-msg-type.png' );*/
    position: relative;
  }

  .t-coupons:before,
  .t-sales:before,
  .t-surveys:before,
  .t-events:before,
  .t-p-announcements:before,
  .t-feature:before {
    content: '';
    background-image: image-url( 'sprite-msg-type.png' );
    position: absolute;
    top: 45px;
    left: 15px;
    width: 48px;
    height: 48px;
    opacity: 0.5;
  }

  .t-coupons:before {
    background-position: 0 0;
  }
  .t-sales:before {
    background-position: 0 -482px;
  }
  .t-surveys:before {
    background-position: 0 -679px;
  }
  .t-events:before {
    background-position: 0 -187px;
  }
  .t-p-announcements:before {
    background-position: 0 -384px;
  }
  .t-feature:before {
    background-position: 0 -384px;
  }
}

/* Portrait tablet to landscape and desktop */
@media ( min-width: 980px ) {
  .about_page .teammate {
    padding: 2%;
  }
}
@media ( max-width: $xga-h ) {
  .about_page .teammate {
    margin-bottom: 0;
    height: auto !important;
  }
  .alley-gallery { display: none !important; }
  .testimonial_alley_gallery {
    blockquote {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  }
}


/* Sitemap page ============================================================ */
.op-sitemap {
  h4 {
    color: $green;
    font-weight: 400;
  }
  a {
    display: block;
    text-decoration: none;
    padding: 2px 0;
    @include transition( all 0.3s ease );
    &:hover {
      background: $light-gray;
      padding-left: 10px;
    }
  }
}


/* Marketing Agency page =================================================== */
.marketing_agencies.new {
  @media ( min-width: $xga-h ) {
    background-image: image-url( 'bg-landing-2.jpg' );
    background-size: cover;
  }
  h1 {
    border-bottom: solid 1px $gray;
    margin: 1% 2% 2%;
  }
}
.marketing-agency {
  .translucent-white {
    background-color: #fff;
    background-color: rgba(255,255,255,0.7);
    padding: 2%;
  }
  .icon-facebook, .icon-twitter, .icon-envelope {
    padding: 10px 0;
    margin-right: 10px;
    color: $white;
    display: inline-block;
    width: 40px;
    text-align: center;
  }
  .icon-facebook { background: $fb-blue; }
  .icon-twitter { background: $twitter-blue; }
  .icon-envelope { background-color: $gray; margin-right: 0; }
}
#flat .marketing-agency {
  input[type='text'], input[type='email'] {
    margin-top: 3%;
  }
}


@mixin large-fonts {
  h2 {
    font-size: 2rem;
    line-height: 3rem;
    color: $orange;
  }
  p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

.case-study {
  h1.salvatores,
  h1.bandung {
    background-position: top right;
    background-repeat: no-repeat;
    background-position-x: right;
    padding-right: 135px;
  }
  h1.salvator {
    background-position-y: -23px;
    background-image: image-url( 'salvatores-logo.png' );
  }
  h1.bandung {
    background-position-y: -20px;
    background-image: image-url( 'bandung-logo.gif' );
  }
  .campaign-results {
    background: $dark-blue;
    color: $white;
    @include large-fonts;
  }
  .row2 {
    background: darken( $dark-blue, 10% );
    position: relative;
    .droplet {
      position: absolute;
      left: 49%;
      top: 0;
      width: 43px;
      height: 22px;
      background-image: image-url( 'droplet-dark-blue.png' );
    }
  }
  .row3 {
    background: $blue;
    background: rgb( 76, 150, 161 );
    color: $white;
    padding: 3% 0;
    @include large-fonts;
  }
  .padV4pc {
    padding-top: 4%;
    padding-bottom: 4%;
  }
  h2 {
    font-size: 25px;
    line-height: 35px;
    @media ( max-width: $hd-w ) and ( min-width: $xga-h ) {
      font-size: 23px;
      line-height: 32px;
    }
    @media ( min-width: $hdp-w ) {
      font-size: 35px;
      line-height: 50px;
    }
  }
  p {
    font-size: 15px;
    line-height: 23px;
    @media ( min-width: $hdp-w ) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .try-it {
    background-color: $green;
    color: $white;
    padding: 2%;
    p {
      font-size: 1.3em;
      line-height: 1.6em;
      padding: 8px 0px;
      border: solid 2px transparent;
    }
  }
  .interior > img { width: 100%; }
}
#flat .case-study .try-it .btn-transparent:hover { color: $green; }
