/* About Us
-------------------------------------------------- */
.about_page .teammate {
  margin-bottom: 50px;
  background-color: #fff;
  padding: 20px;
  background: rgb( 236, 240, 241 );
  border-bottom: solid rgba( 0, 0, 0, 0.15);
}
.about_page .teammate .team_member {
  height: 80px;
}
.about_page .teammate .team_member img {
  height: 75px;
  width: 75px;
  margin: -12px 20px 5px 0;
}
.about_page .teammate .team_member .team_name {
  margin-bottom: 2px;
  vertical-align: middle;
}
.about_page .teammate .team_member .team_name h5 {
  font-size: 20px;
  margin-bottom: 2px;
}
.about_page .teammate .team_member .team_name h6 {
  margin-top: 2px;
  font-size: 14px;
}
.about_page .teammate img {
  margin-bottom: 10px;
}
.about_page .teammate h5 {
  margin-bottom: 2px;
}
.about_page .teammate hr {
  border-bottom: 2px solid white;
  margin: 5px 0 15px 0;
}
.about_page .teammate p.description {
  font-size: 14px;
  color: #57595C;
  width: 100%;
}
.about_page .teammate .social {
  margin-top: 14px;
}
.about_page .teammate .social a,
.about_page .teammate .social a:hover {
  text-decoration: none;
}
.about_page .teammate .social a:hover {
  opacity: 0.7;
}
.about_page .teammate .social i {
  margin-right: 5px;
}
.about_page .twitter-follow-button {
  display: inline-block;
  margin: 15px 0;
}

.main.tour {
  .t-get-started {
    padding: 3%;
    font-size: 2em;
    line-height: 2em;
  }
}

.main.partner_with_us {
  .yield ul {
    list-style-type: disc;
  }
}

.pa-gray-bg {
  background-color: $light-gray;
  padding: 2%;
}

.testimonial_alley_gallery {
  blockquote {
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin: 3% 0;
  }
  .t-coupons,
  .t-sales,
  .t-surveys,
  .t-events,
  .t-p-announcements,
  .t-feature {
    padding-left: 80px;
    /*background-image: image-url( 'sprite-msg-type.png' );*/
    position: relative;
  }

  .t-coupons:before,
  .t-sales:before,
  .t-surveys:before,
  .t-events:before,
  .t-p-announcements:before,
  .t-feature:before {
    content: '';
    background-image: image-url( 'sprite-msg-type.png' );
    position: absolute;
    top: 45px;
    left: 15px;
    width: 48px;
    height: 48px;
    opacity: 0.5;
  }

  .t-coupons:before {
    background-position: 0 0;
  }
  .t-sales:before {
    background-position: 0 -482px;
  }
  .t-surveys:before {
    background-position: 0 -679px;
  }
  .t-events:before {
    background-position: 0 -187px;
  }
  .t-p-announcements:before {
    background-position: 0 -384px;
  }
  .t-feature:before {
    background-position: 0 -384px;
  }
}

/* Portrait tablet to landscape and desktop */
@media ( min-width: 980px ) {
  .about_page .teammate {
    padding: 2%;
  }
}
@media ( max-width: $xga-h ) {
  .about_page .teammate {
    margin-bottom: 0;
    height: auto !important;
  }
  .alley-gallery { display: none !important; }
  .testimonial_alley_gallery {
    blockquote {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  }
}


/* Sitemap page ============================================================ */
.op-sitemap {
  h4 {
    color: $green;
    font-weight: 400;
  }
  a {
    display: block;
    text-decoration: none;
    padding: 2px 0;
    @include transition( all 0.3s ease );
    &:hover {
      background: $light-gray;
      padding-left: 10px;
    }
  }
}


/* Marketing Agency page =================================================== */
.marketing_agencies.new {
  @media ( min-width: $xga-h ) {
    background-image: image-url( 'bg-landing-2.jpg' );
    background-size: cover;
  }
  h1 {
    border-bottom: solid 1px $gray;
    margin: 1% 2% 2%;
  }
}
.marketing-agency {
  .translucent-white {
    background-color: #fff;
    background-color: rgba(255,255,255,0.7);
    padding: 2%;
  }
  .icon-facebook, .icon-twitter, .icon-envelope {
    padding: 10px 0;
    margin-right: 10px;
    color: $white;
    display: inline-block;
    width: 40px;
    text-align: center;
  }
  .icon-facebook { background: $fb-blue; }
  .icon-twitter { background: $twitter-blue; }
  .icon-envelope { background-color: $gray; margin-right: 0; }
}
#flat .marketing-agency {
  input[type='text'], input[type='email'] {
    margin-top: 3%;
  }
}


@mixin large-fonts {
  h2 {
    font-size: 2rem;
    line-height: 3rem;
    color: $orange;
  }
  p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

.case-study {
  h1.salvatores,
  h1.bandung {
    background-position: top right;
    background-repeat: no-repeat;
    background-position-x: right;
    padding-right: 135px;
    border-bottom: none;
  }
  h1.salvatore {
    background-position-y: -23px;
    background-image: image-url( 'salvatores-logo.png' );
  }
  /*h1.bandung {
    background-position-y: -20px;
    background-image: image-url( 'bandung-logo.gif' );
  }*/
  .campaign-results {
    background: $dark-blue;
    color: $white;
    @include large-fonts;
  }
  .row2 {
    background: darken( $dark-blue, 10% );
    position: relative;
    .droplet {
      position: absolute;
      left: 49%;
      top: 0;
      width: 43px;
      height: 21px;
      background-image: image-url( 'droplet-dark-blue.png' );
    }
  }
  .row3 {
    background: $blue;
    background: rgb( 76, 150, 161 );
    color: $white;
    padding: 3% 0;
    @include large-fonts;
  }
  .padV4pc {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  h2 {
    font-size: 25px;
    line-height: 35px;
    @media ( max-width: $hd-w ) and ( min-width: $xga-h ) {
      font-size: 23px;
      line-height: 32px;
    }
    @media ( min-width: $hdp-w ) {
      font-size: 35px;
      line-height: 50px;
    }
  }
  p {
    font-size: 15px;
    line-height: 23px;
    @media ( min-width: $hdp-w ) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .interior > img { width: 100%; }
}
.try-it {
  background-color: $green;
  color: $white;
  padding: 2%;
  p {
    font-size: 1.3em;
    line-height: 1.6em;
    padding: 8px 0px;
    border: solid 2px transparent;
  }
}
#flat .try-it .btn-transparent { padding: 8px 5px; }
#flat .try-it .btn-transparent:hover { color: $green; }

.constant-contact {
  [class ^= "fold"] {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  h1 { border-bottom: 0; margin-bottom: 0px; }
  h1 em {
    color: $orange;
    font-style: normal;
  }
  .fold1 {
    background: $dark-blue;
    color: $white;
    .span8 {
      > ul {
        margin-left: 30px;
        > li {
          margin-bottom: 15px;
          clear: both;
          position: relative;
          padding-left: 70px;
          .op-icon {
            background-image: image-url( 'sprite-constant-contact.png' );
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            left: 0;
          }
        > .faster { background-position: 0px 0px; }
        > .responsive { background-position: 0px -60px; }
        > .free { background-position: 0px -127px; }
        > .deliverability { background-position: 0px -180px; }
        > .undercut { background-position: 0px -234px; }
          > strong {
            color: $chrome-yellow;
            display: block;
          }
        }
      }
    }
    .span4 {
      background: rgba( 0, 0, 0, 0.3 );
      padding: 25px 40px;
      margin-top: 25px;
      border-radius: 10px;
      a { color: $white; }
    }
  }
  .fold2 {
    .mtop15px { margin-top: 15px; }
  }
  .img-portrait {
    width: 100px;
    height: 110px;
    margin: 15px auto;
    background-image: image-url( 'sprite-constant-contact.png' );
    background-repeat: no-repeat;
    background-position: -195px 0px;
  }
  .fold3 {
    background: $dark-blue;
    color: $white;
    h2 { color: $orange; }
  }
  .fold4 {
    h2 { margin-bottom: 20px; }
    font-size: 1.3rem;
    line-height: 2rem;
    .step1 { margin-bottom: 20px; }
    .step1, .step2 { clear: both; min-height: 65px; }
    .step1 p, .step2 p { padding-top: 10px; }
    .step1 > .op-icon,
    .step2 > .op-icon{
      background-image: image-url( 'sprite-constant-contact.png' );
      background-repeat: no-repeat;
      float: left;
      width: 65px;
      height: 65px;
      margin-right: 30px;
    }
    .step1 > .op-icon { background-position: -506px 0px; }
    .step2 > .op-icon { background-position: -506px -98px; }
  }
  .cc-price-comparison {
    text-align: center;
    background: $light-gray;
    .cont { padding: 50px 20px; }
    .well {
      background: $white;
      padding: 0;
      border: 0;
      margin-top: 30px;
      @include border-radius( 2px );
      @include box-shadow( none );
      h3 {
        position: relative;
        margin: 0;
        padding: 15px 0;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        color: $white;
        img {
          position: absolute;
          left: 45%;
          bottom: -17px;
        }
      }
      .input-prepend {
        margin-top: 15px;
        display: none;
      }
    }
    .cc h3 {
        background: $blue;
    }
    #cc-price { margin-top: 20px; }
    .op h3 {
        background: $green;
    }
    #op-price {
      font-size: 2.5rem;
      line-height: 4.5rem;
    }
    #op-price:before {
      content: '$';
    }
  }
}
