.leftNav.span4
  #accordion.accordion
    .accordion-group
      .accordion-heading
        .accordion-toggle
          %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion', href: '#one' } Dashboard
      #one.accordion-body.collapse.in
        .accordion-inner
          %table.table.table-condensed.table-striped.db-overview
            %tbody
              %tr
                %td New Signups in last 24 hours
                %td 4
              %tr
                %td New Signups last 7 days
                %td 18
              %tr
                %td New Signups last 30 days
                %td 46
              %tr
                %td Total Active New Signups
                %td 46
          %a.btn.btn-primary.btn-block{ href: merchants_root_path } Visit dashboard
    .accordion-group
      .accordion-heading
        .accordion-toggle
          %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion', href: '#two' } Engage!
      #two.accordion-body.collapse
        .accordion-inner.create-campaign-links
          %a.btn.btn-block{ href: '#' } Send a Beta Update
          %a.btn.btn-block{ href: '#' } Announce the Big Launch
          %a.btn.btn-block{ href: '#' } Send a Survey
          %a.btn.btn-block.disabled{ href: '#' }
            Create a contest
            %span.pull-right COMING SOON
          %a.btn.btn-block.disabled{ href: '#' }
            Custom HTML Campaign
            %span.pull-right COMING SOON
    .accordion-group
      .accordion-heading
        .accordion-toggle
          %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion', href: '#three' } My Customers
      #three.accordion-body.collapse
        .accordion-inner Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .accordion-group
      .accordion-heading
        .accordion-toggle
          %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion', href: '#four' } Statistics
      #four.accordion-body.collapse
        .accordion-inner
          - if @optyn_button_stats.present?
            = render partial: "merchants/apps/button_stats_report"
          - else
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
