.leftNav.span4
  #accordion.accordion
    .accordion-group
      .accordion-heading
        .accordion-toggle
          %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion', href: '#one' } Dashboard
      #one.accordion-body.collapse.in
        .accordion-inner
          %table.table.table-condensed.table-striped.db-overview
            %tbody
              %tr
                %td New Connections in last 24 hours
                %td 123
              %tr
                %td New Connections last 7 days
                %td 456
              %tr
                %td New Connections last 30 days
                %td 789
              %tr
                %td Total Active New Connections
                %td 123
          %a.btn.btn-primary.btn-block{ href: '/' } Visit dashboard
    .accordion-group
      .accordion-heading
        .accordion-toggle
          %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion', href: '#two' } Engage!
      #two.accordion-body.collapse
        .accordion-inner.create-campaign-links
          %a.btn.btn-block{ href: '#' } Create a coupon
          %a.btn.btn-block{ href: '#' } Announce a special
          %a.btn.btn-block{ href: '#' } Announce a sale
          %a.btn.btn-block{ href: '#' } General announcement
          %a.btn.btn-block{ href: '#' } New product
          %a.btn.btn-block{ href: '#' } New event
          %a.btn.btn-block{ href: '#' } Survey time
          %a.btn.btn-block.disabled{ href: '#' }
            Create a contest
            %span.pull-right COMING SOON
          %a.btn.btn-block.disabled{ href: '#' }
            Custom HTML Campaign
            %span.pull-right COMING SOON
    .accordion-group
      .accordion-heading
        .accordion-toggle
          %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion', href: '#three' } My Customers
      #three.accordion-body.collapse
        .accordion-inner Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .accordion-group
      .accordion-heading
        .accordion-toggle
          %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion', href: '#four' } Statistics
      #four.accordion-body.collapse
        .accordion-inner
          - if @optyn_button_stats.present?
            = render partial: "merchants/apps/button_stats_report"
          - else
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


  / %div
  /   / Hello
  /   / = current_user.name
  /   = link_to "Dashboard", merchants_root_path, :class => active(params[:controller], "dashboards")
  /   = link_to "Engage!", merchants_messages_path, :class => active(params[:controller], "My Messages")
  /   = link_to "My Customers", :href => '/merchants/connections', :class => active(params[:controller], "connections")
  /   = link_to "Surveys", merchants_survey_path, :class => active(params[:controller], "Surveys")
  /   /= link_to "Segmentation", merchants_survey_survey_answers_path, :class => active(params[:controller], "Segmentation")
  /   = link_to "Manage Account", merchants_shop_path, :class => active(params[:controller], "Manage Account")
  /   /= link_to "Setup", merchants_app_path, :class => active(params[:controller], "Setup")
  /   /= link_to "Import Users", merchants_file_imports_path, :class => active(params[:controller], "Import Users")
  /   = link_to("Logout",  destroy_merchants_manager_session_path, :method => :delete)
  / - if @optyn_button_stats.present?
  /   = render partial: "merchants/apps/button_stats_report"




/ .span2.leftNav
/   %ul.merchant-menu
/     %li
/       %a.active{:href => merchants_root_path}
/         Dashboard
/     %li
/       %a{:href => merchants_messages_path, :alt => "My Messages"}
/         Engage!
/     %li
/       %a{:href => "/merchants/connections"}
/         My Customers
/     %li
/       %a{:href => merchants_survey_path}
/         Surveys
/     /%li
/     /%a{:href => merchants_survey_survey_answers_path}
/     /Segmentation
/     %li
/       %a{:href => merchants_shop_path}
/         Manage Account
/     /%li
/     /%a{:href => merchants_app_path}
/     /Setup
/     /%li
/     /%a{:href => merchants_file_imports_path}
/     /Import Users
/     %li
/       = link_to("Logout",  destroy_merchants_manager_session_path, :method => :delete)

/   - if @optyn_button_stats.present?
/     = render partial: "merchants/apps/button_stats_report"