%footer.row-fluid
  .span2
    %h4 Our Company
    %ul
      %li
        %a{ :href => about_path } About us
      %li
        %a{ :href => blog_path } Our blog
      %li
        %a{ :href => contact_path } Contact us
      %li
        %a{ :href => terms_path } Terms of use
      %li
        %a{ :href => privacy_path } Privacy policy
  .span2
    %h4 For Merchants
    %ul
      %li
        %a{ :href => merchant_features_path } Features
      %li
        %a{ :href => '#' } Why use optyn
      %li
        %a{ :href => faq_path } FAQs
      %li
        %a{ :href => support_path } Support
      %li
        %a{ :href => new_merchants_manager_registration_path } Get started
  .span2
    %h4 For Consumers
    %ul
      %li
        %a{ :href => consumer_features_path } Features
      %li
        %a{ :href => '#' } Why use optyn
      %li
        %a{ :href => faq_path } FAQs
      %li
        %a{ :href => support_path } Support
      %li
        %a{ :href => new_user_registration_path } Get started
  .span2
    %h4 For Publishers
    %ul
      %li
        %a{ :href => '#' } Features
      %li
        %a{ :href => '#' } Why use optyn
      %li
        %a{ :href => '#' } FAQs
      %li
        %a{ :href => '#' } Support
      %li
        %a{ :href => '#' } Get started
  .span4.text-center
    %a{ :href => "http://www.twitter.com/optyn", :target => "_blank", :class => 'pg-twitter' }Our Twitter page
    %a{ :href => "http://www.facebook.com/optyn", :target => "_blank", :class => 'pg-facebook' }Our Facebook page
    %p
      2013 &copy; Optyn, Inc.
      %br
      All rights reserved.