%footer.row-fluid
  .span2
    %h4 Our Company
    %ul
      %li
        %a{ :href => faq_path } FAQs
      %li
        %a{ :href => about_path } About Us
      %li
        %a{ :href => 'http://www.angel.co/optyn/jobs', :target => "_blank"} Jobs
      %li
        %a{ :href => blog_path } Our Blog
      %li
        %a{ :href => consumer_features_path } Consumers
      %li
        %a{ :href => terms_path } Terms of Use
  .span2
    %h4 For Merchants
    %ul
      %li
        %a{ :href => merchant_features_path } Features
      %li
        %a{ :href => '/tour' } Quick Tour
      %li
        %a{ :href => support_path, :target => "_blank" } Customer Support
      %li
        %a{ :href => privacy_path } Privacy Policy
      %li
        %a{ :href => new_merchants_manager_registration_path } Get Started!
  .span2
    %h4 For Partners
    %ul
      %li
        %a{ :href => '/partner_with_us' } Partner With Us
  .span4.offset2.text-center
    %a{ :href => "http://www.twitter.com/optyn", :target => "_blank", :class => 'pg-twitter' }Our Twitter page
    %a{ :href => "http://www.facebook.com/optyn", :target => "_blank", :class => 'pg-facebook' }Our Facebook page
    %p
      2013 &copy; Optyn, Inc.
      %br
      All rights reserved.
