%footer.row-fluid
  .span2
    %h4 Our Company
    = render 'layouts/links_company'

  .span2
    %h4 For Merchants
    = render 'layouts/links_merchants'

  .span2
    %h4 For Partners
    = render 'layouts/links_partner'
    
  .span2.offset4.text-left.sf-social
    #social-love
      %h4
        %a{ href: 'javascript:void();'}
          Like / Follow Us
          %i.icon-caret-down
      .love-controls{style:'display:none;'}
        .text-left
          .fb-like{ "data-href" => "http://www.facebook.com/optyn", "data-width" => "30", "data-layout" => "button_count", "data-action" => "like", "data-show-faces" => "false", "data-share" => "false" }

        .text-left
          %a{ :href => "https://twitter.com/optyn", :class => "twitter-follow-button", "data-show-count" => "false"}Follow @optyn
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        .text-left
          .g-plusone{ "data-size" => "medium", "data-annotation" => "inline", "data-width" => "100" }
          :javascript
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
    .blank-space
    %a{ href: 'http://www.facebook.com/optyn', target: '_blank', alt: 'Our Facebook page' }
      %i.icon-facebook
    %a{ href: 'http://www.twitter.com/optyn', target: '_blank', alt: 'Our Twitter page' }
      %i.icon-twitter
    %a{ href: 'https://plus.google.com/+OptynEmailMarketing', target: '_blank', alt: 'Google Plus E-Mail Marketing Page', rel: 'publisher' }
      %i.icon-google-plus
    %p
      2013 &copy; Optyn, Inc.
      %br
      All rights reserved.
