%footer.container-fluid.inner
  .row-fluid.copyright
    .span4
      %a.icon.facebook{:href => "http://www.facebook.com/optyn", :target => "_blank"}
      %a.icon.twitter{:href => "http://www.twitter.com/optyn", :target => "_blank"}
    .span4.text-center
      .copy
        %a{ :href => blog_path } Blog
        %a{ :href => about_path } About
        %a{ :href => support_path } Support
        %a{ :href => contact_path } Contact Us
    .span4.text-right
      %small
        2013 &copy; optyn.com. All Rights Reserved.
