%footer.container-fluid.inner
  .row-fluid.copyright
    .span4.social
      %a{:href => "http://www.facebook.com/optyn", :target => "_blank"}
        %i.icon-facebook
      %a{:href => "http://www.twitter.com/optyn", :target => "_blank"}
        %i.icon-twitter
      %a{:href => "https://plus.google.com/+OptynEmailMarketing", :target => "_blank"}
        %i.icon-google-plus
    .span4.text-center
      .copy
        %a{ :href => blog_path } Blog
        %a{ :href => about_path } About
        %a{ :href => support_path, :target => "_blank" } Support
        /%a{ :href => contact_path } Contact Us
    .span4.text-right
      %small
        2013 &copy; optyn.com. All Rights Reserved.
