/ starts footer
#footer
  .container
    .row
      .span4
        %h3 Our Company
        %ul
          %li
            %a{:href => "about"} About Us
          %li
            %a{:href => "blog"} Our Blog
          %li
            %a{:href => "support"} Contact Us
          %li
            %a{:href => "terms"} Terms of Use
          %li
            %a{:href => "privacy"} Privacy Policy
      .span4
        %h3 For Consumers
        %ul
          %li
            %a{:href => "consumerfeatures"} Features
          %li
            %a{:href => "faq"} FAQs
          %li
            %a{:href => "support"} Support
          %li
            %a{:href => new_user_session_path} Consumer Login
          %li
            %a{:href => new_user_registration_path} Get Started
      .span4
        %h3 For Merchants
        %ul
          %li
            %a{:href => "merchantfeatures"} Features
          %li
            %a{:href => "pricing"} Pricing
          %li
            %a{:href => "faq"} FAQs
          %li
            %a{:href => "support"} Support
          %li
            %a{:href => new_merchants_manager_session_path} Merchant Login
          %li
            %a{:href => new_merchants_manager_registration_path} Get Started
    %hr/
    .row.copyright
      .span4
        %h3 Follow Us
        %a.social.fb{:href => "http://www.facebook.com/optyn", :target => "_blank"}
          %i.i_facebook
        %a.social.tw{:href => "http://www.twitter.com/optyn", :target => "_blank"}
          %i.i_twitter
      .span4.offset4.copy
        %p 2013 &copy; optyn.com. All Rights Reserved.
/ ends footer