%footer.container-fluid.inner
  .row-fluid.copyright
    .span6
      %a.icon.facebook{:href => "http://www.facebook.com/optyn", :target => "_blank"}
      %a.icon.twitter{:href => "http://www.twitter.com/optyn", :target => "_blank"}
    .span6.copy.text-right
      %a{ :href => '#' } About
      %a{ :href => '#' } Support
      2013 &copy; optyn.com. All Rights Reserved.
