/ begins navbar
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => root_path}
        %img{:alt => "logo", :src => "/assets/logo.png"}/
      .nav-collapse.collapse
        %ul.nav.pull-right
          %li
            %a{:href => root_path} Home
          %li
            %a{:href => "consumerfeatures"} Features
          %li
            %a{:href => "pricing"} Pricing
          
          - unless someone_logged_in?  
            %li
              =link_to("Consumer Login", new_user_session_path, class: "btn-header")

          - unless someone_logged_in?
            %li
              = link_to("Merchant Login", new_merchants_manager_session_path, class: "btn-header")

          - if user_signed_in?
            %li
              = link_to("Logout", destroy_user_session_path, class: "btn-header")

          - if merchants_manager_signed_in?    
            %li
              = link_to("Logout",  destroy_merchants_manager_session_path, class: "btn-header", :method => :delete)
/ ends navbar