/ begin navbar
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => root_path}
        %img{:alt => "logo", :src => "/assets/logo.png"}/
      .nav-collapse.collapse
        %ul.nav.pull-right
          - unless someone_logged_in? 
            %li
              %a{:href => root_path} Home
            %li
              %a{:href => "consumerfeatures"} Consumers
            %li
              %a{:href => "merchantfeatures"} Merchants
            %li
              %a{:href => "pricing"} Pricing
            %li
              =link_to("Consumer Login", new_user_session_path, class: "btn-header")

          - unless someone_logged_in?
            %li
              = link_to("Merchant Login", new_merchants_manager_session_path, class: "btn-header")

          - if merchants_manager_signed_in?    
            = render partial: "layouts/merchant_dropdown"
          - if user_signed_in?
            = render partial: "layouts/consumer_dropdown"
/ ends navbar