/ begins navbar
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "index.html"}
        %img{:alt => "logo", :src => "assets/logo.png"}/
      .nav-collapse.collapse
        %ul.nav.pull-right
          %li
            %a.btn-header{:href => "blog"} Blog
          %li
            %a.btn-header{:href => "contact"} Contact
          %li
            =link_to("Consumer Login", new_user_session_path, class: "btn-header") if !user_present?
            
          %li
            = link_to("Merchant Login", new_merchant_session_path, class: "btn-header") if !user_present?
            
          %li
            = link_to("Logout", destroy_user_session_path, class: "btn-header") if user_present?
          %li
            = link_to("Logout", destroy_merchant_session_path, class: "btn-header") if user_present?  

/ ends navbar