/ begin navbar
.navbar.navbar-fixed-top
  .navbar-inner
    .container-header
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => merchants_root_path}
        = image_tag "app-groupon-logo.png", :alt => 'logo'
      - if merchants_manager_signed_in?
        %ul.headerNav.clearfix
          %li.current
            %a{:href => merchants_root_path}
              Home
          %li
            %a{:href => '#'}
              Deals
          %li
            %a{:href => '#'}
              Breadcrumb
          %li
            %a{:href => merchants_messages_path }
              Engage!
              %span.label.label-inverse New
      %ul.nav.pull-right.accDropDown
        - if merchants_manager_signed_in?
          = render partial: "layouts/merchant_dropdown"
        - if user_signed_in?
          = render partial: "layouts/consumer_dropdown"
/ ends navbar