/ begin navbar
.navbar.navbar-fixed-top
  .admin.row-fluid
    .span12
      %a.brand{:href => merchants_root_path}
        = image_tag "logo.png", :alt => 'logo'
      %ul.nav.pull-right.accDropDown
        - if merchants_manager_signed_in?
          = render partial: "layouts/merchant_dropdown"
        - if user_signed_in?
          = render partial: "layouts/consumer_dropdown"

  .navbar-inner
    .container-header
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if merchants_manager_signed_in?
        %ul.headerNav.clearfix
          %li
            %a.launch{:href => merchants_root_path}
              Launch
          %li
            %a.insights{:href => '#'}
              Insights
          %li
            %a.engage.active{:href => merchants_messages_path }
              Engage!
              %span.label New
          %li
            %a.app-store{:href => '#'}
              App Store
          %li
            %a.build{:href => '#'}
              Build
        %a.help.pull-right{ href: '#' }
          Help & Feedback
/ ends navbar