%ul
  %li
    %a{ :href => alley_gallery_testimonial_path } Testimonials
  %li
    %a{ :href => about_path } About Us
  %li
    %a{ :href => 'http://www.angel.co/optyn/jobs', :target => "_blank"} Jobs
  %li
    %a{ :href => 'http://blog.optyn.com', :alt => "email marketing blog" } Email Marketing Blog
  %li
    %a{ :href => terms_path } Terms of Use
  %li
    %a{ :href => privacy_path } Privacy Policy
  %li
    %a{ :href => '/sitemap' } Sitemap
