%ul
  %li
    %a{ :href => merchant_features_path } Features
  %li
    %a{ :href => '/tour' } Quick Tour
  %li
    %a{ :href => faq_path } FAQs
  %li
    %a( href = pricing_path ) Pricing
  %li
    %a{ :href => support_path, :target => "_blank" } Customer Support
  %li
    %a{ :href => new_merchants_manager_registration_path } Get Started!
  %li
    %a{ :href => salvatores_case_study_path } Case Studies
