%ul
  %li
    %a{ :href => faq_path } FAQs
  %li
    %a{ :href => 'testimonials/alley-gallery' } Testimonials
  %li
    %a{ :href => about_path } About Us
  %li
    %a{ :href => 'http://www.angel.co/optyn/jobs', :target => "_blank"} Jobs
  %li
    %a{ :href => blog_path } Our Blog
  %li
    %a{ :href => consumer_features_path } Consumers
  %li
    %a{ :href => terms_path } Terms of Use
