%li
  %a{:href => "#"}
    %i.icon-list-alt.icon-white
    Dashboard
%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    %img{:src => "/assets/avatar.png", :alt => "User Avatar"}
  %ul.dropdown-menu
    %li
      %a.active{:href => "merchants/dashboard"}
        %img{:src => "/assets/dropdown_dashicon.png", :float => "left"}
        My Dashboard
    %li
      %a{:href => "connections"}
        %img{:src => "/assets/dropdown_manager.png", :float => "left"}
        My Connections
    %li
      %a{:href => "#"}
        %img{:src => "/assets/dropdown_segments.png", :float => "left"}
        My Messages
    %li
      %a{:href => "segments"}
        %img{:src => "/assets/dropdown_surveys.png", :float => "left"}
        My Surveys
    %li
      %a{:href => edit_user_registration_path, :method => :put}
        %img{:src => "/assets/drop_icon_settings.png", :float => "left"}
        My Account
    %li
      %a{:href => profile_path}
        %img{:src => "/assets/dropdown_profile.png", :float => "left"}
        My Profile
    %li
      %a{:href => "#"}
        %img{:src => "/assets/dropdown_settings.png", :float => "left"}
        My Settings
    %hr
    %li
      %a{:href => destroy_merchants_manager_session_path, :method => :delete}
        %img{:src => "/assets/dropdown_logout.png", :float => "left"}
        Logout