%li.dropdown
  Hi Alen@Zimamail.Com |
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Account Settings
    %span.icon
    /= image_tag current_merchants_manager.image_url(session[:omniauth_manager_authentication_id]), :alt => "User Avatar", :class => "profile_image"
  %ul.dropdown-menu
    %li
      = link_to("Logout", destroy_merchants_manager_session_path, :method => :delete)